openapi: 3.2.0
info:
  title: Elation Health Allergies API
  version: '1.0'
  description: 'Operations tagged Allergies across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-health-elation-health-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
- url: https://app.elationemr.com/api/2.0
  description: Production
tags:
- name: Allergies
paths:
  /allergies/{id}/:
    put:
      summary: Update Allergy
      description: ''
      operationId: update-allergy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - patient
              - name
              properties:
                patient:
                  type: integer
                  description: Patient ID
                  format: int32
                name:
                  type: string
                  description: Allergen
                reaction:
                  type: string
                severity:
                  type: string
                start_date:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"patient\": 64901939201,\n  \"name\": \"Erythromycin\",\n  \"status\": \"Inactive\"\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/allergies/67176497153/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Allergies
      security:
      - sec0: []
    get:
      summary: Get Allergy
      description: ''
      operationId: get-allergy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 65097302057,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/allergies/65097302057/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Allergies
      security:
      - sec0: []
    delete:
      summary: Delete Allergy
      description: ''
      operationId: delete-allergy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        schema:
          type: string
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/allergies/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"
        samples-languages:
        - python
      tags:
      - Allergies
      security:
      - sec0: []
    patch:
      operationId: allergies_partial_update
      summary: Partially update an allergy
      tags:
      - Allergies
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllergyCreate'
      responses:
        '200':
          description: Allergy updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Allergy'
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /allergies/:
    get:
      summary: Find Allergies
      description: ''
      operationId: find-allergies
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: patient
        in: query
        description: Find all allergies for a specific patient
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/allergies/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/allergies/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/allergies/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Allergies
      security:
      - sec0: []
    post:
      summary: Create Allergy
      description: ''
      operationId: create-allergy
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - patient
              - name
              properties:
                patient:
                  type: string
                  description: The id of the patient
                name:
                  type: string
                  description: The name of the allergy drug
                start_date:
                  type: string
                  description: The date the allergy started
                  default: today
                  format: date
                reaction:
                  type: string
                  description: The reaction to the drug
                severity:
                  type: string
                  description: How severe the reaction is
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 65097302057,\n\t// See object definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"name\": \"Erythromycin\",\n  \"reaction\" : \"Vomitting\",\n  \"start_date\" : \"1980-01-01\",\n  \"patient\": 64901939201\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/allergies/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Allergies
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/allergies/:
    get:
      description: Returns a list of allergies
      operationId: allergies_list
      parameters:
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: patient
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPatientAllergyList'
          description: ''
      security:
      - oauth2: []
      summary: List Allergies
      tags:
      - Allergies
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new allergy.
      operationId: allergies_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientAllergy'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientAllergy'
          description: ''
      security:
      - oauth2: []
      summary: Create Allergy
      tags:
      - Allergies
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/allergies/{id}/:
    delete:
      description: Delete an existing allergy.
      operationId: allergies_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Allergy
      tags:
      - Allergies
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      description: Retrieve a single allergy
      operationId: allergies_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientAllergy'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Allergy
      tags:
      - Allergies
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing allergy.
      operationId: allergies_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPatientAllergy'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientAllergy'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Allergy
      tags:
      - Allergies
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing allergy.
      operationId: allergies_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientAllergy'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientAllergy'
          description: ''
      security:
      - oauth2: []
      summary: Update Allergy
      tags:
      - Allergies
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    PatientAllergySeverityEnum:
      enum:
      - mild
      - moderate
      - severe
      - unknown
      type: string
    PatientAllergy:
      properties:
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        medispandnid:
          readOnly: true
          type: string
        medispanid:
          readOnly: true
          type: string
        name:
          description: The name of the allergy drug.
          type: string
        patient:
          description: The id of the patient.
          format: int64
          type: integer
        reaction:
          description: The reaction to the drug.
          maxLength: 200
          type:
          - string
          - 'null'
        severity:
          allOf:
          - $ref: '#/components/schemas/PatientAllergySeverityEnum'
          description: How severe the reaction is.
        start_date:
          description: The date the allergy started.
          format: date
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/AllergyStatus'
      required:
      - name
      - patient
      type: object
    AllergyStatus:
      enum:
      - Active
      - Inactive
      type: string
    PaginatedPatientAllergyList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/PatientAllergy'
          type: array
      required:
      - results
      type: object
    PatchedPatientAllergy:
      properties:
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        medispandnid:
          readOnly: true
          type: string
        medispanid:
          readOnly: true
          type: string
        name:
          description: The name of the allergy drug.
          type: string
        patient:
          description: The id of the patient.
          format: int64
          type: integer
        reaction:
          description: The reaction to the drug.
          maxLength: 200
          type:
          - string
          - 'null'
        severity:
          allOf:
          - $ref: '#/components/schemas/PatientAllergySeverityEnum'
          description: How severe the reaction is.
        start_date:
          description: The date the allergy started.
          format: date
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/AllergyStatus'
      type: object
    PaginatedAllergyList:
      allOf:
      - $ref: '#/components/schemas/PaginationMeta'
      - type: object
        properties:
          results:
            type: array
            items:
              $ref: '#/components/schemas/Allergy'
    Allergy:
      allOf:
      - $ref: '#/components/schemas/AllergyCreate'
      - type: object
        properties:
          id:
            type: integer
            readOnly: true
          created_date:
            type: string
            format: date-time
            readOnly: true
          deleted_date:
            type:
            - string
            - 'null'
            format: date-time
            readOnly: true
    AllergyCreate:
      type: object
      required:
      - patient
      - allergen
      - status
      properties:
        patient:
          type: integer
          description: Patient ID
        allergen:
          type: string
          description: Substance causing the allergy
        reaction:
          type: string
          description: Allergic reaction description
        severity:
          type: string
          enum:
          - Mild
          - Moderate
          - Severe
          - Unknown
        status:
          type: string
          enum:
          - Active
          - Inactive
        start_date:
          type: string
          format: date
        notes:
          type: string
    PaginationMeta:
      type: object
      properties:
        count:
          type: integer
          description: Total number of results
        next:
          type:
          - string
          - 'null'
          description: URL for next page
        previous:
          type:
          - string
          - 'null'
          description: URL for previous page
  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 25
      description: Number of results to return
    id:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Unique resource identifier
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
      description: Pagination offset
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-health-elation-health-api-openapi.yml
x-readme:
  headers: []
x-readme-fauxas: true
