openapi: 3.2.0
info:
  title: Elation Health Bills API
  version: '1.0'
  description: 'Operations tagged Bills across 3 of this provider''s published API definitions: elation-api-settings.json, elation-billing-api.json, elation-health-api-full-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Bills
paths:
  /bills/{id}/:
    get:
      summary: Get Bill
      description: ''
      operationId: get-bill
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/bills/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Bills
      security:
      - sec0: []
    patch:
      summary: Update Bill
      description: ''
      operationId: patch-bill
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                billing_date:
                  type: string
                  description: Required if marking a bill as processed
                ref_number:
                  type: string
                  description: Required if marking a bill as processed
                billing_error:
                  type: string
                  description: Required if marking a bill as failed. This is the human readable error that users will see.
                billing_raw_error:
                  type: string
                  description: Further details on the billing error. Optional when marking a bill as failed. Useful when debugging why a bill failed to process.
                prior_authorization:
                  type: string
                  description: Prior authorization number
                billing_provider:
                  type: integer
                  description: Billing provider Id
                  format: int32
                supervising_provider:
                  type: integer
                  description: Supervising provider Id
                  format: int32
                rendering_provider:
                  type: integer
                  description: Rendering provider id
                  format: int32
                referring_provider:
                  type: object
                  description: Billing refering provide
                  properties:
                    name:
                      type: string
                    state:
                      type: string
                      enum:
                      - AK
                      - AL
                      - AR
                      - AS
                      - AZ
                      - CA
                      - CO
                      - CT
                      - DC
                      - DE
                      - FL
                      - GA
                      - GU
                      - HI
                      - IA
                      - ID
                      - IL
                      - IN
                      - KS
                      - KY
                      - LA
                      - MA
                      - MD
                      - ME
                      - MI
                      - MN
                      - MO
                      - MP
                      - MS
                      - MT
                      - NC
                      - ND
                      - NE
                      - NH
                      - NJ
                      - NM
                      - NV
                      - NY
                      - OH
                      - OK
                      - OR
                      - PA
                      - PR
                      - RI
                      - SC
                      - SD
                      - TN
                      - TX
                      - UM
                      - UT
                      - VA
                      - VI
                      - VT
                      - WA
                      - WI
                      - WV
                      - WY
                    npi:
                      type: string
                      description: 10 digit provider or group NPI
                      default: 'null'
                ordering_provider:
                  type: object
                  description: Ordering provider
                  properties:
                    name:
                      type: string
                    state:
                      type: string
                      enum:
                      - AK
                      - AL
                      - AR
                      - AS
                      - AZ
                      - CA
                      - CO
                      - CT
                      - DC
                      - DE
                      - FL
                      - GA
                      - GU
                      - HI
                      - IA
                      - ID
                      - IL
                      - IN
                      - KS
                      - KY
                      - LA
                      - MA
                      - MD
                      - ME
                      - MI
                      - MN
                      - MO
                      - MP
                      - MS
                      - MT
                      - NC
                      - ND
                      - NE
                      - NH
                      - NJ
                      - NM
                      - NV
                      - NY
                      - OH
                      - OK
                      - OR
                      - PA
                      - PR
                      - RI
                      - SC
                      - SD
                      - TN
                      - TX
                      - UM
                      - UT
                      - VA
                      - VI
                      - VT
                      - WA
                      - WI
                      - WV
                      - WY
                    npi:
                      type: string
                      description: 10 digit provider or group NPI
                      default: 'null'
                cpts:
                  type: array
                  description: CPTs objects for billing
                  items:
                    properties:
                      cpt:
                        type: string
                        description: CPT code
                      modifier_1:
                        type: string
                        description: 'Two character long modifier string for slot #1'
                      modifier_2:
                        type: string
                        description: 'Two character long modifier string for slot #2'
                      modifier_3:
                        type: string
                        description: 'Two character long modifier string for slot #3'
                      modifier_4:
                        type: string
                        description: 'Two character long modifier string for slot #4'
                      unit_charge:
                        type: number
                        description: Charge for the procedure (e.g. 50.25 for $50.25)
                        format: double
                      units:
                        type: number
                        description: Number of procedure units to charge for
                        format: double
                      dxs:
                        type: array
                        description: Diagnoses to associate with the procedure
                        items:
                          properties:
                            icd10_code:
                              type: string
                              description: ICD10 code for the diagnosis
                            icd9_codes:
                              type: array
                              description: List of ICD9 codes to associate with the diagnosis
                              default: []
                              items:
                                type: string
                          required:
                          - icd10_code
                          type: object
                    required:
                    - cpt
                    type: object
                service_location:
                  type: integer
                  description: Billing service location
                  format: int32
                notes:
                  type: string
                  description: Additional billing notes
                payment:
                  type: integer
                  description: Patient Payment
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# marking a bill as failed\ndata = {\n  \"billing_error\": \"CPT code is missing\",  # required\n  \"billing_raw_error\": \"ERROR: CPT code is required\"  # optional\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/bills/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n# marking a bill as processed\ndata = {\n  \"ref_number\": \"2323413d3\",\n  \"billing_date\": \"2016-05-23T17:48:21Z\"\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/bills/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n\n# update general info on the bill\ndata = {\n\t\t\"payment_amount\": \"123.43\",\n    \"cpts\": [\n        {\n            \"cpt\": \"99215\",\n            \"modifier_1\": \"aa\",\n            \"modifier_2\": \"aa\",\n            \"modifier_3\": \"aa\",\n            \"modifier_4\": \"aa\",\n            \"dxs\": [\n                {\n                    \"icd10_code\": \"N18.24\",\n                    \"icd9_codes\": [\n                        \"425.4\"\n                    ]\n                }\n            ],\n            \"unit_charge\": 10,\n            \"units\": 10\n        }\n    ]\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/bills/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n"
        samples-languages:
        - python
      tags:
      - Bills
      security:
      - sec0: []
    delete:
      summary: Delete Bill
      description: This is yet to be worked on. Keep this in Draft
      operationId: delete-bill
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/bills/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"
        samples-languages:
        - python
      tags:
      - Bills
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /bills/:
    get:
      summary: Find Bills
      description: ''
      operationId: find-bills
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: from_service_date
        in: query
        schema:
          type: string
          format: date
      - name: to_service_date
        in: query
        schema:
          type: string
          format: date
      - name: visit_note_id
        in: query
        description: The id of the visit note this bill is attached to
        schema:
          type: integer
          format: int32
      - name: signing_physician
        in: query
        description: The id of the physician who signed off on the visit note that is associated with this bill.
        schema:
          type: integer
          format: int32
      - name: assigned_physician
        in: query
        description: The id of the physician who is assigned to this bill, could be different from the signer.
        schema:
          type: integer
          format: int32
      - name: practice
        in: query
        description: The practice that is responsible for the bill
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/bills/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/bills/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/bills/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Bills
      security:
      - sec0: []
    post:
      summary: Create Bill
      description: Create a new bill for an associated visit note
      operationId: create-bill
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - service_location
              - visit_note
              - patient
              - practice
              - physician
              properties:
                service_location:
                  type: integer
                  description: Billing service location Id
                  format: int32
                visit_note:
                  type: integer
                  description: Visit Note Id
                  format: int32
                patient:
                  type: integer
                  description: Patient Id
                  format: int32
                practice:
                  type: integer
                  description: Practice Id
                  format: int32
                physician:
                  type: integer
                  description: Physician Id
                  format: int32
                cpts:
                  type: array
                  description: CPTs objects for bill
                  items:
                    properties:
                      cpt:
                        type: string
                        description: CPT code
                      modifier_1:
                        type: string
                        description: 'Two character long modifier string for slot #1'
                      modifier_2:
                        type: string
                        description: 'Two character long modifier string for slot #2'
                      modifier_3:
                        type: string
                        description: 'Two character long modifier string for slot #3'
                      modifier_4:
                        type: string
                        description: 'Two character long modifier string for slot #4'
                      unit_charge:
                        type: number
                        description: Charge for the procedure (e.g. 50.25 for $50.25)
                        format: double
                      units:
                        type: number
                        description: Number of procedure units to charge for
                        format: double
                      dxs:
                        type: array
                        description: Diagnoses to associate with the procedure
                        items:
                          properties:
                            icd10_code:
                              type: string
                              description: ICD10 code for the diagnosis
                            icd9_codes:
                              type: array
                              description: List of ICD9 codes to associate with the diagnosis
                              default: []
                              items:
                                type: string
                          required:
                          - icd10_code
                          type: object
                    required:
                    - cpt
                    type: object
                billing_provider:
                  type: integer
                  description: Billing Physician Id
                  format: int32
                rendering_provider:
                  type: integer
                  description: Rendering Physician Id
                  format: int32
                supervising_provider:
                  type: integer
                  description: Provider id for the provider who has undertaken primary responsibility for the patient's health
                  format: int32
                referring_provider:
                  type: object
                  description: Billing referring provider
                  properties:
                    name:
                      type: string
                    state:
                      type: string
                      enum:
                      - AK
                      - AL
                      - AR
                      - AS
                      - AZ
                      - CA
                      - CO
                      - CT
                      - DC
                      - DE
                      - FL
                      - GA
                      - GU
                      - HI
                      - IA
                      - ID
                      - IL
                      - IN
                      - KS
                      - KY
                      - LA
                      - MA
                      - MD
                      - ME
                      - MI
                      - MN
                      - MO
                      - MP
                      - MS
                      - MT
                      - NC
                      - ND
                      - NE
                      - NH
                      - NJ
                      - NM
                      - NV
                      - NY
                      - OH
                      - OK
                      - OR
                      - PA
                      - PR
                      - RI
                      - SC
                      - SD
                      - TN
                      - TX
                      - UM
                      - UT
                      - VA
                      - VI
                      - VT
                      - WA
                      - WI
                      - WV
                      - WY
                    npi:
                      type: string
                      description: 10 digit provider or group NPI
                      default: 'null'
                ordering_provider:
                  type: object
                  description: Provider who orders non-physician services for the patient
                  properties:
                    name:
                      type: string
                    state:
                      type: string
                      enum:
                      - AK
                      - AL
                      - AR
                      - AS
                      - AZ
                      - CA
                      - CO
                      - CT
                      - DC
                      - DE
                      - FL
                      - GA
                      - GU
                      - HI
                      - IA
                      - ID
                      - IL
                      - IN
                      - KS
                      - KY
                      - LA
                      - MA
                      - MD
                      - ME
                      - MI
                      - MN
                      - MO
                      - MP
                      - MS
                      - MT
                      - NC
                      - ND
                      - NE
                      - NH
                      - NJ
                      - NM
                      - NV
                      - NY
                      - OH
                      - OK
                      - OR
                      - PA
                      - PR
                      - RI
                      - SC
                      - SD
                      - TN
                      - TX
                      - UM
                      - UT
                      - VA
                      - VI
                      - VT
                      - WA
                      - WI
                      - WV
                      - WY
                    npi:
                      type: string
                      description: 10 digit provider or group NPI
                      default: 'null'
                prior_authorization:
                  type: string
                  description: prior authorization (50 chars)
                payment_amount:
                  type: number
                  description: Dollar amount of patient payment
                  format: double
                notes:
                  type: string
                  description: Additional Billing Notes
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Bills
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /bills/{id}/actions/release-to-pms/:
    patch:
      summary: Release a Bill To PMS
      description: ''
      operationId: release-a-bill-to-pms
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# releasing bill to the linked PMS (e.g. Kareo)\n\nresp = requests.patch(\n  \"https://sandbox.elationemr.com/api/2.0/bills/67176497153/actions/release-to-pms/\",\n  headers={'Authorization': auth_header,\n           'Content-type': 'application/json'}\n)\n\nprint resp.status_code\n\n"
        samples-languages:
        - python
      tags:
      - Bills
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/bills/:
    get:
      operationId: bills_list
      parameters:
      - description: The id of the physician who is assigned to this bill, could be different from the signer.
        explode: false
        in: query
        name: assigned_physician
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: bill_id
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - in: query
        name: from_service_date
        schema:
          format: date-time
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: patient
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: The id of the practice that is responsible for the bill.
        explode: false
        in: query
        name: practice
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: The id of the physician who signed off on the visit note that is associated with this bill.
        in: query
        name: signing_physician
        schema:
          type: string
      - in: query
        name: to_service_date
        schema:
          format: date-time
          type: string
      - description: The id of the visit note this bill is attached to.
        explode: false
        in: query
        name: visit_note_id
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBillList'
          description: ''
      security:
      - oauth2: []
      summary: List Bills
      tags:
      - Bills
      x-el8-docs-category: Billing API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      operationId: bills_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillSingleInstance'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillSingleInstance'
          description: ''
      security:
      - oauth2: []
      summary: Create Bill
      tags:
      - Bills
      x-el8-docs-category: Billing API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/bills/{id}/:
    get:
      operationId: bills_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Bill
      tags:
      - Bills
      x-el8-docs-category: Billing API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      operationId: bills_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedBillUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillUpdate'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Bill
      tags:
      - Bills
      x-el8-docs-category: Billing API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/bills/{id}/actions/release-to-pms/:
    patch:
      description: This is a simple PATCH endpoint that allows you to release a bill to your connected PMS. It accomplishes the same goal as pressing the "Send to PMS" button on the Elation Billing Report for a bill.
      operationId: bills_actions_release_to_pms_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillUpdate'
          description: ''
      security:
      - oauth2: []
      summary: Release a Bill to PMS
      tags:
      - Bills
      x-el8-docs-category: Billing API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    ListCPT:
      properties:
        alt_dxs:
          items:
            type: string
          type: array
        cpt:
          type: string
        description:
          description: Description of the billing code from the practice's billing settings. Null if the code has been deleted since the bill was created.
          type:
          - string
          - 'null'
        dxs:
          items:
            type: string
          type: array
        modifiers:
          items:
            type: string
          type: array
        ndc:
          description: 11 digit NDC code, zero padded to 5-4-2 format.
          type: string
        ndc_dose:
          description: NDC units administered.  Precision to 3 decimal places.
          format: decimal
          pattern: ^-?\d{0,7}(?:\.\d{0,3})?$
          type: string
        ndc_measure:
          description: 'NDC unit of measure: null, "F2", "GR", "ME", "ML" or "UN"'
          type: string
        unit_charge:
          description: Charge per CPT unit.
          type: string
        units:
          description: Number of units billed for the CPT.
          type: string
      required:
      - alt_dxs
      - cpt
      - description
      - dxs
      - modifiers
      - ndc
      - ndc_dose
      - ndc_measure
      - unit_charge
      - units
      type: object
    BillSingleInstance:
      properties:
        billing_provider:
          format: int64
          type:
          - integer
          - 'null'
        cpts:
          items:
            $ref: '#/components/schemas/CPT'
          type: array
        id:
          readOnly: true
          type: integer
        notes:
          default: ''
          description: Additional billing notes.
          maxLength: 1000
          type: string
        ordering_provider:
          allOf:
          - $ref: '#/components/schemas/ReferringProvider'
          description: The id of the provider who orders non-physician services for the patient.
        patient:
          format: int64
          type: integer
        payment:
          format: int64
          type: integer
        payment_amount:
          default: '0.00'
          description: Dollar amount of the patient payment.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        physician:
          format: int64
          type: integer
        practice:
          format: int64
          type: integer
        prior_authorization:
          maxLength: 50
          type:
          - string
          - 'null'
        referring_provider:
          $ref: '#/components/schemas/ReferringProvider'
        rendering_provider:
          format: int64
          type:
          - integer
          - 'null'
        service_location:
          description: The id of the service location the bill is associated with.
          format: int64
          type: integer
        show_dual_coding:
          default: false
          type:
          - boolean
          - 'null'
        supervising_provider:
          description: The id of the provider who has undertaken primary responsibility for the patient's health.
          format: int64
          type:
          - integer
          - 'null'
        visit_note:
          format: int64
          type: integer
      required:
      - cpts
      - patient
      - physician
      - practice
      - service_location
      - visit_note
      type: object
    Bill:
      properties:
        billing_date:
          description: The date the bill was billed.
          format: date-time
          type: string
        billing_error:
          maxLength: 200
          type: string
        billing_provider:
          format: int64
          readOnly: true
          type: integer
        billing_raw_error:
          type: string
        billing_status:
          allOf:
          - $ref: '#/components/schemas/BillingStatusEnum'
          readOnly: true
        cpts:
          description: CPT objects for the bill.
          items:
            $ref: '#/components/schemas/ListCPT'
          readOnly: true
          type: array
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deferred_bill:
          type: boolean
        id:
          readOnly: true
          type: integer
        last_modified_date:
          format: date-time
          readOnly: true
          type: string
        metadata:
          properties:
            data:
              type: object
            object_id:
              type: string
            object_web_link:
              type: string
          type:
          - object
          - 'null'
        notes:
          description: Additional billing notes.
          type:
          - string
          - 'null'
        ordering_provider:
          allOf:
          - $ref: '#/components/schemas/ReferringProvider'
          readOnly: true
        patient:
          format: int64
          readOnly: true
          type: integer
        payment:
          allOf:
          - $ref: '#/components/schemas/Payment'
          description: Patient payment for the bill.
          readOnly: true
        physician:
          format: int64
          readOnly: true
          type: integer
        practice:
          format: int64
          readOnly: true
          type: integer
        prior_authorization:
          maxLength: 50
          type:
          - string
          - 'null'
        ref_number:
          maxLength: 50
          type:
          - string
          - 'null'
        referring_provider:
          allOf:
          - $ref: '#/components/schemas/ReferringProvider'
          readOnly: true
        rendering_provider:
          format: int64
          readOnly: true
          type: integer
        service_date:
          format: date-time
          readOnly: true
          type: string
        service_date_timezone:
          description: The timezone for the service_date. Use this to convert service_date from UTC to local time. Returns the service location's timezone if available, otherwise falls back to the practice's default timezone.
          readOnly: true
          type: string
        service_location:
          properties:
            address_line1:
              description: The service location address.
              type: string
            address_line2:
              description: The service location suite.
              type: string
            city:
              default: ''
              maxLength: 50
              type: string
            created_date:
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
            deleted_date:
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
            email:
              format: email
              maxLength: 254
              type:
              - string
              - 'null'
            fax:
              maxLength: 20
              type:
              - string
              - 'null'
            id:
              readOnly: true
              type: integer
            is_primary:
              default: false
              type: boolean
            name:
              maxLength: 200
              type: string
            phone:
              maxLength: 20
              type:
              - string
              - 'null'
            place_of_service:
              enum:
              - Ambulance - Air or Water
              - Ambulance - Land
              - Ambulatory Surgical Center
              - Assisted Living Facility
              - Birthing Center
              - Community Mental Health Center
              - Comprehensive Inpatient Rehabilitation Facility
              - Comprehensive Outpatient Rehabilitation Facility
              - Custodial Care Facility
              - Emergency Room - Hospital
              - End-Stage Renal Disease Treatment Facility
              - Federally Qualified Health Center
              - Group Home
              - Home
              - Homeless Shelter
              - Hospice
              - Independent Clinic
              - Independent Laboratory
              - Indian Health ServiceFree-standing Facility
              - Indian Health ServiceProvider-based Facility
              - Inpatient Hospital
              - Inpatient Psychiatric Facility
              - Intermediate Care Facility/Individuals with Intellectual Disabilities
              - Mass Immunization Center
              - Military Treatment Facility
              - Mobile Unit
              - Non-residential Substance Abuse Treatment Facility
              - Nursing Facility
              - Off Campus Outpatient-Hospital
              - Office
              - On Campus-Outpatient Hospital
              - Other Place of Service
              - Outreach Site/Street
              - Pharmacy
              - Place of Employment-Worksite
              - Prison/Correctional Facility
              - Programs of All-Inclusive Care for the Elderly (PACE) Center
              - Psychiatric Facility-Partial Hospitalization
              - Psychiatric Residential Treatment Center
              - Public Health Clinic
              - Residential Substance Abuse Treatment Facility
              - Rural Health Clinic
              - School
              - Skilled Nursing Facility
              - Telehealth Provided Other than in Patient’s Home
              - Telehealth Provided in Patient’s Home
              - Temporary Lodging
              - Tribal 638Free-standingFacility
              - Tribal 638Provider-basedFacility
              - Urgent Care Facility
              - Walk-in Retail Health Clinic
              type: string
            place_of_service_code:
              type: integer
            practice:
              description: The id of the practice that the service location belongs to.
              format: int64
              type: integer
            state:
              type: string
            status:
              default: active
              enum:
              - active
              - inactive
              - suspended
              readOnly: true
              type: string
            timezone:
              description: '* `Africa/Abidjan` - Africa/Abidjan

                * `Africa/Accra` - Africa/Accra

                * `Africa/Addis_Ababa` - Africa/Addis_Ababa

                * `Africa/Algiers` - Africa/Algiers

                * `Africa/Asmara` - Africa/Asmara

                * `Africa/Bamako` - Africa/Bamako

                * `Africa/Bangui` - Africa/Bangui

                * `Africa/Banjul` - Africa/Banjul

                * `Africa/Bissau` - Africa/Bissau

                * `Africa/Blantyre` - Africa/Blantyre

                * `Africa/Brazzaville` - Africa/Brazzaville

                * `Africa/Bujumbura` - Africa/Bujumbura

                * `Africa/Cairo` - Africa/Cairo

                * `Africa/Casablanca` - Africa/Casablanca

                * `Africa/Ceuta` - Africa/Ceuta

                * `Africa/Conakry` - Africa/Conakry

                * `Africa/Dakar` - Africa/Dakar

                * `Africa/Dar_es_Salaam` - Africa/Dar_es_Salaam

                * `Africa/Djibouti` - Africa/Djibouti

                * `Africa/Douala` - Africa/Douala

                * `Africa/El_Aaiun` - Africa/El_Aaiun

                * `Africa/Freetown` - Africa/Freetown

                * `Africa/Gaborone` - Africa/Gaborone

                * `Africa/Harare` - Africa/Harare

                * `Africa/Johannesburg` - Africa/Johannesburg

                * `Africa/Juba` - Africa/Juba

                * `Africa/Kampala` - Africa/Kampala

                * `Africa/Khartoum` - Africa/Khartoum

                * `Africa/Kigali` - Africa/Kigali

                * `Africa/Kinshasa` - Africa/Kinshasa

                * `Africa/Lagos` - Africa/Lagos

                * `Africa/Libreville` - Africa/Libreville

                * `Africa/Lome` - Africa/Lome

                * `Africa/Luanda` - Africa/Luanda

                * `Africa/Lubumbashi` - Africa/Lubumbashi

                * `Africa/Lusaka` - Africa/Lusaka

                * `Africa/Malabo` - Africa/Malabo

                * `Africa/Maputo` - Africa/Maputo

                * `Africa/Maseru` - Africa/Maseru

                * `Africa/Mbabane` - Africa/Mbabane

                * `Africa/Mogadishu` - Africa/Mogadishu

                * `Africa/Monrovia` - Africa/Monrovia

                * `Africa/Nairobi` - Africa/Nairobi

                * `Africa/Ndjamena` - Africa/Ndjamena

                * `Africa/Niamey` - Africa/Niamey

                * `Africa/Nouakchott` - Africa/Nouakchott

                * `Africa/Ouagadougou` - Africa/Ouagadougou

                * `Africa/Porto-Novo` - Africa/Porto-Novo

                * `Africa/Sao_Tome` - Africa/Sao_Tome

                * `Africa/Tripoli` - Africa/Tripoli

                * `Africa/Tunis` - Africa/Tunis

                * `Africa/Windhoek` - Africa/Windhoek

                * `America/Adak` - America/Adak

                * `America/Anchorage` - America/Anchorage

                * `America/Anguilla` - America/Anguilla

                * `America/Antigua` - America/Antigua

                * `America/Araguaina` - America/Araguaina

                * `America/Argentina/Buenos_Aires` - America/Argentina/Buenos_Aires

                * `America/Argentina/Catamarca` - America/Argentina/Catamarca

                * `America/Argentina/Cordoba` - America/Argentina/Cordoba

                * `America/Argentina/Jujuy` - America/Argentina/Jujuy

                * `America/Argentina/La_Rioja` - America/Argentina/La_Rioja

                * `America/Argentina/Mendoza` - America/Argentina/Mendoza

                * `America/Argentina/Rio_Gallegos` - America/Argentina/Rio_Gallegos

                * `America/Argentina/Salta` - America/Argentina/Salta

                * `America/Argentina/San_Juan` - America/Argentina/San_Juan

                * `America/Argentina/San_Luis` - America/Argentina/San_Luis

                * `America/Argentina/Tucuman` - America/Argentina/Tucuman

                * `America/Argentina/Ushuaia` - America/Argentina/Ushuaia

                * `America/Aruba` - America/Aruba

                * `America/Asuncion` - America/Asuncion

                * `America/Atikokan` - America/Atikokan

                * `America/Bahia` - America/Bahia

                * `America/Bahia_Banderas` - America/Bahia_Banderas

                * `America/Barbados` - America/Barbados

                * `America/Belem` - America/Belem

                * `America/Belize` - America/Belize

                * `America/Blanc-Sablon` - America/Blanc-Sablon

                * `America/Boa_Vista` - America/Boa_Vista

                * `America/Bogota` - America/Bogota

                * `America/Boise` - America/Boise

                * `America/Cambridge_Bay` - America/Cambridge_Bay

                * `America/Campo_Grande` - America/Campo_Grande

                * `America/Cancun` - America/Cancun

                * `America/Caracas` - America/Caracas

                * `America/Cayenne` - America/Cayenne

                * `America/Cayman` - America/Cayman

                * `America/Chicago` - America/Chicago

                * `America/Chihuahua` - America/Chihuahua

                * `America/Ciudad_Juarez` - America/Ciudad_Juarez

                * `America/Costa_Rica` - America/Costa_Rica

                * `America/Creston` - America/Creston

                * `America/Cuiaba` - America/Cuiaba

                * `America/Curacao` - America/Curacao

                * `America/Danmarkshavn` - America/Danmarkshavn

                * `America/Dawson` - America/Dawson

                * `America/Dawson_Creek` - America/Dawson_Creek

                * `America/Denver` - America/Denver

                * `America/Detroit` - America/Detroit

                * `America/Dominica` - America/Dominica

                * `America/Edmonton` - America/Edmonton

                * `America/Eirunepe` - America/Eirunepe

                * `America/El_Salvador` - America/El_Salvador

                * `America/Fort_Nelson` - America/Fort_Nelson

                * `America/Fortaleza` - America/Fortaleza

                * `America/Glace_Bay` - America/Glace_Bay

                * `America/Goose_Bay` - America/Goose_Bay

                * `America/Grand_Turk` - America/Grand_Turk

                * `America/Grenada` - America/Grenada

                * `America/Guadeloupe` - America/Guadeloupe

                * `America/Guatemala` - America/Guatemala

                * `America/Guayaquil` - America/Guayaquil

                * `America/Guyana` - America/Guyana

                * `America/Halifax` - America/Halifax

                * `America/Havana` - America/Havana

                * `America/Hermosillo` - America/Hermosillo

                * `America/Indiana/Indianapolis` - America/Indiana/Indianapolis

                * `America/Indiana/Knox` - America/Indiana/Knox

                * `America/Indiana/Marengo` - America/Indiana/Marengo

                * `America/Indiana/Petersburg` - America/Indiana/Petersburg

                * `America/Indiana/Tell_City` - America/Indiana/Tell_City

                * `America/Indiana/Vevay` - America/Indiana/Vevay

                * `America/Indiana/Vincennes` - America/Indiana/Vincennes

                * `America/Indiana/Winamac` - America/Indiana/Winamac

                * `America/Inuvik` - America/Inuvik

                * `America/Iqaluit` - America/Iqaluit

                * `America/Jamaica` - America/Jamaica

                * `America/Juneau` - America/Juneau

                * `America/Kentucky/Louisville` - America/Kentucky/Louisville

                * `America/Kentucky/Monticello` - America/Kentucky/Monticello

                * `America/Kralendijk` - America/Kralendijk

                * `America/La_Paz` - America/La_Paz

                * `America/Lima` - America/Lima

                * `America/Los_Angeles` - America/Los_Angeles

                * `America/Lower_Princes` - America/Lower_Princes

                * `America/Maceio` - America/Maceio

                * `America/Managua` - America/Managua

                * `America/Manaus` - America/Manaus

                * `America/Marigot` - America/Marigot

                * `America/Martinique` - America/Martinique

                * `America/Matamoros` - America/Matamoros

                * `America/Mazatlan` - America/Mazatlan

                * `America/Menominee` - America/Menominee

                * `America/Merida` - America/Merida

                * `America/Metlakatla` - America/Metlakatla

                * `America/Mexico_City` - America/Mexico_City

                * `America/Miquelon` - America/Miquelon

                * `America/Moncton` - America/Moncton

                * `America/Monterrey` - America/Monterrey

                * `America/Montevideo` - America/Montevideo

                * `America/Montserrat` - America/Montserrat

                * `America/Nassau` - America/Nassau

                * `America/New_York` - America/New_York

                * `America/Nome` - America/Nome

                * `America/Noronha` - America/Noronha

                * `America/North_Dakota/Beulah` - America/North_Dakota/Beulah

                * `America/North_Dakota/Center` - America/North_Dakota/Center

                * `America/North_Dakota/New_Salem` - America/North_Dakota/New_Salem

                * `America/Nuuk` - America/Nuuk

                * `America/Ojinaga` - America/Ojinaga

                * `America/Panama` - America/Panama

                * `America/Paramaribo` - America/Paramaribo

                * `America/Phoenix` - America/Phoenix

                * `America/Port-au-Prince` - America/Port-au-Prince

                * `America/Port_of_Spain` - America/Port_of_Spain

                * `America/Porto_Velho` - America/Porto_Velho

                * `America/Puerto_Rico` - America/Puerto_Rico

                * `America/Punta_Arenas` - America/Punta_Arenas

                * `America/Rankin_Inlet` - America/Rankin_Inlet

                * `America/Recife` - America/Recife

                * `America/Regina` - America/Regina

                * `America/Resolute` - America/Resolute

                * `America/Rio_Branco` - America/Rio_Branco

                * `America/Santarem` - America/Santarem

                * `America/Santiago` - America/Santiago

                * `America/Santo_Domingo` - America/Santo_Domingo

                * `America/Sao_Paulo` - America/Sao_Paulo

                * `America/Scoresbysund` - America/Scoresbysund

                * `America/Sitka` - America/Sitka

                * `America/St_Barthelemy` - America/St_Barthelemy

                * `America/St_Johns` - America/St_Johns

                * `America/St_Kitts` - America/St_Kitts

                * `America/St_Lucia` - America/St_Lucia

                * `America/St_Thomas` - America/St_Thomas

                * `America/St_Vincent` - America/St_Vincent

                * `America/Swift_Current` - America/Swift_Current

                * `America/Tegucigalpa` - America/Tegucigalpa

                * `America/Thule` - America/Thule

                * `America/Tijuana` - America/Tijuana

                * `America/Toronto` - America/Toronto

                * `America/Tortola` - America/Tortola

                * `America/Vancouver` - America/Vancouver

                * `America/Whitehorse` - America/Whitehorse

                * `America/Winnipeg` - America/Winnipeg

                * `America/Yakutat` - America/Yakutat

                * `Antarctica/Casey` - Antarctica/Casey

                * `Antarctica/Davis` - Antarctica/Davis

                * `Antarctica/DumontDUrville` - Antarctica/DumontDUrville

                * `Antarctica/Macquarie` - Antarctica/Macquarie

                * `Antarctica/Mawson` - Antarctica/Mawson

                * `Antarctica/McMurdo` - Antarctica/McMurdo

                * `Antarctica/Palmer` - Antarctica/Palmer

                * `Antarctica/Rothera` - Antarctica/Rothera

                * `Antarctica/Syowa` - Antarctica/Syowa

                * `Antarctica/Troll` - Antarctica/Troll

                * `Antarctica/Vostok` - Antarctica/Vostok

                * `Arctic/Longyearbyen` - Arctic/Longyearbyen

                * `Asia/Aden` - Asia/Aden

                * `Asia/Almaty` - Asia/Almaty

                * `Asia/Amman` - Asia/Amman

                * `Asia/Anadyr` - Asia/Anadyr

                * `Asia/Aqtau` - Asia/Aqtau

                * `Asia/Aqtobe` - Asia/Aqtobe

                * `Asia/Ashgabat` - Asia/Ashgabat

                * `Asia/Atyrau` - Asia/Atyrau

                * `Asia/Baghdad` - Asia/Baghdad

                * `Asia/Bahrain` - Asia/Bahrain

                * `Asia/Baku` - Asia/Baku

                * `Asia/Bangkok` - Asia/Bangkok

                * `Asia/Barnaul` - Asia/Barnaul

                * `Asia/Beirut` - Asia/Beirut

                * `Asia/Bishkek` - Asia/Bishkek

                * `Asia/Brunei` - Asia/Brunei

                * `Asia/Chita` - Asia/Chita

                * `Asia/Choibalsan` - Asia/Choibalsan

                * `Asia/Colombo` - Asia/Colombo

                * `Asia/Damascus` - Asia/Damascus

                * `Asia/Dhaka` - Asia/Dhaka

                * `Asia/Dili` - Asia/Dili

                * `Asia/Dubai` - Asia/Dubai

                * `Asia/Dushanbe` - Asia/Dushanbe

                * `Asia/Famagusta` - Asia/Famagusta

                * `Asia/Gaza` - Asia/Gaza

                * `Asia/Hebron` - Asia/Hebron

                * `Asia/Ho_Chi_Minh` - Asia/Ho_Chi_Minh

                * `Asia/Hong_Kong` - Asia/Hong_Kong

                * `Asia/Hovd` - Asia/Hovd

                * `Asia/Irkutsk` - Asia/Irkutsk

                * `Asia/Jakarta` - Asia/Jakarta

                * `Asia/Jayapura` - Asia/Jayapura

                * `Asia/Jerusalem` - Asia/Jerusalem

                * `Asia/Kabul` - Asia/Kabul

                * `Asia/Kamchatka` - Asia/Kamchatka

                * `Asia/Karachi` - Asia/Karachi

                * `Asia/Kathmandu` - Asia/Kathmandu

                * `Asia/Khandyga` - Asia/Khandyga

                * `Asia/Kolkata` - Asia/Kolkata

                * `Asia/Krasnoyarsk` - Asia/Krasnoyarsk

                * `Asia/Kuala_Lumpur` - Asia/Kuala_Lumpur

                * `Asia/Kuching` - Asia/Kuching

                * `Asia/Kuwait` - Asia/Kuwait

                * `Asia/Macau` - Asia/Macau

                * `Asia/Magadan` - Asia/Magadan

                * `Asia/Makassar` - Asia/Makassar

                * `Asia/Manila` - Asia/Manila

                * `Asia/Muscat` - Asia/Muscat

                * `Asia/Nicosia` - Asia/Nicosia

                * `Asia/Novokuznetsk` - Asia/Novokuznetsk

                * `Asia/Novosibirsk` - Asia/Novosibirsk

                * `Asia/Omsk` - Asia/Omsk

                * `Asia/Oral` - Asia/Oral

                * `Asia/Phnom_Penh` - Asia/Phnom_Penh

                * `Asia/Pontianak` - Asia/Pontianak

                * `Asia/Pyongyang` - Asia/Pyongyang

                * `Asia/Qatar` - Asia/Qatar

                * `Asia/Qostanay` - Asia/Qostanay

                * `Asia/Qyzylorda` - Asia/Qyzylorda

                * `Asia/Riyadh` - Asia/Riyadh

                * `Asia/Sakhalin` - Asia/Sakhalin

                * `Asia/Samarkand` - Asia/Samarkand

                * `Asia/Seoul` - Asia/Seoul

                * `Asia/Shanghai` - Asia/Shanghai

                * `Asia/Singapore` - Asia/Singapore

                * `Asia/Srednekolymsk` - Asia/Srednekolymsk

                * `Asia/Taipei` - Asia/Taipei

                * `Asia/Tashkent` - Asia/Tashkent

                * `Asia/Tbilisi` - Asia/Tbilisi

                * `Asia/Tehran` - Asia/Tehran

                * `Asia/Thimphu` - Asia/Thimphu

                * `Asia/Tokyo` - Asia/Tokyo

                * `Asia/Tomsk` - Asia/Tomsk

                * `Asia/Ulaanbaatar` - Asia/Ulaanbaatar

                * `Asia/Urumqi` - Asia/Urumqi

                * `Asia/Ust-Nera` - Asia/Ust-Nera

                * `Asia/Vientiane` - Asia/Vientiane

                * `Asia/Vladivostok` - Asia/Vladivostok

                * `Asia/Yakutsk` - Asia/Yakutsk

                * `Asia/Yangon` - Asia/Yangon

                * `Asia/Yekaterinburg` - Asia/Yekaterinburg

                * `Asia/Yerevan` - Asia/Yerevan

                * `Atlantic/Azores` - Atlantic/Azores

                * `Atlantic/Bermuda` - Atlantic/Bermuda

                * `Atlantic/Canary` - Atlantic/Canary

                * `Atlantic/Cape_Verde` - Atlantic/Cape_Verde

                * `Atlantic/Faroe` - Atlantic/Faroe

                * `Atlantic/Madeira` - Atlantic/Madeira

                * `Atlantic/Reykjavik` - Atlantic/Reykjavik

                * `Atlantic/South_Georgia` - Atlantic/South_Georgia

                * `Atlantic/St_Helena` - Atlantic/St_Helena

                * `Atlantic/Stanley` - Atlantic/Stanley

                * `Australia/Adelaide` - Australia/Adelaide

                * `Australia/Brisbane` - Australia/Brisbane

                * `Australia/Broken_Hill` - Australia/Broken_Hill

                * `Australia/Darwin` - Australia/Darwin

                * `Australia/Eucla` - Australia/Eucla

                * `Australia/Hobart` - Australia/Hobart

                * `Australia/Lindeman` - Australia/Lindeman

                * `Australia/Lord_Howe` - Australia/Lord_Howe

                * `Australia/Melbourne` - Australia/Melbourne

                * `Australia/Perth` - Australia/Perth

                * `Australia/Sydney` - Australia/Sydney

                * `Canada/Atlantic` - Canada/Atlantic

                * `Canada/Central` - Canada/Central

                * `Canada/Eastern` - Canada/Eastern

                * `Canada/Mountain` - Canada/Mountain

                * `Canada/Newfoundland` - Canada/Newfoundland

                * `Canada/Pacific` - Canada/Pacific

                * `Europe/Amsterdam` - Europe/Amsterdam

                * `Europe/Andorra` - Europe/Andorra

                * `Europe/Astrakhan` - Europe/Astrakhan

                * `Europe/Athens` - Europe/Athens

                * `Europe/Belgrade` - Europe/Belgrade

                * `Europe/Berlin` - Europe/Berlin

                * `Europe/Bratislava` - Europe/Bratislava

                * `Europe/Brussels` - Europe/Brussels

                * `Europe/Bucharest` - Europe/Bucharest

                * `Europe/Budapest` - Europe/Budapest

                * `Europe/Busingen` - Europe/Busingen

                * `Europe/Chisinau` - Europe/Chisinau

                * `Europe/Copenhagen` - Europe/Copenhagen

                * `Europe/Dublin` - Europe/Dublin

                * `Europe/Gibraltar` - Europe/Gibraltar

                * `Europe/Guernsey` - Europe/Guernsey

                * `Europe/Helsinki` - Europe/Helsinki

                * `Europe/Isle_of_Man` - Europe/Isle_of_Man

                * `Europe/Istanbul` - Europe/Istanbul

                * `Europe/Jersey` - Europe/Jersey

                * `Europe/Kaliningrad` - Europe/Kaliningrad

                * `Europe/Kirov` - Europe/Kirov

                * `Europe/Kyiv` - Europe/Kyiv

                * `Europe/Lisbon` - Europe/Lisbon

                * `Europe/Ljubljana` - Europe/Ljubljana

                * `Europe/London` - Europe/London

                * `Europe/Luxembourg` - Europe/Luxembourg

                * `Europe/Madrid` - Europe/Madrid

                * `Europe/Malta` - Europe/Malta

                * `Europe/Mariehamn` - Europe/Mariehamn

                * `Europe/Minsk` - Europe/Minsk

                * `Europe/Monaco` - Europe/Monaco

                * `Europe/Moscow` - Europe/Moscow

                * `Europe/Oslo` - Europe/Oslo

                * `Europe/Paris` - Europe/Paris

                * `Europe/Podgorica` - Europe/Podgorica

                * `Europe/Prague` - Europe/Prague

                * `Europe/Riga` - Europe/Riga

                * `Europe/Rome` - Europe/Rome

                * `Europe/Samara` - Europe/Samara

                * `Europe/San_Marino` - Europe/San_Marino

                * `Europe/Sarajevo` - Europe/Sarajevo

                * `Europe/Saratov` - Europe/Saratov

                * `Europe/Simferopol` - Europe/Simferopol

                * `Europe/Skopje` - Europe/Skopje

                * `Europe/Sofia` - Europe/Sofia

                * `Europe/Stockholm` - Europe/Stockholm

                * `Europe/Tallinn` - Europe/Tallinn

                * `Europe/Tirane` - Europe/Tirane

                * `Europe/Ulyanovsk` - Europe/Ulyanovsk

                * `Europe/Vaduz` - Europe/Vaduz

                * `Europe/Vatican` - Europe/Vatican

                * `Europe/Vienna` - Europe/Vienna

                * `Europe/Vilnius` - Europe/Vilnius

                * `Europe/Volgograd` - Europe/Volgograd

                * `Europe/Warsaw` - Europe/Warsaw

                * `Europe/Zagreb` - Europe/Zagreb

                * `Europe/Zurich` - Europe/Zurich

                * `GMT` - GMT

                * `Indian/Antananarivo` - Indian/Antananarivo

                * `Indian/Chagos` - Indian/Chagos

                * `Indian/Christmas` - Indian/Christmas

                * `Indian/Cocos` - Indian/Cocos

                * `Indian/Comoro` - Indian/Comoro

                * `Indian/Kerguelen` - Indian/Kerguelen

                * `Indian/Mahe` - Indian/Mahe

                * `Indian/Maldives` - Indian/Maldives

                * `Indian/Mauritius` - Indian/Mauritius

                * `Indian/Mayotte` - Indian/Mayotte

                * `Indian/Reunion` - Indian/Reunion

                * `Pacific/Apia` - Pacific/Apia

                * `Pacific/Auckland` - Pacific/Auckland

                * `Pacific/Bougainville` - Pacific/Bougainville

                * `Pacific/Chatham` - Pacific/Chatham

                * `Pacific/Chuuk` - Pacific/Chuuk

                * `Pacific/Easter` - Pacific/Easter

                * `Pacific/Efate` - Pacific/Efate

                * `Pacific/Fakaofo` - Pacific/Fakaofo

                * `Pacific/Fiji` - Pacific/Fiji

                * `Pacific/Funafuti` - Pacific/Funafuti

                * `Pacific/Galapagos` - Pacific/Galapagos

                * `Pacific/Gambier` - Pacific/Gambier

                * `Pacific/Guadalcanal` - Pacific/Guadalcanal

                * `Pacific/Guam` - Pacific/Guam

                * `Pacific/Honolulu` - Pacific/Honolulu

                * `Pacific/Kanton` - Pacific/Kanton

                * `Pacific/Kiritimati` - Pacific/Kiritimati

                * `Pacific/Kosrae` - Pacific/Kosrae

                * `Pacific/Kwajalein` - Pacific/Kwajalein

                * `Pacific/Majuro` - Pacific/Majuro

                * `Pacific/Marquesas` - Pacific/Marquesas

                * `Pacific/Midway` - Pacific/Midway

                * `Pacific/Nauru` - Pacific/Nauru

                * `Pacific/Niue` - Pacific/Niue

                * `Pacific/Norfolk` - Pacific/Norfolk

                * `Pacific/Noumea` - Pacific/Noumea

                * `Pacific/Pago_Pago` - Pacific/Pago_Pago

                * `Pacific/Palau` - Pacific/Palau

                * `Pacific/Pitcairn` - Pacific/Pitcairn

                * `Pacific/Pohnpei` - Pacific/Pohnpei

                * `Pacific/Port_Moresby` - Pacific/Port_Moresby

                * `Pacific/Rarotonga` - Pacific/Rarotonga

                * `Pacific/Saipan` - Pacific/Saipan

                * `Pacific/Tahiti` - Pacific/Tahiti

                * `Pacific/Tarawa` - Pacific/Tarawa

                * `Pacific/Tongatapu` - Pacific/Tongatapu

                * `Pacific/Wake` - Pacific/Wake

                * `Pacific/Wallis` - Pacific/Wallis

                * `US/Alaska` - US/Alaska

                * `US/Arizona` - US/Arizona

                * `US/Central` - US/Central

                * `US/Eastern` - US/Eastern

                * `US/Hawaii` - US/Hawaii

                * `US/Mountain` - US/Mountain

                * `US/Pacific` - US/Pacific

                * `UTC` - UTC'
              enum:
              - Africa/Abidjan
              - Africa/Accra
              - Africa/Addis_Ababa
              - Africa/Algiers
              - Africa/Asmara
              - Africa/Bamako
              - Africa/Bangui
              - Africa/Banjul
              - Africa/Bissau
              - Africa/Blantyre
              - Africa/Brazzaville
              - Africa/Bujumbura
              - Africa/Cairo
              - Africa/Casablanca
              - Africa/Ceuta
              - Africa/Conakry
              - Africa/Dakar
              - Africa/Dar_es_Salaam
              - Africa/Djibouti
              - Africa/Douala
              - Africa/El_Aaiun
              - Africa/Freetown
              - Africa/Gaborone
              - Africa/Harare
              - Africa/Johannesburg
              - Africa/Juba
              - Africa/Kampala
              - Africa/Khartoum
              - Africa/Kigali
              - Africa/Kinshasa
              - Africa/Lagos
              - Africa/Libreville
              - Africa/Lome
              - Africa/Luanda
              - Africa/Lubumbashi
              - Africa/Lusaka
              - Africa/Malabo
              - Africa/Maputo
              - Africa/Maseru
              - Africa/Mbabane
              - Africa/Mogadishu
              - Africa/Monrovia
              - Africa/Nairobi
              - Africa/Ndjamena
              - Africa/Niamey
              - Africa/Nouakchott
              - Africa/Ouagadougou
              - Africa/Porto-Novo
              - Africa/Sao_Tome
              - Africa/Tripoli
              - Africa/Tunis
              - Africa/Windhoek
              - America/Adak
              - America/Anchorage
              - America/Anguilla
              - America/Antigua
              - America/Araguaina
              - America/Argentina/Buenos_Aires
              - America/Argentina/Catamarca
              - America/Argentina/Cordoba
              - America/Argentina/Jujuy
              - America/Argentina/La_Rioja
              - America/Argentina/Mendoza
              - America/Argentina/Rio_Gallegos
              - America/Argentina/Salta
              - America/Argentina/San_Juan
              - America/Argentina/San_Luis
              - America/Argentina/Tucuman
              - America/Argentina/Ushuaia
              - America/Aruba
              - America/Asuncion
              - America/Atikokan
              - America/Bahia
              - America/Bahia_Banderas
              - America/Barbados
              - America/Belem
              - America/Belize
              - America/Blanc-Sablon
              - America/Boa_Vista
              - America/Bogota
              - America/Boise
              - America/Cambridge_Bay
              - America/Campo_Grande
              - America/Cancun
              - America/Caracas
              - America/Cayenne
              - America/Cayman
              - America/Chicago
              - America/Chihuahua
              - America/Ciudad_Juarez
              - America/Costa_Rica
              - America/Creston
              - America/Cuiaba
              - America/Curacao
              - America/Danmarkshavn
              - America/Dawson
              - America/Dawson_Creek
              - America/Denver
              - America/Detroit
              - America/Dominica
              - America/Edmonton
              - America/Eirunepe
              - America/El_Salvador
              - America/Fort_Nelson
              - America/Fortaleza
              - America/Glace_Bay
              - America/Goose_Bay
              - America/Grand_Turk
              - America/Grenada
              - America/Guadeloupe
              - America/Guatemala
              - America/Guayaquil
              - America/Guyana
              - America/Halifax
              - America/Havana
              - America/Hermosillo
              - America/Indiana/Indianapolis
              - America/Indiana/Knox
              - America/Indiana/Marengo
              - America/Indiana/Petersburg
              - America/Indiana/Tell_City
              - America/Indiana/Vevay
              - America/Indiana/Vincennes
              - America/Indiana/Winamac
              - America/Inuvik
              - America/Iqaluit
              - America/Jamaica
              - America/Juneau
              - America/Kentucky/Louisville
              - America/Kentucky/Monticello
              - America/Kralendijk
              - America/La_Paz
              - America/Lima
              - America/Los_Angeles
              - America/Lower_Princes
              - America/Maceio
              - America/Managua
              - America/Manaus
              - America/Marigot
              - America/Martinique
              - America/Matamoros
              - America/Mazatlan
              - America/Menominee
              - America/Merida
              - America/Metlakatla
              - America/Mexico_City
              - America/Miquelon
              - America/Moncton
              - America/Monterrey
              - America/Montevideo
              - America/Montserrat
              - America/Nassau
              - America/New_York
              - America/Nome
              - America/Noronha
              - America/North_Dakota/Beulah
              - America/North_Dakota/Center
              - America/North_Dakota/New_Salem
              - America/Nuuk
              - America/Ojinaga
              - America/Panama
              - America/Paramaribo
              - America/Phoenix
              - America/Port-au-Prince
              - America/Port_of_Spain
              - America/Porto_Velho
              - America/Puerto_Rico
              - America/Punta_Arenas
              - America/Rankin_Inlet
              - America/Recife
              - America/Regina
              - America/Resolute
              - America/Rio_Branco
              - America/Santarem
              - America/Santiago
              - America/Santo_Domingo
              - America/Sao_Paulo
              - America/Scoresbysund
              - America/Sitka
              - America/St_Barthelemy
              - America/St_Johns
              - America/St_Kitts
              - America/St_Lucia
              - America/St_Thomas
              - America/St_Vincent
              - America/Swift_Current
              - America/Tegucigalpa
              - America/Thule
              - America/Tijuana
              - America/Toronto
              - America/Tortola
              - America/Vancouver
              - America/Whitehorse
              - America/Winnipeg
              - America/Yakutat
              - Antarctica/Casey
              - Antarctica/Davis
              - Antarctica/DumontDUrville
              - Antarctica/Macquarie
              - Antarctica/Mawson
              - Antarctica/McMurdo
              - Antarctica/Palmer
              - Antarctica/Rothera
              - Antarctica/Syowa
              - Antarctica/Troll
              - Antarctica/Vostok
              - Arctic/Longyearbyen
              - Asia/Aden
              - Asia/Almaty
              - Asia/Amman
              - Asia/Anadyr
              - Asia/Aqtau
              - Asia/Aqtobe
              - Asia/Ashgabat
              - Asia/Atyrau
              - Asia/Baghdad
              - Asia/Bahrain
              - Asia/Baku
              - Asia/Bangkok
              - Asia/Barnaul
              - Asia/Beirut
              - Asia/Bishkek
              - Asia/Brunei
              - Asia/Chita
              - Asia/Choibalsan
              - Asia/Colombo
              - Asia/Damascus
              - Asia/Dhaka
              - Asia/Dili
              - Asia/Dubai
              - Asia/Dushanbe
              - Asia/Famagusta
              - Asia/Gaza
              - Asia/Hebron
              - Asia/Ho_Chi_Minh
              - Asia/Hong_Kong
              - Asia/Hovd
              - Asia/Irkutsk
              - Asia/Jakarta
              - Asia/Jayapura
              - Asia/Jerusalem
              - Asia/Kabul
              - Asia/Kamchatka
              - Asia/Karachi
              - Asia/Kathmandu
              - Asia/Khandyga
              - Asia/Kolkata
              - Asia/Krasnoyarsk
              - Asia/Kuala_Lumpur
              - Asia/Kuching
              - Asia/Kuwait
              - Asia/Macau
              - Asia/Magadan
              - Asia/Makassar
              - Asia/Manila
              - Asia/Muscat
              - Asia/Nicosia
              - Asia/Novokuznetsk
              - Asia/Novosibirsk
              - Asia/Omsk
              - Asia/Oral
              - Asia/Phnom_Penh
              - Asia/Pontianak
              - Asia/Pyongyang
              - Asia/Qatar
              - Asia/Qostanay
              - Asia/Qyzylorda
              - Asia/Riyadh
              - Asia/Sakhalin
              - Asia/Samarkand
              - Asia/Seoul
              - Asia/Shanghai
              - Asia/Singapore
              - Asia/Srednekolymsk
              - Asia/Taipei
              - Asia/Tashkent
              - Asia/Tbilisi
              - Asia/Tehran
              - Asia/Thimphu
              - Asia/Tokyo
              - Asia/Tomsk
              - Asia/Ulaanbaatar
              - Asia/Urumqi
              - Asia/Ust-Nera
              - Asia/Vientiane
              - Asia/Vladivostok
              - Asia/Yakutsk
              - Asia/Yangon
              - Asia/Yekaterinburg
              - Asia/Yerevan
              - Atlantic/Azores
              - Atlantic/Bermuda
              - Atlantic/Canary
              - Atlantic/Cape_Verde
              - Atlantic/Faroe
              - Atlantic/Madeira
              - Atlantic/Reykjavik
              - Atlantic/South_Georgia
              - Atlantic/St_Helena
              - Atlantic/Stanley
              - Australia/Adelaide
              - Australia/Brisbane
              - Australia/Broken_Hill
              - Australia/Darwin
              - Australia/Eucla
              - Australia/Hobart
              - Australia/Lindeman
              - Australia/Lord_Howe
              - Australia/Melbourne
              - Australia/Perth
              - Australia/Sydney
              - Canada/Atlantic
              - Canada/Central
              - Canada/Eastern
              - Canada/Mountain
              - Canada/Newfoundland
              - Canada/Pacific
              - Europe/Amsterdam
              - Europe/Andorra
              - Europe/Astrakhan
              - Europe/Athens
              - Europe/Belgrade
              - Europe/Berlin
              - Europe/Bratislava
              - Europe/Brussels
              - Europe/Bucharest
              - Europe/Budapest
              - Europe/Busingen
              - Europe/Chisinau
              - Europe/Copenhagen
              - Europe/Dublin
              - Europe/Gibraltar
              - Europe/Guernsey
              - Europe/Helsinki
              - Europe/Isle_of_Man
              - Europe/Istanbul
              - Europe/Jersey
              - Europe/Kaliningrad
              - Europe/Kirov
              - Europe/Kyiv
              - Europe/Lisbon
              - Europe/Ljubljana
              - Europe/London
              - Europe/Luxembourg
              - Europe/Madrid
              - Europe/Malta
              - Europe/Mariehamn
              - Europe/Minsk
              - Europe/Monaco
              - Europe/Moscow
              - Europe/Oslo
              - Europe/Paris
              - Europe/Podgorica
              - Europe/Prague
              - Europe/Riga
              - Europe/Rome
              - Europe/Samara
              - Europe/San_Marino
              - Europe/Sarajevo
              - Europe/Saratov
              - Europe/Simferopol
              - Europe/Skopje
              - Europe/Sofia
              - Europe/Stockholm
              - Europe/Tallinn
              - Europe/Tirane
              - Europe/Ulyanovsk
              - Europe/Vaduz
              - Europe/Vatican
              - Europe/Vienna
              - Europe/Vilnius
              - Europe/Volgograd
              - Europe/Warsaw
              - Europe/Zagreb
              - Europe/Zurich
              - GMT
              - Indian/Antananarivo
              - Indian/Chagos
              - Indian/Christmas
              - Indian/Cocos
              - Indian/Comoro
              - Indian/Kerguelen
              - Indian/Mahe
              - Indian/Maldives
              - Indian/Mauritius
              - Indian/Mayotte
              - Indian/Reunion
              - Pacific/Apia
              - Pacific/Auckland
              - Pacific/Bougainville
              - Pacific/Chatham
              - Pacific/Chuuk
              - Pacific/Easter
              - Pacific/Efate
              - Pacific/Fakaofo
              - Pacific/Fiji
              - Pacific/Funafuti
              - Pacific/Galapagos
              - Pacific/Gambier
              - Pacific/Guadalcanal
              - Pacific/Guam
              - Pacific/Honolulu
              - Pacific/Kanton
              - Pacific/Kiritimati
              - Pacific/Kosrae
              - Pacific/Kwajalein
              - Pacific/Majuro
              - Pacific/Marquesas
              - Pacific/Midway
              - Pacific/Nauru
              - Pacific/Niue
              - Pacific/Norfolk
              - Pacific/Noumea
              - Pacific/Pago_Pago
              - Pacific/Palau
              - Pacific/Pitcairn
              - Pacific/Pohnpei
              - Pacific/Port_Moresby
              - Pacific/Rarotonga
              - Pacific/Saipan
              - Pacific/Tahiti
              - Pacific/Tarawa
              - Pacific/Tongatapu
              - Pacific/Wake
              - Pacific/Wallis
              - US/Alaska
              - US/Arizona
              - US/Central
              - US/Eastern
              - US/Hawaii
              - US/Mountain
              - US/Pacific
              - UTC
              - ''
              - null
              type:
              - string
              - 'null'
            zip:
              default: ''
              maxLength: 10
              type: string
          required:
          - address_line1
          - name
          - practice
          - state
          type: object
        supervising_provider:
          format: int64
          readOnly: true
          type: integer
        visit_note_deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        visit_note_id:
          readOnly: true
          type: integer
        visit_note_signed_date:
          format: date-time
          readOnly: true
          type: string
      required:
      - billing_date
      - billing_error
      - billing_raw_error
      type: object
    DX:
      properties:
        icd10_code:
          type: string
        icd9_codes:
          items:
            type: string
          type: array
      required:
      - icd10_code
      type: object
    BillingStatusEnum:
      enum:
      - Unbilled
      - Billed
      - UnresolvedError
      - ResolvedError
      type: string
    NdcMeasureEnum:
      description: '* `GR` - GR

        * `F2` - F2

        * `ME` - ME

        * `ML` - ML

        * `UN` - UN'
      enum:
      - GR
      - F2
      - ME
      - ML
      - UN
      type: string
    BillUpdatePlaceOfServiceEnum:
      enum:
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - '18'
      - '19'
      - '20'
      - '21'
      - '22'
      - '23'
      - '24'
      - '25'
      - '26'
      - '27'
      - '31'
      - '32'
      - '33'
      - '34'
      - '41'
      - '42'
      - '49'
      - '50'
      - '51'
      - '52'
      - '53'
      - '54'
      - '55'
      - '56'
      - '57'
      - '60'
      - '61'
      - '62'
      - '65'
      - '66'
      - '71'
      - '72'
      - '81'
      - '99'
      type: string
    NullEnum:
      type: 'null'
    CPT:
      properties:
        cpt:
          type: string
        dxs:
          items:
            $ref: '#/components/schemas/DX'
          type: array
        modifier_1:
          maxLength: 2
          type:
          - string
          - 'null'
        modifier_2:
          maxLength: 2
          type:
          - string
          - 'null'
        modifier_3:
          maxLength: 2
          type:
          - string
          - 'null'
        modifier_4:
          maxLength: 2
          type:
          - string
          - 'null'
        ndc:
          maxLength: 11
          type:
          - string
          - 'null'
        ndc_dose:
          format: decimal
          pattern: ^-?\d{0,7}(?:\.\d{0,3})?$
          type:
          - string
          - 'null'
        ndc_measure:
          oneOf:
          - $ref: '#/components/schemas/NdcMeasureEnum'
          - $ref: '#/components/schemas/NullEnum'
        unit_charge:
          type: string
        units:
          type: string
      required:
      - cpt
      - dxs
      - unit_charge
      - units
      type: object
    ReferringProvider:
      properties:
        name:
          type: string
        npi:
          maxLength: 10
          type:
          - string
          - 'null'
        state:
          type: string
      required:
      - name
      - state
      type: object
    PaginatedBillList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/Bill'
          type: array
      required:
      - results
      type: object
    BillUpdate:
      properties:
        billing_date:
          description: The date the bill was billed. Required if marking a bill as processed.
          format: date-time
          type:
          - string
          - 'null'
        billing_error:
          description: The error message for the bill. Required if marking a bill as failed. This is the human readable error that users will see.
          maxLength: 200
          type:
          - string
          - 'null'
        billing_provider:
          format: int64
          type:
          - integer
          - 'null'
        billing_raw_error:
          description: Further details on the billing error. Optional when marking a bill as failed. Useful when debugging why a bill failed to process.
          type:
          - string
          - 'null'
        cpts:
          description: CPT objects for the bill.
          items:
            $ref: '#/components/schemas/CPT'
          type: array
        metadata:
          additionalProperties: {}
          type: object
        notes:
          description: Additional billing notes.
          maxLength: 1000
          type:
          - string
          - 'null'
        ordering_provider:
          description: The id of the provider who orders non-physician services for the patient.
          oneOf:
          - $ref: '#/components/schemas/ReferringProvider'
          - type: 'null'
        payment_amount:
          description: Dollar amount of the patient payment.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        place_of_service:
          oneOf:
          - $ref: '#/components/schemas/BillUpdatePlaceOfServiceEnum'
          - $ref: '#/components/schemas/NullEnum'
        practice:
          format: int64
          type: integer
        prior_authorization:
          maxLength: 50
          type:
          - string
          - 'null'
        ref_number:
          description: The reference number of the bill. Required if marking a bill as processed.
          type: string
        referring_provider:
          oneOf:
          - $ref: '#/components/schemas/ReferringProvider'
          - type: 'null'
        rendering_provider:
          format: int64
          type:
          - integer
          - 'null'
        service_location:
          description: The id of the service location the bill is associated with.
          format: int64
          type: integer
        supervising_provider:
          description: The id of the provider who has undertaken primary responsibility for the patient's health.
          format: int64
          type:
          - integer
          - 'null'
        visit_note:
          format: int64
          type: integer
      type: object
    Payment:
      properties:
        amount:
          format: decimal
          pattern: ^-?\d{0,10}(?:\.\d{0,2})?$
          type: string
        appointment:
          format: int64
          type:
          - integer
          - 'null'
        bill:
          format: int64
          type:
          - integer
          - 'null'
        create_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        delete_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        when_collected:
          format: date-time
          type: string
      required:
      - amount
      - when_collected
      type: object
    PatchedBillUpdate:
      properties:
        billing_date:
          description: The date the bill was billed. Required if marking a bill as processed.
          format: date-time
          type:
          - string
          - 'null'
        billing_error:
          description: The error message for the bill. Required if marking a bill as failed. This is the human readable error that users will see.
          maxLength: 200
          type:
          - string
          - 'null'
        billing_provider:
          format: int64
          type:
          - integer
          - 'null'
        billing_raw_error:
          description: Further details on the billing error. Optional when marking a bill as failed. Useful when debugging why a bill failed to process.
          type:
          - string
          - 'null'
        cpts:
          description: CPT objects for the bill.
          items:
            $ref: '#/components/schemas/CPT'
          type: array
        metadata:
          additionalProperties: {}
          type: object
        notes:
          description: Additional billing notes.
          maxLength: 1000
          type:
          - string
          - 'null'
        ordering_provider:
          description: The id of the provider who orders non-physician services for the patient.
          oneOf:
          - $ref: '#/components/schemas/ReferringProvider'
          - type: 'null'
        payment_amount:
          description: Dollar amount of the patient payment.
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        place_of_service:
          oneOf:
          - $ref: '#/components/schemas/BillUpdatePlaceOfServiceEnum'
          - $ref: '#/components/schemas/NullEnum'
        practice:
          format: int64
          type: integer
        prior_authorization:
          maxLength: 50
          type:
          - string
          - 'null'
        ref_number:
          description: The reference number of the bill. Required if marking a bill as processed.
          type: string
        referring_provider:
          oneOf:
          - $ref: '#/components/schemas/ReferringProvider'
          - type: 'null'
        rendering_provider:
          format: int64
          type:
          - integer
          - 'null'
        service_location:
          description: The id of the service location the bill is associated with.
          format: int64
          type: integer
        supervising_provider:
          description: The id of the provider who has undertaken primary responsibility for the patient's health.
          format: int64
          type:
          - integer
          - 'null'
        visit_note:
          format: int64
          type: integer
      type: object
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-billing-api.json
- elation-health-api-full-openapi.yaml
x-readme:
  headers: []
x-readme-fauxas: true
