openapi: 3.2.0
info:
  title: Elation Health Insurance Companies API
  version: '1.0'
  description: 'Operations tagged Insurance Companies across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-insurance-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Insurance Companies
paths:
  /insurance_companies/:
    get:
      summary: Find Insurance Companies
      description: ''
      operationId: find-insurance-companies
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: practice
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: carrier
        in: query
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/insurance_companies/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/insurance_companies/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/insurance_companies/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Insurance Companies
      security:
      - sec0: []
    post:
      summary: Create Insurance Company
      description: ''
      operationId: create-insurance-company
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - practice
              - carrier
              properties:
                practice:
                  type: integer
                  description: ID of practice this is for
                  format: int64
                carrier:
                  type: string
                  description: string(200). required
                address:
                  type: string
                  description: string(200). optional
                suite:
                  type: string
                  description: string(35). nullable. optional
                city:
                  type: string
                  description: string(50). optional
                state:
                  type: string
                  description: string(2). optional
                zip:
                  type: string
                  description: string(10). optional
                phone:
                  type: string
                  description: string(20). nullable. optional
                extension:
                  type: string
                  description: string(6). nullable. optional
                payer_id:
                  type: string
                  description: string(200). nullable. optional. The Payer ID of the insurance carrier.
                external_vendor_id:
                  type: string
                  description: string(200). optional. nullable. The ID used by a vendor to represent the carrier in their system.
                is_credentialed:
                  type: boolean
                  description: bool. optional. nullable. Whether or not the practice has credentials to submit claims to the carrier.
                aliases:
                  type: string
                  description: string(300). optional. nullable. A string used to create alternate terms that will come up in search results (for example "BC" for Blue Cross).
                insurance_type:
                  type: string
                  description: enum. optional. nullable. An enumerator representing the type of insurance the carrier offers.
                  enum:
                  - null
                  - commercial
                  - medicare
                  - medicare_supplement
                  - medicare_advantage
                  - medicaid
                  - managed_medicaid
                  - self_pay
                  - capitated
                  - workers_compensation_third_party_liability
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 70850314606,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"practice\": 12323,\n  \"carrier\": \"Test Carrier\",\n  \"address\": \"12345 Test Way\",\n  \"suite\": \"Test Suite\",\n  \"city\": \"Test City\",\n  \"state\": \"WA\",\n  \"zip\": \"12345\",\n  \"phone\": \"1112223333\",\n  \"extension\": \"234567\"\n}\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/insurance_companies/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n"
        samples-languages:
        - python
      tags:
      - Insurance Companies
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /insurance_companies/{id}/:
    get:
      summary: Get Insurance Company
      description: ''
      operationId: get-insurance-company
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 70850314606,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/insurance_companies/70850314606/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Insurance Companies
      security:
      - sec0: []
    delete:
      summary: Delete Insurance Company
      description: ''
      operationId: delete-insurance-company
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/insurance_companies/70850314606/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Insurance Companies
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /insurance_companies/:id/:
    patch:
      summary: Update Insurance Company
      description: ''
      operationId: update-insurance-company-2
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                practice:
                  type: integer
                  description: ID of practice this is for. Should match what currently exists
                  format: int64
                carrier:
                  type: string
                  description: string(200)
                address:
                  type: string
                  description: string(200). optional
                suite:
                  type: string
                  description: string(35). nullable. optional
                city:
                  type: string
                  description: string(50). optional
                state:
                  type: string
                  description: string(2). optional
                zip:
                  type: string
                  description: string(10). optional
                phone:
                  type: string
                  description: string(20). nullable. optional
                extension:
                  type: string
                  description: string(6). nullable. optional
                payer_id:
                  type: string
                  description: string(200). nullable. optional. The Payer ID of the insurance carrier.
                external_vendor_id:
                  type: string
                  description: string(200). optional. nullable. The ID used by a vendor to represent the carrier in their system.
                is_credentialed:
                  type: boolean
                  description: bool. optional. nullable. Whether or not the practice has credentials to submit claims to the carrier.
                aliases:
                  type: string
                  description: string(300). optional. nullable. A string used to create alternate terms that will come up in search results (for example "BC" for Blue Cross).
                insurance_type:
                  type: string
                  description: enum. optional. nullable. An enumerator representing the type of insurance the carrier offers.
                  enum:
                  - null
                  - commercial
                  - medicare
                  - medicare_supplement
                  - medicare_advantage
                  - medicaid
                  - managed_medicaid
                  - self_pay
                  - capitated
                  - workers_compensation_third_party_liability
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 70850314606,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"carrier\": \"Test Carrier\",\n  \"address\": \"67890 Test Way\"\n}\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/insurance_companies/70850314606/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n"
        samples-languages:
        - python
      tags:
      - Insurance Companies
      security:
      - sec0: []
    put:
      summary: Update Insurance Company
      description: ''
      operationId: update-insurance-company-1
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - practice
              - carrier
              properties:
                practice:
                  type: integer
                  description: ID of practice this is for. Should match what currently exists
                  format: int64
                carrier:
                  type: string
                  description: string(200). required
                address:
                  type: string
                  description: string(200). optional
                suite:
                  type: string
                  description: string(35). nullable. optional
                city:
                  type: string
                  description: string(50). optional
                state:
                  type: string
                  description: string(2). optional
                zip:
                  type: string
                  description: string(10). optional
                phone:
                  type: string
                  description: string(20). nullable. optional
                extension:
                  type: string
                  description: string(6). nullable. optional
                payer_id:
                  type: string
                  description: string(200). nullable. optional. The Payer ID of the insurance carrier.
                external_vendor_id:
                  type: string
                  description: string(200). optional. nullable. The ID used by a vendor to represent the carrier in their system.
                is_credentialed:
                  type: boolean
                  description: bool. optional. nullable. Whether or not the practice has credentials to submit claims to the carrier.
                aliases:
                  type: string
                  description: string(300). optional. nullable. A string used to create alternate terms that will come up in search results (for example "BC" for Blue Cross).
                insurance_type:
                  type: string
                  description: enum. optional. nullable. An enumerator representing the type of insurance the carrier offers.
                  enum:
                  - null
                  - commercial
                  - medicare
                  - medicare_supplement
                  - medicare_advantage
                  - medicaid
                  - managed_medicaid
                  - self_pay
                  - capitated
                  - workers_compensation_third_party_liability
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 70850314606,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"practice\": 12323,\n  \"carrier\": \"Test Carrier\",\n  \"address\": \"67890 Test Way\",\n  \"suite\": \"Test Suite\",\n  \"city\": \"Test City\",\n  \"state\": \"WA\",\n  \"zip\": \"12345\",\n  \"phone\": \"1112223333\",\n  \"extension\": \"234567\",\n  \"payer_id\": \"4307\",\n  \"external_vendor_id\": \"UNI30\",\n  \"is_credentialed\": True,\n  \"aliases\": \"BC, Blue C, BCross\",\n  \"insurance_type\": \"commercial\"\n}\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/insurance_companies/70850314606/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n"
        samples-languages:
        - python
      tags:
      - Insurance Companies
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/insurance_companies/:
    get:
      operationId: insurance_companies_list
      parameters:
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: carrier
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: practice
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInsuranceCompanyList'
          description: ''
      security:
      - oauth2: []
      summary: List Insurance Companies
      tags:
      - Insurance Companies
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new insurance company.
      operationId: insurance_companies_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceCompany'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceCompany'
          description: ''
      security:
      - oauth2: []
      summary: Create Insurance Company
      tags:
      - Insurance Companies
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/insurance_companies/{id}/:
    delete:
      description: Delete an existing insurance company.
      operationId: insurance_companies_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Insurance Company
      tags:
      - Insurance Companies
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      operationId: insurance_companies_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceCompanySingleInstance'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Insurance Company
      tags:
      - Insurance Companies
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing insurance company.
      operationId: insurance_companies_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedInsuranceCompanySingleInstance'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceCompanySingleInstance'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Insurance Company
      tags:
      - Insurance Companies
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing insurance company.
      operationId: insurance_companies_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceCompanySingleInstance'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceCompanySingleInstance'
          description: ''
      security:
      - oauth2: []
      summary: Update Insurance Company
      tags:
      - Insurance Companies
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    PatchedInsuranceCompanySingleInstance:
      properties:
        address:
          maxLength: 200
          type: string
        aliases:
          description: A string used to create alternate terms that will come up in search results (for example "BC" for Blue Cross).
          maxLength: 300
          type:
          - string
          - 'null'
        carrier:
          maxLength: 200
          type: string
        city:
          maxLength: 50
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        eligibility_payer_id:
          maxLength: 200
          type:
          - string
          - 'null'
        extension:
          maxLength: 6
          type:
          - string
          - 'null'
        external_vendor_id:
          description: The ID used by a vendor to represent the carrier in their system.
          maxLength: 200
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        insurance_type:
          description: An enumerator representing the type of insurance the carrier offers.
          oneOf:
          - $ref: '#/components/schemas/InsuranceTypeEnum'
          - $ref: '#/components/schemas/NullEnum'
        is_credentialed:
          description: Whether or not the practice has credentials to submit claims to the carrier.
          type:
          - boolean
          - 'null'
        is_enrolled:
          type:
          - boolean
          - 'null'
        patients:
          items:
            type: integer
          readOnly: true
          type: array
        payer_id:
          description: The Payer ID of the insurance carrier.
          maxLength: 200
          type:
          - string
          - 'null'
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        plans:
          items:
            type: integer
          readOnly: true
          type: array
        practice:
          format: int64
          type: integer
        state:
          maxLength: 2
          type: string
        suite:
          maxLength: 40
          type:
          - string
          - 'null'
        zip:
          maxLength: 10
          type: string
      type: object
    NullEnum:
      type: 'null'
    InsuranceCompany:
      properties:
        address:
          maxLength: 200
          type: string
        aliases:
          description: A string used to create alternate terms that will come up in search results (for example "BC" for Blue Cross).
          maxLength: 300
          type:
          - string
          - 'null'
        carrier:
          maxLength: 200
          type: string
        city:
          maxLength: 50
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        eligibility_payer_id:
          maxLength: 200
          type:
          - string
          - 'null'
        extension:
          maxLength: 6
          type:
          - string
          - 'null'
        external_vendor_id:
          description: The ID used by a vendor to represent the carrier in their system.
          maxLength: 200
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        insurance_type:
          description: An enumerator representing the type of insurance the carrier offers.
          oneOf:
          - $ref: '#/components/schemas/InsuranceTypeEnum'
          - $ref: '#/components/schemas/NullEnum'
        is_credentialed:
          description: Whether or not the practice has credentials to submit claims to the carrier.
          type:
          - boolean
          - 'null'
        is_enrolled:
          type:
          - boolean
          - 'null'
        payer_id:
          description: The Payer ID of the insurance carrier.
          maxLength: 200
          type:
          - string
          - 'null'
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        practice:
          format: int64
          type: integer
        state:
          maxLength: 2
          type: string
        suite:
          maxLength: 40
          type:
          - string
          - 'null'
        zip:
          maxLength: 10
          type: string
      required:
      - carrier
      - practice
      type: object
    PaginatedInsuranceCompanyList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/InsuranceCompany'
          type: array
      required:
      - results
      type: object
    InsuranceTypeEnum:
      enum:
      - Capitated
      - Commercial
      - Managed Medicaid
      - Medicaid
      - Medicare
      - Medicare Advantage
      - Medicare Supplement
      - Self Pay
      - Workers Compensation/Third Party Liability
      - None
      type: string
    InsuranceCompanySingleInstance:
      properties:
        address:
          maxLength: 200
          type: string
        aliases:
          description: A string used to create alternate terms that will come up in search results (for example "BC" for Blue Cross).
          maxLength: 300
          type:
          - string
          - 'null'
        carrier:
          maxLength: 200
          type: string
        city:
          maxLength: 50
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        eligibility_payer_id:
          maxLength: 200
          type:
          - string
          - 'null'
        extension:
          maxLength: 6
          type:
          - string
          - 'null'
        external_vendor_id:
          description: The ID used by a vendor to represent the carrier in their system.
          maxLength: 200
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        insurance_type:
          description: An enumerator representing the type of insurance the carrier offers.
          oneOf:
          - $ref: '#/components/schemas/InsuranceTypeEnum'
          - $ref: '#/components/schemas/NullEnum'
        is_credentialed:
          description: Whether or not the practice has credentials to submit claims to the carrier.
          type:
          - boolean
          - 'null'
        is_enrolled:
          type:
          - boolean
          - 'null'
        patients:
          items:
            type: integer
          readOnly: true
          type: array
        payer_id:
          description: The Payer ID of the insurance carrier.
          maxLength: 200
          type:
          - string
          - 'null'
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        plans:
          items:
            type: integer
          readOnly: true
          type: array
        practice:
          format: int64
          type: integer
        state:
          maxLength: 2
          type: string
        suite:
          maxLength: 40
          type:
          - string
          - 'null'
        zip:
          maxLength: 10
          type: string
      required:
      - carrier
      - practice
      type: object
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-insurance-api.json
x-readme:
  headers: []
x-readme-fauxas: true
