openapi: 3.2.0
info:
  title: Elation Health Thread Members API
  version: '1.0'
  description: 'Operations tagged Thread Members across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-messaging-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Thread Members
paths:
  /thread_members/{id}/:
    get:
      summary: Get Thread Member
      description: ''
      operationId: get-thread-member
      parameters:
      - name: id
        in: path
        description: The id of the thread member
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Thread Members
      security:
      - sec0: []
    patch:
      summary: Update Thread Member
      description: ''
      operationId: update-thread-member
      parameters:
      - name: id
        in: path
        description: The id of the thread member
        schema:
          type: integer
          format: int32
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: The status of the thread member, e.g. whether they've acknowledged the thread.
                  enum:
                  - Addressed
                  - Requiring Action
                ack_time:
                  type: string
                  description: The timestamp when the thread member acknowledged the thread.
                  format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Thread Members
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /thread_members/:
    get:
      summary: Find Thread Members
      description: ''
      operationId: find-thread-members
      parameters:
      - name: patient
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: practice
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: user
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: group
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: status
        in: query
        description: Either Addressed or ReqAct
        schema:
          type: string
      - name: ack_time
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Thread Members
      security:
      - sec0: []
    post:
      summary: Create Thread Member
      description: ''
      operationId: create-thread-member
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - thread
              properties:
                thread:
                  type: integer
                  description: The thread this Thread Member is a member of
                  format: int32
                user:
                  type: integer
                  description: The id of the user that is a member of the thread. Either user or group is required for POST.
                  format: int32
                group:
                  type: integer
                  description: The id of the group that is a member of this thread. Either user or group is required for POST.
                  format: int32
                status:
                  type: string
                  description: The status of the member
                  enum:
                  - Addressed
                  - Requiring Action
                ack_time:
                  type: string
                  description: The time at which this thread was acknowledged
                  format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Thread Members
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /thread_members/{id}:
    delete:
      summary: Delete Thread Member
      description: ''
      operationId: delete-thread-member
      parameters:
      - name: id
        in: path
        description: Id of the thread member
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Thread Members
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/thread_members/:
    get:
      operationId: thread_members_list
      parameters:
      - in: query
        name: ack_time
        schema:
          format: date-time
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: group
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: patient
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: practice
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - in: query
        name: status
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: thread
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: user
        schema:
          items:
            type: integer
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedThreadMemberList'
          description: ''
      security:
      - oauth2: []
      summary: List Thread Members
      tags:
      - Thread Members
      x-el8-docs-category: Messaging API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new thread member.
      operationId: thread_members_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadMember'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadMember'
          description: ''
      security:
      - oauth2: []
      summary: Create Thread Member
      tags:
      - Thread Members
      x-el8-docs-category: Messaging API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/thread_members/{id}/:
    delete:
      description: Delete an existing thread member.
      operationId: thread_members_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Thread Member
      tags:
      - Thread Members
      x-el8-docs-category: Messaging API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      operationId: thread_members_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadMember'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Thread Member
      tags:
      - Thread Members
      x-el8-docs-category: Messaging API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing thread member.
      operationId: thread_members_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedThreadMember'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadMember'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Thread Member
      tags:
      - Thread Members
      x-el8-docs-category: Messaging API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing thread member.
      operationId: thread_members_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadMember'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadMember'
          description: ''
      security:
      - oauth2: []
      summary: Update Thread Member
      tags:
      - Thread Members
      x-el8-docs-category: Messaging API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    ThreadMember:
      properties:
        ack_time:
          description: The time at which the member acknowledged the message thread.
          format: date-time
          type: string
        group:
          description: The id of the group referenced by this thread member. Should only ever be one of either a user or group set for the thread member.
          format: int64
          type:
          - integer
          - 'null'
        id:
          readOnly: true
          type: integer
        status:
          allOf:
          - $ref: '#/components/schemas/ThreadMemberStatusEnum'
          description: Whether this member has acknowledged the message thread.
        thread:
          description: The id of the thread this thread member is a member of.
          format: int64
          type: integer
        user:
          description: The id of the user referenced by this thread member. Should only ever be one of either a user or group set for the thread member.
          type:
          - integer
          - 'null'
      required:
      - status
      type: object
    PatchedThreadMember:
      properties:
        ack_time:
          description: The time at which the member acknowledged the message thread.
          format: date-time
          type: string
        group:
          description: The id of the group referenced by this thread member. Should only ever be one of either a user or group set for the thread member.
          format: int64
          type:
          - integer
          - 'null'
        id:
          readOnly: true
          type: integer
        status:
          allOf:
          - $ref: '#/components/schemas/ThreadMemberStatusEnum'
          description: Whether this member has acknowledged the message thread.
        thread:
          description: The id of the thread this thread member is a member of.
          format: int64
          type: integer
        user:
          description: The id of the user referenced by this thread member. Should only ever be one of either a user or group set for the thread member.
          type:
          - integer
          - 'null'
      type: object
    PaginatedThreadMemberList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/ThreadMember'
          type: array
      required:
      - results
      type: object
    ThreadMemberStatusEnum:
      enum:
      - Addressed
      - Requiring Action
      type: string
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-messaging-api.json
x-readme:
  headers: []
x-readme-fauxas: true
