openapi: 3.2.0
info:
  title: Settings Medication Refills API
  version: unknown
servers:
- url: https://sandbox.elationemr.com/api/2.0
security:
- sec0: []
tags:
- name: Medication Refills
paths:
  /medication_refills/{id}/:
    get:
      summary: Get Refill
      description: ''
      operationId: get-refill
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: text
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/medication_refills/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - text
      tags:
      - Medication Refills
  /medication_refills/:
    get:
      summary: Find Refills
      description: ''
      operationId: wip-find-refills
      parameters:
      - name: patient
        in: query
        description: Prescribed patient
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: practice
        in: query
        description: The doctor's practice
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: received_date__gte
        in: query
        description: Date of receiving a drug
        schema:
          type: string
          format: date
      - name: received_date__lte
        in: query
        description: Date of receiving a drug
        schema:
          type: string
          format: date
      - name: prescriber
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/medication_refills/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/medication_refills/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: text
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/medication_refills/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - text
      tags:
      - Medication Refills
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
x-readme:
  headers: []
x-readme-fauxas: true
