openapi: 3.2.0
info:
  title: Settings Packaged Medication Labelers API
  version: unknown
servers:
- url: https://sandbox.elationemr.com/api/2.0
security:
- sec0: []
tags:
- name: Packaged Medication Labelers
paths:
  /packaged_medication_labelers/:
    get:
      summary: Find Packaged Medication Labelers
      description: ''
      operationId: find-packaged-medication-labelers
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: The name of the packaged medication labeler
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Packaged Medication Labelers
  /packaged_medication_labelers/{id}/:
    get:
      summary: Get Packaged Medication Labeler
      description: ''
      operationId: get-packaged-medication-labeler
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Packaged Medication Labelers
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
x-readme:
  headers: []
x-readme-fauxas: true
