openapi: 3.2.0
info:
  title: Elation Health Insurance Plans API
  version: '1.0'
  description: 'Operations tagged Insurance Plans across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-insurance-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Insurance Plans
paths:
  /insurance_plans/{id}/:
    get:
      summary: Get Insurance Plan
      description: ''
      operationId: get-insurance-plan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 70850380143,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/insurance_plans/70850380143/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Insurance Plans
      security:
      - sec0: []
    delete:
      summary: Delete Insurance Plan
      description: ''
      operationId: delete-insurance-plan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/insurance_plans/70850380143/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Insurance Plans
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /insurance_plans/:
    get:
      summary: Find Insurance Plans
      description: ''
      operationId: find-insurance-plans
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: practice
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: insurance_company
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/insurance_plans/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/insurance_plans/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/insurance_plans/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Insurance Plans
      security:
      - sec0: []
    post:
      summary: Create Insurance Plan
      description: ''
      operationId: create-insurance-plan
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - practice
              - insurance_company
              - name
              properties:
                practice:
                  type: integer
                  description: ID of practice this is for
                  format: int64
                insurance_company:
                  type: integer
                  description: insurance company to tie the plan to.
                  format: int64
                name:
                  type: string
                  description: string(200). required
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 70850380143,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"practice\": 12323,\n  \"insurance_company\": 70850314606,\n  \"name\": \"Gold PPO 1234\"\n}\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/insurance_plans/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n"
        samples-languages:
        - python
      tags:
      - Insurance Plans
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /insurance_plans/:id/:
    put:
      summary: Update Insurance Plan
      description: ''
      operationId: update-insurance-plan
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - practice
              - insurance_company
              - name
              properties:
                practice:
                  type: integer
                  description: ID of practice this is for. Should match what currently exists
                  format: int64
                insurance_company:
                  type: integer
                  description: insurance company to tie the plan to. Should match what currently exists.
                  format: int64
                name:
                  type: string
                  description: string(200). required
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 70850380143,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"practice\": 12323,\n  \"insurance_company\": 70850314606,\n  \"name\": \"Bronze PPO 1234\"\n}\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/insurance_plans/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n"
        samples-languages:
        - python
      tags:
      - Insurance Plans
      security:
      - sec0: []
    patch:
      summary: Update Insurance Plan
      description: ''
      operationId: update-insurance-plan-1
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                practice:
                  type: integer
                  description: ID of practice this is for. Should match what currently exists
                  format: int64
                insurance_company:
                  type: integer
                  description: insurance company to tie the plan to. Should match what currently exists.
                  format: int64
                name:
                  type: string
                  description: string(200).
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 70850380143,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"name\": \"Bronze PPO 1234\"\n}\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/insurance_plans/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n"
        samples-languages:
        - python
      tags:
      - Insurance Plans
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/insurance_plans/:
    get:
      operationId: insurance_plans_list
      parameters:
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: insurance_company
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: practice
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInsurancePlanList'
          description: ''
      security:
      - oauth2: []
      summary: List Insurance Plans
      tags:
      - Insurance Plans
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new insurance plan.
      operationId: insurance_plans_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsurancePlan'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsurancePlan'
          description: ''
      security:
      - oauth2: []
      summary: Create Insurance Plan
      tags:
      - Insurance Plans
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/insurance_plans/{id}/:
    delete:
      description: Delete an existing insurance plan.
      operationId: insurance_plans_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Insurance Plan
      tags:
      - Insurance Plans
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      operationId: insurance_plans_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsurancePlanSingleInstance'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Insurance Plan
      tags:
      - Insurance Plans
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing insurance plan.
      operationId: insurance_plans_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedInsurancePlanSingleInstance'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsurancePlanSingleInstance'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Insurance Plan
      tags:
      - Insurance Plans
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing insurance plan.
      operationId: insurance_plans_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsurancePlanSingleInstance'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsurancePlanSingleInstance'
          description: ''
      security:
      - oauth2: []
      summary: Update Insurance Plan
      tags:
      - Insurance Plans
      x-el8-docs-category: Insurance API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    InsurancePlan:
      properties:
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        insurance_company:
          description: The insurance company that the plan is associated with.
          format: int64
          type: integer
        name:
          maxLength: 200
          type: string
        practice:
          format: int64
          type: integer
      required:
      - insurance_company
      - name
      - practice
      type: object
    PaginatedInsurancePlanList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/InsurancePlan'
          type: array
      required:
      - results
      type: object
    PatchedInsurancePlanSingleInstance:
      properties:
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        insurance_company:
          description: The insurance company that the plan is associated with.
          format: int64
          type: integer
        name:
          maxLength: 200
          type: string
        patients:
          items:
            type: integer
          readOnly: true
          type: array
        practice:
          format: int64
          type: integer
      type: object
    InsurancePlanSingleInstance:
      properties:
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        insurance_company:
          description: The insurance company that the plan is associated with.
          format: int64
          type: integer
        name:
          maxLength: 200
          type: string
        patients:
          items:
            type: integer
          readOnly: true
          type: array
        practice:
          format: int64
          type: integer
      required:
      - insurance_company
      - name
      - practice
      type: object
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-insurance-api.json
x-readme:
  headers: []
x-readme-fauxas: true
