openapi: 3.2.0
info:
  title: Elation Health Lab Orders API
  version: '1.0'
  description: 'Operations tagged Lab Orders across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-health-elation-health-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
- url: https://app.elationemr.com/api/2.0
  description: Production
tags:
- name: Lab Orders
paths:
  /lab_orders/:
    get:
      summary: Find Lab Orders
      description: ''
      operationId: find-lab-orders
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: integer
          format: int32
      - name: practice
        in: query
        schema:
          type: integer
          format: int32
      - name: unsigned
        in: query
        schema:
          type: boolean
      - name: from_signed_date
        in: query
        schema:
          type: string
          format: date
      - name: to_signed_date
        in: query
        schema:
          type: string
          format: date
      - name: document_date__gt
        in: query
        schema:
          type: string
          format: date
      - name: document_date__gte
        in: query
        schema:
          type: string
          format: date
      - name: document_date__lt
        in: query
        schema:
          type: string
          format: date
      - name: document_date__lte
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/lab_orders/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/lab_orders/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/lab_orders/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Lab Orders
      security:
      - sec0: []
    post:
      summary: Create Lab Order
      description: ''
      operationId: create-lab-order
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - document_date
              - ordering_physician
              - patient
              - practice
              properties:
                answers:
                  type: array
                  description: Value must be Lab for laboratory reports
                  items:
                    properties:
                      test:
                        type: integer
                        format: int32
                      question:
                        type: integer
                        format: int32
                      value:
                        type: string
                    required:
                    - test
                    - question
                    - value
                    type: object
                bill_type:
                  type: string
                  enum:
                  - ("thirdparty"
                  - '"Third Party (e.g. Insurance)")'
                  - ("patient"
                  - '"Patient")'
                  - ("client"
                  - '"Client")'
                  - ("workerscomp"
                  - '"Worker''s Comp")'
                  - ("specialbilling"
                  - '"Special Billing")'
                ccs:
                  type: array
                  description: Physician id
                  items:
                    type: integer
                    format: int32
                chart_date:
                  type: string
                  format: date
                confidential:
                  type: boolean
                content:
                  type: object
                  description: The Lab Order Content Object
                  properties:
                    tests:
                      type: array
                      description: LabOrderTest id
                      items:
                        properties:
                          id:
                            type: integer
                            description: object id
                            format: int64
                        required:
                        - id
                        type: object
                    stat_method:
                      type: string
                      enum:
                      - wet_reading_phone
                      - wet_reading_fax
                      - stat_phone
                      - stat_fax
                      - stat_phone_fax
                    patient_instructions:
                      type: string
                    test_center_notes:
                      type: string
                    fasting_method:
                      type: string
                      enum:
                      - fasting_12_hour
                      - fasting_8_hours
                      - fasting_2_hours
                      - fasting_none
                      - fasting_random
                    standing_order_frequency:
                      type: string
                    standing_order_end_date:
                      type: string
                      format: date
                    collection_datetime:
                      type: string
                      format: date
                    icd10_codes:
                      type: array
                      items:
                        properties:
                          code:
                            type: string
                            description: icd10 code
                        type: object
                document_date:
                  type: string
                  format: date
                facility:
                  type: object
                  required:
                  - id
                  properties:
                    id:
                      type: integer
                      description: object id
                      format: int64
                follow_up_method:
                  type: string
                ordering_physician:
                  type: integer
                  format: int32
                patient:
                  type: integer
                  format: int32
                practice:
                  type: integer
                  format: int32
                resolution:
                  type: object
                  required:
                  - state
                  properties:
                    state:
                      type: string
                      enum:
                      - ("outstanding"
                      - '"Outstanding")'
                      - ("fulfilled"
                      - '"Fulfilled")'
                      - ("cancelled"
                      - '"Cancelled")'
                    resolving_document:
                      type: integer
                      description: The document id (requisition id number)
                      format: int32
                site:
                  type: integer
                  description: The location where the patient will have the lab performed.   Sites are specific to their lab vendor.
                  format: int32
                tags:
                  type: array
                  description: List of Coded Document Tags.
                  items:
                    type: integer
                    format: int32
                test_date:
                  type: string
                  format: date
                vendor:
                  type: integer
                  format: int32
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"answers\": [\n        {\n            \"id\": 140758874784147,\n            \"test\": 140755679510590,\n            \"question\": 67220537746,\n            \"value\": \"v1\",\n            \"created_date\": \"2022-06-07T21:06:44Z\",\n            \"deleted_date\": null\n        }\n    ],\n    \"bill_type\": \"Worker's Comp\",\n    \"ccs\": [\n        140755710312450\n    ],\n    \"chart_date\": \"2002-06-07T12:55:44.059474Z\",\n    \"confidential\": true,\n    \"content\": {\n        \"collection_datetime\": \"2002-06-07T12:55:44.059474Z\",\n        \"fasting_method\": \"fasting_12_hour\",\n        \"icd10_codes\": [\n            {\n                \"code\": \"Z3A.23\",\n                \"description\": \"23 weeks gestation of pregnancy\"\n            }\n        ],\n        \"id\": 140758874587237,\n        \"patient_instructions\": \"23\",\n        \"standing_order_end_date\": \"2002-06-07\",\n        \"standing_order_frequency\": \"null\",\n        \"stat_method\": \"wet_reading_phone\",\n        \"test_center_notes\": \"11\",\n        \"tests\": [\n            {\n                \"code\": null,\n                \"compendium\": null,\n                \"cpts\": [],\n                \"created_date\": \"2014-05-09T20:34:33Z\",\n                \"deleted_date\": null,\n                \"id\": 24504107070,\n                \"lab_vendor\": null,\n                \"name\": \"TSH\",\n                \"practice_created\": 65540,\n                \"procedure_class\": null,\n                \"questions\": [],\n                \"synonyms\": []\n            }\n        ]\n    },\n    \"created_date\": \"2022-06-07T21:06:43.614753Z\",\n    \"document_date\": \"2022-06-06T15:27:52Z\",\n    \"facility\": {\n        \"id\": 140743194837419,\n        \"vendor\": {\n            \"id\": 67186196726,\n            \"name\": \"labcorp\",\n            \"display_name\": \"LabCorp\"\n        },\n        \"practice_facility\": \"practice\",\n        \"practice_secondary_id\": null,\n        \"lab_facility\": \"labcorp\",\n        \"description\": \"Labcorp e-ordering\",\n        \"user_facing\": true,\n        \"compendium\": 140745672294843,\n        \"deleted_date\": null,\n        \"created_date\": \"2019-10-04T05:37:38Z\",\n        \"active\": true,\n        \"practice\": 65540\n    },\n    \"follow_up_method\": \"fol1\",\n    \"id\": 140758874652705,\n    \"ordering_physician\": 140758834544642,\n    \"patient\": 140758838542337,\n    \"practice\": 140758831005700,\n    \"requisition\": 140758874652705,\n    \"resolution\": {\n        \"id\": \"140758874849685\",\n        \"document\": \"<class 'elation.orders.models.LabOrder'>: 140758874652705\",\n        \"resolving_document\": 140758868754465,\n        \"state\": \"outstanding\",\n        \"note\": null,\n        \"created_date\": \"2022-06-07T21:06:44Z\",\n        \"deleted_date\": null\n    },\n    \"signed_by\": null,\n    \"signed_date\": null,\n    \"site\": {\n        \"address\": \"94-307 Farrington Hwy\",\n        \"city\": \"Waipahu\",\n        \"created_date\": \"2017-01-26T22:06:57Z\",\n        \"deleted_date\": null,\n        \"fax\": \"8086773731\",\n        \"id\": 68827742612,\n        \"name\": \"CLH\",\n        \"phone\": \"8086773870\",\n        \"practice_created\": null,\n        \"state\": \"HI\",\n        \"suite\": \"Suite B4\",\n        \"vendor\": {\n            \"id\": 67556802806,\n            \"name\": \"Clinical Labs of Hawaii\",\n            \"display_name\": \"Clinical Labs of Hawaii\"\n        },\n        \"zip\": \"96797\"\n    },\n    \"special_insurance\": null,\n    \"submissions\": [],\n    \"specimens\": [],\n    \"tags\": [\n        {\n            \"code\": \"408289007\",\n            \"code_type\": 2,\n            \"concept_name\": \"wt-mgmt-referral\",\n            \"context\": null,\n            \"created_date\": \"2015-07-23T19:30:51Z\",\n            \"deleted_date\": \"2019-05-29T00:06:03Z\",\n            \"description\": \"Referral to weight management program\",\n            \"id\": 58719011162,\n            \"practice_created\": null,\n            \"snomed_result_code\": null,\n            \"value\": \"CQM: Ref to Wt Mgt Program\"\n        }\n    ],\n    \"test_date\": \"2002-06-07\",\n    \"vendor\": 67191701750,\n    \"printable_view\": \"http://127.0.0.1/api/2.0/lab_orders/140758874652705/printable\"\n}"
              schema:
                type: object
                properties:
                  answers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 140758874784147
                          default: 0
                        test:
                          type: integer
                          example: 140755679510590
                          default: 0
                        question:
                          type: integer
                          example: 67220537746
                          default: 0
                        value:
                          type: string
                          example: v1
                        created_date:
                          type: string
                          example: '2022-06-07T21:06:44Z'
                        deleted_date: {}
                  bill_type:
                    type: string
                    example: Worker's Comp
                  ccs:
                    type: array
                    items:
                      type: integer
                      example: 140755710312450
                      default: 0
                  chart_date:
                    type: string
                    example: '2002-06-07T12:55:44.059474Z'
                  confidential:
                    type: boolean
                    example: true
                    default: true
                  content:
                    type: object
                    properties:
                      collection_datetime:
                        type: string
                        example: '2002-06-07T12:55:44.059474Z'
                      fasting_method:
                        type: string
                        example: fasting_12_hour
                      icd10_codes:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              example: Z3A.23
                            description:
                              type: string
                              example: 23 weeks gestation of pregnancy
                      id:
                        type: integer
                        example: 140758874587237
                        default: 0
                      patient_instructions:
                        type: string
                        example: '23'
                      standing_order_end_date:
                        type: string
                        example: '2002-06-07'
                      standing_order_frequency:
                        type: string
                        example: 'null'
                      stat_method:
                        type: string
                        example: wet_reading_phone
                      test_center_notes:
                        type: string
                        example: '11'
                      tests:
                        type: array
                        items:
                          type: object
                          properties:
                            code: {}
                            compendium: {}
                            cpts:
                              type: array
                            created_date:
                              type: string
                              example: '2014-05-09T20:34:33Z'
                            deleted_date: {}
                            id:
                              type: integer
                              example: 24504107070
                              default: 0
                            lab_vendor: {}
                            name:
                              type: string
                              example: TSH
                            practice_created:
                              type: integer
                              example: 65540
                              default: 0
                            procedure_class: {}
                            questions:
                              type: array
                            synonyms:
                              type: array
                  created_date:
                    type: string
                    example: '2022-06-07T21:06:43.614753Z'
                  document_date:
                    type: string
                    example: '2022-06-06T15:27:52Z'
                  facility:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 140743194837419
                        default: 0
                      vendor:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 67186196726
                            default: 0
                          name:
                            type: string
                            example: labcorp
                          display_name:
                            type: string
                            example: LabCorp
                      practice_facility:
                        type: string
                        example: practice
                      practice_secondary_id: {}
                      lab_facility:
                        type: string
                        example: labcorp
                      description:
                        type: string
                        example: Labcorp e-ordering
                      user_facing:
                        type: boolean
                        example: true
                        default: true
                      compendium:
                        type: integer
                        example: 140745672294843
                        default: 0
                      deleted_date: {}
                      created_date:
                        type: string
                        example: '2019-10-04T05:37:38Z'
                      active:
                        type: boolean
                        example: true
                        default: true
                      practice:
                        type: integer
                        example: 65540
                        default: 0
                  follow_up_method:
                    type: string
                    example: fol1
                  id:
                    type: integer
                    example: 140758874652705
                    default: 0
                  ordering_physician:
                    type: integer
                    example: 140758834544642
                    default: 0
                  patient:
                    type: integer
                    example: 140758838542337
                    default: 0
                  practice:
                    type: integer
                    example: 140758831005700
                    default: 0
                  requisition:
                    type: integer
                    example: 140758874652705
                    default: 0
                  resolution:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '140758874849685'
                      document:
                        type: string
                        example: '<class ''elation.orders.models.LabOrder''>: 140758874652705'
                      resolving_document:
                        type: integer
                        example: 140758868754465
                        default: 0
                      state:
                        type: string
                        example: outstanding
                      note: {}
                      created_date:
                        type: string
                        example: '2022-06-07T21:06:44Z'
                      deleted_date: {}
                  signed_by: {}
                  signed_date: {}
                  site:
                    type: object
                    properties:
                      address:
                        type: string
                        example: 94-307 Farrington Hwy
                      city:
                        type: string
                        example: Waipahu
                      created_date:
                        type: string
                        example: '2017-01-26T22:06:57Z'
                      deleted_date: {}
                      fax:
                        type: string
                        example: '8086773731'
                      id:
                        type: integer
                        example: 68827742612
                        default: 0
                      name:
                        type: string
                        example: CLH
                      phone:
                        type: string
                        example: '8086773870'
                      practice_created: {}
                      state:
                        type: string
                        example: HI
                      suite:
                        type: string
                        example: Suite B4
                      vendor:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 67556802806
                            default: 0
                          name:
                            type: string
                            example: Clinical Labs of Hawaii
                          display_name:
                            type: string
                            example: Clinical Labs of Hawaii
                      zip:
                        type: string
                        example: '96797'
                  special_insurance: {}
                  submissions:
                    type: array
                  specimens:
                    type: array
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: '408289007'
                        code_type:
                          type: integer
                          example: 2
                          default: 0
                        concept_name:
                          type: string
                          example: wt-mgmt-referral
                        context: {}
                        created_date:
                          type: string
                          example: '2015-07-23T19:30:51Z'
                        deleted_date:
                          type: string
                          example: '2019-05-29T00:06:03Z'
                        description:
                          type: string
                          example: Referral to weight management program
                        id:
                          type: integer
                          example: 58719011162
                          default: 0
                        practice_created: {}
                        snomed_result_code: {}
                        value:
                          type: string
                          example: 'CQM: Ref to Wt Mgt Program'
                  test_date:
                    type: string
                    example: '2002-06-07'
                  vendor:
                    type: integer
                    example: 67191701750
                    default: 0
                  printable_view:
                    type: string
                    example: http://127.0.0.1/api/2.0/lab_orders/140758874652705/printable
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n    \"site\": 68827742612,\n    \"answers\": [\n        {\n            \"question\": 67220537746,\n            \"test\": 140755679510590,\n            \"value\": \"v1\"\n        }\n    ],\n    \"bill_type\": \"Worker's Comp\",\n    \"ccs\": [\n        140755710312450\n    ],\n    \"content\": {\n        \"collection_datetime\": \"2002-06-07T12:55:44.059474Z\",\n        \"fasting_method\": \"fasting_12_hour\",\n        \"icd10_codes\": [\n            {\"code\": \"Z3A.23\"}\n        ],\n        \"patient_instructions\": \"23\",\n        \"standing_order_end_date\": \"2002-06-07\",\n        \"standing_order_frequency\": \"null\",\n        \"stat_method\": \"wet_reading_phone\",\n        \"test_center_notes\": \"11\",\n        \"tests\": [\n          {\"id\": 24504107070}\n        ]\n    },\n    \"chart_date\": \"2002-06-07T12:55:44.059474Z\",\n    \"confidential\": true,\n    \"document_date\": \"2022-06-06T15:27:52Z\",\n    \"facility\": {\"id\": 140743194837419},\n    \"follow_up_method\": \"fol1\",\n    \"ordering_physician\": 140758834544642,\n    \"patient\": 140758838542337,\n    \"practice\": 140758831005700,\n    \"resolution\": {\n        \"state\": \"outstanding\",\n        \"resolving_document\": 140758868754465\n    },\n    \"tags\": [\n      58719011162\n    ],\n    \"test_date\": \"2002-06-07\",\n    \"vendor\": 67191701750\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/lab_orders/\",\n                     json=data,\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(resp.text)"
        samples-languages:
        - python
      tags:
      - Lab Orders
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /lab_orders/{id}/printable:
    get:
      summary: Retrieve the Printable Lab Order View
      description: 'Providers are able to print a view of the lab order including the data provided behind this endpoint.


        Each lab order response includes a link to obtain this view; a PDF file.


        When you GET the link you''ll receive a response with application/pdf and the bytes of the PDF.'
      operationId: retrieve-the-printable-lab-order-view
      parameters:
      - name: lab_order_id
        in: path
        description: The Report's id.
        schema:
          type: integer
          format: int32
        required: true
      - name: print_header
        in: query
        description: The id of the print header that you want to use for the printable view
        schema:
          type: integer
          format: int32
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\nreport_id = 2345\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/lab_orders/{lab_order_id}/printable\".format(report_id=report_id),\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nwith open('/tmp/out.pdf', 'wb') as outpdf:\n    outpdf.write(resp.content)"
        samples-languages:
        - python
      tags:
      - Lab Orders
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /lab_orders/{id}:
    get:
      summary: Get Lab Order
      description: ''
      operationId: get-lab-order
      parameters:
      - name: id
        in: path
        description: The object id
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"answers\": [],\n    \"bill_type\": \"\",\n    \"ccs\": [],\n    \"chart_date\": \"2022-05-31T16:23:41Z\",\n    \"confidential\": false,\n    \"content\": {\n        \"collection_datetime\": \"2022-05-31T16:23:00Z\",\n        \"fasting_method\": \"fasting_12_hour\",\n        \"icd10_codes\": [\n            {\n                \"code\": \"Z51.0\",\n                \"description\": \"Encounter for antineoplastic radiation therapy\"\n            }\n        ],\n        \"id\": 140758879240293,\n        \"patient_instructions\": \"\",\n        \"standing_order_end_date\": null,\n        \"standing_order_frequency\": \"\",\n        \"stat_method\": \"\",\n        \"test_center_notes\": \"\",\n        \"tests\": [\n            {\n                \"code\": \"\",\n                \"compendium\": null,\n                \"cpts\": [],\n                \"created_date\": \"2020-01-27T16:17:44Z\",\n                \"deleted_date\": null,\n                \"id\": 140748310052926,\n                \"lab_vendor\": null,\n                \"name\": \"Testosterone\",\n                \"practice_created\": null,\n                \"procedure_class\": null,\n                \"questions\": [],\n                \"synonyms\": []\n            }\n        ]\n    },\n    \"created_date\": \"2022-05-31T16:23:41Z\",\n    \"document_date\": \"2022-05-31T16:23:40Z\",\n    \"facility\": null,\n    \"follow_up_method\": \"\",\n    \"id\": 140758879305761,\n    \"ordering_physician\": 140758867050498,\n    \"patient\": 140758871048193,\n    \"practice\": 140758863511556,\n    \"requisition\": 140758879305761,\n    \"resolution\": null,\n    \"signed_by\": 140758867050498,\n    \"signed_date\": \"2022-05-31T16:23:41Z\",\n    \"site\": null,\n    \"special_insurance\": null,\n    \"submissions\": [],\n    \"specimens\": [],\n    \"tags\": [],\n    \"test_date\": null,\n    \"vendor\": 67186196726,\n    \"printable_view\": \"http://127.0.0.1/api/2.0/lab_orders/140758879305761/printable\"\n}"
              schema:
                type: object
                properties:
                  answers:
                    type: array
                  bill_type:
                    type: string
                    example: ''
                  ccs:
                    type: array
                  chart_date:
                    type: string
                    example: '2022-05-31T16:23:41Z'
                  confidential:
                    type: boolean
                    example: false
                    default: true
                  content:
                    type: object
                    properties:
                      collection_datetime:
                        type: string
                        example: '2022-05-31T16:23:00Z'
                      fasting_method:
                        type: string
                        example: fasting_12_hour
                      icd10_codes:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              example: Z51.0
                            description:
                              type: string
                              example: Encounter for antineoplastic radiation therapy
                      id:
                        type: integer
                        example: 140758879240293
                        default: 0
                      patient_instructions:
                        type: string
                        example: ''
                      standing_order_end_date: {}
                      standing_order_frequency:
                        type: string
                        example: ''
                      stat_method:
                        type: string
                        example: ''
                      test_center_notes:
                        type: string
                        example: ''
                      tests:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              example: ''
                            compendium: {}
                            cpts:
                              type: array
                            created_date:
                              type: string
                              example: '2020-01-27T16:17:44Z'
                            deleted_date: {}
                            id:
                              type: integer
                              example: 140748310052926
                              default: 0
                            lab_vendor: {}
                            name:
                              type: string
                              example: Testosterone
                            practice_created: {}
                            procedure_class: {}
                            questions:
                              type: array
                            synonyms:
                              type: array
                  created_date:
                    type: string
                    example: '2022-05-31T16:23:41Z'
                  document_date:
                    type: string
                    example: '2022-05-31T16:23:40Z'
                  facility: {}
                  follow_up_method:
                    type: string
                    example: ''
                  id:
                    type: integer
                    example: 140758879305761
                    default: 0
                  ordering_physician:
                    type: integer
                    example: 140758867050498
                    default: 0
                  patient:
                    type: integer
                    example: 140758871048193
                    default: 0
                  practice:
                    type: integer
                    example: 140758863511556
                    default: 0
                  requisition:
                    type: integer
                    example: 140758879305761
                    default: 0
                  resolution: {}
                  signed_by:
                    type: integer
                    example: 140758867050498
                    default: 0
                  signed_date:
                    type: string
                    example: '2022-05-31T16:23:41Z'
                  site: {}
                  special_insurance: {}
                  submissions:
                    type: array
                  specimens:
                    type: array
                  tags:
                    type: array
                  test_date: {}
                  vendor:
                    type: integer
                    example: 67186196726
                    default: 0
                  printable_view:
                    type: string
                    example: http://127.0.0.1/api/2.0/lab_orders/140758879305761/printable
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/lab_orders/140758879305761\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Lab Orders
      security:
      - sec0: []
    put:
      summary: Update Lab Order
      description: ''
      operationId: update-lab-order
      parameters:
      - name: id
        in: path
        description: Object id
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - document_date
              - ordering_physician
              - patient
              - practice
              properties:
                answers:
                  type: array
                  description: Value must be Lab for laboratory reports
                  items:
                    properties:
                      test:
                        type: integer
                        format: int32
                      question:
                        type: integer
                        format: int32
                      value:
                        type: string
                    required:
                    - test
                    - question
                    - value
                    type: object
                bill_type:
                  type: string
                  enum:
                  - ("thirdparty"
                  - '"Third Party (e.g. Insurance)")'
                  - ("patient"
                  - '"Patient")'
                  - ("client"
                  - '"Client")'
                  - ("workerscomp"
                  - '"Worker''s Comp")'
                  - ("specialbilling"
                  - '"Special Billing")'
                ccs:
                  type: array
                  items:
                    type: integer
                    format: int32
                chart_date:
                  type: string
                  format: date
                confidential:
                  type: boolean
                content:
                  type: object
                  description: The Lab Order Content Object
                  properties:
                    tests:
                      type: array
                      description: LabOrderTest id
                      items:
                        properties:
                          id:
                            type: integer
                            description: object id
                            format: int64
                        required:
                        - id
                        type: object
                    stat_method:
                      type: string
                      enum:
                      - wet_reading_phone
                      - wet_reading_fax
                      - stat_phone
                      - stat_fax
                      - stat_phone_fax
                    patient_instructions:
                      type: string
                    test_center_notes:
                      type: string
                    fasting_method:
                      type: string
                      enum:
                      - fasting_12_hour
                      - fasting_8_hours
                      - fasting_2_hours
                      - fasting_none
                      - fasting_random
                    standing_order_frequency:
                      type: string
                    standing_order_end_date:
                      type: string
                      format: date
                    collection_datetime:
                      type: string
                      format: date
                    icd10_codes:
                      type: array
                      items:
                        properties:
                          code:
                            type: string
                            description: icd10 code
                        type: object
                document_date:
                  type: string
                  format: date
                facility:
                  type: object
                  properties: {}
                follow_up_method:
                  type: string
                ordering_physician:
                  type: integer
                  format: int32
                patient:
                  type: integer
                  format: int32
                practice:
                  type: integer
                  format: int32
                resolution:
                  type: object
                  required:
                  - state
                  properties:
                    state:
                      type: string
                      enum:
                      - ("outstanding"
                      - '"Outstanding")'
                      - ("fulfilled"
                      - '"Fulfilled")'
                      - ("cancelled"
                      - '"Cancelled")'
                    resolving_document:
                      type: integer
                      description: The document id (requisition id number)
                      format: int32
                site:
                  type: integer
                  description: The location where the patient will have the lab performed.   Sites are specific to their lab vendor.
                  format: int32
                tags:
                  type: array
                  description: List of Coded Document Tags.
                  items:
                    type: integer
                    format: int32
                test_date:
                  type: string
                  format: date
                vendor:
                  type: integer
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"answers\": [\n        {\n            \"id\": 140758874784147,\n            \"test\": 140755679510590,\n            \"question\": 67220537746,\n            \"value\": \"v1\",\n            \"created_date\": \"2022-06-07T21:06:44Z\",\n            \"deleted_date\": null\n        }\n    ],\n    \"bill_type\": \"Worker's Comp\",\n    \"ccs\": [\n        140755710312450\n    ],\n    \"chart_date\": \"2002-06-07T12:55:44.059474Z\",\n    \"confidential\": true,\n    \"content\": {\n        \"collection_datetime\": \"2002-06-07T12:55:44.059474Z\",\n        \"fasting_method\": \"fasting_12_hour\",\n        \"icd10_codes\": [\n            {\n                \"code\": \"Z3A.23\",\n                \"description\": \"23 weeks gestation of pregnancy\"\n            }\n        ],\n        \"id\": 140758874587237,\n        \"patient_instructions\": \"23\",\n        \"standing_order_end_date\": \"2002-06-07\",\n        \"standing_order_frequency\": \"null\",\n        \"stat_method\": \"wet_reading_phone\",\n        \"test_center_notes\": \"11\",\n        \"tests\": [\n            {\n                \"code\": null,\n                \"compendium\": null,\n                \"cpts\": [],\n                \"created_date\": \"2014-05-09T20:34:33Z\",\n                \"deleted_date\": null,\n                \"id\": 24504107070,\n                \"lab_vendor\": null,\n                \"name\": \"TSH\",\n                \"practice_created\": 65540,\n                \"procedure_class\": null,\n                \"questions\": [],\n                \"synonyms\": []\n            }\n        ]\n    },\n    \"created_date\": \"2022-06-07T21:06:43.614753Z\",\n    \"document_date\": \"2022-06-06T15:27:52Z\",\n    \"facility\": {\n        \"id\": 140743194837419,\n        \"vendor\": {\n            \"id\": 67186196726,\n            \"name\": \"labcorp\",\n            \"display_name\": \"LabCorp\"\n        },\n        \"practice_facility\": \"practice\",\n        \"practice_secondary_id\": null,\n        \"lab_facility\": \"labcorp\",\n        \"description\": \"Labcorp e-ordering\",\n        \"user_facing\": true,\n        \"compendium\": 140745672294843,\n        \"deleted_date\": null,\n        \"created_date\": \"2019-10-04T05:37:38Z\",\n        \"active\": true,\n        \"practice\": 65540\n    },\n    \"follow_up_method\": \"fol1\",\n    \"id\": 140758874652705,\n    \"ordering_physician\": 140758834544642,\n    \"patient\": 140758838542337,\n    \"practice\": 140758831005700,\n    \"requisition\": 140758874652705,\n    \"resolution\": {\n        \"id\": \"140758874849685\",\n        \"document\": \"<class 'elation.orders.models.LabOrder'>: 140758874652705\",\n        \"resolving_document\": 140758868754465,\n        \"state\": \"outstanding\",\n        \"note\": null,\n        \"created_date\": \"2022-06-07T21:06:44Z\",\n        \"deleted_date\": null\n    },\n    \"signed_by\": null,\n    \"signed_date\": null,\n    \"site\": {\n        \"address\": \"94-307 Farrington Hwy\",\n        \"city\": \"Waipahu\",\n        \"created_date\": \"2017-01-26T22:06:57Z\",\n        \"deleted_date\": null,\n        \"fax\": \"8086773731\",\n        \"id\": 68827742612,\n        \"name\": \"CLH\",\n        \"phone\": \"8086773870\",\n        \"practice_created\": null,\n        \"state\": \"HI\",\n        \"suite\": \"Suite B4\",\n        \"vendor\": {\n            \"id\": 67556802806,\n            \"name\": \"Clinical Labs of Hawaii\",\n            \"display_name\": \"Clinical Labs of Hawaii\"\n        },\n        \"zip\": \"96797\"\n    },\n    \"special_insurance\": null,\n    \"submissions\": [],\n    \"specimens\": [],\n    \"tags\": [\n        {\n            \"code\": \"408289007\",\n            \"code_type\": 2,\n            \"concept_name\": \"wt-mgmt-referral\",\n            \"context\": null,\n            \"created_date\": \"2015-07-23T19:30:51Z\",\n            \"deleted_date\": \"2019-05-29T00:06:03Z\",\n            \"description\": \"Referral to weight management program\",\n            \"id\": 58719011162,\n            \"practice_created\": null,\n            \"snomed_result_code\": null,\n            \"value\": \"CQM: Ref to Wt Mgt Program\"\n        }\n    ],\n    \"test_date\": \"2002-06-07\",\n    \"vendor\": 67191701750,\n    \"printable_view\": \"http://127.0.0.1/api/2.0/lab_orders/140758874652705/printable\"\n}"
              schema:
                type: object
                properties:
                  answers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 140758874784147
                          default: 0
                        test:
                          type: integer
                          example: 140755679510590
                          default: 0
                        question:
                          type: integer
                          example: 67220537746
                          default: 0
                        value:
                          type: string
                          example: v1
                        created_date:
                          type: string
                          example: '2022-06-07T21:06:44Z'
                        deleted_date: {}
                  bill_type:
                    type: string
                    example: Worker's Comp
                  ccs:
                    type: array
                    items:
                      type: integer
                      example: 140755710312450
                      default: 0
                  chart_date:
                    type: string
                    example: '2002-06-07T12:55:44.059474Z'
                  confidential:
                    type: boolean
                    example: true
                    default: true
                  content:
                    type: object
                    properties:
                      collection_datetime:
                        type: string
                        example: '2002-06-07T12:55:44.059474Z'
                      fasting_method:
                        type: string
                        example: fasting_12_hour
                      icd10_codes:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              example: Z3A.23
                            description:
                              type: string
                              example: 23 weeks gestation of pregnancy
                      id:
                        type: integer
                        example: 140758874587237
                        default: 0
                      patient_instructions:
                        type: string
                        example: '23'
                      standing_order_end_date:
                        type: string
                        example: '2002-06-07'
                      standing_order_frequency:
                        type: string
                        example: 'null'
                      stat_method:
                        type: string
                        example: wet_reading_phone
                      test_center_notes:
                        type: string
                        example: '11'
                      tests:
                        type: array
                        items:
                          type: object
                          properties:
                            code: {}
                            compendium: {}
                            cpts:
                              type: array
                            created_date:
                              type: string
                              example: '2014-05-09T20:34:33Z'
                            deleted_date: {}
                            id:
                              type: integer
                              example: 24504107070
                              default: 0
                            lab_vendor: {}
                            name:
                              type: string
                              example: TSH
                            practice_created:
                              type: integer
                              example: 65540
                              default: 0
                            procedure_class: {}
                            questions:
                              type: array
                            synonyms:
                              type: array
                  created_date:
                    type: string
                    example: '2022-06-07T21:06:43.614753Z'
                  document_date:
                    type: string
                    example: '2022-06-06T15:27:52Z'
                  facility:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 140743194837419
                        default: 0
                      vendor:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 67186196726
                            default: 0
                          name:
                            type: string
                            example: labcorp
                          display_name:
                            type: string
                            example: LabCorp
                      practice_facility:
                        type: string
                        example: practice
                      practice_secondary_id: {}
                      lab_facility:
                        type: string
                        example: labcorp
                      description:
                        type: string
                        example: Labcorp e-ordering
                      user_facing:
                        type: boolean
                        example: true
                        default: true
                      compendium:
                        type: integer
                        example: 140745672294843
                        default: 0
                      deleted_date: {}
                      created_date:
                        type: string
                        example: '2019-10-04T05:37:38Z'
                      active:
                        type: boolean
                        example: true
                        default: true
                      practice:
                        type: integer
                        example: 65540
                        default: 0
                  follow_up_method:
                    type: string
                    example: fol1
                  id:
                    type: integer
                    example: 140758874652705
                    default: 0
                  ordering_physician:
                    type: integer
                    example: 140758834544642
                    default: 0
                  patient:
                    type: integer
                    example: 140758838542337
                    default: 0
                  practice:
                    type: integer
                    example: 140758831005700
                    default: 0
                  requisition:
                    type: integer
                    example: 140758874652705
                    default: 0
                  resolution:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '140758874849685'
                      document:
                        type: string
                        example: '<class ''elation.orders.models.LabOrder''>: 140758874652705'
                      resolving_document:
                        type: integer
                        example: 140758868754465
                        default: 0
                      state:
                        type: string
                        example: outstanding
                      note: {}
                      created_date:
                        type: string
                        example: '2022-06-07T21:06:44Z'
                      deleted_date: {}
                  signed_by: {}
                  signed_date: {}
                  site:
                    type: object
                    properties:
                      address:
                        type: string
                        example: 94-307 Farrington Hwy
                      city:
                        type: string
                        example: Waipahu
                      created_date:
                        type: string
                        example: '2017-01-26T22:06:57Z'
                      deleted_date: {}
                      fax:
                        type: string
                        example: '8086773731'
                      id:
                        type: integer
                        example: 68827742612
                        default: 0
                      name:
                        type: string
                        example: CLH
                      phone:
                        type: string
                        example: '8086773870'
                      practice_created: {}
                      state:
                        type: string
                        example: HI
                      suite:
                        type: string
                        example: Suite B4
                      vendor:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 67556802806
                            default: 0
                          name:
                            type: string
                            example: Clinical Labs of Hawaii
                          display_name:
                            type: string
                            example: Clinical Labs of Hawaii
                      zip:
                        type: string
                        example: '96797'
                  special_insurance: {}
                  submissions:
                    type: array
                  specimens:
                    type: array
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: '408289007'
                        code_type:
                          type: integer
                          example: 2
                          default: 0
                        concept_name:
                          type: string
                          example: wt-mgmt-referral
                        context: {}
                        created_date:
                          type: string
                          example: '2015-07-23T19:30:51Z'
                        deleted_date:
                          type: string
                          example: '2019-05-29T00:06:03Z'
                        description:
                          type: string
                          example: Referral to weight management program
                        id:
                          type: integer
                          example: 58719011162
                          default: 0
                        practice_created: {}
                        snomed_result_code: {}
                        value:
                          type: string
                          example: 'CQM: Ref to Wt Mgt Program'
                  test_date:
                    type: string
                    example: '2002-06-07'
                  vendor:
                    type: integer
                    example: 67191701750
                    default: 0
                  printable_view:
                    type: string
                    example: http://127.0.0.1/api/2.0/lab_orders/140758874652705/printable
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n    \"site\": 68827742612,\n    \"answers\": [\n        {\n            \"question\": 67220537746,\n            \"test\": 140755679510590,\n            \"value\": \"v1\"\n        }\n    ],\n    \"bill_type\": \"Worker's Comp\",\n    \"ccs\": [\n        140755710312450\n    ],\n    \"content\": {\n        \"collection_datetime\": \"2002-06-07T12:55:44.059474Z\",\n        \"fasting_method\": \"fasting_12_hour\",\n        \"icd10_codes\": [\n            {\"code\": \"Z3A.23\"}\n        ],\n        \"patient_instructions\": \"23\",\n        \"standing_order_end_date\": \"2002-06-07\",\n        \"standing_order_frequency\": \"null\",\n        \"stat_method\": \"wet_reading_phone\",\n        \"test_center_notes\": \"11\",\n        \"tests\": [\n          {\"id\": 24504107070}\n        ]\n    },\n    \"chart_date\": \"2002-06-07T12:55:44.059474Z\",\n    \"confidential\": true,\n    \"document_date\": \"2022-06-06T15:27:52Z\",\n    \"facility\": {\"id\": 140743194837419},\n    \"follow_up_method\": \"fol1\",\n    \"ordering_physician\": 140758834544642,\n    \"patient\": 140758838542337,\n    \"practice\": 140758831005700,\n    \"resolution\": {\n        \"state\": \"outstanding\",\n        \"resolving_document\": 140758868754465\n    },\n    \"tags\": [\n      58719011162\n    ],\n    \"test_date\": \"2002-06-07\",\n    \"vendor\": 67191701750\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/lab_orders/12345678/\",\n                     json=data,\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(resp.text)"
        samples-languages:
        - python
      tags:
      - Lab Orders
      security:
      - sec0: []
    patch:
      summary: Update Lab Order
      description: ''
      operationId: update-lab-order-1
      parameters:
      - name: id
        in: path
        description: Object id
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - ordering_physician
              properties:
                answers:
                  type: array
                  description: Value must be Lab for laboratory reports
                  items:
                    properties:
                      test:
                        type: integer
                        format: int32
                      question:
                        type: integer
                        format: int32
                      value:
                        type: string
                    required:
                    - test
                    - question
                    - value
                    type: object
                bill_type:
                  type: string
                ccs:
                  type: array
                  items:
                    type: string
                'chart_date ':
                  properties:
                    WIP:
                      type: string
                      description: '[WIP] maybe mistake in code, line 208 lab_order.py'
                      format: date
                  required: []
                  type: object
                confidential:
                  type: boolean
                content:
                  type: object
                  description: The Lab Order Content Object
                  properties:
                    tests:
                      type: array
                      description: LabOrderTest id
                      items:
                        properties:
                          id:
                            type: integer
                            description: object id
                            format: int64
                        required:
                        - id
                        type: object
                    stat_method:
                      type: string
                      enum:
                      - wet_reading_phone
                      - wet_reading_fax
                      - stat_phone
                      - stat_fax
                      - stat_phone_fax
                    patient_instructions:
                      type: string
                    test_center_notes:
                      type: string
                    fasting_method:
                      type: string
                      enum:
                      - fasting_12_hour
                      - fasting_8_hours
                      - fasting_2_hours
                      - fasting_none
                      - fasting_random
                    standing_order_frequency:
                      type: string
                    standing_order_end_date:
                      type: string
                      format: date
                    collection_datetime:
                      type: string
                      format: date
                    icd10_codes:
                      type: array
                      items:
                        properties:
                          code:
                            type: string
                            description: icd10 code
                        type: object
                document_date:
                  type: string
                  format: date
                facility:
                  type: object
                  properties: {}
                follow_up_method:
                  type: string
                ordering_physician:
                  type: integer
                  format: int32
                patient:
                  type: integer
                  format: int32
                practice:
                  type: integer
                  format: int32
                resolution:
                  type: object
                  required:
                  - state
                  properties:
                    state:
                      type: string
                      enum:
                      - ("outstanding"
                      - '"Outstanding")'
                      - ("fulfilled"
                      - '"Fulfilled")'
                      - ("cancelled"
                      - '"Cancelled")'
                    resolving_document:
                      type: integer
                      description: The document id (requisition id number)
                      format: int32
                site:
                  type: integer
                  description: The location where the patient will have the lab performed.   Sites are specific to their lab vendor.
                  format: int32
                tags:
                  type: array
                  description: List of Coded Document Tags.
                test_date:
                  type: string
                  format: date
                vendor:
                  type: integer
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"answers\": [\n        {\n            \"id\": 140758874784147,\n            \"test\": 140755679510590,\n            \"question\": 67220537746,\n            \"value\": \"v1\",\n            \"created_date\": \"2022-06-07T21:06:44Z\",\n            \"deleted_date\": null\n        }\n    ],\n    \"bill_type\": \"Worker's Comp\",\n    \"ccs\": [\n        140755710312450\n    ],\n    \"chart_date\": \"2002-06-07T12:55:44.059474Z\",\n    \"confidential\": true,\n    \"content\": {\n        \"collection_datetime\": \"2002-06-07T12:55:44.059474Z\",\n        \"fasting_method\": \"fasting_12_hour\",\n        \"icd10_codes\": [\n            {\n                \"code\": \"Z3A.23\",\n                \"description\": \"23 weeks gestation of pregnancy\"\n            }\n        ],\n        \"id\": 140758874587237,\n        \"patient_instructions\": \"23\",\n        \"standing_order_end_date\": \"2002-06-07\",\n        \"standing_order_frequency\": \"null\",\n        \"stat_method\": \"wet_reading_phone\",\n        \"test_center_notes\": \"11\",\n        \"tests\": [\n            {\n                \"code\": null,\n                \"compendium\": null,\n                \"cpts\": [],\n                \"created_date\": \"2014-05-09T20:34:33Z\",\n                \"deleted_date\": null,\n                \"id\": 24504107070,\n                \"lab_vendor\": null,\n                \"name\": \"TSH\",\n                \"practice_created\": 65540,\n                \"procedure_class\": null,\n                \"questions\": [],\n                \"synonyms\": []\n            }\n        ]\n    },\n    \"created_date\": \"2022-06-07T21:06:43.614753Z\",\n    \"document_date\": \"2022-06-06T15:27:52Z\",\n    \"facility\": {\n        \"id\": 140743194837419,\n        \"vendor\": {\n            \"id\": 67186196726,\n            \"name\": \"labcorp\",\n            \"display_name\": \"LabCorp\"\n        },\n        \"practice_facility\": \"practice\",\n        \"practice_secondary_id\": null,\n        \"lab_facility\": \"labcorp\",\n        \"description\": \"Labcorp e-ordering\",\n        \"user_facing\": true,\n        \"compendium\": 140745672294843,\n        \"deleted_date\": null,\n        \"created_date\": \"2019-10-04T05:37:38Z\",\n        \"active\": true,\n        \"practice\": 65540\n    },\n    \"follow_up_method\": \"fol1\",\n    \"id\": 140758874652705,\n    \"ordering_physician\": 140758834544642,\n    \"patient\": 140758838542337,\n    \"practice\": 140758831005700,\n    \"requisition\": 140758874652705,\n    \"resolution\": {\n        \"id\": \"140758874849685\",\n        \"document\": \"<class 'elation.orders.models.LabOrder'>: 140758874652705\",\n        \"resolving_document\": 140758868754465,\n        \"state\": \"outstanding\",\n        \"note\": null,\n        \"created_date\": \"2022-06-07T21:06:44Z\",\n        \"deleted_date\": null\n    },\n    \"signed_by\": null,\n    \"signed_date\": null,\n    \"site\": {\n        \"address\": \"94-307 Farrington Hwy\",\n        \"city\": \"Waipahu\",\n        \"created_date\": \"2017-01-26T22:06:57Z\",\n        \"deleted_date\": null,\n        \"fax\": \"8086773731\",\n        \"id\": 68827742612,\n        \"name\": \"CLH\",\n        \"phone\": \"8086773870\",\n        \"practice_created\": null,\n        \"state\": \"HI\",\n        \"suite\": \"Suite B4\",\n        \"vendor\": {\n            \"id\": 67556802806,\n            \"name\": \"Clinical Labs of Hawaii\",\n            \"display_name\": \"Clinical Labs of Hawaii\"\n        },\n        \"zip\": \"96797\"\n    },\n    \"special_insurance\": null,\n    \"submissions\": [],\n    \"specimens\": [],\n    \"tags\": [\n        {\n            \"code\": \"408289007\",\n            \"code_type\": 2,\n            \"concept_name\": \"wt-mgmt-referral\",\n            \"context\": null,\n            \"created_date\": \"2015-07-23T19:30:51Z\",\n            \"deleted_date\": \"2019-05-29T00:06:03Z\",\n            \"description\": \"Referral to weight management program\",\n            \"id\": 58719011162,\n            \"practice_created\": null,\n            \"snomed_result_code\": null,\n            \"value\": \"CQM: Ref to Wt Mgt Program\"\n        }\n    ],\n    \"test_date\": \"2002-06-07\",\n    \"vendor\": 67191701750,\n    \"printable_view\": \"http://127.0.0.1/api/2.0/lab_orders/140758874652705/printable\"\n}"
              schema:
                type: object
                properties:
                  answers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 140758874784147
                          default: 0
                        test:
                          type: integer
                          example: 140755679510590
                          default: 0
                        question:
                          type: integer
                          example: 67220537746
                          default: 0
                        value:
                          type: string
                          example: v1
                        created_date:
                          type: string
                          example: '2022-06-07T21:06:44Z'
                        deleted_date: {}
                  bill_type:
                    type: string
                    example: Worker's Comp
                  ccs:
                    type: array
                    items:
                      type: integer
                      example: 140755710312450
                      default: 0
                  chart_date:
                    type: string
                    example: '2002-06-07T12:55:44.059474Z'
                  confidential:
                    type: boolean
                    example: true
                    default: true
                  content:
                    type: object
                    properties:
                      collection_datetime:
                        type: string
                        example: '2002-06-07T12:55:44.059474Z'
                      fasting_method:
                        type: string
                        example: fasting_12_hour
                      icd10_codes:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              example: Z3A.23
                            description:
                              type: string
                              example: 23 weeks gestation of pregnancy
                      id:
                        type: integer
                        example: 140758874587237
                        default: 0
                      patient_instructions:
                        type: string
                        example: '23'
                      standing_order_end_date:
                        type: string
                        example: '2002-06-07'
                      standing_order_frequency:
                        type: string
                        example: 'null'
                      stat_method:
                        type: string
                        example: wet_reading_phone
                      test_center_notes:
                        type: string
                        example: '11'
                      tests:
                        type: array
                        items:
                          type: object
                          properties:
                            code: {}
                            compendium: {}
                            cpts:
                              type: array
                            created_date:
                              type: string
                              example: '2014-05-09T20:34:33Z'
                            deleted_date: {}
                            id:
                              type: integer
                              example: 24504107070
                              default: 0
                            lab_vendor: {}
                            name:
                              type: string
                              example: TSH
                            practice_created:
                              type: integer
                              example: 65540
                              default: 0
                            procedure_class: {}
                            questions:
                              type: array
                            synonyms:
                              type: array
                  created_date:
                    type: string
                    example: '2022-06-07T21:06:43.614753Z'
                  document_date:
                    type: string
                    example: '2022-06-06T15:27:52Z'
                  facility:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 140743194837419
                        default: 0
                      vendor:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 67186196726
                            default: 0
                          name:
                            type: string
                            example: labcorp
                          display_name:
                            type: string
                            example: LabCorp
                      practice_facility:
                        type: string
                        example: practice
                      practice_secondary_id: {}
                      lab_facility:
                        type: string
                        example: labcorp
                      description:
                        type: string
                        example: Labcorp e-ordering
                      user_facing:
                        type: boolean
                        example: true
                        default: true
                      compendium:
                        type: integer
                        example: 140745672294843
                        default: 0
                      deleted_date: {}
                      created_date:
                        type: string
                        example: '2019-10-04T05:37:38Z'
                      active:
                        type: boolean
                        example: true
                        default: true
                      practice:
                        type: integer
                        example: 65540
                        default: 0
                  follow_up_method:
                    type: string
                    example: fol1
                  id:
                    type: integer
                    example: 140758874652705
                    default: 0
                  ordering_physician:
                    type: integer
                    example: 140758834544642
                    default: 0
                  patient:
                    type: integer
                    example: 140758838542337
                    default: 0
                  practice:
                    type: integer
                    example: 140758831005700
                    default: 0
                  requisition:
                    type: integer
                    example: 140758874652705
                    default: 0
                  resolution:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '140758874849685'
                      document:
                        type: string
                        example: '<class ''elation.orders.models.LabOrder''>: 140758874652705'
                      resolving_document:
                        type: integer
                        example: 140758868754465
                        default: 0
                      state:
                        type: string
                        example: outstanding
                      note: {}
                      created_date:
                        type: string
                        example: '2022-06-07T21:06:44Z'
                      deleted_date: {}
                  signed_by: {}
                  signed_date: {}
                  site:
                    type: object
                    properties:
                      address:
                        type: string
                        example: 94-307 Farrington Hwy
                      city:
                        type: string
                        example: Waipahu
                      created_date:
                        type: string
                        example: '2017-01-26T22:06:57Z'
                      deleted_date: {}
                      fax:
                        type: string
                        example: '8086773731'
                      id:
                        type: integer
                        example: 68827742612
                        default: 0
                      name:
                        type: string
                        example: CLH
                      phone:
                        type: string
                        example: '8086773870'
                      practice_created: {}
                      state:
                        type: string
                        example: HI
                      suite:
                        type: string
                        example: Suite B4
                      vendor:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 67556802806
                            default: 0
                          name:
                            type: string
                            example: Clinical Labs of Hawaii
                          display_name:
                            type: string
                            example: Clinical Labs of Hawaii
                      zip:
                        type: string
                        example: '96797'
                  special_insurance: {}
                  submissions:
                    type: array
                  specimens:
                    type: array
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: '408289007'
                        code_type:
                          type: integer
                          example: 2
                          default: 0
                        concept_name:
                          type: string
                          example: wt-mgmt-referral
                        context: {}
                        created_date:
                          type: string
                          example: '2015-07-23T19:30:51Z'
                        deleted_date:
                          type: string
                          example: '2019-05-29T00:06:03Z'
                        description:
                          type: string
                          example: Referral to weight management program
                        id:
                          type: integer
                          example: 58719011162
                          default: 0
                        practice_created: {}
                        snomed_result_code: {}
                        value:
                          type: string
                          example: 'CQM: Ref to Wt Mgt Program'
                  test_date:
                    type: string
                    example: '2002-06-07'
                  vendor:
                    type: integer
                    example: 67191701750
                    default: 0
                  printable_view:
                    type: string
                    example: http://127.0.0.1/api/2.0/lab_orders/140758874652705/printable
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n    \"site\": 68827742612,\n    \"answers\": [\n        {\n            \"question\": 67220537746,\n            \"test\": 140755679510590,\n            \"value\": \"v1\"\n        }\n    ],\n    \"bill_type\": \"Worker's Comp\",\n    \"ccs\": [\n        140755710312450\n    ],\n    \"content\": {\n        \"collection_datetime\": \"2002-06-07T12:55:44.059474Z\",\n        \"fasting_method\": \"fasting_12_hour\",\n        \"icd10_codes\": [\n            {\"code\": \"Z3A.23\"}\n        ],\n        \"patient_instructions\": \"23\",\n        \"standing_order_end_date\": \"2002-06-07\",\n        \"standing_order_frequency\": \"null\",\n        \"stat_method\": \"wet_reading_phone\",\n        \"test_center_notes\": \"11\",\n        \"tests\": [\n          {\"id\": 24504107070}\n        ]\n    },\n    \"chart_date\": \"2002-06-07T12:55:44.059474Z\",\n    \"confidential\": true,\n    \"document_date\": \"2022-06-06T15:27:52Z\",\n    \"facility\": {\"id\": 140743194837419},\n    \"follow_up_method\": \"fol1\",\n    \"ordering_physician\": 140758834544642,\n    \"patient\": 140758838542337,\n    \"practice\": 140758831005700,\n    \"resolution\": {\n        \"state\": \"outstanding\",\n        \"resolving_document\": 140758868754465\n    },\n    \"tags\": [\n      58719011162\n    ],\n    \"test_date\": \"2002-06-07\",\n    \"vendor\": 67191701750\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/lab_orders/12345678/\",\n                     json=data,\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(resp.text)"
        samples-languages:
        - python
      tags:
      - Lab Orders
      security:
      - sec0: []
    delete:
      summary: Delete Lab Order
      description: ''
      operationId: delete-lab-order
      parameters:
      - name: id
        in: path
        description: The object id
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/lab_orders/140756377075740/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Lab Orders
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/lab_orders/:
    get:
      description: Returns a list of lab orders
      operationId: lab_orders_list
      parameters:
      - in: query
        name: document_date__gt
        schema:
          format: date-time
          type: string
      - in: query
        name: document_date__gte
        schema:
          format: date-time
          type: string
      - in: query
        name: document_date__lt
        schema:
          format: date-time
          type: string
      - in: query
        name: document_date__lte
        schema:
          format: date-time
          type: string
      - in: query
        name: from_signed_date
        schema:
          format: date-time
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: patient
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: practice
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - in: query
        name: to_signed_date
        schema:
          format: date-time
          type: string
      - in: query
        name: unsigned
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLabOrderList'
          description: ''
      security:
      - oauth2: []
      summary: List Lab Orders
      tags:
      - Lab Orders
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new lab order.
      operationId: lab_orders_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabOrder'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabOrder'
          description: ''
      security:
      - oauth2: []
      summary: Create Lab Order
      tags:
      - Lab Orders
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/lab_orders/{id}/:
    delete:
      description: Delete an existing lab order.
      operationId: lab_orders_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Lab Order
      tags:
      - Lab Orders
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      description: Retrieve a single lab order
      operationId: lab_orders_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabOrder'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Lab Order
      tags:
      - Lab Orders
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing lab order.
      operationId: lab_orders_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedLabOrder'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabOrder'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Lab Order
      tags:
      - Lab Orders
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing lab order.
      operationId: lab_orders_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabOrder'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabOrder'
          description: ''
      security:
      - oauth2: []
      summary: Update Lab Order
      tags:
      - Lab Orders
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/lab_orders/{id}/printable/:
    get:
      description: Providers are able to print a view of the lab order including the data provided behind this endpoint. Each lab order response includes a link to obtain this view; a PDF file. When you GET the link you'll receive a response with application/pdf and the bytes of the PDF.
      operationId: lab_orders_printable_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: The id of the print header that you want to use for the printable view.
        in: query
        name: print_header
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ''
      security:
      - oauth2: []
      summary: Retrieve the Printable Lab Order View
      tags:
      - Lab Orders
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /lab_orders/{id}/:
    get:
      operationId: lab_orders_retrieve
      summary: Retrieve a lab order
      tags:
      - Lab Orders
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Lab order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabOrder_2'
      security:
      - oauth2: []
    put:
      operationId: lab_orders_update
      summary: Update a lab order
      tags:
      - Lab Orders
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabOrderCreate'
      responses:
        '200':
          description: Lab order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabOrder_2'
      security:
      - oauth2: []
    patch:
      operationId: lab_orders_partial_update
      summary: Partially update a lab order
      tags:
      - Lab Orders
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabOrderCreate'
      responses:
        '200':
          description: Lab order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabOrder_2'
      security:
      - oauth2: []
    delete:
      operationId: lab_orders_destroy
      summary: Delete a lab order
      tags:
      - Lab Orders
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Lab order deleted
      security:
      - oauth2: []
    servers:
    - url: https://app.elationemr.com/api/2.0
      description: Production
    - url: https://sandbox.elationemr.com/api/2.0
      description: Sandbox
components:
  schemas:
    LabVendorIdName:
      description: LabVendor Serializer useful for simple, read-only reference.
      properties:
        display_name:
          readOnly: true
          type: string
        id:
          readOnly: true
          type: integer
        name:
          readOnly: true
          type: string
      type: object
    BlankEnum:
      enum:
      - ''
    LabOrderSpecimenModifier:
      properties:
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        modifier:
          $ref: '#/components/schemas/BodySiteCodeModifier'
        sequence:
          description: The cardinal position in which the modifiers should be listed.
          maximum: 65535
          minimum: 0
          type: integer
        specimen:
          format: int64
          type: integer
      required:
      - modifier
      - sequence
      - specimen
      type: object
    PatchedLabOrder:
      properties:
        answers:
          description: List of the answers provided for the Ask on Entry (AOE) questions if required by any lab order tests.
          items:
            $ref: '#/components/schemas/LabOrderAOEAnswer'
          type:
          - array
          - 'null'
        bill_type:
          description: 'Who is financially responsible for the order.


            * `thirdparty` - Third Party (e.g. Insurance)

            * `patient` - Patient

            * `client` - Client

            * `workerscomp` - Worker''s Comp

            * `specialbilling` - Special Billing'
          oneOf:
          - $ref: '#/components/schemas/BillTypeEnum'
          - $ref: '#/components/schemas/NullEnum'
        ccs:
          description: List of physician ids who should be cc'd on any reports.
          items:
            format: int64
            type:
            - integer
            - 'null'
          type: array
        chart_date:
          description: Date at which this order was first seen in the patient's chart.
          format: date-time
          type: string
        confidential:
          default: false
          description: Whether the provider has marked the order as confidential. Should not be shared with a patient.
          type: boolean
        content:
          allOf:
          - $ref: '#/components/schemas/LabOrderContent'
          description: Represents the content of the lab order report.
        created_date:
[...]
