openapi: 3.2.0
info:
  title: Settings Patient Provider Teams API
  version: unknown
servers:
- url: https://sandbox.elationemr.com/api/2.0
security:
- sec0: []
tags:
- name: Patient Provider Teams
paths:
  /patient-provider-teams:
    get:
      summary: List Provider Teams
      description: ''
      operationId: get-patient-provider-teams
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"count\": 2,\n    \"next\": null,\n    \"previous\": null,\n    \"results\": [\n        {\n            \"patient_provider_team_id\": 140758828450078,\n            \"patient_id\": 140758827991041,\n            \"team_members\": [\n                {\n                    \"patient_provider_team_id\": 140758828450078,\n                    \"patient_provider_team_member_id\": 140758828515615,\n                    \"patient_id\": 140758827991041,\n                    \"physician_id\": 131074,\n                    \"group\": \"main\",\n                    \"rank\": 1,\n                    \"treatment_reason\": \"pcp at sacred heart\",\n                    \"earliest_activity\": \"2022-05-17T20:11:24\",\n                    \"latest_activity\": \"2022-05-17T20:11:24\",\n                    \"activity_summary_last_refreshed\": null\n                }\n            ]\n        },\n        {\n            \"patient_provider_team_id\": 140758897525022,\n            \"patient_id\": 140758896934913,\n            \"team_members\": []\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 2
                    default: 0
                  next: {}
                  previous: {}
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        patient_provider_team_id:
                          type: integer
                          example: 140758828450078
                          default: 0
                        patient_id:
                          type: integer
                          example: 140758827991041
                          default: 0
                        team_members:
                          type: array
                          items:
                            type: object
                            properties:
                              patient_provider_team_id:
                                type: integer
                                example: 140758828450078
                                default: 0
                              patient_provider_team_member_id:
                                type: integer
                                example: 140758828515615
                                default: 0
                              patient_id:
                                type: integer
                                example: 140758827991041
                                default: 0
                              physician_id:
                                type: integer
                                example: 131074
                                default: 0
                              group:
                                type: string
                                example: main
                              rank:
                                type: integer
                                example: 1
                                default: 0
                              treatment_reason:
                                type: string
                                example: pcp at sacred heart
                              earliest_activity:
                                type: string
                                example: '2022-05-17T20:11:24'
                              latest_activity:
                                type: string
                                example: '2022-05-17T20:11:24'
                              activity_summary_last_refreshed: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/patient-provider-teams\",\n                    headers={'Authorization': auth_header})\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Patient Provider Teams
  /patient-provider-teams/{team_id}/team_members:
    get:
      summary: List Team Members for a given team
      description: ''
      operationId: list-patientproviderteammembers-of-a-given-team
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: team_id
        in: path
        description: The identifier of the patient provider team
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"count\": 1,\n    \"next\": null,\n    \"previous\": null,\n    \"results\": [\n          {\n            \"patient_provider_team_id\": 140758828450078,\n            \"patient_provider_team_member_id\": 140758828515615,\n            \"patient_id\": 140758827991041,\n            \"physician_id\": 131074,\n            \"group\": \"main\",\n            \"rank\": 1,\n            \"treatment_reason\": \"pcp at sacred heart\",\n            \"earliest_activity\": \"2022-05-17T20:11:24\",\n            \"latest_activity\": \"2022-05-17T20:11:24\",\n            \"activity_summary_last_refreshed\": null\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 1
                    default: 0
                  next: {}
                  previous: {}
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        patient_provider_team_id:
                          type: integer
                          example: 140758828450078
                          default: 0
                        patient_provider_team_member_id:
                          type: integer
                          example: 140758828515615
                          default: 0
                        patient_id:
                          type: integer
                          example: 140758827991041
                          default: 0
                        physician_id:
                          type: integer
                          example: 131074
                          default: 0
                        group:
                          type: string
                          example: main
                        rank:
                          type: integer
                          example: 1
                          default: 0
                        treatment_reason:
                          type: string
                          example: pcp at sacred heart
                        earliest_activity:
                          type: string
                          example: '2022-05-17T20:11:24'
                        latest_activity:
                          type: string
                          example: '2022-05-17T20:11:24'
                        activity_summary_last_refreshed: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/patient-provider-teams/{{id}}/team_members\",\n                    headers={'Authorization': auth_header})\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Patient Provider Teams
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
x-readme:
  headers: []
x-readme-fauxas: true
