openapi: 3.2.0
info:
  title: Elation Health Service Locations API
  version: '1.0'
  description: 'Operations tagged Service Locations across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-practice-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Service Locations
paths:
  /service_locations:
    get:
      summary: Find Service Location
      description: ''
      operationId: find-service-location
      parameters:
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"count\": 1,\n    \"next\": null,\n    \"previous\": null,\n    \"results\": [\n        {\n            \"address_line1\": \"6580 Harmon Course\",\n            \"address_line2\": \"Suite 565\",\n            \"city\": \"West Carolyn\",\n            \"created_date\": \"2021-04-14T18:21:58Z\",\n            \"deleted_date\": null,\n            \"email\": null,\n            \"fax\": \"890-372-3727\",\n            \"id\": 140754475155703,\n            \"is_primary\": true,\n            \"name\": \"Chambers Group\",\n            \"phone\": \"400.2942x8551\",\n            \"place_of_service\": null,\n            \"practice\": 140754475089924,\n            \"state\": \"UT\",\n            \"zip\": \"05056\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 1
                    default: 0
                  next: {}
                  previous: {}
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        address_line1:
                          type: string
                          example: 6580 Harmon Course
                        address_line2:
                          type: string
                          example: Suite 565
                        city:
                          type: string
                          example: West Carolyn
                        created_date:
                          type: string
                          example: '2021-04-14T18:21:58Z'
                        deleted_date: {}
                        email: {}
                        fax:
                          type: string
                          example: 890-372-3727
                        id:
                          type: integer
                          example: 140754475155703
                          default: 0
                        is_primary:
                          type: boolean
                          example: true
                          default: true
                        name:
                          type: string
                          example: Chambers Group
                        phone:
                          type: string
                          example: 400.2942x8551
                        place_of_service: {}
                        practice:
                          type: integer
                          example: 140754475089924
                          default: 0
                        state:
                          type: string
                          example: UT
                        zip:
                          type: string
                          example: '05056'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Service Locations
      security:
      - sec0: []
    post:
      summary: Create Service Location
      description: ''
      operationId: create-service-location
      parameters:
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - address_line1
              - city
              - state
              - name
              - practice
              properties:
                address_line1:
                  type: string
                  description: service location address
                city:
                  type: string
                  description: service location city
                state:
                  type: string
                  description: service location state
                  enum:
                  - AL
                  - AK
                  - AZ
                  - AR
                  - CA
                  - CO
                  - CT
                  - DC
                  - DE
                  - FL
                  - GA
                  - HI
                  - ID
                  - IL
                  - IN
                  - IA
                  - KS
                  - KY
                  - LA
                  - ME
                  - MD
                  - MA
                  - MI
                  - MN
                  - MS
                  - MO
                  - MT
                  - NE
                  - NV
                  - NH
                  - NJ
                  - NM
                  - NY
                  - NC
                  - ND
                  - OH
                  - OK
                  - OR
                  - PA
                  - RI
                  - SC
                  - SD
                  - TN
                  - TX
                  - UT
                  - VT
                  - VA
                  - WA
                  - WV
                  - WI
                  - WY
                name:
                  type: string
                  description: service location name
                practice:
                  type: integer
                  description: available practice
                  format: int32
                place_of_service:
                  type: string
                  description: place of service location
                  enum:
                  - Pharmacy
                  - Telehealth Provided Other than in Patient’s Home
                  - School
                  - Homeless Shelter
                  - Indian Health ServiceFree-standing Facility
                  - Indian Health ServiceProvider-based Facility
                  - Tribal 638Free-standingFacility
                  - Tribal 638Provider-basedFacility
                  - Prison/Correctional Facility
                  - Telehealth Provided in Patient’s Home
                  - Office
                  - Home
                  - Assisted Living Facility
                  - Group Home
                  - Mobile Unit
                  - Temporary Lodging
                  - Walk-in Retail Health Clinic
                  - Place of Employment-Worksite
                  - Off Campus Outpatient-Hospital
                  - Urgent Care Facility
                  - Inpatient Hospital
                  - On Campus-Outpatient Hospital
                  - Emergency Room - Hospital
                  - Ambulatory Surgical Center
                  - Birthing Center
                  - Military Treatment Facility
                  - Skilled Nursing Facility
                  - Nursing Facility
                  - Custodial Care Facility
                  - Hospice
                  - Ambulance - Land
                  - Ambulance - Air or Water
                  - Independent Clinic
                  - Federally Qualified Health Center
                  - Inpatient Psychiatric Facility
                  - Psychiatric Facility-Partial Hospitalization
                  - Community Mental Health Center
                  - Intermediate Care Facility/Individuals with Intellectual Disabilities
                  - Residential Substance Abuse Treatment Facility
                  - Psychiatric Residential Treatment Center
                  - Non-residential Substance Abuse Treatment Facility
                  - Mass Immunization Center
                  - Comprehensive Inpatient Rehabilitation Facility
                  - Comprehensive Outpatient Rehabilitation Facility
                  - End-Stage Renal Disease Treatment Facility
                  - Public Health Clinic
                  - Rural Health Clinic
                  - Independent Laboratory
                  - Other Place of Service
                address_line2:
                  type: string
                  description: service location suite
                email:
                  type: string
                  description: service location email
                fax:
                  type: string
                  description: service location fax
                is_primary:
                  type: boolean
                  description: if service location is primary
                phone:
                  type: string
                  description: service location phone
                zip:
                  type: string
                  description: service location zip
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"address_line1\": \"6580 Harmon Course\",\n    \"address_line2\": \"Suite 565\",\n    \"city\": \"West Carolyn\",\n    \"created_date\": \"2021-04-14T18:21:58Z\",\n    \"deleted_date\": null,\n    \"email\": null,\n    \"fax\": \"890-372-3727\",\n    \"id\": 140754475155703,\n    \"is_primary\": true,\n    \"name\": \"Chambers Group\",\n    \"phone\": \"400.2942x8551\",\n    \"place_of_service\": null,\n    \"practice\": 140754475089924,\n    \"state\": \"UT\",\n    \"zip\": \"05056\"\n}"
              schema:
                type: object
                properties:
                  address_line1:
                    type: string
                    example: 6580 Harmon Course
                  address_line2:
                    type: string
                    example: Suite 565
                  city:
                    type: string
                    example: West Carolyn
                  created_date:
                    type: string
                    example: '2021-04-14T18:21:58Z'
                  deleted_date: {}
                  email: {}
                  fax:
                    type: string
                    example: 890-372-3727
                  id:
                    type: integer
                    example: 140754475155703
                    default: 0
                  is_primary:
                    type: boolean
                    example: true
                    default: true
                  name:
                    type: string
                    example: Chambers Group
                  phone:
                    type: string
                    example: 400.2942x8551
                  place_of_service: {}
                  practice:
                    type: integer
                    example: 140754475089924
                    default: 0
                  state:
                    type: string
                    example: UT
                  zip:
                    type: string
                    example: '05056'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Service Locations
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /service_locations/{id}:
    get:
      summary: Get Service Location
      description: ''
      operationId: get-service-location
      parameters:
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"address_line1\": \"6580 Harmon Course\",\n    \"address_line2\": \"Suite 565\",\n    \"city\": \"West Carolyn\",\n    \"created_date\": \"2021-04-14T18:21:58Z\",\n    \"deleted_date\": null,\n    \"email\": null,\n    \"fax\": \"890-372-3727\",\n    \"id\": 140754475155703,\n    \"is_primary\": true,\n    \"name\": \"Chambers Group\",\n    \"phone\": \"400.2942x8551\",\n    \"place_of_service\": null,\n    \"practice\": 140754475089924,\n    \"state\": \"UT\",\n    \"zip\": \"05056\"\n}"
              schema:
                type: object
                properties:
                  address_line1:
                    type: string
                    example: 6580 Harmon Course
                  address_line2:
                    type: string
                    example: Suite 565
                  city:
                    type: string
                    example: West Carolyn
                  created_date:
                    type: string
                    example: '2021-04-14T18:21:58Z'
                  deleted_date: {}
                  email: {}
                  fax:
                    type: string
                    example: 890-372-3727
                  id:
                    type: integer
                    example: 140754475155703
                    default: 0
                  is_primary:
                    type: boolean
                    example: true
                    default: true
                  name:
                    type: string
                    example: Chambers Group
                  phone:
                    type: string
                    example: 400.2942x8551
                  place_of_service: {}
                  practice:
                    type: integer
                    example: 140754475089924
                    default: 0
                  state:
                    type: string
                    example: UT
                  zip:
                    type: string
                    example: '05056'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Service Locations
      security:
      - sec0: []
    patch:
      summary: Update Service Location
      description: ''
      operationId: update-service-location
      parameters:
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                city:
                  type: string
                  description: service location city
                email:
                  type: string
                  description: service location email
                fax:
                  type: string
                  description: service location fax
                is_primary:
                  type: boolean
                  description: if service location is primary
                name:
                  type: string
                  description: service location name
                phone:
                  type: string
                  description: service location phone
                place_of_service:
                  type: string
                  description: place of service location
                  enum:
                  - Pharmacy
                  - Telehealth Provided Other than in Patient’s Home
                  - School
                  - Homeless Shelter
                  - Indian Health ServiceFree-standing Facility
                  - Indian Health ServiceProvider-based Facility
                  - Tribal 638Free-standingFacility
                  - Tribal 638Provider-basedFacility
                  - Prison/Correctional Facility
                  - Telehealth Provided in Patient’s Home
                  - Office
                  - Home
                  - Assisted Living Facility
                  - Group Home
                  - Mobile Unit
                  - Temporary Lodging
                  - Walk-in Retail Health Clinic
                  - Place of Employment-Worksite
                  - Off Campus Outpatient-Hospital
                  - Urgent Care Facility
                  - Inpatient Hospital
                  - On Campus-Outpatient Hospital
                  - Emergency Room - Hospital
                  - Ambulatory Surgical Center
                  - Birthing Center
                  - Military Treatment Facility
                  - Skilled Nursing Facility
                  - Nursing Facility
                  - Custodial Care Facility
                  - Hospice
                  - Ambulance - Land
                  - Ambulance - Air or Water
                  - Independent Clinic
                  - Federally Qualified Health Center
                  - Inpatient Psychiatric Facility
                  - Psychiatric Facility-Partial Hospitalization
                  - Community Mental Health Center
                  - Intermediate Care Facility/Individuals with Intellectual Disabilities
                  - Residential Substance Abuse Treatment Facility
                  - Psychiatric Residential Treatment Center
                  - Non-residential Substance Abuse Treatment Facility
                  - Mass Immunization Center
                  - Comprehensive Inpatient Rehabilitation Facility
                  - Comprehensive Outpatient Rehabilitation Facility
                  - End-Stage Renal Disease Treatment Facility
                  - Public Health Clinic
                  - Rural Health Clinic
                  - Independent Laboratory
                  - Other Place of Service
                state:
                  type: string
                  description: service location state
                  enum:
                  - AL
                  - AK
                  - AZ
                  - AR
                  - CA
                  - CO
                  - CT
                  - DC
                  - DE
                  - FL
                  - GA
                  - HI
                  - ID
                  - IL
                  - IN
                  - IA
                  - KS
                  - KY
                  - LA
                  - ME
                  - MD
                  - MA
                  - MI
                  - MN
                  - MS
                  - MO
                  - MT
                  - NE
                  - NV
                  - NH
                  - NJ
                  - NM
                  - NY
                  - NC
                  - ND
                  - OH
                  - OK
                  - OR
                  - PA
                  - RI
                  - SC
                  - SD
                  - TN
                  - TX
                  - UT
                  - VT
                  - VA
                  - WA
                  - WV
                  - WI
                  - WY
                zip:
                  type: string
                  description: service location zip
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"address_line1\": \"6580 Harmon Course\",\n    \"address_line2\": \"Suite 565\",\n    \"city\": \"test_city_new\",\n    \"created_date\": \"2021-04-14T18:21:58Z\",\n    \"deleted_date\": null,\n    \"email\": \"test_new@mail.com\",\n    \"fax\": \"102-103-104_new\",\n    \"id\": 140754475155703,\n    \"is_primary\": false,\n    \"name\": \"test_name_new\",\n    \"phone\": \"+38012345678910\",\n    \"place_of_service\": \"Homeless Shelter\",\n    \"practice\": 140754475089924,\n    \"state\": \"NY\",\n    \"zip\": \"1234567\"\n}"
              schema:
                type: object
                properties:
                  address_line1:
                    type: string
                    example: 6580 Harmon Course
                  address_line2:
                    type: string
                    example: Suite 565
                  city:
                    type: string
                    example: test_city_new
                  created_date:
                    type: string
                    example: '2021-04-14T18:21:58Z'
                  deleted_date: {}
                  email:
                    type: string
                    example: test_new@mail.com
                  fax:
                    type: string
                    example: 102-103-104_new
                  id:
                    type: integer
                    example: 140754475155703
                    default: 0
                  is_primary:
                    type: boolean
                    example: false
                    default: true
                  name:
                    type: string
                    example: test_name_new
                  phone:
                    type: string
                    example: '+38012345678910'
                  place_of_service:
                    type: string
                    example: Homeless Shelter
                  practice:
                    type: integer
                    example: 140754475089924
                    default: 0
                  state:
                    type: string
                    example: NY
                  zip:
                    type: string
                    example: '1234567'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Service Locations
      security:
      - sec0: []
    put:
      summary: Update Service Location
      description: ''
      operationId: update-service-location-1
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - address_line1
              - city
              - state
              - name
              - practice
              properties:
                address_line1:
                  type: string
                  description: service location address
                city:
                  type: string
                  description: service location city
                state:
                  type: string
                  description: service location state
                  enum:
                  - AL
                  - AK
                  - AZ
                  - AR
                  - CA
                  - CO
                  - CT
                  - DC
                  - DE
                  - FL
                  - GA
                  - HI
                  - ID
                  - IL
                  - IN
                  - IA
                  - KS
                  - KY
                  - LA
                  - ME
                  - MD
                  - MA
                  - MI
                  - MN
                  - MS
                  - MO
                  - MT
                  - NE
                  - NV
                  - NH
                  - NJ
                  - NM
                  - NY
                  - NC
                  - ND
                  - OH
                  - OK
                  - OR
                  - PA
                  - RI
                  - SC
                  - SD
                  - TN
                  - TX
                  - UT
                  - VT
                  - VA
                  - WA
                  - WV
                  - WI
                  - WY
                name:
                  type: string
                  description: service location name
                practice:
                  type: integer
                  description: available practice
                  format: int32
                place_of_service:
                  type: string
                  description: place of service location
                  enum:
                  - Pharmacy
                  - Telehealth Provided Other than in Patient’s Home
                  - School
                  - Homeless Shelter
                  - Indian Health ServiceFree-standing Facility
                  - Indian Health ServiceProvider-based Facility
                  - Tribal 638Free-standingFacility
                  - Tribal 638Provider-basedFacility
                  - Prison/Correctional Facility
                  - Telehealth Provided in Patient’s Home
                  - Office
                  - Home
                  - Assisted Living Facility
                  - Group Home
                  - Mobile Unit
                  - Temporary Lodging
                  - Walk-in Retail Health Clinic
                  - Place of Employment-Worksite
                  - Off Campus Outpatient-Hospital
                  - Urgent Care Facility
                  - Inpatient Hospital
                  - On Campus-Outpatient Hospital
                  - Emergency Room - Hospital
                  - Ambulatory Surgical Center
                  - Birthing Center
                  - Military Treatment Facility
                  - Skilled Nursing Facility
                  - Nursing Facility
                  - Custodial Care Facility
                  - Hospice
                  - Ambulance - Land
                  - Ambulance - Air or Water
                  - Independent Clinic
                  - Federally Qualified Health Center
                  - Inpatient Psychiatric Facility
                  - Psychiatric Facility-Partial Hospitalization
                  - Community Mental Health Center
                  - Intermediate Care Facility/Individuals with Intellectual Disabilities
                  - Residential Substance Abuse Treatment Facility
                  - Psychiatric Residential Treatment Center
                  - Non-residential Substance Abuse Treatment Facility
                  - Mass Immunization Center
                  - Comprehensive Inpatient Rehabilitation Facility
                  - Comprehensive Outpatient Rehabilitation Facility
                  - End-Stage Renal Disease Treatment Facility
                  - Public Health Clinic
                  - Rural Health Clinic
                  - Independent Laboratory
                  - Other Place of Service
                address_line2:
                  type: string
                  description: service location suite
                email:
                  type: string
                  description: service location email
                fax:
                  type: string
                  description: service location fax
                is_primary:
                  type: boolean
                  description: if service location is primary
                phone:
                  type: string
                  description: service location phone
                zip:
                  type: string
                  description: service location zip
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"address_line1\": \"6580 Harmon Course\",\n    \"address_line2\": \"Suite 565\",\n    \"city\": \"West Carolyn\",\n    \"created_date\": \"2021-04-14T18:21:58Z\",\n    \"deleted_date\": null,\n    \"email\": null,\n    \"fax\": \"890-372-3727\",\n    \"id\": 140754475155703,\n    \"is_primary\": true,\n    \"name\": \"Chambers Group\",\n    \"phone\": \"400.2942x8551\",\n    \"place_of_service\": null,\n    \"practice\": 140754475089924,\n    \"state\": \"UT\",\n    \"zip\": \"05056\"\n}"
              schema:
                type: object
                properties:
                  address_line1:
                    type: string
                    example: 6580 Harmon Course
                  address_line2:
                    type: string
                    example: Suite 565
                  city:
                    type: string
                    example: West Carolyn
                  created_date:
                    type: string
                    example: '2021-04-14T18:21:58Z'
                  deleted_date: {}
                  email: {}
                  fax:
                    type: string
                    example: 890-372-3727
                  id:
                    type: integer
                    example: 140754475155703
                    default: 0
                  is_primary:
                    type: boolean
                    example: true
                    default: true
                  name:
                    type: string
                    example: Chambers Group
                  phone:
                    type: string
                    example: 400.2942x8551
                  place_of_service: {}
                  practice:
                    type: integer
                    example: 140754475089924
                    default: 0
                  state:
                    type: string
                    example: UT
                  zip:
                    type: string
                    example: '05056'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Service Locations
      security:
      - sec0: []
    delete:
      summary: Delete Service Location
      description: ''
      operationId: delete-service-location
      parameters:
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: '{

                    }'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Service Locations
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/service_locations/:
    get:
      operationId: service_locations_list
      parameters:
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedServiceLocationList'
          description: ''
      security:
      - oauth2: []
      summary: List Service Locations
      tags:
      - Service Locations
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new service location.
      operationId: service_locations_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceLocation'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceLocation'
          description: ''
      security:
      - oauth2: []
      summary: Create Service Location
      tags:
      - Service Locations
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/service_locations/{id}/:
    delete:
      description: Delete an existing service location.
      operationId: service_locations_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Service Location
      tags:
      - Service Locations
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      operationId: service_locations_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceLocation'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Service Location
      tags:
      - Service Locations
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing service location.
      operationId: service_locations_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedServiceLocation'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceLocation'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Service Location
      tags:
      - Service Locations
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing service location.
      operationId: service_locations_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceLocation'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceLocation'
          description: ''
      security:
      - oauth2: []
      summary: Update Service Location
      tags:
      - Service Locations
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    PatchedServiceLocation:
      properties:
        address_line1:
          description: The service location address.
          type: string
        address_line2:
          description: The service location suite.
          type: string
        city:
          default: ''
          maxLength: 50
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        email:
          format: email
          maxLength: 254
          type:
          - string
          - 'null'
        fax:
          maxLength: 20
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        is_primary:
          default: false
          type: boolean
        name:
          maxLength: 200
          type: string
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        place_of_service:
          $ref: '#/components/schemas/ServiceLocationPlaceOfServiceEnum'
        place_of_service_code:
          type: integer
        practice:
          description: The id of the practice that the service location belongs to.
          format: int64
          type: integer
        state:
          type: string
        status:
          allOf:
          - $ref: '#/components/schemas/ServiceLocationStatusEnum'
          default: active
          readOnly: true
        timezone:
          oneOf:
          - $ref: '#/components/schemas/TimezoneEnum'
          - $ref: '#/components/schemas/NullEnum'
        zip:
          default: ''
          maxLength: 10
          type: string
      type: object
    ServiceLocationStatusEnum:
      enum:
      - active
      - inactive
      - suspended
      type: string
    PaginatedServiceLocationList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/ServiceLocation'
          type: array
      required:
      - results
      type: object
    ServiceLocation:
      properties:
        address_line1:
          description: The service location address.
          type: string
        address_line2:
          description: The service location suite.
          type: string
        city:
          default: ''
          maxLength: 50
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        email:
          format: email
          maxLength: 254
          type:
          - string
          - 'null'
        fax:
          maxLength: 20
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        is_primary:
          default: false
          type: boolean
        name:
          maxLength: 200
          type: string
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        place_of_service:
          $ref: '#/components/schemas/ServiceLocationPlaceOfServiceEnum'
        place_of_service_code:
          type: integer
        practice:
          description: The id of the practice that the service location belongs to.
          format: int64
          type: integer
        state:
          type: string
        status:
          allOf:
          - $ref: '#/components/schemas/ServiceLocationStatusEnum'
          default: active
          readOnly: true
        timezone:
          oneOf:
          - $ref: '#/components/schemas/TimezoneEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        zip:
          default: ''
          maxLength: 10
          type: string
      required:
      - address_line1
      - name
      - practice
      - state
      type: object
    NullEnum:
      type: 'null'
    ServiceLocationPlaceOfServiceEnum:
      enum:
      - Ambulance - Air or Water
      - Ambulance - Land
      - Ambulatory Surgical Center
      - Assisted Living Facility
      - Birthing Center
      - Community Mental Health Center
      - Comprehensive Inpatient Rehabilitation Facility
      - Comprehensive Outpatient Rehabilitation Facility
      - Custodial Care Facility
      - Emergency Room - Hospital
      - End-Stage Renal Disease Treatment Facility
      - Federally Qualified Health Center
      - Group Home
      - Home
      - Homeless Shelter
      - Hospice
      - Independent Clinic
      - Independent Laboratory
      - Indian Health ServiceFree-standing Facility
      - Indian Health ServiceProvider-based Facility
      - Inpatient Hospital
      - Inpatient Psychiatric Facility
      - Intermediate Care Facility/Individuals with Intellectual Disabilities
      - Mass Immunization Center
      - Military Treatment Facility
      - Mobile Unit
      - Non-residential Substance Abuse Treatment Facility
      - Nursing Facility
      - Off Campus Outpatient-Hospital
      - Office
      - On Campus-Outpatient Hospital
      - Other Place of Service
      - Outreach Site/Street
      - Pharmacy
      - Place of Employment-Worksite
      - Prison/Correctional Facility
      - Programs of All-Inclusive Care for the Elderly (PACE) Center
      - Psychiatric Facility-Partial Hospitalization
      - Psychiatric Residential Treatment Center
      - Public Health Clinic
      - Residential Substance Abuse Treatment Facility
      - Rural Health Clinic
      - School
      - Skilled Nursing Facility
      - Telehealth Provided Other than in Patient’s Home
      - Telehealth Provided in Patient’s Home
      - Temporary Lodging
      - Tribal 638Free-standingFacility
      - Tribal 638Provider-basedFacility
      - Urgent Care Facility
      - Walk-in Retail Health Clinic
      type: string
    TimezoneEnum:
      enum:
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Ciudad_Juarez
      - America/Costa_Rica
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Fort_Nelson
      - America/Fortaleza
      - America/Glace_Bay
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Colombo
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kathmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Riyadh
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ulaanbaatar
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faroe
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/Perth
      - Australia/Sydney
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kirov
      - Europe/Kyiv
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Ulyanovsk
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zurich
      - GMT
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Kanton
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Wake
      - Pacific/Wallis
      - US/Alaska
      - US/Arizona
      - US/Central
      - US/Eastern
      - US/Hawaii
      - US/Mountain
      - US/Pacific
      - UTC
      type: string
    BlankEnum:
      enum:
      - ''
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-practice-api.json
x-readme:
  headers: []
x-readme-fauxas: true
