openapi: 3.2.0
info:
  title: Settings Packaged Medications API
  version: unknown
servers:
- url: https://sandbox.elationemr.com/api/2.0
security:
- sec0: []
tags:
- name: Packaged Medications
paths:
  /packaged_medications/:
    get:
      summary: Find Packaged Medications
      description: ''
      operationId: find-packaged-medications
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: ndc
        in: query
        description: The National Drug Code associated with the packaged medication
        schema:
          type: string
      - name: reference_medication_id
        in: query
        description: The id of the reference medication associated with the packaged medication
        schema:
          type: integer
          format: int64
      - name: name
        in: query
        description: The name of the packaged medication
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Packaged Medications
  /packaged_medications/{id}/:
    get:
      summary: Get Packaged Medication
      description: ''
      operationId: get-packaged-medication
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Packaged Medications
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
x-readme:
  headers: []
x-readme-fauxas: true
