openapi: 3.2.0
info:
  title: Elation Health Delegate Permissions API
  version: '1.0'
  description: 'Operations tagged Delegate Permissions across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-practice-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Delegate Permissions
paths:
  /delegate_permissions/{id}:
    get:
      summary: Get Delegate Permissions
      description: ''
      operationId: get-delegate-permissions
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/delegate_permissions/140754688737550\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        - language: curl
          code: 'curl https://sandbox.elationemr.com/api/2.0/app/published_events/ \

            > -H "Authorization: Bearer SftJozdkIuEObwOvI6WpSN6jndCHad"'
          name: cURL
        samples-languages:
        - python
        - curl
      tags:
      - Delegate Permissions
      security:
      - sec0: []
    put:
      summary: Update Delegate Permissions
      description: ''
      operationId: update-delegate-permissions
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                practice:
                  type: integer
                  format: int64
                physician:
                  type: integer
                  format: int64
                delegate_user:
                  type: integer
                  format: int64
                permission_type:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 140754688737550,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n       'id': 140754688737550,         \n       'practice': 140754683822084, \n       'physician': 140754687361026, \n       'delegate_user': 211, \n       'permission_type': 'rxs'\n}\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/delegate_permissions/140754688737550\",\n                    data=json.dumps(data),\n                    headers={'Authorization': auth_header})\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Delegate Permissions
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /delegate_permissions/:
    post:
      summary: Create Delegate Permissions
      description: ''
      operationId: create-delegate-permissions
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                practice:
                  type: integer
                  format: int64
                physician:
                  type: integer
                  format: int64
                delegate_user:
                  type: integer
                  format: int64
                permission_type:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 140754688737550,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {   \n       'practice': 140754683822084, \n       'physician': 140754687361026, \n       'delegate_user': 211, \n       'permission_type': 'rxs'\n}\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/delegate_permissions/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Delegate Permissions
      security:
      - sec0: []
    delete:
      summary: Delete a Delegate Permission
      description: ''
      operationId: delete-a-delegate-permission
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/delegate_permissions/140754688737550\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"
        samples-languages:
        - python
      tags:
      - Delegate Permissions
      security:
      - sec0: []
    get:
      summary: Find Delegate Permissions
      description: ''
      operationId: find-delegate-permissions
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n \t{\n  \t\"id\": 83792571234,\n  \t// See Object Definition\n\t},\n]"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/delegate_permissions/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Delegate Permissions
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/delegate_permissions/:
    get:
      operationId: delegate_permissions_list
      parameters:
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDelegatePermissionList'
          description: ''
      security:
      - oauth2: []
      summary: List Delegate Permissions
      tags:
      - Delegate Permissions
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new delegate permission.
      operationId: delegate_permissions_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelegatePermission'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegatePermission'
          description: ''
      security:
      - oauth2: []
      summary: Create Delegate Permission
      tags:
      - Delegate Permissions
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/delegate_permissions/{id}/:
    delete:
      description: Delete an existing delegate permission.
      operationId: delegate_permissions_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Delegate Permission
      tags:
      - Delegate Permissions
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      operationId: delegate_permissions_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegatePermission'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Delegate Permission
      tags:
      - Delegate Permissions
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    DelegatePermission:
      properties:
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        delegate_user:
          type: integer
        id:
          readOnly: true
          type: integer
        permission_type:
          $ref: '#/components/schemas/PermissionTypeEnum'
        physician:
          format: int64
          type: integer
        practice:
          format: int64
          type: integer
      required:
      - delegate_user
      - permission_type
      - physician
      - practice
      type: object
    PermissionTypeEnum:
      enum:
      - bills
      - messages
      - orders
      - referrals
      - rxs
      type: string
    PaginatedDelegatePermissionList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/DelegatePermission'
          type: array
      required:
      - results
      type: object
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-practice-api.json
x-readme:
  headers: []
x-readme-fauxas: true
