openapi: 3.2.0
info:
  title: Elation Health Ancillary Companies API
  version: '1.0'
  description: 'Operations tagged Ancillary Companies across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-orders-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Ancillary Companies
paths:
  /ancillary_companies/:
    get:
      summary: Find Ancillary Companies
      description: ''
      operationId: find-ancillary-companies
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: The name of the ancillary company.
        schema:
          type: string
      - name: type
        in: query
        description: The order type the ancillary company can be associated with. Allowed values are "cardiac", "imaging", "pulmonary", and "sleep"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"count\": 0,\n    \"next\": null,\n    \"previous\": null,\n    \"results\": [//list of Ancillary Company objects]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = f\"Bearer {access_token}\"\n\nresp = requests.get(\n    \"https://sandbox.elationemr.com/api/2.0/ancillary_companies/?type=cardiac\",\n    headers={'Authorization': auth_header}\n)\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Ancillary Companies
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /ancillary_companies/{id}:
    get:
      summary: Get Ancillary Company
      description: ''
      operationId: get-ancillary-company
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n \"id\": 140755855605768,\n  // See Ancillary Company Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = f\"Bearer {access_token}\"\n\nresp = requests.get(\n    \"https://sandbox.elationemr.com/api/2.0/ancillary_companies/140755855605768/\",\n    headers={\"Authorization\": auth_header},\n)\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Ancillary Companies
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/ancillary_companies/:
    get:
      description: Returns a list of ancillary companies by specific type of order
      operationId: ancillary_companies_list
      parameters:
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The name of the ancillary company.
        explode: false
        in: query
        name: name
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: 'The order type the ancillary company can be associated with.


          * `cardiac` - cardiac

          * `imaging` - imaging

          * `sleep` - sleep

          * `pulmonary` - pulmonary'
        in: query
        name: type
        required: true
        schema:
          enum:
          - cardiac
          - imaging
          - pulmonary
          - sleep
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAncillaryCompanyList'
          description: ''
      security:
      - oauth2: []
      summary: List Ancillary Companies
      tags:
      - Ancillary Companies
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/ancillary_companies/{id}/:
    get:
      description: Retrieve a single ancillary company
      operationId: ancillary_companies_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AncillaryCompany'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Ancillary Company
      tags:
      - Ancillary Companies
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    AncillaryCompany:
      properties:
        id:
          readOnly: true
          type: integer
        name:
          maxLength: 200
          type: string
      required:
      - name
      type: object
    PaginatedAncillaryCompanyList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/AncillaryCompany'
          type: array
      required:
      - results
      type: object
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-orders-api.json
x-readme:
  headers: []
x-readme-fauxas: true
