openapi: 3.2.0
info:
  title: Elation Health Patients API
  version: '1.0'
  description: 'Operations tagged Patients across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-health-elation-health-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
- url: https://app.elationemr.com/api/2.0
  description: Production
tags:
- name: Patients
paths:
  /patients/:id/:
    put:
      summary: Update Patient
      description: ''
      operationId: update-patient
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497153,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"first_name\": \"test\",\n  \"last_name\": \"patient\",\n  \"sex\": \"Female\",\n  \"dob\": \"1955-10-01\",\n  \"primary_physician\": 131074,\n  \"caregiver_practice\": 65540\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/patients/67176497153/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Patients
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /patients/{id}:
    get:
      summary: Get Patient
      description: ''
      operationId: get-patient
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
        '303':
          description: '303'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/patients/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        - language: curl
          code: 'curl https://sandbox.elationemr.com/api/2.0/patients/64184451073/ \

            > -H "Authorization: Bearer XaTtPYZ8Ufy04f0187fPbWFkwcADF0"'
          name: cURL
        samples-languages:
        - python
        - curl
      tags:
      - Patients
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /patients/{id}/:
    delete:
      summary: Delete Patient
      description: ''
      operationId: delete-patient
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '204':
          description: '204'
          content:
            text/plain:
              examples:
                Result:
                  value: // not content will be returned
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/patients/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"
        samples-languages:
        - python
      tags:
      - Patients
      security:
      - sec0: []
    patch:
      summary: Update Patient
      description: ''
      operationId: update-patient-1
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497153,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"first_name\": \"test\"\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/patients/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Patients
      security:
      - sec0: []
    get:
      operationId: patients_retrieve
      summary: Retrieve a patient
      description: Get details for a specific patient by ID.
      tags:
      - Patients
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Patient details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient_2'
        '404':
          description: Patient not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - sec0: []
    put:
      operationId: patients_update
      summary: Update a patient
      description: Replace all patient fields with the provided values.
      tags:
      - Patients
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientCreate'
      responses:
        '200':
          description: Patient updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient_2'
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /patients/:
    post:
      summary: Create Patient
      description: ''
      operationId: create-patient
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - first_name
              - last_name
              - dob
              - sex
              - primary_physician
              - caregiver_practice
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                dob:
                  type: string
                  format: date
                sex:
                  type: string
                  description: Male, Female, or Unknown (displays as Unspecified in app)
                primary_physician:
                  type: integer
                  description: The primary physician assigned to this physician within the practice
                  format: int32
                caregiver_practice:
                  type: integer
                  format: int32
                address:
                  type: object
                  required:
                  - address_line1
                  properties:
                    address_line1:
                      type: string
                    address_line2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zip:
                      type: string
                phones:
                  type: array
                  items:
                    properties:
                      phone:
                        type: string
                        description: String or Integer
                      phone_type:
                        type: string
                    required:
                    - phone
                    - phone_type
                    type: object
                emails:
                  type: array
                  items:
                    properties:
                      email:
                        type: string
                    required:
                    - email
                    type: object
                insurances:
                  type: array
                  items:
                    properties:
                      member_id:
                        type: string
                    required:
                    - member_id
                    type: object
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497153, \n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"field_name\": [\"error message\"]\n}\n\n// for example: (if caregiver_practice was not provided)\n{\n  \"caregiver_practice\": [\"This field is required.\"]\n}"
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nnew_patient = {\n  \"first_name\": \"test\",\n  \"last_name\": \"patient\",\n  \"sex\": \"Male\",\n  \"dob\": \"1955-01-01\",\n  \"primary_physician\": 131074,\n  \"caregiver_practice\": 65540\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/patients/\",\n                     data=json.dumps(new_patient),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Patients
      security:
      - sec0: []
    get:
      summary: Find Patients
      description: Query against all patients in a practice.
      operationId: find-patients
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: first_name
        in: query
        schema:
          type: string
      - name: last_name
        in: query
        schema:
          type: string
      - name: dob
        in: query
        schema:
          type: string
      - name: sex
        in: query
        schema:
          type: string
      - name: insurance_company
        in: query
        schema:
          type: string
      - name: insurance_plan
        in: query
        schema:
          type: string
      - name: group_id
        in: query
        schema:
          type: integer
          format: int64
      - name: member_id
        in: query
        schema:
          type: integer
          format: int64
      - name: master_patient
        in: query
        schema:
          type: integer
          format: int64
      - name: practice
        in: query
        schema:
          type: integer
          format: int64
      - name: last_modified__gt
        in: query
        schema:
          type: string
          format: date
      - name: last_modified__gte
        in: query
        schema:
          type: string
          format: date
      - name: last_modified__lt
        in: query
        schema:
          type: string
          format: date
      - name: last_modified__lte
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/patients/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/patients/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/patients/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        - language: curl
          code: 'curl https://sandbox.elationemr.com/api/2.0/patients/ \

            > -H "Authorization: Bearer SftJozdkIuEObwOvI6WpSN6jndCHad"'
          name: cURL
        samples-languages:
        - python
        - curl
      tags:
      - Patients
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /patients/{id}/insurance_cards/:
    get:
      summary: Get Insurance Cards
      description: ''
      operationId: get-insurance-cards
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Patient identifier
        schema:
          type: integer
          format: int64
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: // See Object Definition
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/patients/64184451073/insurance_cards/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        - language: curl
          code: 'curl https://sandbox.elationemr.com/api/2.0/patients/64184451073/insurance_cards/ \

            > -H "Authorization: Bearer XaTtPYZ8Ufy04f0187fPbWFkwcADF0"'
        samples-languages:
        - python
        - curl
      tags:
      - Patients
      security:
      - sec0: []
    post:
      summary: Create Insurance Card
      description: ''
      operationId: create-insurance-card
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Patient identifier
        schema:
          type: integer
          format: int64
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - rank
              - side
              - image
              properties:
                rank:
                  type: integer
                  description: Primary or secondary insurances (1 or 2)
                  format: int32
                side:
                  type: integer
                  description: Insurance card side. Usually front (1) or back (2)
                  format: int32
                image:
                  type: object
                  description: Base64 encoded image of the insurance card. Only JPG and PNG files are supported.
                  required:
                  - original_filename
                  - content_type
                  - base64_content
                  properties:
                    original_filename:
                      type: string
                      description: A filename for the image
                    content_type:
                      type: string
                      description: We support PNG and JPG
                      default: image/png
                    base64_content:
                      type: string
                      description: The Base64 encoded binary data of the image
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"detail\": \"rank, side, and image are required\"\n}"
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: rank, side, and image are required
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n    \"rank\": 1,\n    \"side\": 1,\n    \"image\": {\n        \"original_filename\": \"insurance_card.png\",\n        \"content_type\": \"image/png\",\n        \"base64_content\": \"/9j/...j/9k=\"\n    }\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/patients/64184451073/insurance_cards/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Patients
      security:
      - sec0: []
    delete:
      summary: Delete Insurance Card
      description: ''
      operationId: delete-insurance-card
      parameters:
      - name: rank
        in: query
        description: Primary or secondary insurances (1 or 2)
        required: true
        schema:
          type: integer
          format: int32
      - name: side
        in: query
        description: Insurance card side. Usually front (1) or back (2)
        required: true
        schema:
          type: integer
          format: int32
      - name: archive
        in: query
        description: Optional flag to archive the insurance card as a report before deleting
        schema:
          type: boolean
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Patient identifier
        schema:
          type: integer
          format: int64
        required: true
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/patients/64184451073/insurance_cards/?rank=1&side=1&archive=true\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"
        samples-languages:
        - python
      tags:
      - Patients
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /patients/{patient_id}/profile_image:
    get:
      summary: Get Patient Photo
      description: ''
      operationId: get-patient-photo
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: patient_id
        in: path
        description: The id of the patient
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"id\": 140759073227036,\n\t\"patient\": 140754479349761,\n\t\"practice\": 140754475089924,\n\t\"file\": \"https://feature-rm-28957-as-an-api-integrat.dev.elationemr.com/api/2.0/patients/140754479349761/get_photo\",\n\t\"content_type\": \"image/jpeg\",\n\t\"original_filename\": \"test_profile_image\",\n\t\"file_size\": 122452,\n\t\"last_updated\": \"2022-08-17T20:36:39Z\",\n\t\"width\": 961,\n\t\"height\": 1280,\n\t\"created_date\": \"2022-08-17T20:36:39Z\"\n}"
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 140759073227036
                    default: 0
                  patient:
                    type: integer
                    example: 140754479349761
                    default: 0
                  practice:
                    type: integer
                    example: 140754475089924
                    default: 0
                  file:
                    type: string
                    example: https://feature-rm-28957-as-an-api-integrat.dev.elationemr.com/api/2.0/patients/140754479349761/get_photo
                  content_type:
                    type: string
                    example: image/jpeg
                  original_filename:
                    type: string
                    example: test_profile_image
                  file_size:
                    type: integer
                    example: 122452
                    default: 0
                  last_updated:
                    type: string
                    example: '2022-08-17T20:36:39Z'
                  width:
                    type: integer
                    example: 961
                    default: 0
                  height:
                    type: integer
                    example: 1280
                    default: 0
                  created_date:
                    type: string
                    example: '2022-08-17T20:36:39Z'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Patients
      security:
      - sec0: []
    post:
      summary: Create Patient Photo
      description: ''
      operationId: create-patient-photo
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: patient_id
        in: path
        description: The patient id
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - patient
              - practice
              - original_filename
              - base_64
              properties:
                patient:
                  type: integer
                  description: patient ID
                  format: int32
                practice:
                  type: integer
                  description: practice ID
                  format: int32
                original_filename:
                  type: string
                  description: filename
                base_64:
                  type: string
                  description: the image is base64 encoded
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"id\": 140759073227036,\n\t\"patient\": 140754479349761,\n\t\"practice\": 140754475089924,\n\t\"file\": \"https://feature-rm-28957-as-an-api-integrat.dev.elationemr.com/api/2.0/patients/140754479349761/get_photo\",\n\t\"content_type\": \"image/jpeg\",\n\t\"original_filename\": \"test_profile_image\",\n\t\"file_size\": 122452,\n\t\"last_updated\": \"2022-08-17T20:36:39Z\",\n\t\"width\": 961,\n\t\"height\": 1280,\n\t\"created_date\": \"2022-08-17T20:36:39Z\"\n}"
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 140759073227036
                    default: 0
                  patient:
                    type: integer
                    example: 140754479349761
                    default: 0
                  practice:
                    type: integer
                    example: 140754475089924
                    default: 0
                  file:
                    type: string
                    example: https://feature-rm-28957-as-an-api-integrat.dev.elationemr.com/api/2.0/patients/140754479349761/get_photo
                  content_type:
                    type: string
                    example: image/jpeg
                  original_filename:
                    type: string
                    example: test_profile_image
                  file_size:
                    type: integer
                    example: 122452
                    default: 0
                  last_updated:
                    type: string
                    example: '2022-08-17T20:36:39Z'
                  width:
                    type: integer
                    example: 961
                    default: 0
                  height:
                    type: integer
                    example: 1280
                    default: 0
                  created_date:
                    type: string
                    example: '2022-08-17T20:36:39Z'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Patients
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /patients/{patient_id}/profile_image/:
    delete:
      summary: Delete Patient Photo
      description: ''
      operationId: delete-patient-photo
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: patient_id
        in: path
        schema:
          type: string
        required: true
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Patients
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /patients/{id}/incoming_files:
    post:
      summary: File Incoming Files to Patient Chart
      description: ''
      operationId: file-incoming-file-to-patient-chart
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - files
              - document_type
              properties:
                files:
                  type: array
                  description: Array of incoming file IDs
                  items:
                    type: integer
                    format: int64
                document_type:
                  type: string
                  description: Can be VisitNote, NonvisitNote, or a report_type value found in Report Type API
                reviewer_user:
                  type: integer
                  description: Reviewer's user_id. If one isn't given, then the patient's assigned physician will be used.
                  format: int64
                document_date:
                  type: string
                  description: Document date
                  format: date
                document_tags:
                  type: array
                  description: Array of document tag IDs
                  items:
                    type: integer
                    format: int64
                custom_title:
                  type: string
                  description: Custom title
                urgent:
                  type: boolean
                  description: Set to true to mark as urgent
                  default: false
                sign_off:
                  type: boolean
                  description: Sign off on behalf of reviewer
                  default: false
                import_history:
                  type: boolean
                  description: Import history for new visit / non-visit note
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"files\": [140758830940249, 140758831464657],\n  \"reviewer_user\": 64811630594,\n  \"document_type\": \"Misc\",\n  \"document_date\": \"2022-09-09\",\n  \"document_tags\": [127362],\n  \"custom_title\": \"My Special Report\",\n  \"urgent\": True,\n  \"sign_off\": False,\n  \"import_history\": False,\n}\n\nresp = requests.post(\n  \"https://sandbox.elationemr.com/api/2.0/patients/64184451073/incoming_files\",\n  data=json.dumps(data),\n  headers={\n    'Authorization': auth_header,\n    'Content-type': 'application/json',\n  },\n)\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))\n"
        samples-languages:
        - python
      tags:
      - Patients
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /patients/{patient_id}/patient_provider_team:
    post:
      summary: Create a Provider Team for a given Patient
      description: ''
      operationId: create-a-patientproviderteam-for-a-given-patient
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: patient_id
        in: path
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"patient_provider_team_id\": 140758911549726,\n  \"patient_id\": 140758827991041,\n  \"team_members\": []\n},"
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"detail\": \"Patient not found.\"\n}"
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Patient not found.
        '409':
          description: '409'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"detail\": \"Patient provider team already exists for given patient.\"\n}"
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Patient provider team already exists for given patient.
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/patients/140758827991041/patient_provider_team\",\n                    headers={'Authorization': auth_header})\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Patients
      security:
      - sec0: []
    get:
      summary: List the Team Members for a given Patient
      description: ''
      operationId: list-the-patient-provider-team-members-for-a-given-patient
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: patient_id
        in: path
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"patient_provider_team_id\": 140758828450078,\n    \"patient_id\": 453050369,\n    \"team_members\": [\n        {\n            \"patient_provider_team_id\": 140758911549726,\n            \"patient_provider_team_member_id\": 140758911615263,\n            \"patient_id\": 140758828450078,\n            \"physician_id\": 983042,\n            \"group\": \"main\",\n            \"rank\": 1,\n            \"treatment_reason\": \"jd and turk\",\n            \"earliest_activity\": null,\n            \"latest_activity\": null,\n            \"activity_summary_last_refreshed\": null\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  patient_provider_team_id:
                    type: integer
                    example: 140758828450078
                    default: 0
                  patient_id:
                    type: integer
                    example: 453050369
                    default: 0
                  team_members:
                    type: array
                    items:
                      type: object
                      properties:
                        patient_provider_team_id:
                          type: integer
                          example: 140758911549726
                          default: 0
                        patient_provider_team_member_id:
                          type: integer
                          example: 140758911615263
                          default: 0
                        patient_id:
                          type: integer
                          example: 140758828450078
                          default: 0
                        physician_id:
                          type: integer
                          example: 983042
                          default: 0
                        group:
                          type: string
                          example: main
                        rank:
                          type: integer
                          example: 1
                          default: 0
                        treatment_reason:
                          type: string
                          example: jd and turk
                        earliest_activity: {}
                        latest_activity: {}
                        activity_summary_last_refreshed: {}
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"detail\": \"Patient provider team does not exist for given patient.\"\n}"
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Patient provider team does not exist for given patient.
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/patients/140758828450078/patient_provider_team\",\n                    headers={'Authorization': auth_header})\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Patients
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /patients/{id}/outstanding_balance/:
    post:
      summary: Updating Outstanding Balance
      description: ''
      operationId: updating-outstanding-balance
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - balance
              properties:
                balance:
                  type: integer
                  description: the outstanding balance in cents
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"balance\": 123.45\n}"
              schema:
                type: object
                properties:
                  balance:
                    type: number
                    example: 123.45
                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"balance\": 12345\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/patients/64184451073/outstanding_balance\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Patients
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/patients/:
    get:
      description: Returns a list of patient
      operationId: patients_list
      parameters:
      - in: query
        name: dob
        schema:
          format: date
          type: string
      - in: query
        name: first_name
        schema:
          type: string
      - in: query
        name: group_id
        schema:
          type: string
      - in: query
        name: insurance_company
        schema:
          format: int64
          type: integer
      - in: query
        name: insurance_plan
        schema:
          format: int64
          type: integer
      - in: query
        name: last_modified__gt
        schema:
          format: date-time
          type: string
      - in: query
        name: last_modified__gte
        schema:
          format: date-time
          type: string
      - in: query
        name: last_modified__lt
        schema:
          format: date-time
          type: string
      - in: query
        name: last_modified__lte
        schema:
          format: date-time
          type: string
      - in: query
        name: last_name
        schema:
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - in: query
        name: master
        schema:
          format: int64
          type: integer
      - in: query
        name: master_patient
        schema:
          format: int64
          type: integer
      - in: query
        name: member_id
        schema:
          type: string
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - in: query
        name: phone_number
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: practice
        schema:
          items:
            type: number
          type: array
        style: form
      - in: query
        name: sex
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPatientList'
          description: ''
      security:
      - oauth2: []
      summary: List Patients
      tags:
      - Patients
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new patient.
      operationId: patients_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
          description: ''
      security:
      - oauth2: []
      summary: Create Patient
      tags:
      - Patients
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/patients/{id}/:
    delete:
      description: DELETE handler
      operationId: patients_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Patient
      tags:
      - Patients
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      description: Retrieve a single patient
      operationId: patients_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Patient
      tags:
      - Patients
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing patient.
      operationId: patients_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPatient'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Patient
      tags:
      - Patients
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing patient.
      operationId: patients_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
          description: ''
      security:
      - oauth2: []
      summary: Update Patient
      tags:
      - Patients
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    PronounsDisplayEnum:
      enum:
      - He/Him/His
      - Option not listed
      - She/Her/Hers
      - They/Them/Theirs
      - None
      type: string
    EthnicityEnum:
      enum:
      - Declined to specify
      - Hispanic or Latino
      - No ethnicity specified
      - Not Hispanic or Latino
      type: string
    GenderIdentityEnum:
      enum:
      - man
      - nonbinary
      - option_not_listed
      - prefer_not_to_say
      - transgender_man
      - transgender_woman
      - two_spirit
      - unknown
      - woman
      type: string
    Employer:
      properties:
        code:
          maxLength: 50
          type: string
        description:
          readOnly: true
          type:
          - string
          - 'null'
        name:
          readOnly: true
          type:
          - string
          - 'null'
      required:
      - code
      type: object
    Patient:
      properties:
        actual_name:
          maxLength: 150
          type:
          - string
          - 'null'
        address:
          oneOf:
          - $ref: '#/components/schemas/Address'
          - type: 'null'
        caregiver_practice:
          format: int64
          type: integer
        consents:
          items:
            $ref: '#/components/schemas/Consent'
          type: array
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_insurances:
          items:
            $ref: '#/components/schemas/Insurance'
          readOnly: true
          type: array
        dob:
          format: date
          type: string
        emails:
          items:
            $ref: '#/components/schemas/Email'
          type:
          - array
          - 'null'
        emergency_contact:
          oneOf:
          - $ref: '#/components/schemas/EmergencyContact'
          - type: 'null'
        employer:
          oneOf:
          - $ref: '#/components/schemas/Employer'
          - type: 'null'
        ethnicity:
          $ref: '#/components/schemas/EthnicityEnum'
        first_name:
          maxLength: 70
          type: string
        gender_identity:
          $ref: '#/components/schemas/GenderIdentityEnum'
        guarantor:
          oneOf:
          - $ref: '#/components/schemas/Guarantor'
          - type: 'null'
        id:
          readOnly: true
          type: integer
        insurances:
          items:
            $ref: '#/components/schemas/Insurance'
          type: array
        last_modified:
          format: date-time
          type: string
        last_name:
          maxLength: 70
          type: string
        legal_gender_marker:
          oneOf:
          - $ref: '#/components/schemas/LegalGenderMarkerEnum'
          - $ref: '#/components/schemas/NullEnum'
        legal_gender_marker_display:
          oneOf:
          - $ref: '#/components/schemas/LegalGenderMarkerDisplayEnum'
          - $ref: '#/components/schemas/NullEnum'
        master_patient:
          format: int64
          readOnly: true
          type: integer
        merged_into_chart:
          readOnly: true
          type:
          - integer
          - 'null'
        metadata:
          properties:
            data:
              type: object
            object_id:
              type: string
            object_web_link:
              type: string
          type:
          - object
          - 'null'
        middle_name:
          maxLength: 50
          type: string
        mothers_maiden_name:
          maxLength: 70
          type:
          - string
          - 'null'
        notes:
          type:
          - string
          - 'null'
        occupation:
          maxLength: 100
          readOnly: true
          type:
          - string
          - 'null'
        patient_status:
          oneOf:
          - $ref: '#/components/schemas/Status'
          - type: 'null'
        phones:
          items:
            $ref: '#/components/schemas/Phone'
          type: array
        preference:
          oneOf:
          - $ref: '#/components/schemas/PatientPreference'
          - type: 'null'
        preferred_contact:
          oneOf:
          - $ref: '#/components/schemas/PreferredContactEnum'
          - $ref: '#/components/schemas/NullEnum'
        preferred_language:
          type:
          - string
          - 'null'
        preferred_service_location:
          format: int64
          type:
          - integer
          - 'null'
        previous_address:
          oneOf:
          - $ref: '#/components/schemas/Address'
          - type: 'null'
        previous_first_name:
          maxLength: 70
          type:
          - string
          - 'null'
        previous_last_name:
          maxLength: 70
          type:
          - string
          - 'null'
        previous_name:
          oneOf:
          - $ref: '#/components/schemas/PatientPreviousName'
          - type: 'null'
        primary_care_provider:
          description: A read-only field that provides the internal Elation id of the collaborator record that is created within your practice to represent your practice's connection with the patient's primary care provider.
          format: int64
          readOnly: true
          type: integer
        primary_care_provider_npi:
          description: Represents the patient's primary care provider. This person may be in a different practice.
          maxLength: 10
          type:
          - string
          - 'null'
        primary_physician:
          description: Represents the physician providing care to the patient within your practice. This is a required field. This value must match the id of one of the physicians retrieved via the /physicians/ endpoint.
          format: int64
          type: integer
        pronouns:
          oneOf:
          - $ref: '#/components/schemas/PronounsEnum'
          - $ref: '#/components/schemas/NullEnum'
        pronouns_display:
          oneOf:
          - $ref: '#/components/schemas/PronounsDisplayEnum'
          - $ref: '#/components/schemas/NullEnum'
        race:
          $ref: '#/components/schemas/RaceEnum'
        sex:
          allOf:
          - $ref: '#/components/schemas/PatientSexEnum'
          default: Unknown
        sexual_orientation:
          $ref: '#/components/schemas/SexualOrientationEnum'
        sms_opt_in_status:
          type:
          - boolean
          - 'null'
        ssn:
          maxLength: 37
          type:
          - string
          - 'null'
        suffix:
          maxLength: 20
          type: string
        tags:
          items: {}
          type:
          - array
          - 'null'
        timezone:
          oneOf:
          - $ref: '#/components/schemas/TimezoneEnum'
          - $ref: '#/components/schemas/NullEnum'
        verified:
          default: true
          type: boolean
        vip:
          type:
          - boolean
          - 'null'
      required:
      - caregiver_practice
      - dob
      - first_name
      - last_name
      - primary_physician
      - sex
      type: object
    PaginatedPatientList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/Patient'
          type: array
      required:
      - results
      type: object
    Insurance:
      properties:
        address:
          maxLength: 200
          type:
          - string
          - 'null'
        carrier:
          maxLength: 200
          type:
          - string
          - 'null'
        city:
          maxLength: 50
          type:
          - string
          - 'null'
        copay:
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deductible:
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        end_date:
          format: date
          type:
          - string
          - 'null'
        extension:
          maxLength: 6
          type:
          - string
          - 'null'
        group_id:
          maxLength: 50
          type:
          - string
          - 'null'
        id:
          type:
          - integer
          - 'null'
        insurance_company:
          format: int64
          type:
          - integer
          - 'null'
        insurance_plan:
          format: int64
          type:
          - integer
          - 'null'
        insured_person_address:
          maxLength: 200
          type:
          - string
          - 'null'
        insured_person_city:
          maxLength: 50
          type:
          - string
          - 'null'
        insured_person_dob:
          maxLength: 50
          type:
          - string
          - 'null'
        insured_person_first_name:
          maxLength: 200
          type:
          - string
          - 'null'
        insured_person_gender:
          maxLength: 1
          type:
          - string
          - 'null'
        insured_person_id:
          maxLength: 50
          type:
          - string
          - 'null'
        insured_person_last_name:
          maxLength: 200
          type:
          - string
          - 'null'
        insured_person_ssn:
          maxLength: 11
          type:
          - string
          - 'null'
        insured_person_state:
          maxLength: 2
          type:
          - string
          - 'null'
        insured_person_zip:
          maxLength: 10
          type:
          - string
          - 'null'
        member_id:
          maxLength: 50
          type:
          - string
          - 'null'
        payment_program:
          $ref: '#/components/schemas/PaymentProgramEnum'
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        plan:
          maxLength: 200
          type:
          - string
          - 'null'
        rank:
          $ref: '#/components/schemas/RankEnum'
        relationship_to_insured:
          oneOf:
          - $ref: '#/components/schemas/InsurerRelationshipType'
          - $ref: '#/components/schemas/NullEnum'
        start_date:
          format: date
          type:
          - string
          - 'null'
        state:
          maxLength: 2
          type:
          - string
          - 'null'
        suite:
          maxLength: 35
          type:
          - string
          - 'null'
        zip:
          maxLength: 10
          type:
          - string
          - 'null'
      required:
      - rank
      type: object
    TimezoneEnum:
      enum:
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Ciudad_Juarez
      - America/Costa_Rica
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Fort_Nelson
      - America/Fortaleza
      - America/Glace_Bay
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Colombo
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kathmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Riyadh
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ulaanbaatar
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faroe
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/Perth
      - Australia/Sydney
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kirov
      - Europe/Kyiv
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Ulyanovsk
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zurich
      - GMT
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Kanton
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Wake
      - Pacific/Wallis
      - US/Alaska
      - US/Arizona
      - US/Central
      - US/Eastern
      - US/Hawaii
      - US/Mountain
      - US/Pacific
      - UTC
      type: string
    PaymentProgramEnum:
      enum:
      - Commercial - HMSA
      - Commercial - Other
      - Commercial - SFHP
      - Medicaid
      - Medicare Advantage
      - Medicare Part B
      - Worker's Compensation
      type: string
    RaceEnum:
      enum:
      - American Indian or Alaska Native
      - Asian
      - Black or African American
      - Declined to specify
      - Native Hawaiian or Other Pacific Islander
      - No race specified
      - White
      type: string
    EmergencyContact:
      properties:
        address_line1:
          maxLength: 200
          type:
          - string
          - 'null'
        address_line2:
          maxLength: 35
          type:
          - string
          - 'null'
        city:
          maxLength: 50
          type:
          - string
          - 'null'
        first_name:
          maxLength: 70
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        last_name:
          maxLength: 70
          type:
          - string
          - 'null'
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        relationship:
          maxLength: 30
          type:
          - string
          - 'null'
        state:
          maxLength: 2
          type:
          - string
          - 'null'
        zip:
          maxLength: 10
          type:
          - string
          - 'null'
      type: object
    StatusStatusEnum:
      description: '* `active` - Active

        * `inactive` - Inactive

        * `prospect` - Prospect

        * `deceased` - Deceased'
      enum:
      - active
      - inactive
      - prospect
      - deceased
      type: string
    Phone:
      properties:
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        phone:
          type: string
        phone_type:
          $ref: '#/components/schemas/PhoneTypeEnum'
      required:
      - phone
      - phone_type
      type: object
    Guarantor:
      properties:
        address:
          maxLength: 200
          type: string
        city:
          maxLength: 50
          type: string
        email:
          format: email
          maxLength: 254
          type:
          - string
          - 'null'
        first_name:
          maxLength: 105
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        last_name:
          maxLength: 105
          type:
          - string
          - 'null'
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        relationship:
          oneOf:
          - $ref: '#/components/schemas/InsurerRelationshipType'
          - $ref: '#/components/schemas/NullEnum'
        state:
          maxLength: 2
          type: string
        zip:
          maxLength: 10
          type: string
      type: object
    Consent:
      description: This is the serializer for PatientConsent. It's all read-only
      properties:
        application:
          readOnly: true
          type: string
        consented:
          readOnly: true
          type: boolean
        is_active:
          readOnly: true
          type: boolean
        last_modified_date:
          format: date-time
          readOnly: true
          type: string
      type: object
    PreferredContactEnum:
      enum:
      - email
      - passport
      - phone
      - sms
      type: string
    PronounsEnum:
      enum:
      - he_him_his
      - not_listed
      - she_her_hers
      - they_them_theirs
      - None
      type: string
    PhoneTypeEnum:
      enum:
      - Fax
      - Home
      - Main
      - Mobile
      - Night
      - Other
      - Work
      type: string
    PatientPreference:
      properties:
        preferred_pharmacy_1:
          type:
          - string
          - 'null'
        preferred_pharmacy_2:
          type:
          - string
          - 'null'
      type: object
    PatientSexEnum:
      enum:
      - Female
      - Male
      - Other
      - Unknown
      type: string
    SexualOrientationEnum:
      enum:
      - asexual
      - bisexual
      - gay
      - lesbian
      - option_not_listed
      - prefer_not_to_say
      - queer
      - straight
      - unknown
      type: string
    InactiveReasonEnum:
      description: '* `left_good_terms` - Patient Left on Good Terms

        * `left_bad_terms` - Patient Left on Bad Terms

        * `practice_ended` - Practice Ended Relationship

        * `other` - Other

        * `unknown` - Unknown'
      enum:
      - left_good_terms
      - left_bad_terms
      - practice_ended
      - other
      - unknown
      type: string
    NullEnum:
      type: 'null'
    RankEnum:
      enum:
      - primary
      - secondary
      - tertiary
      type: string
    Email:
      properties:
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        email:
          format: email
          maxLength: 254
          type:
          - string
          - 'null'
      type: object
    PatchedPatient:
      properties:
        actual_name:
          maxLength: 150
          type:
          - string
          - 'null'
        address:
          oneOf:
          - $ref: '#/components/schemas/Address'
          - type: 'null'
        caregiver_practice:
          format: int64
          type: integer
        consents:
          items:
            $ref: '#/components/schemas/Consent'
          type: array
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_insurances:
          items:
            $ref: '#/components/schemas/Insurance'
          readOnly: true
          type: array
        dob:
          format: date
          type: string
        emails:
          items:
            $ref: '#/components/schemas/Email'
          type:
          - array
          - 'null'
        emergency_contact:
          oneOf:
          - $ref: '#/components/schemas/EmergencyContact'
          - type: 'null'
        employer:
          oneOf:
          - $ref: '#/components/schemas/Employer'
          - type: 'null'
        ethnicity:
          $ref: '#/components/schemas/EthnicityEnum'
        first_name:
          maxLength: 70
          type: string
        gender_identity:
          $ref: '#/components/schemas/GenderIdentityEnum'
        guarantor:
          oneOf:
          - $ref: '#/components/schemas/Guarantor'
          - type: 'null'
        id:
          readOnly: true
          type: integer
        insurances:
          items:
            $ref: '#/components/schemas/Insurance'
          type: array
        last_modified:
          format: date-time
          type: string
        last_name:
          maxLength: 70
          type: string
        legal_gender_marker:
          oneOf:
          - $ref: '#/components/schemas/LegalGenderMarkerEnum'
          - $ref: '#/components/schemas/NullEnum'
        legal_gender_marker_display:
          oneOf:
          - $ref: '#/components/schemas/LegalGenderMarkerDisplayEnum'
          - $ref: '#/components/schemas/NullEnum'
        master_patient:
          format: int64
          readOnly: true
          type: integer
        merged_into_chart:
          readOnly: true
          type:
          - integer
          - 'null'
        metadata:
          properties:
            data:
              type: object
            object_id:
              type: string
            object_web_link:
              type: string
          type:
          - object
          - 'null'
        middle_name:
          maxLength: 50
          type: string
        mothers_maiden_name:
          maxLength: 70
          type:
          - string
          - 'null'
        notes:
          type:
          - string
          - 'null'
        occupation:
          maxLength: 100
          readOnly: true
          type:
          - string
          - 'null'
        patient_status:
          oneOf:
          - $ref: '#/components/schemas/Status'
          - type: 'null'
        phones:
          items:
            $ref: '#/components/schemas/Phone'
          type: array
        preference:
          oneOf:
          - $ref: '#/components/schemas/PatientPreference'
          - type: 'null'
        preferred_contact:
          oneOf:
          - $ref: '#/components/schemas/PreferredContactEnum'
          - $ref: '#/components/schemas/NullEnum'
        preferred_language:
          type:
          - string
          - 'null'
        preferred_service_location:
          format: int64
          type:
          - integer
          - 'null'
        previous_address:
          oneOf:
          - $ref: '#/components/schemas/Address'
          - type: 'null'
        previous_first_name:
          maxLength: 70
          type:
          - string
          - 'null'
        previous_last_name:
          maxLength: 70
          type:
          - string
          - 'null'
        previous_name:
          oneOf:
          - $ref: '#/components/schemas/PatientPreviousName'
          - type: 'null'
        primary_care_provider:
          description: A read-only field that provides the internal Elation id of the collaborator record that is created within your practice to represent your practice's connection with the patient's primary care provider.
          format: int64
          readOnly: true
          type: integer
        primary_care_provider_npi:
          description: Represents the patient's primary care provider. This person may be in a different practice.
          maxLength: 10
          type:
          - string
          - 'null'
        primary_physician:
          description: Represents the physician providing care to the patient within your practice. This is a required field. This value must match the id of one of the physicians retrieved via the /physicians/ endpoint.
          format: int64
          type: integer
        pronouns:
          oneOf:
          - $ref: '#/components/schemas/PronounsEnum'
          - $ref: '#/components/schemas/NullEnum'
        pronouns_display:
          oneOf:
          - $ref: '#/components/schemas/PronounsDisplayEnum'
          - $ref: '#/components/schemas/NullEnum'
        race:
          $ref: '#/components/schemas/RaceEnum'
        sex:
          allOf:
          - $ref: '#/components/schemas/PatientSexEnum'
          default: Unknown
        sexual_orientation:
          $ref: '#/components/schemas/SexualOrientationEnum'
        sms_opt_in_status:
          type:
          - boolean
          - 'null'
        ssn:
          maxLength: 37
          type:
          - string
          - 'null'
        suffix:
          maxLength: 20
          type: string
        tags:
          items: {}
          type:
          - array
          - 'null'
        timezone:
          oneOf:
          - $ref: '#/components/schemas/TimezoneEnum'
          - $ref: '#/components/schemas/NullEnum'
        verified:
          default: true
          type: boolean
        vip:
          type:
          - boolean
          - 'null'
      type: object
    LegalGenderMarkerDisplayEnum:
      enum:
      - F
      - M
      - None Selected
      - X
      - None
      type: string
    PatientPreviousName:
      properties:
        first_name:
          maxLength: 70
          type:
          - string
          - 'null'
        last_name:
          maxLength: 70
          type:
          - string
          - 'null'
        middle_name:
          maxLength: 50
          type:
          - string
          - 'null'
        suffix:
          maxLength: 20
          type:
          - string
          - 'null'
      type: object
    Status:
      properties:
        deceased_date:
          format: date
          type:
          - string
          - 'null'
        inactive_reason:
          oneOf:
          - $ref: '#/components/schemas/InactiveReasonEnum'
          - $ref: '#/components/schemas/NullEnum'
        last_status_change:
          format: date-time
          readOnly: true
          type: string
        notes:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/StatusStatusEnum'
      type: object
    LegalGenderMarkerEnum:
      enum:
      - F
      - M
      - U
      - X
      - None
      type: string
    Address:
      properties:
        address_line1:
          maxLength: 200
          type: string
        address_line2:
          maxLength: 35
          type:
          - string
          - 'null'
        city:
          maxLength: 50
          type: string
        state:
          maxLength: 2
          type: string
        zip:
          maxLength: 10
          type: string
      type: object
    InsurerRelationshipType:
      enum:
      - Child
      - Other
      - Spouse
      type: string
    PatientPatch:
      type: object
      properties:
        first_name:
          type: string
          maxLength: 70
        middle_name:
          type: string
          maxLength: 50
        last_name:
          type: string
          maxLength: 70
        dob:
          type: string
          format: date
        sex:
          type: string
          enum:
          - Female
          - Male
          - Other
          - Unknown
        primary_physician:
          type: integer
        address:
          $ref: '#/components/schemas/Address_2'
        phones:
          type: array
          items:
            $ref: '#/components/schemas/Phone_2'
        emails:
          type: array
          items:
            $ref: '#/components/schemas/Email_2'
        patient_status:
          $ref: '#/components/schemas/PatientStatus'
        metadata:
          type: object
    Phone_2:
      type: object
      properties:
        phone:
          type: string
          description: Phone number
        phone_type:
          type: string
          enum:
          - Home
          - Work
          - Cell
          - Fax
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Human-readable error description
        error:
          type: string
          description: Machine-readable error code
    Email_2:
      type: object
      properties:
        email:
          type: string
          format: email
    Patient_2:
      allOf:
      - $ref: '#/components/schemas/PatientCreate'
      - type: object
        properties:
          id:
            type: integer
            format: int64
            readOnly: true
            description: Unique patient identifier
          created_date:
            type: string
            format: date-time
            readOnly: true
          deleted_date:
            type:
            - string
            - 'null'
            format: date-time
            readOnly: true
          merged_into_chart:
            type:
            - integer
            - 'null'
            format: int64
            readOnly: true
          sms_opt_in_status:
            type: boolean
            readOnly: true
          verified:
            type: boolean
          primary_care_provider:
            type: integer
            readOnly: true
          primary_care_provider_npi:
            type: string
            maxLength: 10
          consents:
            type: array
            readOnly: true
            items:
              type: object
    PatientCreate:
      type: object
      required:
      - first_name
      - last_name
      - dob
      - primary_physician
      - caregiver_practice
      - sex
      properties:
        first_name:
          type: string
          maxLength: 70
          description: Patient's first name
        middle_name:
          type: string
          maxLength: 50
          description: Patient's middle name
        last_name:
          type: string
          maxLength: 70
          description: Patient's last name
        suffix:
          type: string
          maxLength: 20
          description: Name suffix
        actual_name:
          type: string
          maxLength: 150
          description: Preferred name variation
        dob:
          type: string
          format: date
          description: Date of birth (YYYY-MM-DD)
        sex:
          type: string
          enum:
          - Female
          - Male
          - Other
          - Unknown
          description: Biological sex
        gender_identity:
          type: string
          enum:
          - man
          - woman
          - nonbinary
          - transgender_man
          - transgender_woman
          - prefer_not_to_say
          description: Personal gender identity
        legal_gender_marker:
          type: string
          enum:
          - M
          - F
          - X
          - U
          description: Document gender marker
        pronouns:
          type: string
          enum:
          - he_him_his
          - she_her_hers
          - they_them_theirs
          - not_listed
          description: Preferred pronouns
        sexual_orientation:
          type: string
          enum:
          - straight
          - gay
          - lesbian
          - bisexual
          - queer
          - asexual
          - unknown
        race:
          type: string
          description: Racial category
        ethnicity:
          type: string
          description: Hispanic/Latino status
        preferred_language:
          type: string
          description: Patient's preferred communication language
        preferred_contact:
          type: string
          enum:
          - sms
          - email
          - phone
          - passport
        ssn:
          type: string
          maxLength: 37
          description: Social Security Number
        primary_physician:
          type: integer
          description: ID of physician providing care within practice
        caregiver_practice:
          type: integer
          description: Practice ID
        address:
          $ref: '#/components/schemas/Address_2'
        phones:
          type: array
          maxItems: 2
          items:
            $ref: '#/components/schemas/Phone_2'
        emails:
          type: array
          items:
            $ref: '#/components/schemas/Email_2'
        notes:
          type: string
          maxLength: 500
          description: Additional notes about patient
        vip:
          type: boolean
          description: VIP status flag
        tags:
          type: array
          maxItems: 10
          items:
            type: string
        patient_status:
          $ref: '#/components/schemas/PatientStatus'
        metadata:
          type: object
          description: Custom metadata
    PaginatedPatientList_2:
      allOf:
      - $ref: '#/components/schemas/PaginationMeta'
      - type: object
        properties:
          results:
            type: array
            items:
              $ref: '#/components/schemas/Patient_2'
    PaginationMeta:
      type: object
      properties:
        count:
          type: integer
          description: Total number of results
        next:
          type:
          - string
          - 'null'
          description: URL for next page
        previous:
          type:
          - string
          - 'null'
          description: URL for previous page
    PatientStatus:
      type: object
      properties:
        status:
          type: string
          enum:
          - Active
          - Inactive
          - Prospect
          - Deceased
        reason:
          type: string
          description: Reason for status
        deleted_date:
          type: string
          format: date-time
          readOnly: true
    Address_2:
      type: object
      properties:
        address_line1:
          type: string
          description: Primary street address
        address_line2:
          type: string
          description: Secondary address line
        city:
          type: string
        state:
          type: string
          description: Two-letter state code
        zip:
          type: string
          description: ZIP or postal code
  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 25
      description: Number of results to return
    id:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Unique resource identifier
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
      description: Pagination offset
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-health-elation-health-api-openapi.yml
x-readme:
  headers: []
x-readme-fauxas: true
