openapi: 3.2.0
info:
  title: Elation Health Practices API
  version: '1.0'
  description: 'Operations tagged Practices across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-health-elation-health-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
- url: https://app.elationemr.com/api/2.0
  description: Production
tags:
- name: Practices
paths:
  /practices/:
    get:
      summary: Find Practices
      description: ''
      operationId: find-practices
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/practices/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Practices
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /practices/{id}/:
    patch:
      summary: Update Practice
      description: ''
      operationId: update-practice-wip-1
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: the practice ID
        schema:
          type: integer
          format: int32
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                address_line1:
                  type: string
                address_line2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                metadata:
                  type: object
                  description: nullable
                  properties:
                    object_id:
                      type: integer
                      description: for updating object must provide 'object_id' or 'data'
                      format: int32
                    data:
                      type: string
                      description: for updating object must provide 'object_id' or 'data'
                    object_web_link:
                      type: string
                      description: for updating object must provide 'object_id' or 'data'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"id\": 140758831005700,\n    \"name\": \"Riley, Love and Chavez1\",\n    \"address_line1\": \"47615 Johnson Route1\",\n    \"address_line2\": \"Suite 0012\",\n    \"city\": \"North Paulberg1\",\n    \"state\": \"No\",\n    \"zip\": \"616511\",\n    \"timezone\": \"Asia/Jerusalem\",\n    \"employers\": [],\n    \"physicians\": [\n        140758834544642\n    ],\n    \"service_locations\": [\n        {\n            \"address_line1\": \"47615 Johnson Route1\",\n            \"address_line2\": \"Suite 0012\",\n            \"city\": \"North Paulberg1\",\n            \"created_date\": \"2022-06-20T08:15:27Z\",\n            \"deleted_date\": null,\n            \"email\": null,\n            \"fax\": \"58-039-1261x38850\",\n            \"id\": 140758831071479,\n            \"is_primary\": true,\n            \"name\": \"Riley, Love and Chavez\",\n            \"phone\": \"884-860-7317x09091\",\n            \"place_of_service\": null,\n            \"practice\": 140758831005700,\n            \"state\": \"No\",\n            \"zip\": \"616511\"\n        }\n    ],\n    \"elation_root_oid\": \"2.16.840.1.113883.3.8294\",\n    \"metadata\": {\n        \"object_id\": \"345\",\n        \"data\": \"text\",\n        \"object_web_link\": \"link\"\n    }\n}"
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 140758831005700
                    default: 0
                  name:
                    type: string
                    example: Riley, Love and Chavez1
                  address_line1:
                    type: string
                    example: 47615 Johnson Route1
                  address_line2:
                    type: string
                    example: Suite 0012
                  city:
                    type: string
                    example: North Paulberg1
                  state:
                    type: string
                    example: 'No'
                  zip:
                    type: string
                    example: '616511'
                  timezone:
                    type: string
                    example: Asia/Jerusalem
                  employers:
                    type: array
                  physicians:
                    type: array
                    items:
                      type: integer
                      example: 140758834544642
                      default: 0
                  service_locations:
                    type: array
                    items:
                      type: object
                      properties:
                        address_line1:
                          type: string
                          example: 47615 Johnson Route1
                        address_line2:
                          type: string
                          example: Suite 0012
                        city:
                          type: string
                          example: North Paulberg1
                        created_date:
                          type: string
                          example: '2022-06-20T08:15:27Z'
                        deleted_date: {}
                        email: {}
                        fax:
                          type: string
                          example: 58-039-1261x38850
                        id:
                          type: integer
                          example: 140758831071479
                          default: 0
                        is_primary:
                          type: boolean
                          example: true
                          default: true
                        name:
                          type: string
                          example: Riley, Love and Chavez
                        phone:
                          type: string
                          example: 884-860-7317x09091
                        place_of_service: {}
                        practice:
                          type: integer
                          example: 140758831005700
                          default: 0
                        state:
                          type: string
                          example: 'No'
                        zip:
                          type: string
                          example: '616511'
                  elation_root_oid:
                    type: string
                    example: 2.16.840.1.113883.3.8294
                  metadata:
                    type: object
                    properties:
                      object_id:
                        type: string
                        example: '345'
                      data:
                        type: string
                        example: text
                      object_web_link:
                        type: string
                        example: link
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n    \"name\": \"Riley, Love and Chavez1\",\n    \"address_line1\": \"47615 Johnson Route1\",\n    \"address_line2\": \"Suite 0012\",\n    \"city\": \"North Paulberg1\",\n    \"state\": \"No\",\n    \"zip\": \"616511\",\n    \"metadata\": {\n        \"object_id\": 345,\n        \"data\": \"text\",\n        \"object_web_link\": \"link\"\n    }\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/practices/123/\",\n                    json=data,\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Practices
      security:
      - sec0: []
    put:
      summary: Update Practice
      description: ''
      operationId: update-practice-wip
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: the practice ID
        schema:
          type: integer
          format: int32
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - address_line1
              properties:
                name:
                  type: string
                address_line1:
                  type: string
                address_line2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                metadata:
                  type: object
                  description: nullable
                  properties:
                    object_id:
                      type: integer
                      description: for updating object must provide 'object_id' or 'data'
                      format: int32
                    data:
                      type: string
                      description: for updating object must provide 'object_id' or 'data'
                    object_web_link:
                      type: string
                      description: for updating object must provide 'object_id' or 'data'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"id\": 140758831005700,\n    \"name\": \"Riley, Love and Chavez1\",\n    \"address_line1\": \"47615 Johnson Route1\",\n    \"address_line2\": \"Suite 0012\",\n    \"city\": \"North Paulberg1\",\n    \"state\": \"No\",\n    \"zip\": \"616511\",\n    \"timezone\": \"Asia/Jerusalem\",\n    \"employers\": [],\n    \"physicians\": [\n        140758834544642\n    ],\n    \"service_locations\": [\n        {\n            \"address_line1\": \"47615 Johnson Route1\",\n            \"address_line2\": \"Suite 0012\",\n            \"city\": \"North Paulberg1\",\n            \"created_date\": \"2022-06-20T08:15:27Z\",\n            \"deleted_date\": null,\n            \"email\": null,\n            \"fax\": \"58-039-1261x38850\",\n            \"id\": 140758831071479,\n            \"is_primary\": true,\n            \"name\": \"Riley, Love and Chavez\",\n            \"phone\": \"884-860-7317x09091\",\n            \"place_of_service\": null,\n            \"practice\": 140758831005700,\n            \"state\": \"No\",\n            \"zip\": \"616511\"\n        }\n    ],\n    \"elation_root_oid\": \"2.16.840.1.113883.3.8294\",\n    \"metadata\": {\n        \"object_id\": \"345\",\n        \"data\": \"text\",\n        \"object_web_link\": \"link\"\n    }\n}"
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 140758831005700
                    default: 0
                  name:
                    type: string
                    example: Riley, Love and Chavez1
                  address_line1:
                    type: string
                    example: 47615 Johnson Route1
                  address_line2:
                    type: string
                    example: Suite 0012
                  city:
                    type: string
                    example: North Paulberg1
                  state:
                    type: string
                    example: 'No'
                  zip:
                    type: string
                    example: '616511'
                  timezone:
                    type: string
                    example: Asia/Jerusalem
                  employers:
                    type: array
                  physicians:
                    type: array
                    items:
                      type: integer
                      example: 140758834544642
                      default: 0
                  service_locations:
                    type: array
                    items:
                      type: object
                      properties:
                        address_line1:
                          type: string
                          example: 47615 Johnson Route1
                        address_line2:
                          type: string
                          example: Suite 0012
                        city:
                          type: string
                          example: North Paulberg1
                        created_date:
                          type: string
                          example: '2022-06-20T08:15:27Z'
                        deleted_date: {}
                        email: {}
                        fax:
                          type: string
                          example: 58-039-1261x38850
                        id:
                          type: integer
                          example: 140758831071479
                          default: 0
                        is_primary:
                          type: boolean
                          example: true
                          default: true
                        name:
                          type: string
                          example: Riley, Love and Chavez
                        phone:
                          type: string
                          example: 884-860-7317x09091
                        place_of_service: {}
                        practice:
                          type: integer
                          example: 140758831005700
                          default: 0
                        state:
                          type: string
                          example: 'No'
                        zip:
                          type: string
                          example: '616511'
                  elation_root_oid:
                    type: string
                    example: 2.16.840.1.113883.3.8294
                  metadata:
                    type: object
                    properties:
                      object_id:
                        type: string
                        example: '345'
                      data:
                        type: string
                        example: text
                      object_web_link:
                        type: string
                        example: link
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n    \"name\": \"Riley, Love and Chavez1\",\n    \"address_line1\": \"47615 Johnson Route1\",\n    \"address_line2\": \"Suite 0012\",\n    \"city\": \"North Paulberg1\",\n    \"state\": \"No\",\n    \"zip\": \"616511\",\n    \"metadata\": {\n        \"object_id\": 345,\n        \"data\": \"text\",\n        \"object_web_link\": \"link\"\n    }\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/practices/123/\",\n                    json=data,\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Practices
      security:
      - sec0: []
    get:
      summary: Get Practice
      description: ''
      operationId: get-practice
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: the practice ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  // see Practice object\n}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/practices/123/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Practices
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /practices/{id}/eligibility_usage:
    get:
      summary: Find Insurance Eligibility Usage
      description: ''
      operationId: get-insurance-eligibility-usage
      parameters:
      - name: id
        in: path
        description: The id of the practice
        required: true
        schema:
          type: integer
          format: int64
      - name: start_date
        in: query
        description: Must be earlier than end_date. If not provided, defaults to first of the current month.
        schema:
          type: string
          format: date
          default: None
      - name: end_date
        in: query
        description: Must be later than start_date. If not provided, defaults to today's date.
        schema:
          type: string
          format: date
          default: None
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"practice_id\": 123456,\n    \"eligibility_usage_counter\": 4,\n    \"start_date\": \"2022-07-01\",\n    \"end_date\": \"2022-07-28\"\n}"
              schema:
                type: object
                properties:
                  practice_id:
                    type: integer
                    example: 123456
                    default: 0
                  eligibility_usage_counter:
                    type: integer
                    example: 4
                    default: 0
                  start_date:
                    type: string
                    example: '2022-07-01'
                  end_date:
                    type: string
                    example: '2022-07-28'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"detail\": \"start_date cannot be after end_date\"\n}"
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: start_date cannot be after end_date
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/practices/123/eligibility_usage\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Practices
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/practices/:
    get:
      operationId: practices_list
      parameters:
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPracticeList'
          description: ''
      security:
      - oauth2: []
      summary: List Practices
      tags:
      - Practices
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/practices/{id}/:
    get:
      operationId: practices_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Practice'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Practice
      tags:
      - Practices
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing practice.
      operationId: practices_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPractice'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Practice'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Practice
      tags:
      - Practices
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing practice.
      operationId: practices_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Practice'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Practice'
          description: ''
      security:
      - oauth2: []
      summary: Update Practice
      tags:
      - Practices
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    NullEnum:
      type: 'null'
    Employer:
      properties:
        code:
          maxLength: 50
          type: string
        description:
          readOnly: true
          type:
          - string
          - 'null'
        name:
          readOnly: true
          type:
          - string
          - 'null'
      required:
      - code
      type: object
    BlankEnum:
      enum:
      - ''
    PatchedPractice:
      properties:
        address_line1:
          maxLength: 200
          type: string
        address_line2:
          maxLength: 200
          type: string
        city:
          maxLength: 50
          type: string
        elation_root_oid:
          readOnly: true
          type: string
        employers:
          items:
            $ref: '#/components/schemas/Employer'
          readOnly: true
          type:
          - array
          - 'null'
        id:
          readOnly: true
          type: integer
        metadata:
          properties:
            data:
              type: object
            object_id:
              type: string
            object_web_link:
              type: string
          type:
          - object
          - 'null'
        name:
          maxLength: 200
          type: string
        physicians:
          items:
            format: int64
            type: integer
          readOnly: true
          type: array
        service_locations:
          items:
            $ref: '#/components/schemas/ServiceLocation'
          readOnly: true
          type:
          - array
          - 'null'
        state:
          maxLength: 2
          type: string
        status:
          default: active
          readOnly: true
          type: string
        timezone:
          readOnly: true
          type: string
        zip:
          maxLength: 10
          type: string
      type: object
    TimezoneEnum:
      enum:
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Ciudad_Juarez
      - America/Costa_Rica
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Fort_Nelson
      - America/Fortaleza
      - America/Glace_Bay
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Colombo
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kathmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Riyadh
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ulaanbaatar
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faroe
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/Perth
      - Australia/Sydney
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kirov
      - Europe/Kyiv
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Ulyanovsk
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zurich
      - GMT
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Kanton
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Wake
      - Pacific/Wallis
      - US/Alaska
      - US/Arizona
      - US/Central
      - US/Eastern
      - US/Hawaii
      - US/Mountain
      - US/Pacific
      - UTC
      type: string
    ServiceLocation:
      properties:
        address_line1:
          description: The service location address.
          type: string
        address_line2:
          description: The service location suite.
          type: string
        city:
          default: ''
          maxLength: 50
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        email:
          format: email
          maxLength: 254
          type:
          - string
          - 'null'
        fax:
          maxLength: 20
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        is_primary:
          default: false
          type: boolean
        name:
          maxLength: 200
          type: string
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        place_of_service:
          $ref: '#/components/schemas/ServiceLocationPlaceOfServiceEnum'
        place_of_service_code:
          type: integer
        practice:
          description: The id of the practice that the service location belongs to.
          format: int64
          type: integer
        state:
          type: string
        status:
          allOf:
          - $ref: '#/components/schemas/ServiceLocationStatusEnum'
          default: active
          readOnly: true
        timezone:
          oneOf:
          - $ref: '#/components/schemas/TimezoneEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        zip:
          default: ''
          maxLength: 10
          type: string
      required:
      - address_line1
      - name
      - practice
      - state
      type: object
    ServiceLocationStatusEnum:
      enum:
      - active
      - inactive
      - suspended
      type: string
    PaginatedPracticeList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/Practice'
          type: array
      required:
      - results
      type: object
    Practice:
      properties:
        address_line1:
          maxLength: 200
          type: string
        address_line2:
          maxLength: 200
          type: string
        city:
          maxLength: 50
          type: string
        elation_root_oid:
          readOnly: true
          type: string
        employers:
          items:
            $ref: '#/components/schemas/Employer'
          readOnly: true
          type:
          - array
          - 'null'
        id:
          readOnly: true
          type: integer
        metadata:
          properties:
            data:
              type: object
            object_id:
              type: string
            object_web_link:
              type: string
          type:
          - object
          - 'null'
        name:
          maxLength: 200
          type: string
        physicians:
          items:
            format: int64
            type: integer
          readOnly: true
          type: array
        service_locations:
          items:
            $ref: '#/components/schemas/ServiceLocation'
          readOnly: true
          type:
          - array
          - 'null'
        state:
          maxLength: 2
          type: string
        status:
          default: active
          readOnly: true
          type: string
        timezone:
          readOnly: true
          type: string
        zip:
          maxLength: 10
          type: string
      required:
      - address_line1
      - address_line2
      - name
      type: object
    ServiceLocationPlaceOfServiceEnum:
      enum:
      - Ambulance - Air or Water
      - Ambulance - Land
      - Ambulatory Surgical Center
      - Assisted Living Facility
      - Birthing Center
      - Community Mental Health Center
      - Comprehensive Inpatient Rehabilitation Facility
      - Comprehensive Outpatient Rehabilitation Facility
      - Custodial Care Facility
      - Emergency Room - Hospital
      - End-Stage Renal Disease Treatment Facility
      - Federally Qualified Health Center
      - Group Home
      - Home
      - Homeless Shelter
      - Hospice
      - Independent Clinic
      - Independent Laboratory
      - Indian Health ServiceFree-standing Facility
      - Indian Health ServiceProvider-based Facility
      - Inpatient Hospital
      - Inpatient Psychiatric Facility
      - Intermediate Care Facility/Individuals with Intellectual Disabilities
      - Mass Immunization Center
      - Military Treatment Facility
      - Mobile Unit
      - Non-residential Substance Abuse Treatment Facility
      - Nursing Facility
      - Off Campus Outpatient-Hospital
      - Office
      - On Campus-Outpatient Hospital
      - Other Place of Service
      - Outreach Site/Street
      - Pharmacy
      - Place of Employment-Worksite
      - Prison/Correctional Facility
      - Programs of All-Inclusive Care for the Elderly (PACE) Center
      - Psychiatric Facility-Partial Hospitalization
      - Psychiatric Residential Treatment Center
      - Public Health Clinic
      - Residential Substance Abuse Treatment Facility
      - Rural Health Clinic
      - School
      - Skilled Nursing Facility
      - Telehealth Provided Other than in Patient’s Home
      - Telehealth Provided in Patient’s Home
      - Temporary Lodging
      - Tribal 638Free-standingFacility
      - Tribal 638Provider-basedFacility
      - Urgent Care Facility
      - Walk-in Retail Health Clinic
      type: string
    PaginationMeta:
      type: object
      properties:
        count:
          type: integer
          description: Total number of results
        next:
          type:
          - string
          - 'null'
          description: URL for next page
        previous:
          type:
          - string
          - 'null'
          description: URL for previous page
    PaginatedPracticeList_2:
      allOf:
      - $ref: '#/components/schemas/PaginationMeta'
      - type: object
        properties:
          results:
            type: array
            items:
              $ref: '#/components/schemas/Practice_2'
    Practice_2:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          description: Practice name
        phone:
          type: string
        fax:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        tax_id:
          type: string
        npi:
          type: string
          maxLength: 10
    Address:
      type: object
      properties:
        address_line1:
          type: string
          description: Primary street address
        address_line2:
          type: string
          description: Secondary address line
        city:
          type: string
        state:
          type: string
          description: Two-letter state code
        zip:
          type: string
          description: ZIP or postal code
  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 25
      description: Number of results to return
    id:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Unique resource identifier
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
      description: Pagination offset
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-health-elation-health-api-openapi.yml
x-readme:
  headers: []
x-readme-fauxas: true
