openapi: 3.2.0
info:
  title: Settings Allergy Documentation API
  version: unknown
servers:
- url: https://sandbox.elationemr.com/api/2.0
security:
- sec0: []
tags:
- name: Allergy Documentation
paths:
  /allergy_documentation/:
    post:
      summary: Create Allergy Documentation (NKDA)
      description: ''
      operationId: create-allergy-documentation-nkda
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - patient
              properties:
                patient:
                  type: integer
                  description: The id of the patient
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Allergy Documentation
    get:
      summary: Find Allergy Documentation (NKDA)
      description: ''
      operationId: find-allergy-documentation-nkda
      parameters:
      - name: patient
        in: query
        description: The patient id
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Allergy Documentation
  /allergy_documentation/{allergy_documentation_id}/:
    get:
      summary: Get Allergy Documentation (NKDA)
      description: ''
      operationId: get-allergy-documentation-nkda
      parameters:
      - name: allergy_documentation_id
        in: path
        description: The id of the allergy documentation
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Allergy Documentation
    delete:
      summary: Delete Allergy Documentation (NKDA)
      description: ''
      operationId: delete-allergy-documentation-nkda
      parameters:
      - name: allergy_documentation_id
        in: path
        description: The id of the allergy documentation
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Allergy Documentation
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
x-readme:
  headers: []
x-readme-fauxas: true
