openapi: 3.2.0
info:
  title: Elation Health Practice Medications API
  version: '1.0'
  description: 'Operations tagged Practice Medications across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-practice-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Practice Medications
paths:
  /practice_medications/:
    get:
      summary: Find Practice Medications
      description: ''
      operationId: find-practice-medications
      parameters:
      - name: name
        in: query
        description: The name of the practice medication
        schema:
          type: string
      - name: practice
        in: query
        description: The id of the practice
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Practice Medications
      security:
      - sec0: []
    post:
      summary: Create Practice Medication
      description: ''
      operationId: create-practice-medication
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - practice
              - name
              - type
              properties:
                practice:
                  type: integer
                  description: The practice id
                  format: int32
                name:
                  type: string
                  description: The name that will display for the medication in the search and when referenced by the prescription or documented med
                type:
                  type: string
                  description: Whether the practice medication is an OTC or Prescription drug
                  enum:
                  - prescription
                  - otc
                is_controlled:
                  type: boolean
                  description: Whether the drug is a controlled substance or not
                  default: false
                obsolete_date:
                  type: string
                  description: The date at which this practice medication became obsolete
                  default: 'null'
                  format: date-time
                strength:
                  type: string
                  description: The strength of the drug, e.g. 40mg
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Practice Medications
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /practice_medications/{practice_medication_id}/:
    patch:
      summary: Obsolete Practice Medication
      description: ''
      operationId: obsolete-practice-medication
      parameters:
      - name: practice_medication_id
        in: path
        description: The id of the practice medication
        schema:
          type: integer
          format: int32
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                obsoleted_date:
                  type: string
                  description: The date at which this practice medication became obsolete
                  format: date-time
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Practice Medications
      security:
      - sec0: []
    get:
      summary: Fetch Practice Medication
      description: ''
      operationId: fetch-practice-medication
      parameters:
      - name: practice_medication_id
        in: path
        description: The id of the practice medication
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Practice Medications
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/practice_medications/:
    get:
      operationId: practice_medications_list
      parameters:
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: name
        schema:
          items:
            type:
            - string
            - 'null'
          type: array
        style: form
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: practice
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMedicationList'
          description: ''
      security:
      - oauth2: []
      summary: List Practice Medications
      tags:
      - Practice Medications
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new practice medication.
      operationId: practice_medications_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Medication'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Medication'
          description: ''
      security:
      - oauth2: []
      summary: Create Practice Medication
      tags:
      - Practice Medications
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/practice_medications/{id}/:
    delete:
      description: Delete an existing practice medication.
      operationId: practice_medications_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Practice Medication
      tags:
      - Practice Medications
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      operationId: practice_medications_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Medication'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Practice Medication
      tags:
      - Practice Medications
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing practice medication.
      operationId: practice_medications_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedMedication'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Medication'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Practice Medication
      tags:
      - Practice Medications
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing practice medication.
      operationId: practice_medications_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Medication'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Medication'
          description: ''
      security:
      - oauth2: []
      summary: Update Practice Medication
      tags:
      - Practice Medications
      x-el8-docs-category: Practice API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    MedicationDrugType:
      description: '* `user` - user

        * `medispan` - medispan

        * `ss` - surescripts

        * `disp` - dispensary'
      enum:
      - user
      - medispan
      - ss
      - disp
      type: string
    PatchedMedication:
      properties:
        active_ndcs:
          items:
            type: string
          type: array
        brand_name:
          readOnly: true
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        creation_type:
          allOf:
          - $ref: '#/components/schemas/MedicationDrugType'
          default: user
          readOnly: true
        form:
          readOnly: true
          type: string
        generic_name:
          readOnly: true
          type: string
        id:
          description: The id of the medication.
          format: int64
          type: integer
        is_controlled:
          default: false
          description: Whether the drug is a controlled substance or not.
          type: boolean
        market_end_date:
          format: date-time
          type:
          - string
          - 'null'
        name:
          description: The name that will display for the medication in the search and when referenced by the prescription or documented med.
          type: string
        ndcs:
          description: The NDCs of the medication (must contain only one ndc code when creating).
          items:
            type: string
          type: array
        obsolete_date:
          description: The date at which this practice medication became obsolete.
          format: date-time
          type:
          - string
          - 'null'
        practice:
          description: The practice that created the medication. `null` for medications from the standard formulary.
          format: int64
          type: integer
        route:
          readOnly: true
          type: string
        rxnorm_cuis:
          description: The Rxnorm.cui code of the medication (must contain only one cui code when creating).
          items:
            type: string
          type: array
        strength:
          description: The strength of the drug, e.g. 40mg.
          maxLength: 255
          type:
          - string
          - 'null'
        type:
          allOf:
          - $ref: '#/components/schemas/MedicationType'
          default: prescription
          description: 'Whether the practice medication is an OTC or Prescription drug.


            * `otc` - otc

            * `prescription` - prescription

            * `discontinued` - discontinued'
      type: object
    Medication:
      properties:
        active_ndcs:
          items:
            type: string
          type: array
        brand_name:
          readOnly: true
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        creation_type:
          allOf:
          - $ref: '#/components/schemas/MedicationDrugType'
          default: user
          readOnly: true
        form:
          readOnly: true
          type: string
        generic_name:
          readOnly: true
          type: string
        id:
          description: The id of the medication.
          format: int64
          type: integer
        is_controlled:
          default: false
          description: Whether the drug is a controlled substance or not.
          type: boolean
        market_end_date:
          format: date-time
          type:
          - string
          - 'null'
        name:
          description: The name that will display for the medication in the search and when referenced by the prescription or documented med.
          type: string
        ndcs:
          description: The NDCs of the medication (must contain only one ndc code when creating).
          items:
            type: string
          type: array
        obsolete_date:
          description: The date at which this practice medication became obsolete.
          format: date-time
          type:
          - string
          - 'null'
        practice:
          description: The practice that created the medication. `null` for medications from the standard formulary.
          format: int64
          type: integer
        route:
          readOnly: true
          type: string
        rxnorm_cuis:
          description: The Rxnorm.cui code of the medication (must contain only one cui code when creating).
          items:
            type: string
          type: array
        strength:
          description: The strength of the drug, e.g. 40mg.
          maxLength: 255
          type:
          - string
          - 'null'
        type:
          allOf:
          - $ref: '#/components/schemas/MedicationType'
          default: prescription
          description: 'Whether the practice medication is an OTC or Prescription drug.


            * `otc` - otc

            * `prescription` - prescription

            * `discontinued` - discontinued'
      type: object
    MedicationType:
      description: '* `otc` - otc

        * `prescription` - prescription

        * `discontinued` - discontinued'
      enum:
      - otc
      - prescription
      - discontinued
      type: string
    PaginatedMedicationList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/Medication'
          type: array
      required:
      - results
      type: object
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-practice-api.json
x-readme:
  headers: []
x-readme-fauxas: true
