openapi: 3.2.0
info:
  title: Elation Health Refills API
  version: 2.0.0
  contact:
    name: Elation Health
    url: https://www.elationhealth.com/
  description: 'Operations tagged Refills across 2 of this provider''s published API definitions: elation-health-api-full-openapi.yaml, elation-patient-document-api.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Refills
paths:
  /api/2.0/medication_refills/:
    get:
      operationId: medication_refills_list
      parameters:
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Prescribed patient.
        explode: false
        in: query
        name: patient
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: The doctor's practice.
        explode: false
        in: query
        name: practice
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: prescriber
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Filter by received date greater than or equal to.
        in: query
        name: received_date__gte
        schema:
          format: date-time
          type: string
      - description: Filter by received date less than or equal to.
        in: query
        name: received_date__lte
        schema:
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRxRefillRequestList'
          description: ''
      security:
      - oauth2: []
      summary: List Medication Refills
      tags:
      - Refills
      x-el8-docs-category: Patient Document API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/medication_refills/{id}/:
    get:
      operationId: medication_refills_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RxRefillRequest'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Medication Refill
      tags:
      - Refills
      x-el8-docs-category: Patient Document API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    PaginatedRxRefillRequestList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/RxRefillRequest'
          type: array
      required:
      - results
      type: object
    PatientMatchingResultEnum:
      enum:
      - COMPLETE_MATCH
      - MULTIPLE_MATCHES
      - NO_MATCH
      type: string
    RxRefillRequest:
      properties:
        id:
          readOnly: true
          type: integer
        original_medication_order:
          format: int64
          type: integer
        patient:
          format: int64
          type:
          - integer
          - 'null'
        patient_matched:
          type: boolean
        patient_matching_result:
          $ref: '#/components/schemas/PatientMatchingResultEnum'
        practice:
          format: int64
          type: integer
        prescriber:
          format: int64
          type: integer
        received_date:
          format: date-time
          type: string
        requested_pharmacy_ncpdpid:
          type: integer
        supervisor:
          format: int64
          type:
          - integer
          - 'null'
      required:
      - original_medication_order
      - patient_matching_result
      - practice
      - prescriber
      - received_date
      - requested_pharmacy_ncpdpid
      type: object
  securitySchemes:
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-health-api-full-openapi.yaml
- elation-patient-document-api.json
x-readme:
  headers: []
x-readme-fauxas: true
