openapi: 3.2.0
info:
  title: Elation Health Reference Medication (Beta) API
  version: 2.0.0
  contact:
    name: Elation Health
    url: https://www.elationhealth.com/
  description: 'Operations tagged Reference Medication (Beta) across 2 of this provider''s published API definitions: elation-health-api-full-openapi.yaml, elation-reference-data-api.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Reference Medication (Beta)
paths:
  /api/2.0/reference_medications/:
    get:
      description: Requests to this endpoint must specify at least one query parameter.
      operationId: reference_medications_list
      parameters:
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The name of the reference medication.
        explode: false
        in: query
        name: name
        schema:
          items:
            type:
            - string
            - 'null'
          type: array
        style: form
      - description: Any of the National Drug Codes of packaged medications associated with the reference medication.
        explode: false
        in: query
        name: ndc
        schema:
          items:
            type:
            - string
            - 'null'
          type: array
        style: form
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: The id of the practice that created the reference medication (if applicable).
        explode: false
        in: query
        name: practice
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Any of the RxNorm Concept Identifiers associated with the reference medication.
        explode: false
        in: query
        name: rxnorm_cui
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReferenceMedicationList'
          description: ''
      security:
      - oauth2: []
      summary: List Reference Medications
      tags:
      - Reference Medication (Beta)
      x-el8-docs-category: Reference Data API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/reference_medications/{id}/:
    get:
      description: Retrieve a single reference medication
      operationId: reference_medications_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceMedication'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Reference Medication
      tags:
      - Reference Medication (Beta)
      x-el8-docs-category: Reference Data API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    MedicationDrugType:
      description: '* `user` - user

        * `medispan` - medispan

        * `ss` - surescripts

        * `disp` - dispensary'
      enum:
      - user
      - medispan
      - ss
      - disp
      type: string
    PaginatedReferenceMedicationList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/ReferenceMedication'
          type: array
      required:
      - results
      type: object
    ReferenceMedication:
      properties:
        active_ndcs:
          items:
            type: string
          type: array
        brand_name:
          readOnly: true
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        creation_type:
          allOf:
          - $ref: '#/components/schemas/MedicationDrugType'
          default: user
          readOnly: true
        form:
          readOnly: true
          type: string
        generic_name:
          readOnly: true
          type: string
        id:
          description: The id of the medication.
          format: int64
          type: integer
        is_controlled:
          default: false
          description: Whether the drug is a controlled substance or not.
          type: boolean
        market_end_date:
          format: date-time
          type:
          - string
          - 'null'
        name:
          description: The name that will display for the medication in the search and when referenced by the prescription or documented med.
          type: string
        ndcs:
          description: The NDCs of the medication (must contain only one ndc code when creating).
          items:
            type: string
          type: array
        obsolete_date:
          description: The date at which this practice medication became obsolete.
          format: date-time
          type:
          - string
          - 'null'
        practice:
          description: The practice that created the medication. `null` for medications from the standard formulary.
          format: int64
          type: integer
        route:
          readOnly: true
          type: string
        rxnorm_cuis:
          description: The Rxnorm.cui code of the medication (must contain only one cui code when creating).
          items:
            type: string
          type: array
        strength:
          description: The strength of the drug, e.g. 40mg.
          maxLength: 255
          type:
          - string
          - 'null'
        type:
          allOf:
          - $ref: '#/components/schemas/MedicationType'
          default: prescription
          description: 'Whether the practice medication is an OTC or Prescription drug.


            * `otc` - otc

            * `prescription` - prescription

            * `discontinued` - discontinued'
      type: object
    MedicationType:
      description: '* `otc` - otc

        * `prescription` - prescription

        * `discontinued` - discontinued'
      enum:
      - otc
      - prescription
      - discontinued
      type: string
  securitySchemes:
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-health-api-full-openapi.yaml
- elation-reference-data-api.json
x-readme:
  headers: []
x-readme-fauxas: true
