openapi: 3.2.0
info:
  title: Elation Health Appointments API
  version: '1.0'
  description: 'Operations tagged Appointments across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-health-elation-health-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
- url: https://app.elationemr.com/api/2.0
  description: Production
tags:
- name: Appointments
paths:
  /appointments/{id}/:
    delete:
      summary: Delete Event
      description: ''
      operationId: delete-event
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/appointments/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    get:
      summary: Get Event
      description: ''
      operationId: get-event
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 65097433178,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/appointments/65097433179/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    put:
      summary: Update Event
      description: ''
      operationId: update-appointment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"scheduled_date\": \"2016-11-28T18:30:00Z\",\n  \"duration\": 15,\n  \"reason\": None,       # typically None, can be a string of appointment type\n  \"patient\": None,      # must be None\n  \"description\": \"\",\n  \"physician\": 720898,\n  \"practice\": 655364,\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/appointments/67176497154/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    patch:
      summary: Update Event
      description: ''
      operationId: update-event
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# enter the value you want to update only. PUT will require all values, and PATCH will only require values you want to update.\ndata = {\n  \"scheduled_date\": \"2016-10-13T11:30:00Z\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/appointments/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /appointments/:
    post:
      summary: Create Event
      description: ''
      operationId: create-event
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - scheduled_date
              - reason
              - patient
              - physician
              - practice
              - time_slot_type
              properties:
                scheduled_date:
                  type: string
                  format: date
                duration:
                  type: integer
                  description: If duration is not provided, duration will be set to 15 minutes or the default duration for a particular reason
                  default: 15
                  format: int32
                reason:
                  type: string
                  description: typically should be null but can also be string of appointment type
                description:
                  type: string
                patient:
                  type: string
                  description: value must be null
                  default: 'null'
                  format: json
                physician:
                  type: integer
                  format: int32
                practice:
                  type: integer
                  format: int32
                time_slot_type:
                  type: string
                  description: value must be "event"
                  default: event
                service_location:
                  type: integer
                  description: ID of an active (non-deleted) practice location where the appointment will occur
                  format: int32
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497154, \n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"scheduled_date\": \"2016-10-13T11:15:00Z\",\n  \"reason\": None,       # typically None, can be a string of appointment type\n  \"patient\": None,      # must be None\n  \"physician\": 131074,\n  \"practice\": 65540,\n  \"time_slot_type\": \"event\"\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/appointments/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    get:
      summary: Find Events
      description: ''
      operationId: testinput
      parameters:
      - name: time_slot_type
        in: query
        description: value must be "event"
        required: true
        schema:
          type: string
      - name: physician
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: from_date
        in: query
        schema:
          type: string
          format: date
      - name: to_date
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/appointments/?time_slot_type=event&limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/appointments/?time_slot_type=event&limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/appointments/?time_slot_type=event\",\n                    headers={'Authorization': auth_header})\n\n# to search for events by scheduled_date, use the following url in the get request instead of the above \nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/appointments/?from_date=2016- 11-28T18:00:00Z&to_date=2016-11-29T18:00:00Z&time_slot_type=event\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /appointments/rooms:
    get:
      summary: Find Appointment Rooms
      description: ''
      operationId: find-appointment-rooms
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: practice
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/appointments/rooms/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/appointments/rooms/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/appointments/rooms/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /appointments/id/:
    patch:
      summary: Update Appointment Slot
      description: ''
      operationId: update-appointment-slot
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - patient
              properties:
                patient:
                  type: integer
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# The main 2 use cases for PATCH is patient reservation and cancellation\n\n# Setting the patient field to a valid patient will \"reserve\" the appointment slot for the patient\n# Setting the patient to null will cancel the reservation\n\n# if you only need to update the patient field, use the PATCH method\ndata = {\n  \"patient\": 123123\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/appointments/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    put:
      summary: Update Appointment Slot
      description: ''
      operationId: update-appointment-slot-1
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# setting a patient will \"reserve\" the appointment slot for the patient\n# if you need to update other fields as well, use the PUT method\ndata = {\n  \"patient\": 123123,\n  \"description\": \"this is a new desc\"\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/appointments/67176497153/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /appointments/slots/:
    options:
      summary: Create Appointment Slot
      description: ''
      operationId: create-appointment-slot
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497153, \n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\n# the following creates an \"unreserved\" appointment slot\ndata = {\n  \"scheduled_date\": \"2016-10-13T11:15:00Z\",\n  \"reason\": \"Follow-Up\",\n  \"physician\": 131074,\n  \"practice\": 65540,\n  \"time_slot_type\": \"appointment_slot\"\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/appointments/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /appointments/ [WIP]:
    get:
      summary: Find Events [WIP]
      description: ''
      operationId: find-events-wip
      parameters:
      - name: time_slot_type
        in: query
        description: if you want only events, value must be "event"
        required: true
        schema:
          type: string
      - name: physician
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: from_date
        in: query
        description: lookup_expr="gte"
        schema:
          type: string
          format: date
      - name: to_date
        in: query
        description: lookup_expr="lte"
        schema:
          type: string
          format: date
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/appointments/?time_slot_type=event&limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/appointments/?time_slot_type=event&limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/appointments/?time_slot_type=event\",\n                    headers={'Authorization': auth_header})\n\n# to search for events by scheduled_date, use the following url in the get request instead of the above \nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/appointments/?from_date=2016- 11-28T18:00:00Z&to_date=2016-11-29T18:00:00Z&time_slot_type=event\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    post:
      summary: Create Event [WIP]
      description: ''
      operationId: create-event-wip
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - scheduled_date
              - reason
              - patient
              - physician
              - practice
              - time_slot_type
              properties:
                scheduled_date:
                  type: string
                  format: date
                duration:
                  type: integer
                  description: If duration is not provided, duration will be set to 15 minutes or the default duration for a particular reason
                  default: 15
                  format: int32
                reason:
                  type: string
                  description: typically should be null but can also be string of appointment type
                description:
                  type: string
                patient:
                  type: integer
                  description: value must be null
                  default: null
                  format: int32
                physician:
                  type: integer
                  format: int32
                practice:
                  type: integer
                  format: int32
                time_slot_type:
                  type: string
                  description: value must be "event"
                  default: event
                  enum:
                  - (1
                  - '"appointment")'
                  - (2
                  - '"event")'
                  - (3
                  - '"appointment_slot")'
                service_location:
                  type: integer
                  description: ID of an active (non-deleted) practice location where the appointment will occur
                  format: int32
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497154, \n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"scheduled_date\": \"2016-10-13T11:15:00Z\",\n  \"reason\": None,       # typically None, can be a string of appointment type\n  \"patient\": None,      # must be None\n  \"physician\": 131074,\n  \"practice\": 65540,\n  \"time_slot_type\": \"event\"\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/appointments/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /appointments/{id}/ [WIP]:
    put:
      summary: Update Event [WIP]
      description: ''
      operationId: update-event-wip
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - scheduled_date
              - reason
              - patient
              - physician
              - practice
              - time_slot_type
              properties:
                scheduled_date:
                  type: string
                  format: date
                duration:
                  type: integer
                  description: If duration is not provided, duration will be set to 15 minutes or the default duration for a particular reason
                  default: 15
                  format: int32
                reason:
                  type: string
                  description: typically should be null but can also be string of appointment type
                description:
                  type: string
                patient:
                  type: integer
                  description: value must be null or belong to the practice
                  default: null
                  format: int32
                physician:
                  type: integer
                  format: int32
                practice:
                  type: integer
                  format: int32
                time_slot_type:
                  type: string
                  description: value must be "event"
                  default: event
                  enum:
                  - (1
                  - '"appointment")'
                  - (2
                  - '"event")'
                  - (3
                  - '"appointment_slot")'
                service_location:
                  type: integer
                  description: ID of an active (non-deleted) practice location where the appointment will occur
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497154, \n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"scheduled_date\": \"2016-11-28T18:30:00Z\",\n  \"duration\": 15,\n  \"reason\": None,       # typically None, can be a string of appointment type\n  \"patient\": None,      # must be None\n  \"description\": \"\",\n  \"physician\": 720898,\n  \"practice\": 655364,\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/appointments/67176497154/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    patch:
      summary: Update Event [WIP]
      description: ''
      operationId: update-event-wip-1
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduled_date:
                  type: string
                  format: date
                duration:
                  type: integer
                  description: If duration is not provided, duration will be set to 15 minutes or the default duration for a particular reason
                  default: 15
                  format: int32
                reason:
                  type: string
                  description: typically should be null but can also be string of appointment type
                description:
                  type: string
                patient:
                  type: integer
                  description: value must be null
                  default: null
                  format: int32
                physician:
                  type: integer
                  format: int32
                practice:
                  type: integer
                  format: int32
                time_slot_type:
                  type: string
                  description: value must be "event"
                  default: event
                  enum:
                  - (1
                  - '"appointment")'
                  - (2
                  - '"event")'
                  - (3
                  - '"appointment_slot")'
                service_location:
                  type: integer
                  description: ID of an active (non-deleted) practice location where the appointment will occur
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497154, \n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# enter the value you want to update only. PUT will require all values, and PATCH will only require values you want to update.\ndata = {\n  \"scheduled_date\": \"2016-10-13T11:30:00Z\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/appointments/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /appointments/[WIP]:
    post:
      summary: Create Appointment [WIP]
      description: ''
      operationId: create-appointment-wip
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - scheduled_date
              - reason
              - patient
              - physician
              - practice
              properties:
                scheduled_date:
                  type: string
                  format: date
                duration:
                  type: integer
                  description: If duration is not provided, the default duration will be used given a particular reason
                  format: int32
                reason:
                  type: string
                description:
                  type: string
                patient:
                  type: integer
                  format: int32
                physician:
                  type: integer
                  format: int32
                practice:
                  type: integer
                  format: int32
                status:
                  type: object
                  required:
                  - status
                  properties:
                    status:
                      type: string
                      enum:
                      - ("scheduled"
                      - '"Scheduled")'
                      - ("confirmed"
                      - '"Confirmed")'
                      - ("checkedIn"
                      - '"Checked In")'
                      - ("inRoom"
                      - '"In Room")'
                      - ("vitalsTaken"
                      - '"In Room - Vitals Taken")'
                      - ("withDr"
                      - '"With Doctor")'
                      - ("checkedOut"
                      - '"Checked Out")'
                      - ("billed"
                      - '"Billed")'
                      - ("notSeen"
                      - '"Not Seen")'
                      - ("cancelled"
                      - '"Cancelled")'
                    room:
                      type: string
                      description: the value must be one of available rooms for the selected practice
                service_location:
                  type: integer
                  description: ID of an active (non-deleted) practice location where the appointment will occur
                  format: int32
                billing_details:
                  type: object
                  properties:
                    billing_note:
                      type: string
                    referring_provider:
                      type: string
                    referring_provider_state:
                      type: string
                      description: The field must not have more that 2 characters (max_length=2)
                time_slot_type:
                  type: string
                  default: appointment
                  enum:
                  - (1
                  - '"appointment")'
                  - (2
                  - '"event")'
                  - (3
                  - '"appointment_slot")'
                metadata:
                  type: object
                  properties:
                    object_id:
                      type: integer
                      description: for updating object must provide 'object_id' or 'data'
                      format: int32
                    data:
                      type: string
                      description: for updating object must provide 'object_id' or 'data'
                    object_web_link:
                      type: string
                      description: for updating object must provide 'object_id' or 'data'
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497153, \n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"scheduled_date\": \"2016-10-13T11:15:00Z\",\n  \"reason\": \"Follow-Up\",\n  \"patient\": 64901939201,\n  \"physician\": 131074,\n  \"practice\": 65540\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/appointments/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /appointments/{id}/  [WIP]:
    put:
      summary: Update Appointment [WIP]
      description: ''
      operationId: update-appointment-wip
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - scheduled_date
              - reason
              - patient
              - physician
              - practice
              properties:
                scheduled_date:
                  type: string
                  format: date
                duration:
                  type: integer
                  description: If duration is not provided, the default duration will be used given a particular reason
                  format: int32
                reason:
                  type: string
                description:
                  type: string
                patient:
                  type: integer
                  format: int32
                physician:
                  type: integer
                  format: int32
                practice:
                  type: integer
                  format: int32
                status:
                  type: object
                  required:
                  - status
                  properties:
                    status:
                      type: string
                      enum:
                      - ("scheduled"
                      - '"Scheduled")'
                      - ("confirmed"
                      - '"Confirmed")'
                      - ("checkedIn"
                      - '"Checked In")'
                      - ("inRoom"
                      - '"In Room")'
                      - ("vitalsTaken"
                      - '"In Room - Vitals Taken")'
                      - ("withDr"
                      - '"With Doctor")'
                      - ("checkedOut"
                      - '"Checked Out")'
                      - ("billed"
                      - '"Billed")'
                      - ("notSeen"
                      - '"Not Seen")'
                      - ("cancelled"
                      - '"Cancelled")'
                    room:
                      type: string
                      description: the value must be one of available rooms for the selected practice
                service_location:
                  type: integer
                  description: ID of an active (non-deleted) practice location where the appointment will occur
                  format: int32
                billing_details:
                  type: object
                  properties:
                    billing_note:
                      type: string
                    referring_provider:
                      type: string
                    referring_provider_state:
                      type: string
                      description: The field must not have more that 2 characters (max_length=2)
                time_slot_type:
                  type: string
                  default: appointment
                  enum:
                  - (1
                  - '"appointment")'
                  - (2
                  - '"event")'
                  - (3
                  - '"appointment_slot")'
                metadata:
                  type: object
                  properties:
                    object_id:
                      type: integer
                      description: for updating object must provide 'object_id' or 'data'
                      format: int32
                    data:
                      type: string
                      description: for updating object must provide 'object_id' or 'data'
                    object_web_link:
                      type: string
                      description: for updating object must provide 'object_id' or 'data'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497153, \n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"scheduled_date\": \"2016-11-28T18:00:00Z\",\n  \"duration\": 15,\n  \"reason\": \"Follow-Up\",\n  \"patient\": 64412254209,\n  \"description\": \"\",\n  \"physician\": 720898,\n  \"practice\": 655364,\n  \"status\": {\n        \"status\": \"Scheduled\"\n  }\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/appointments/67176497153/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    patch:
      summary: Update Appointment [WIP]
      description: ''
      operationId: update-appointment-wip-1
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduled_date:
                  type: string
                  format: date
                duration:
                  type: integer
                  description: If duration is not provided, the default duration will be used given a particular reason
                  format: int32
                reason:
                  type: string
                description:
                  type: string
                patient:
                  type: integer
                  format: int32
                physician:
                  type: integer
                  format: int32
                practice:
                  type: integer
                  format: int32
                status:
                  type: object
                  required:
                  - status
                  properties:
                    status:
                      type: string
                      enum:
                      - ("scheduled"
                      - '"Scheduled")'
                      - ("confirmed"
                      - '"Confirmed")'
                      - ("checkedIn"
                      - '"Checked In")'
                      - ("inRoom"
                      - '"In Room")'
                      - ("vitalsTaken"
                      - '"In Room - Vitals Taken")'
                      - ("withDr"
                      - '"With Doctor")'
                      - ("checkedOut"
                      - '"Checked Out")'
                      - ("billed"
                      - '"Billed")'
                      - ("notSeen"
                      - '"Not Seen")'
                      - ("cancelled"
                      - '"Cancelled")'
                    room:
                      type: string
                      description: the value must be one of available rooms for the selected practice
                service_location:
                  type: integer
                  description: ID of an active (non-deleted) practice location where the appointment will occur
                  format: int32
                billing_details:
                  type: object
                  properties:
                    billing_note:
                      type: string
                    referring_provider:
                      type: string
                    referring_provider_state:
                      type: string
                      description: The field must not have more that 2 characters (max_length=2)
                time_slot_type:
                  type: string
                  default: appointment
                  enum:
                  - (1
                  - '"appointment")'
                  - (2
                  - '"event")'
                  - (3
                  - '"appointment_slot")'
                metadata:
                  type: object
                  properties:
                    object_id:
                      type: integer
                      description: for updating object must provide 'object_id' or 'data'
                      format: int32
                    data:
                      type: string
                      description: for updating object must provide 'object_id' or 'data'
                    object_web_link:
                      type: string
                      description: for updating object must provide 'object_id' or 'data'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497153, \n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# enter the value you want to update only. PUT will require all values, and PATCH will only require values you want to update.\ndata = {\n  \"status\": {\n        \"status\": \"Scheduled\"\n  }\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/appointments/67176497153/\",\n                      data=json.dumps(data),\n                      headers={'Authorization': auth_header,\n                               'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Appointments
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/appointments/:
    get:
      operationId: appointments_list
      parameters:
      - in: query
        name: from_date
        schema:
          format: date-time
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: patient
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - in: query
        name: physician
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: practice
        schema:
          items:
            type: integer
          type: array
        style: form
      - in: query
        name: time_slot_type
        schema:
          enum:
          - appointment
          - appointment_slot
          - event
          type: string
      - in: query
        name: to_date
        schema:
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAppointmentList'
          description: ''
      security:
      - oauth2: []
      summary: List Appointments
      tags:
      - Appointments
      x-el8-docs-category: Scheduling API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new appointment.
      operationId: appointments_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appointment'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
          description: ''
      security:
      - oauth2: []
      summary: Create Appointment
      tags:
      - Appointments
      x-el8-docs-category: Scheduling API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/appointments/{id}/:
    delete:
      description: Delete an existing appointment.
      operationId: appointments_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Appointment
      tags:
      - Appointments
      x-el8-docs-category: Scheduling API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      operationId: appointments_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Appointment
      tags:
      - Appointments
      x-el8-docs-category: Scheduling API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing appointment.
      operationId: appointments_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedAppointment'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Appointment
      tags:
      - Appointments
      x-el8-docs-category: Scheduling API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing appointment.
      operationId: appointments_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appointment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
          description: ''
      security:
      - oauth2: []
      summary: Update Appointment
      tags:
      - Appointments
      x-el8-docs-category: Scheduling API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    NullEnum:
      type: 'null'
    TimeSlotTypeEnum:
      enum:
      - appointment
      - appointment_slot
      - event
      type: string
    ModeEnum:
      enum:
      - IN_PERSON
      - VIDEO
      type: string
    Appointment:
      properties:
        appointment_type_id:
          description: The ID of an existing appointment type to assign to the appointment. Provide this instead of 'reason' to reference a specific appointment type rather than matching or creating one by name. If both 'reason' and 'appointment_type_id' are supplied, 'reason' takes precedence.
          format: int64
          type:
          - integer
          - 'null'
        billing_details:
          description: The billing details for the appointment.
          oneOf:
          - $ref: '#/components/schemas/AppointmentBillingDetails'
          - type: 'null'
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        duration:
          description: The duration of the appointment in minutes. If duration is not provided, the default duration will be used given a reason.
          maximum: 2147483647
          minimum: -2147483648
          type: integer
        id:
          readOnly: true
          type: integer
        instructions:
          type:
          - string
          - 'null'
        is_blocking:
          readOnly: true
          type: boolean
        last_modified_date:
          format: date-time
          readOnly: true
          type: string
        metadata:
          properties:
            data:
              type: object
            object_id:
              type: string
            object_web_link:
              type: string
          type:
          - object
          - 'null'
        mode:
          $ref: '#/components/schemas/ModeEnum'
        patient:
          format: int64
          type:
          - integer
          - 'null'
        payment:
          oneOf:
          - $ref: '#/components/schemas/Payment'
          - type: 'null'
        physician:
          format: int64
          type: integer
        practice:
          format: int64
          type: integer
        reason:
          maxLength: 50
          type:
          - string
          - 'null'
        recurring_event_schedule:
          format: int64
          type:
          - integer
          - 'null'
        scheduled_date:
          format: date-time
          type: string
        service_location:
          description: The ID of the service location where the appointment will occur.
          properties:
            address_line1:
              nullable: true
              type: string
            address_line2:
              nullable: true
              type: string
            city:
              nullable: true
              type: string
            created_date:
              format: date-time
              nullable: true
              type: string
            deleted_date:
              format: date-time
              nullable: true
              type: string
            id:
              format: int64
              type: integer
            is_primary:
              type: boolean
            name:
              type: string
            phone:
              nullable: true
              type: string
            place_of_service:
              enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 13
              - 14
              - 15
              - 16
              - 17
              - 18
              - 19
              - 20
              - 21
              - 22
              - 23
              - 24
              - 25
              - 26
              - 27
              - 31
              - 32
              - 33
              - 34
              - 41
              - 42
              - 49
              - 50
              - 51
              - 52
              - 53
              - 54
              - 55
              - 56
              - 57
              - 60
              - 61
              - 62
              - 65
              - 66
              - 71
              - 72
              - 81
              - 99
              nullable: true
              type: integer
            state:
              nullable: true
              type: string
            zip:
              nullable: true
              type: string
          type:
          - object
          - integer
          - 'null'
        status:
          oneOf:
          - $ref: '#/components/schemas/AppointmentStatus'
          - type: 'null'
        telehealth_details:
          deprecated: true
          type:
          - string
          - 'null'
        time_slot_status:
          oneOf:
          - $ref: '#/components/schemas/TimeSlotStatusEnum'
          - $ref: '#/components/schemas/NullEnum'
        time_slot_type:
          $ref: '#/components/schemas/TimeSlotTypeEnum'
        transportation_details:
          description: The transportation details for the appointment.
          oneOf:
          - $ref: '#/components/schemas/TransportationDetails'
          - type: 'null'
      required:
      - patient
      - physician
      - practice
      - scheduled_date
      type: object
    AppointmentStatusStatusEnum:
      enum:
      - Billed
      - Cancelled
      - Checked In
      - Checked Out
      - Confirmed
      - In Room
      - In Room - Vitals Taken
      - Not Seen
      - Scheduled
      - With Doctor
      type: string
    AppointmentBillingDetails:
      properties:
        billing_note:
          type:
          - string
          - 'null'
        prior_authorization:
          maxLength: 50
          type:
          - string
          - 'null'
        referring_provider:
          maxLength: 100
          type:
          - string
          - 'null'
        referring_provider_state:
          maxLength: 2
          type:
          - string
          - 'null'
      type: object
    PatchedAppointment:
      properties:
        appointment_type_id:
          description: The ID of an existing appointment type to assign to the appointment. Provide this instead of 'reason' to reference a specific appointment type rather than matching or creating one by name. If both 'reason' and 'appointment_type_id' are supplied, 'reason' takes precedence.
          format: int64
          type:
          - integer
          - 'null'
        billing_details:
          description: The billing details for the appointment.
          oneOf:
          - $ref: '#/components/schemas/AppointmentBillingDetails'
          - type: 'null'
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        duration:
          description: The duration of the appointment in minutes. If duration is not provided, the default duration will be used given a reason.
          maximum: 2147483647
          minimum: -2147483648
          type: integer
        id:
          readOnly: true
          type: integer
        instructions:
          type:
          - string
          - 'null'
        is_blocking:
          readOnly: true
          type: boolean
        last_modified_date:
          format: date-time
          readOnly: true
          type: string
        metadata:
          properties:
            data:
              type: object
            object_id:
              type: string
            object_web_link:
              type: string
          type:
          - object
          - 'null'
        mode:
          $ref: '#/components/schemas/ModeEnum'
        patient:
          format: int64
          type:
          - integer
          - 'null'
        payment:
          oneOf:
          - $ref: '#/components/schemas/Payment'
          - type: 'null'
        physician:
          format: int64
          type: integer
        practice:
          format: int64
          type: integer
        reason:
          maxLength: 50
          type:
          - string
          - 'null'
        recurring_event_schedule:
          format: int64
          type:
          - integer
          - 'null'
        scheduled_date:
          format: date-time
          type: string
        service_location:
          description: The ID of the service location where the appointment will occur.
          properties:
            address_line1:
              nullable: true
              type: string
            address_line2:
              nullable: true
              type: string
            city:
              nullable: true
              type: string
            created_date:
              format: date-time
              nullable: true
              type: string
            deleted_date:
              format: date-time
              nullable: true
              type: string
            id:
              format: int64
              type: integer
            is_primary:
              type: boolean
            name:
              type: string
            phone:
              nullable: true
              type: string
            place_of_service:
              enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 13
              - 14
              - 15
              - 16
              - 17
              - 18
              - 19
              - 20
              - 21
              - 22
              - 23
              - 24
              - 25
              - 26
              - 27
              - 31
              - 32
              - 33
              - 34
              - 41
              - 42
              - 49
              - 50
              - 51
              - 52
              - 53
              - 54
              - 55
              - 56
              - 57
              - 60
              - 61
              - 62
              - 65
              - 66
              - 71
              - 72
              - 81
              - 99
              nullable: true
              type: integer
            state:
              nullable: true
              type: string
            zip:
              nullable: true
              type: string
          type:
          - object
          - integer
          - 'null'
        status:
          oneOf:
          - $ref: '#/components/schemas/AppointmentStatus'
          - type: 'null'
        telehealth_details:
          deprecated: true
          type:
          - string
          - 'null'
        time_slot_status:
          oneOf:
          - $ref: '#/components/schemas/TimeSlotStatusEnum'
          - $ref: '#/components/schemas/NullEnum'
        time_slot_type:
          $ref: '#/components/schemas/TimeSlotTypeEnum'
        transportation_details:
          description: The transportation details for the appointment.
          oneOf:
          - $ref: '#/components/schemas/TransportationDetails'
          - type: 'null'
      type: object
    TimeSlotStatusEnum:
      enum:
      - not_avail_for_self_schedule
      type: string
    TransportationDetails:
      description: 'Typed API shape for the ``transportation`` attribute, backed by the generic

        ``AppointmentAttribute`` store. Fields mirror ``TransportationAttr``; that Pydantic

        schema is the authoritative validator on write (length/format constraints live there,

        not here, to avoid drift).'
      properties:
        is_required:
          type: boolean
        notes:
          type:
          - string
          - 'null'
      type: object
    AppointmentStatus:
      properties:
        room:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/AppointmentStatusStatusEnum'
        status_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        status_detail:
          type:
          - string
          - 'null'
      required:
      - status
      type: object
    Payment:
      properties:
        amount:
          format: decimal
          pattern: ^-?\d{0,10}(?:\.\d{0,2})?$
          type: string
        appointment:
          format: int64
          type:
          - integer
          - 'null'
        bill:
          format: int64
          type:
          - integer
          - 'null'
        create_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        delete_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        when_collected:
          format: date-time
          type: string
      required:
      - amount
      - when_collected
      type: object
    PaginatedAppointmentList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/Appointment'
          type: array
      required:
      - results
      type: object
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Human-readable error description
        error:
          type: string
          description: Machine-readable error code
    Appointment_2:
      allOf:
      - $ref: '#/components/schemas/AppointmentCreate'
      - type: object
        properties:
          id:
            type: integer
            format: int64
            readOnly: true
          time_slot_type:
            type: string
            default: appointment
          time_slot_status:
            type:
            - object
            - 'null'
          status:
            $ref: '#/components/schemas/AppointmentStatus_2'
          payment:
            type:
            - object
            - 'null'
            properties:
              amount:
                type: number
              collection_date:
                type: string
                format: date
          billing_details:
            type:
            - object
            - 'null'
          is_blocking:
            type: boolean
            readOnly: true
          created_date:
            type: string
            format: date-time
            readOnly: true
          last_modified_date:
            type: string
            format: date-time
            readOnly: true
          deleted_date:
            type:
            - string
            - 'null'
            format: date-time
            readOnly: true
    PaginatedAppointmentList_2:
      allOf:
      - $ref: '#/components/schemas/PaginationMeta'
      - type: object
        properties:
          results:
            type: array
            items:
              $ref: '#/components/schemas/Appointment_2'
    AppointmentStatus_2:
      type: object
      properties:
        status:
          type: string
          enum:
          - Scheduled
          - Confirmed
          - Checked Out
          - Cancelled
          - With Doctor
          - In Room
          - Checked In
          - In Room - Vitals Taken
          - Not Seen
          - Billed
        room:
          type: string
          description: Physical room assignment
        status_date:
          type: string
          format: date-time
          readOnly: true
        status_detail:
          type: string
          enum:
          - No Show
          - Left Without Seeing
          - Other
          description: Additional detail when status is Not Seen
    PaginationMeta:
      type: object
      properties:
        count:
          type: integer
          description: Total number of results
        next:
          type:
          - string
          - 'null'
          description: URL for next page
        previous:
          type:
          - string
          - 'null'
          description: URL for previous page
    AppointmentPatch:
      type: object
      properties:
        scheduled_date:
          type: string
          format: date-time
        duration:
          type: integer
        reason:
          type: string
          maxLength: 50
        description:
          type: string
          maxLength: 500
        status:
          $ref: '#/components/schemas/AppointmentStatus_2'
        mode:
          type: string
          enum:
          - IN_PERSON
          - VIDEO
        instructions:
          type: string
          maxLength: 500
    AppointmentCreate:
      type: object
      required:
      - scheduled_date
      - duration
      - reason
      - patient
      - physician
      - practice
      - service_location
      properties:
        scheduled_date:
          type: string
          format: date-time
          description: Appointment date and time (ISO 8601)
        duration:
          type: integer
          minimum: 1
          maximum: 1440
          description: Duration in minutes (5-minute increments)
        reason:
          type: string
          maxLength: 50
          description: Appointment reason/type
        description:
          type: string
          maxLength: 500
          description: Additional context
        patient:
          type: integer
          format: int64
          description: Patient ID
        physician:
          type: integer
          format: int64
          description: Physician ID
        practice:
          type: integer
          format: int64
          description: Practice ID
        service_location:
          type: object
          description: Facility where appointment occurs
        mode:
          type: string
          enum:
          - IN_PERSON
          - VIDEO
          description: Visit format
        instructions:
          type: string
          maxLength: 500
          description: Appointment instructions
        metadata:
          type:
          - object
          - 'null'
  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 25
      description: Number of results to return
    id:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Unique resource identifier
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
      description: Pagination offset
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-health-elation-health-api-openapi.yml
x-readme:
  headers: []
x-readme-fauxas: true
