openapi: 3.2.0
info:
  description: 'This set of API resources allows you to import patient data into the Elation

    EMR.'
  version: 1.0.2
  title: Elation Import patient chart import API
  termsOfService: https://www.elationhealth.com/terms-of-use/
  contact:
    email: api-support@elationhealth.com
servers:
- description: Elation Production API
  url: https://api.app.elationemr.com/api/2.0
- description: Elation Sandbox API
  url: https://sandbox.elationemr.com/api/2.0
tags:
- name: patient chart import
paths:
  /data-import-requests/{dir-id}/patient-chart-imports:
    parameters:
    - name: dir-id
      in: path
      description: ID of the data-import-request
      required: true
      schema:
        type: integer
    get:
      tags:
      - patient chart import
      summary: Finds patient_chart_import records by status
      description: Multiple status values can be provided with comma separated strings
      operationId: findchartsByStatus
      parameters:
      - name: status
        in: query
        description: Status values that need to be considered for filter
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            default: open
            enum:
            - open
            - pending
            - processing
            - failed
            - completed
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PatientChartInputGetList'
              example:
              - id: 10
                patientId: 11
                dataImportRequestId: 12
                completedAt: 12341234123
                errors: null
                sectionStatus: []
                status: open
                startedProcessingAt: null
        '400':
          description: Invalid status value
          content: {}
        '401':
          description: No valid credentials provided
        '403':
          description: Your credentials are not authorized to use the import API resources
        '404':
          description: Data Import Request not found
      security:
      - elation_auth:
        - import
    post:
      tags:
      - patient chart import
      summary: Add a new patient-chart-import to the associated data import request
      operationId: addchart
      requestBody:
        description: patient-chart-import object that needs to be added to the DIR
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientChartInputPost'
        required: true
      responses:
        '400':
          description: Validation error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: No valid credentials provided
        '403':
          description: Your credentials are not authorized to use the import API resources
        '404':
          description: Existing Data Import Request not found
        '422':
          description: The request body could not be parsed as JSON
      security:
      - elation_auth:
        - import
  /data-import-requests/{dir-id}/patient-chart-imports/{pci-id}:
    parameters:
    - name: dir-id
      in: path
      description: ID of the data-import-request
      required: true
      schema:
        type: integer
        format: int64
    - name: pci-id
      in: path
      description: ID of patient-chart-import to return
      required: true
      schema:
        type: integer
        format: int64
    get:
      tags:
      - patient chart import
      summary: Find patient-chart-import by ID
      description: Returns a single patient-chart-import
      operationId: getPatientChartImportById
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientChartInputGetId'
        '401':
          description: No valid credentials provided
        '403':
          description: Your credentials are not authorized to use the import API resources
        '404':
          description: Data Import Request or Patient Chart Import not found
          content: {}
      security:
      - elation_auth:
        - import
    put:
      tags:
      - patient chart import
      summary: Update an existing patient-chart-import
      operationId: updatepatient-chart-import
      requestBody:
        description: patient-chart-import object that needs to be added to the DIR
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientChartInputPut'
        required: true
      responses:
        '400':
          description: Validation error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: No valid credentials provided
        '403':
          description: Your credentials are not authorized to use the import API resources
        '404':
          description: Data Import Request or Patient Chart Import not found
          content: {}
        '422':
          description: The request body could not be parsed as JSON
      security:
      - elation_auth:
        - import
    patch:
      tags:
      - patient chart import
      summary: Updates a patient-chart-import in the store with form data
      operationId: updatepatient-chart-importWithForm
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Updated name of the patient-chart-import
                status:
                  $ref: '#/components/schemas/JobStatus'
      responses:
        '400':
          description: Validation error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '405':
          description: Invalid input
          content: {}
      security:
      - elation_auth:
        - import
    delete:
      tags:
      - patient chart import
      summary: Deletes a patient-chart-import
      operationId: deletepatient-chart-import
      responses:
        '401':
          description: No valid credentials provided
        '403':
          description: Patient Chart Import is in a state where it cannot be deleted; or your credentials are not authorized to use the import API resources
        '404':
          description: Data Import Request or Patient Chart Import not found
          content: {}
      security:
      - elation_auth:
        - import
  /data-import-requests/{dir-id}/patient-chart-imports/{pci-id}/render-requests:
    parameters:
    - name: dir-id
      in: path
      description: ID of data-import-request to update
      required: true
      schema:
        type: integer
        format: int64
    - name: pci-id
      in: path
      description: ID of patient-chart-import to update
      required: true
      schema:
        type: integer
        format: int64
    post:
      tags:
      - patient chart import
      summary: uploads an document for rendering
      operationId: uploadFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                additionalMetadata:
                  type: string
                  description: Additional data to pass to server
                file:
                  type: string
                  description: file to upload
                  format: binary
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Validation error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '404':
          description: Data Import Request or Patient Chart Import not found
          content: {}
      security:
      - elation_auth:
        - import
components:
  schemas:
    ValidationErrorResponse:
      type: object
      additionalProperties:
        description: Name of the field with validation errors
        type: array
        items:
          type: string
          description: Validation error string
    ChartBuilderJson:
      description: contains JSON schema that describes the json that chart_builder.py consumes to create chart. Schemas are uploaded to a public s3 endpoint that is backing http://data-import.elationemr.com. The files are stored in the /spec/ folder.
      type: object
    PatientChartInputGetList:
      required:
      - chart_json
      - status
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: read-only
        patient_id:
          type: integer
          format: int64
          description: read-only, Only set after import has occurred
        data_import_request_id:
          type: integer
          format: int64
          description: read-only after initial creation
        completed_at:
          type: integer
          format: date-time
          description: unix UTC timestamp
        errors:
          type: array
          items:
            type: object
            format: json
            description: List of field/message tuples describing the issues with the latest attempt to import the associated chart_json
        section_status:
          type: object
          description: TBD.  Some object that indicates which sections of the chart were successfully imported and which failed.
        status:
          $ref: '#/components/schemas/JobStatus'
        started_processing_at:
          type: string
          format: date-time
          description: (iso8601) datetime. read-only
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
    PatientChartInputGetId:
      allOf:
      - $ref: '#/components/schemas/PatientChartInputGetList'
      - type: object
      properties:
        chart_json:
          $ref: '#/components/schemas/ChartBuilderJson'
    PatientChartInputPost:
      required:
      - chart_json
      - status
      type: object
      properties:
        source_patient_id:
          type: string
          description: a patient key, normally (fname|lname|dob|gender)
        chart_json:
          $ref: '#/components/schemas/ChartBuilderJson'
        status:
          $ref: '#/components/schemas/JobStatus'
    JobStatus:
      type: string
      default: open
      description: The current status of the patient chart import. Options are open, pending, processing, failed, completed
      enum:
      - open
      - pending
      - processing
      - failed
      - completed
    PatientChartInputPut:
      required:
      - chart_json
      - status
      type: object
      properties:
        patient_id:
          type: integer
          format: int64
          description: read-only, Only set after import has occurred
        chart_json:
          $ref: '#/components/schemas/ChartBuilderJson'
        status:
          $ref: '#/components/schemas/JobStatus'
  securitySchemes:
    elation_auth:
      type: oauth2
      flows:
        password:
          tokenUrl: http://www.elationhealth.com/api/2.0/oauth
          refreshUrl: http://www.elationhealth.com/api/2.0/oauth
          scopes:
            import: interact with data imports in your practice
externalDocs:
  description: Elation API v2 Documentation
  url: https://docs.elationhealth.com/reference
