{"openapi":"3.1.0","info":{"title":"API Settings","version":"unknown"},"servers":[{"url":"https://sandbox.elationemr.com/api/2.0"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://example.com/oauth2/token","scopes":{}}}}}},"security":[{"sec0":[]}],"paths":{"/patients/:id/":{"put":{"summary":"Update Patient","description":"","operationId":"update-patient","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 67176497153,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"first_name\": \"test\",\n  \"last_name\": \"patient\",\n  \"sex\": \"Female\",\n  \"dob\": \"1955-10-01\",\n  \"primary_physician\": 131074,\n  \"caregiver_practice\": 65540\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/patients/67176497153/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"}],"samples-languages":["python"]}}},"/patients/{id}":{"get":{"summary":"Get Patient","description":"","operationId":"get-patient","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}},"303":{"description":"303","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/patients/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"},{"language":"curl","code":"curl https://sandbox.elationemr.com/api/2.0/patients/64184451073/ \\\n> -H \"Authorization: Bearer XaTtPYZ8Ufy04f0187fPbWFkwcADF0\"","name":"cURL"}],"samples-languages":["python","curl"]}}},"/problems/":{"get":{"summary":"Find Problems","description":"","operationId":"list-problems","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"patient","in":"path","schema":{"type":"array","items":{"type":"integer","format":"int64"}},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/problems/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/problems/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/problems/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"},{"language":"text","code":"url https://sandbox.elationemr.com/api/2.0/problems/ \\\n> -H \"Authorization: Bearer e2itiEbVvhqGSxj5V6xjyFy1A4xfIi\"","name":"cURL"}],"samples-languages":["python","text"]}},"post":{"summary":"Create Problem","description":"","operationId":"create-problem","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["patient","status","dx","practice"],"properties":{"patient":{"type":"integer","description":"The Patient id","format":"int32"},"status":{"type":"string","description":"problem status","enum":["Active","Controlled","Resolved"]},"dx":{"type":"array","description":"diagnosed object","items":{"properties":{"icd10":{"type":"array","items":{"properties":{"code":{"type":"string","description":"icd10 code"}},"type":"object"}},"snomed":{"type":"integer","description":"snomed code","format":"int32"}},"type":"object"}},"description":{"type":"string","description":"problem description"},"synopsis":{"type":"string","description":"problem detail"},"start_date":{"type":"string","description":"problem start date","format":"date"},"resolved_date":{"type":"string","description":"problem resolved date","format":"date"},"rank":{"type":"integer","description":"count of problems","default":null,"format":"int32"},"practice":{"type":"integer","description":"The practice id","format":"int32"},"created_date":{"type":"string","description":"date problem was created","format":"date"},"deleted_date":{"type":"string","description":"date problem was deleted","format":"date"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"dx\": [{\"snomed\": \"216267008\"}],\n  \"patient\": 64901939201,\n  \"status\": \"Active\"\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/problems/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/patients/{id}/":{"delete":{"summary":"Delete Patient","description":"","operationId":"delete-patient","parameters":[{"name":"id","in":"path","schema":{"type":"integer","format":"int64"},"required":true},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"text/plain":{"examples":{"Result":{"value":"// not content will be returned"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/patients/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}},"patch":{"summary":"Update Patient","description":"","operationId":"update-patient-1","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 67176497153,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"first_name\": \"test\"\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/patients/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"}],"samples-languages":["python"]}}},"/appointments/{id}/":{"delete":{"summary":"Delete Event","description":"","operationId":"delete-event","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/appointments/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}},"get":{"summary":"Get Event","description":"","operationId":"get-event","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 65097433178,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/appointments/65097433179/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"put":{"summary":"Update Event","description":"","operationId":"update-appointment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"scheduled_date\": \"2016-11-28T18:30:00Z\",\n  \"duration\": 15,\n  \"reason\": None,       # typically None, can be a string of appointment type\n  \"patient\": None,      # must be None\n  \"description\": \"\",\n  \"physician\": 720898,\n  \"practice\": 655364,\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/appointments/67176497154/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"}],"samples-languages":["python"]}},"patch":{"summary":"Update Event","description":"","operationId":"update-event","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# enter the value you want to update only. PUT will require all values, and PATCH will only require values you want to update.\ndata = {\n  \"scheduled_date\": \"2016-10-13T11:30:00Z\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/appointments/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/problems/{id}/":{"get":{"summary":"Get Problem","description":"","operationId":"get-problem","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 65097170987,\n  // See Object Definition\n}"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/problems/65097170987/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"delete":{"summary":"Delete Problem","description":"","operationId":"delete-problem","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","schema":{"type":"integer","format":"int64"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/problems/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}},"patch":{"summary":"Update Problem","description":"","operationId":"patch-problem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"problem status","enum":["Active","Controlled","Resolved"]},"dx":{"type":"array","description":"diagnosed object","items":{"properties":{"icd10":{"type":"array","items":{"properties":{"code":{"type":"string","description":"icd10 code"}},"type":"object"}},"snomed":{"type":"integer","description":"snomed code","format":"int32"}},"type":"object"}},"description":{"type":"string","description":"problem description"},"rank":{"type":"integer","description":"count of problems","default":null,"format":"int32"},"resolved_date":{"type":"string","description":"problem resolved date","format":"date"},"synopsis":{"type":"string","description":"problem details"},"start_date":{"type":"string","description":"problem start date","format":"date"},"created_date":{"type":"string","description":"creation date","format":"date"},"deleted_date":{"type":"string","description":"date problem was deleted","format":"date"},"patient":{"type":"integer","description":"patient Id","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"status\": \"Resolved\",\n  \"resolved_date\": \"2016-10-12\"\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/problems/67176497153/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"}],"samples-languages":["python"]}}},"/appointments/":{"post":{"summary":"Create Event","description":"","operationId":"create-event","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["scheduled_date","reason","patient","physician","practice","time_slot_type"],"properties":{"scheduled_date":{"type":"string","format":"date"},"duration":{"type":"integer","description":"If duration is not provided, duration will be set to 15 minutes or the default duration for a particular reason","default":15,"format":"int32"},"reason":{"type":"string","description":"typically should be null but can also be string of appointment type"},"description":{"type":"string"},"patient":{"type":"string","description":"value must be null","default":"null","format":"json"},"physician":{"type":"integer","format":"int32"},"practice":{"type":"integer","format":"int32"},"time_slot_type":{"type":"string","description":"value must be \"event\"","default":"event"},"service_location":{"type":"integer","description":"ID of an active (non-deleted) practice location where the appointment will occur","format":"int32"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 67176497154, \n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"scheduled_date\": \"2016-10-13T11:15:00Z\",\n  \"reason\": None,       # typically None, can be a string of appointment type\n  \"patient\": None,      # must be None\n  \"physician\": 131074,\n  \"practice\": 65540,\n  \"time_slot_type\": \"event\"\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/appointments/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"get":{"summary":"Find Events","description":"","operationId":"testinput","parameters":[{"name":"time_slot_type","in":"query","description":"value must be \"event\"","required":true,"schema":{"type":"string"}},{"name":"physician","in":"query","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"from_date","in":"query","schema":{"type":"string","format":"date"}},{"name":"to_date","in":"query","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/appointments/?time_slot_type=event&limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/appointments/?time_slot_type=event&limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/appointments/?time_slot_type=event\",\n                    headers={'Authorization': auth_header})\n\n# to search for events by scheduled_date, use the following url in the get request instead of the above \nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/appointments/?from_date=2016- 11-28T18:00:00Z&to_date=2016-11-29T18:00:00Z&time_slot_type=event\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/vitals/{id}/":{"get":{"summary":"Get Vital","description":"","operationId":"get-vital","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 65098023184,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/vitals/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/physicians/":{"get":{"summary":"Find Physicians","description":"","operationId":"find-physicians","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"first_name","in":"query","schema":{"type":"string"}},{"name":"last_name","in":"query","schema":{"type":"string"}},{"name":"npi","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/physicians/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/medications/":{"get":{"summary":"Find Medications","description":"","operationId":"find-medications","parameters":[{"name":"patient","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"thread","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"practice","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"discontinued","in":"query","description":"Whether the thread has a discontinue order or not","schema":{"type":"boolean"}},{"name":"permanent","in":"query","description":"Whether the medication is temporary or permanent.","schema":{"type":"boolean"}},{"name":"document_date__lt","in":"query","description":"Date/time in ISO 8601 UTC format that selects chart dates that precede it (exclusive)","schema":{"type":"string"}},{"name":"document_date__gt","in":"query","description":"Date/time in ISO 8601 UTC format that selects chart dates that follow it (exclusive)","schema":{"type":"string"}},{"name":"document_date__lte","in":"query","description":"Date/time in ISO 8601 UTC format that selects chart dates that equal or precede it (inclusive)","schema":{"type":"string"}},{"name":"document_date__gte","in":"query","description":"Date/time in ISO 8601 UTC format that selects chart dates that equal or follow it (inclusive)","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"count\": 1,\n    \"next\": null,\n    \"previous\": null,\n    \"results\": [\n        {\n            \"id\": 140758834872346,\n            \"auth_refills\": 1,\n            \"directions\": \"test_direction\",\n            \"chart_date\": \"2022-05-24T19:51:46Z\",\n            \"show_in_chart_feed\": true,\n            \"created_date\": \"2022-05-24T19:51:46Z\",\n            \"deleted_date\": null,\n            \"document_date\": \"2022-05-24T19:51:46Z\",\n            \"fulfillment\": null,\n            \"is_doc_med\": false,\n            \"last_modified\": \"2022-05-24T19:51:46Z\",\n            \"medication\": {\n                \"id\": 5465899055,\n                \"rxnorm_cuis\": [\n                    \"402014\"\n                ],\n                \"ndcs\": [\n                    \"00113-0915-55\",\n                    \"00113-0915-30\",\n                    \"00363-0915-30\",\n                    \"00363-0915-74\",\n                    \"37205-0837-15\",\n                    \"36800-0915-30\",\n                    \"36800-0915-55\",\n                    \"37205-0837-74\",\n                    \"45802-0888-55\",\n                    \"36800-0915-74\",\n                    \"00113-0915-74\",\n                    \"37205-0837-06\",\n                    \"00363-0915-55\",\n                    \"00904-5834-71\",\n                    \"00904-5834-42\",\n                    \"30142-0915-74\",\n                    \"00904-5834-41\",\n                    \"30142-0915-30\",\n                    \"30142-0915-55\",\n                    \"45802-0888-30\",\n                    \"00363-0915-03\",\n                    \"36800-0915-01\",\n                    \"36800-0915-03\",\n                    \"00363-0915-01\",\n                    \"37205-0837-66\",\n                    \"57896-0760-42\",\n                    \"70000-0356-04\",\n                    \"70000-0356-03\",\n                    \"70000-0356-02\",\n                    \"57896-0960-42\",\n                    \"70000-0356-01\",\n                    \"00363-0007-03\",\n                    \"51660-0029-14\",\n                    \"51660-0029-44\",\n                    \"51660-0029-27\",\n                    \"68001-0441-39\",\n                    \"68001-0441-40\",\n                    \"68001-0441-98\"\n                ],\n                \"name\": \"Omeprazole Tab delayed rel 20 mg\",\n                \"brand_name\": \"Omeprazole\",\n                \"generic_name\": \"Omeprazole delayed rel Tab 20 mg\",\n                \"is_controlled\": false,\n                \"type\": \"otc\",\n                \"route\": \"Oral\",\n                \"strength\": \"20 mg\",\n                \"form\": \"Tab delayed rel\"\n            },\n            \"medication_type\": \"otc\",\n            \"notes\": \"test_note\",\n            \"order_type\": \"Refill\",\n            \"patient\": 140754479349761,\n            \"pharmacy_instructions\": \"test_instruction\",\n            \"practice\": 140754475089924,\n            \"prescribing_physician\": 140754478628866,\n            \"documenting_personnel\": null,\n            \"qty\": \"1.000000000\",\n            \"qty_units\": \"AMPULE\",\n            \"num_samples\": null,\n            \"signed_by\": null,\n            \"signed_date\": null,\n            \"start_date\": \"2022-02-23\",\n            \"icd10_codes\": [\n                {\n                    \"code\": \"U07.1\",\n                    \"description\": \"COVID-19\"\n                }\n            ],\n            \"thread\": {\n                \"id\": 140758834806807,\n                \"dc_date\": null,\n                \"is_permanent\": true\n            }\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"count":{"type":"integer","example":1,"default":0},"next":{},"previous":{},"results":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":140758834872346,"default":0},"auth_refills":{"type":"integer","example":1,"default":0},"directions":{"type":"string","example":"test_direction"},"chart_date":{"type":"string","example":"2022-05-24T19:51:46Z"},"show_in_chart_feed":{"type":"boolean","example":true,"default":true},"created_date":{"type":"string","example":"2022-05-24T19:51:46Z"},"deleted_date":{},"document_date":{"type":"string","example":"2022-05-24T19:51:46Z"},"fulfillment":{},"is_doc_med":{"type":"boolean","example":false,"default":true},"last_modified":{"type":"string","example":"2022-05-24T19:51:46Z"},"medication":{"type":"object","properties":{"id":{"type":"integer","example":5465899055,"default":0},"rxnorm_cuis":{"type":"array","items":{"type":"string","example":"402014"}},"ndcs":{"type":"array","items":{"type":"string","example":"00113-0915-55"}},"name":{"type":"string","example":"Omeprazole Tab delayed rel 20 mg"},"brand_name":{"type":"string","example":"Omeprazole"},"generic_name":{"type":"string","example":"Omeprazole delayed rel Tab 20 mg"},"is_controlled":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"otc"},"route":{"type":"string","example":"Oral"},"strength":{"type":"string","example":"20 mg"},"form":{"type":"string","example":"Tab delayed rel"}}},"medication_type":{"type":"string","example":"otc"},"notes":{"type":"string","example":"test_note"},"order_type":{"type":"string","example":"Refill"},"patient":{"type":"integer","example":140754479349761,"default":0},"pharmacy_instructions":{"type":"string","example":"test_instruction"},"practice":{"type":"integer","example":140754475089924,"default":0},"prescribing_physician":{"type":"integer","example":140754478628866,"default":0},"documenting_personnel":{},"qty":{"type":"string","example":"1.000000000"},"qty_units":{"type":"string","example":"AMPULE"},"num_samples":{},"signed_by":{},"signed_date":{},"start_date":{"type":"string","example":"2022-02-23"},"icd10_codes":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"U07.1"},"description":{"type":"string","example":"COVID-19"}}}},"thread":{"type":"object","properties":{"id":{"type":"integer","example":140758834806807,"default":0},"dc_date":{},"is_permanent":{"type":"boolean","example":true,"default":true}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = f\"Bearer {access_token}\"\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/medications/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"post":{"summary":"Create Medication","description":"","operationId":"create-medication","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["auth_refills","is_doc_med","medication","medication_type","order_type","patient","practice","prescribing_physician","qty","qty_units","start_date","icd10_codes","thread"],"properties":{"auth_refills":{"type":"integer","description":"The number of refills, excluding this order, that the patient is authorized for","format":"int32"},"is_doc_med":{"type":"boolean","description":"If the medication order is intended to document a med instead of draft a prescription. When it is true, the object will be automatically signed as a documented medication, otherwise the object will be created as a draft prescription"},"medication":{"type":"object","description":"medication object (must provide one of id, ndc, rxnorm_cuis required)","properties":{"id":{"type":"integer","description":"Medication id","format":"int32"},"ndcs":{"type":"array","description":"The NDC code of the medication(must contains only one ndc code)","items":{"type":"string"}},"rxnorm_cuis":{"type":"array","description":"The Rxnorm.cui code of the medication(must contains only one cui code)","items":{"type":"string"}}}},"medication_type":{"type":"string","description":"If this is OTC or a prescription","enum":["otc","prescription"]},"order_type":{"type":"string","description":"If the medication order is new, a refill or a change in dosage","enum":["New","Refill","Change"]},"patient":{"type":"integer","description":"The id of the patient","format":"int32"},"practice":{"type":"integer","description":"The id of the practice","format":"int32"},"prescribing_physician":{"type":"integer","description":"prescribing physician ID","format":"int32"},"qty":{"type":"number","description":"The amount of the medication to order (decimal)","format":"double"},"qty_units":{"type":"string","description":"The units that match the amount, e.g. capsules","enum":["BAG","BOTTLE","BOX","CAPSULE","CARTRIDGE","CONTAINER","DROP","GRAM","INHALER","INTERNATIONAL UNITE","KIT","LITER","LOZENGE","MILLIGRAM","MILLILITER","MILLION UNITS","MUTUALLY DEFINED","FLUID OUNCE","NOT SPECIFIED","PACK","PACKET","PINT","SUPPOSITORY","SYRINGE","TABLESPOON","TABLET","TEASPOON","TRANSDERMAL PATCH","TUBE","UNIT","VIAL","EACH","GUM","AMPULE","APPLICATOR","APPLICATORFUL","BAR","BEAD","BLISTER","BLOCK","BOLUS","CAN","CANISTER","CAPLET","CARTON","CASE","CASSETTE","CYLINDER","DISK","DOSE PACK","DUAL PACK","FILM","GALLON","IMPLANT","INHALATION","INHALER REFILL","INSERT","INTRAVENOUS BAG","KILOGRAM","METRIC DROP","MILLIMETER","NEBULE","NEEDLE FREE INJECTION","OCULAR SYSTEM","OUNCE","PACKAGE","PAD","PAPER","PATCH","PEN NEEDLE","POUCH","POUND","PRE-FILLED PEN SYRINGE","PUFF","QUART","RING","SACHET","SCOOPFUL","SPONGE","SPRAY","STICK","STRIP","SWAB","TABMINDER","TAMPON","TRAY","TROCHE","WAFER"]},"start_date":{"type":"string","description":"The date on which the prescription started or will start.","format":"date"},"icd10_codes":{"type":"array","description":"icd10 IDs","items":{"properties":{"code":{"type":"string","description":"icd10 code"}},"type":"object"}},"thread":{"type":"object","description":"Refer to the medication thread documentation for more info","required":["is_permanent"],"properties":{"id":{"type":"integer","description":"Thread id (NOT required)","format":"int32"},"is_permanent":{"type":"boolean","description":"if thread is permanent"}}},"directions":{"type":"string","description":"The med order directions"},"notes":{"type":"string","description":"Any notes for the patient"},"pharmacy_instructions":{"type":"string","description":"Any notes for the pharmacy"},"num_samples":{"type":"string","description":"med order num samples"},"document_date":{"type":"string","description":"The timestamp for when this prescription was first documented. Will be the same as the creation time unless this an historical data import.","format":"date"},"documenting_personnel":{"type":"integer","description":"physician object required if is_doc_med is true","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {  \n    \"auth_refills\": 1,\n    \"is_doc_med\": false,\n    \"medication\":{\n        \"id\": 5465899055\n    },\n    \"medication_type\": \"prescription\",\n    \"order_type\": \"Refill\",\n    \"patient\": 140754479349761,\n    \"practice\": 140754475089924,\n    \"prescribing_physician\": 140754478628866,\n    \"qty\": \"1\",\n    \"qty_units\": \"AMPULE\",\n    \"start_date\": \"2022-02-23\",\n    \"icd10_codes\":  [],\n    \"thread\": {\n        \"is_permanent\": true\n    },\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/medications/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/allergies/{id}/":{"put":{"summary":"Update Allergy","description":"","operationId":"update-allergy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["patient","name"],"properties":{"patient":{"type":"integer","description":"Patient ID","format":"int32"},"name":{"type":"string","description":"Allergen"},"reaction":{"type":"string"},"severity":{"type":"string"},"start_date":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"patient\": 64901939201,\n  \"name\": \"Erythromycin\",\n  \"status\": \"Inactive\"\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/allergies/67176497153/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"}],"samples-languages":["python"]}},"get":{"summary":"Get Allergy","description":"","operationId":"get-allergy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 65097302057,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/allergies/65097302057/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"delete":{"summary":"Delete Allergy","description":"","operationId":"delete-allergy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/allergies/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}}},"/ccda/":{"post":{"summary":"Create CCDA","description":"","operationId":"create-ccda","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["base64_ccda"],"properties":{"base64_ccda":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"base64_ccda\": \"PD94bWwgdmVyc2lvbj0iMS4wIj8+.....................\"\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/ccda/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/immunizations/{id}/":{"delete":{"summary":"Delete Immunization","description":"","operationId":"delete-immunization","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/immunizations/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}},"get":{"summary":"Get Immunization","description":"","operationId":"get-immunization","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/immunizations/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/family_histories/{id}/":{"get":{"summary":"Get Family History","description":"","operationId":"get-family-history","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/family_histories/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"delete":{"summary":"Delete Family History","description":"","operationId":"delete-family-history","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/family_histories/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}}},"/histories/":{"post":{"summary":"Create History","description":"","operationId":"create-history","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["type","text","patient"],"properties":{"type":{"type":"string"},"text":{"type":"string"},"patient":{"type":"string","description":"Patient ID"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"type\": \"Diet\",\n  \"text\": \"Yogurt daily\",\n  \"patient\": 64901939201\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/histories/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"get":{"summary":"Find Histories","description":"","operationId":"find-histories","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"patient","in":"query","schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/histories/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/histories/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/histories/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/allergies/":{"get":{"summary":"Find Allergies","description":"","operationId":"find-allergies","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"patient","in":"query","description":"Find all allergies for a specific patient","schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/allergies/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/allergies/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/allergies/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"post":{"summary":"Create Allergy","description":"","operationId":"create-allergy","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["patient","name"],"properties":{"patient":{"type":"string","description":"The id of the patient"},"name":{"type":"string","description":"The name of the allergy drug"},"start_date":{"type":"string","description":"The date the allergy started","default":"today","format":"date"},"reaction":{"type":"string","description":"The reaction to the drug"},"severity":{"type":"string","description":"How severe the reaction is"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 65097302057,\n\t// See object definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"name\": \"Erythromycin\",\n  \"reaction\" : \"Vomitting\",\n  \"start_date\" : \"1980-01-01\",\n  \"patient\": 64901939201\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/allergies/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/immunizations/":{"get":{"summary":"Find Immunizations","description":"","operationId":"find-immunizations","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"patient","in":"query","schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/immunizations/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/immunizations/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/immunizations/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"post":{"summary":"Create Immunization","description":"","operationId":"create-immunization","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["patient","vaccine","administered_date","administering_physician","ordering_physician","qty"],"properties":{"patient":{"type":"integer","description":"patient id","format":"int32"},"vaccine":{"type":"object","required":["cvx"],"properties":{"cvx":{"type":"integer","format":"int32"}}},"administered_date":{"type":"string","format":"date"},"administering_physician":{"type":"integer","format":"int32"},"ordering_physician":{"type":"integer","format":"int32"},"qty":{"type":"string"},"description":{"type":"string"},"reason":{"type":"string"},"qty_units":{"type":"string"},"lot_number":{"type":"string"},"manufacturer_name":{"type":"string"},"manufacturer_code":{"type":"string"},"expiration_date":{"type":"string","format":"date"},"vis":{"type":"string"},"method":{"type":"string"},"site":{"type":"string"},"notes":{"type":"string"},"publicity_code":{"type":"string","enum":["(\"01\"","\"No reminder/recall\")","(\"02\"","\"Reminder/recall - any method\")","(\"03\"","\"Reminder/recall - no calls\")","(\"04\"","\"Reminder only - any method\")","(\"05\"","\"Reminder only - no calls\")","(\"06\"","\"Recall only - any method\")","(\"07\"","\"Recall only - no calls\")","(\"08\"","\"Reminder/recall - to provider\")","(\"09\"","\"Reminder to provider\")","(\"10\"","\"Only reminder to provider","no recall\")","(\"11\"","\"Recall to provider\")","(\"12\"","\"Only recall to provider","no reminder\")"]},"vfc_eligibility":{"type":"string","enum":["(\"V01\"","\"Not VFC eligible\")","(\"V02\"","\"VFC eligible - Medicaid/Medicaid Managed Care\")","(\"V03\"","\"VFC eligible - Uninsured\")","(\"V04\"","\"VFC eligible - American Indian/Alaskan Native\")","(\"V05\"","\"VFC eligible - Under-insured)\")","(\"V07\"","\"Local-specific eligibility\")","(\"V22\"","\"CHIP\")","(\"V23\"","\"317\")","(\"V24\"","\"Medicare\")","(\"V25\"","\"State program eligibility\")","(\"CAA01\"","\"CA State General Fund Vaccines\")","(\"ORA01\"","\"OR Special Projects\")","(\"ORA02\"","\"OR Locally Owned\")","(\"HI02\"","\"HI Birthing Hospital Hepatitis B\")","(\"HI03\"","\"HI Adult Insured\")","(\"HI04\"","\"HI Adult Not Insured\")"]},"funding_source":{"type":"string","enum":["(\"PHC70\"","\"Privately funded vaccine stock\")","(\"VXC50\"","\"Publicly funded vaccine stock\")","(\"VXC51\"","\"Publicly funded vaccine stock - VFC\")","(\"VXC52\"","\"Publicly funded vaccine stock - Non-VFC\")"]},"info_source":{"type":"string","enum":["(\"00\"","\"New immunization record\")","(\"01\"","\"Historical information - source unspecified\")","(\"02\"","\"Historical information - from other provider\")","(\"03\"","\"Historical information - from parent's written record\")","(\"04\"","\"Historical information - from parent's recall\")","(\"05\"","\"Historical information - from other registry\")","(\"06\"","\"Historical information - from birth certificate\")","(\"07\"","\"Historical information - from school record\")","(\"08\"","\"Historical information - from public agency\")"]},"allowed_sharing":{"type":"boolean"},"dose_in_series":{"type":"integer","format":"int32"},"priority_population":{"type":"string","description":"For Immunization Registry Integrations (less than 9 symbols)"},"ndc":{"type":"string","description":"Should be 10-11 digits, 2 dashes, but field have no validation"},"patient_consent":{"type":"boolean"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": 140758870130858,\n    \"administered_date\": \"2021-09-22T17:01:00Z\",\n    \"administering_physician\": 720898,\n    \"ordering_physician\": 720898,\n    \"description\": null,\n    \"reason\": null,\n    \"vaccine\": {\n        \"name\": \"pertussis\",\n        \"cvx\": 11,\n        \"cdc_name\": null,\n        \"cdc_type\": null\n    },\n    \"qty\": \"25\",\n    \"qty_units\": null,\n    \"lot_number\": null,\n    \"manufacturer_name\": null,\n    \"manufacturer_code\": null,\n    \"expiration_date\": null,\n    \"vis\": null,\n    \"method\": null,\n    \"site\": null,\n    \"notes\": null,\n    \"publicity_code\": null,\n    \"vfc_eligibility\": null,\n    \"funding_source\": null,\n    \"info_source\": null,\n    \"allowed_sharing\": null,\n    \"practice\": 140758835265540,\n    \"patient\": 140758844637185,\n    \"created_date\": \"2022-06-29T13:00:59Z\",\n    \"deleted_date\": null,\n    \"dose_in_series\": null,\n    \"priority_population\": null,\n    \"ndc\": null,\n    \"patient_consent\": null\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":140758870130858,"default":0},"administered_date":{"type":"string","example":"2021-09-22T17:01:00Z"},"administering_physician":{"type":"integer","example":720898,"default":0},"ordering_physician":{"type":"integer","example":720898,"default":0},"description":{},"reason":{},"vaccine":{"type":"object","properties":{"name":{"type":"string","example":"pertussis"},"cvx":{"type":"integer","example":11,"default":0},"cdc_name":{},"cdc_type":{}}},"qty":{"type":"string","example":"25"},"qty_units":{},"lot_number":{},"manufacturer_name":{},"manufacturer_code":{},"expiration_date":{},"vis":{},"method":{},"site":{},"notes":{},"publicity_code":{},"vfc_eligibility":{},"funding_source":{},"info_source":{},"allowed_sharing":{},"practice":{"type":"integer","example":140758835265540,"default":0},"patient":{"type":"integer","example":140758844637185,"default":0},"created_date":{"type":"string","example":"2022-06-29T13:00:59Z"},"deleted_date":{},"dose_in_series":{},"priority_population":{},"ndc":{},"patient_consent":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n    \"patient\": 140758844637185,\n    \"administered_date\": \"2021-09-22T17:01:00Z\",\n    \"administering_physician\": 720898,\n    \"ordering_physician\": 720898,\n    \"vaccine\": {\n        \"cvx\": 11\n    },\n    \"qty\": 25\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/immunizations/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/bills/{id}/":{"get":{"summary":"Get Bill","description":"","operationId":"get-bill","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/bills/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"patch":{"summary":"Update Bill","description":"","operationId":"patch-bill","parameters":[{"name":"id","in":"path","schema":{"type":"integer","format":"int64"},"required":true},{"name":"Authorization","in":"header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"billing_date":{"type":"string","description":"Required if marking a bill as processed"},"ref_number":{"type":"string","description":"Required if marking a bill as processed"},"billing_error":{"type":"string","description":"Required if marking a bill as failed. This is the human readable error that users will see."},"billing_raw_error":{"type":"string","description":"Further details on the billing error. Optional when marking a bill as failed. Useful when debugging why a bill failed to process."},"prior_authorization":{"type":"string","description":"Prior authorization number"},"billing_provider":{"type":"integer","description":"Billing provider Id","format":"int32"},"supervising_provider":{"type":"integer","description":"Supervising provider Id","format":"int32"},"rendering_provider":{"type":"integer","description":"Rendering provider id","format":"int32"},"referring_provider":{"type":"object","description":"Billing refering provide","properties":{"name":{"type":"string"},"state":{"type":"string","enum":["AK","AL","AR","AS","AZ","CA","CO","CT","DC","DE","FL","GA","GU","HI","IA","ID","IL","IN","KS","KY","LA","MA","MD","ME","MI","MN","MO","MP","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY","OH","OK","OR","PA","PR","RI","SC","SD","TN","TX","UM","UT","VA","VI","VT","WA","WI","WV","WY"]},"npi":{"type":"string","description":"10 digit provider or group NPI","default":"null"}}},"ordering_provider":{"type":"object","description":"Ordering provider","properties":{"name":{"type":"string"},"state":{"type":"string","enum":["AK","AL","AR","AS","AZ","CA","CO","CT","DC","DE","FL","GA","GU","HI","IA","ID","IL","IN","KS","KY","LA","MA","MD","ME","MI","MN","MO","MP","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY","OH","OK","OR","PA","PR","RI","SC","SD","TN","TX","UM","UT","VA","VI","VT","WA","WI","WV","WY"]},"npi":{"type":"string","description":"10 digit provider or group NPI","default":"null"}}},"cpts":{"type":"array","description":"CPTs objects for billing","items":{"properties":{"cpt":{"type":"string","description":"CPT code"},"modifier_1":{"type":"string","description":"Two character long modifier string for slot #1"},"modifier_2":{"type":"string","description":"Two character long modifier string for slot #2"},"modifier_3":{"type":"string","description":"Two character long modifier string for slot #3"},"modifier_4":{"type":"string","description":"Two character long modifier string for slot #4"},"unit_charge":{"type":"number","description":"Charge for the procedure (e.g. 50.25 for $50.25)","format":"double"},"units":{"type":"number","description":"Number of procedure units to charge for","format":"double"},"dxs":{"type":"array","description":"Diagnoses to associate with the procedure","items":{"properties":{"icd10_code":{"type":"string","description":"ICD10 code for the diagnosis"},"icd9_codes":{"type":"array","description":"List of ICD9 codes to associate with the diagnosis","default":[],"items":{"type":"string"}}},"required":["icd10_code"],"type":"object"}}},"required":["cpt"],"type":"object"}},"service_location":{"type":"integer","description":"Billing service location","format":"int32"},"notes":{"type":"string","description":"Additional billing notes"},"payment":{"type":"integer","description":"Patient Payment","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# marking a bill as failed\ndata = {\n  \"billing_error\": \"CPT code is missing\",  # required\n  \"billing_raw_error\": \"ERROR: CPT code is required\"  # optional\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/bills/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n# marking a bill as processed\ndata = {\n  \"ref_number\": \"2323413d3\",\n  \"billing_date\": \"2016-05-23T17:48:21Z\"\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/bills/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n\n# update general info on the bill\ndata = {\n\t\t\"payment_amount\": \"123.43\",\n    \"cpts\": [\n        {\n            \"cpt\": \"99215\",\n            \"modifier_1\": \"aa\",\n            \"modifier_2\": \"aa\",\n            \"modifier_3\": \"aa\",\n            \"modifier_4\": \"aa\",\n            \"dxs\": [\n                {\n                    \"icd10_code\": \"N18.24\",\n                    \"icd9_codes\": [\n                        \"425.4\"\n                    ]\n                }\n            ],\n            \"unit_charge\": 10,\n            \"units\": 10\n        }\n    ]\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/bills/67176497153/\",\n                       data=json.dumps(data),\n                       headers={'Authorization': auth_header,\n                                'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)\n\n"}],"samples-languages":["python"]}},"delete":{"summary":"Delete Bill","description":"This is yet to be worked on. Keep this in Draft","operationId":"delete-bill","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/bills/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}}},"/non_visit_notes/{id}/":{"get":{"summary":"Get Non-Visit Note","description":"","operationId":"get-non-visit-note","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/non_visit_notes/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"delete":{"summary":"Delete Non-Visit Note","description":"","operationId":"delete-non-visit-note","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/non_visit_notes/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}},"put":{"summary":"Update Non-Visit Note","description":"","operationId":"update-non-visit-note","parameters":[{"name":"id","in":"path","schema":{"type":"integer","format":"int64"},"required":true},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["type","document_date","chart_date"],"properties":{"type":{"type":"string","description":"The type of the non visit note"},"document_date":{"type":"string","description":"The date of the document","format":"date"},"chart_date":{"type":"string","description":"The date of the patient chart","format":"date"},"bullets":{"type":"array","description":"The bullets of the non visit note","items":{"properties":{"id":{"type":"integer","description":"Bullet ID","format":"int64"},"author":{"type":"integer","description":"The author of the bullet","format":"int32"},"text":{"type":"string","description":"The text of the bullet"}},"required":["id","text"],"type":"object"}},"patient":{"type":"integer","description":"The oid of the patient","format":"int32"},"practice":{"type":"integer","description":"The id of the practice","format":"int32"},"tags":{"type":"array","description":"The ids of the document tags you want to attach","items":{"type":"integer","format":"int64"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": 140758520102937,\n    \"type\": \"nonvisit\",\n    \"notes\": [\n        {\n            \"id\": 140758520168536,\n            \"author\": 64,\n            \"text\": \"this is phone note\",\n            \"version\": 3,\n            \"updated_date\": \"2022-05-13T13:25:43Z\"\n        }\n    ],\n    \"bullets\": [\n        {\n            \"id\": 140758520168536,\n            \"author\": 64,\n            \"text\": \"this is phone note\",\n            \"version\": 3,\n            \"updated_date\": \"2022-05-13T13:25:43Z\"\n        }\n    ],\n    \"tags\": [\n        {\n            \"code\": \"408289007\",\n            \"code_type\": 2,\n            \"concept_name\": \"wt-mgmt-referral\",\n            \"context\": null,\n            \"created_date\": \"2015-07-23T19:30:51Z\",\n            \"deleted_date\": \"2019-05-29T00:06:03Z\",\n            \"description\": \"Referral to weight management program\",\n            \"id\": 58719011162,\n            \"practice_created\": null,\n            \"snomed_result_code\": null,\n            \"value\": \"CQM: Ref to Wt Mgt Program\"\n        }\n    ],\n    \"patient\": 140758510600193,\n    \"document_date\": \"2022-05-05T07:50:20Z\",\n    \"chart_date\": \"2022-05-05T07:50:20Z\",\n    \"signed_date\": null,\n    \"signed_by\": null,\n    \"created_date\": \"2022-05-13T13:25:43.137904Z\",\n    \"deleted_date\": null\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":140758520102937,"default":0},"type":{"type":"string","example":"nonvisit"},"notes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":140758520168536,"default":0},"author":{"type":"integer","example":64,"default":0},"text":{"type":"string","example":"this is phone note"},"version":{"type":"integer","example":3,"default":0},"updated_date":{"type":"string","example":"2022-05-13T13:25:43Z"}}}},"bullets":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":140758520168536,"default":0},"author":{"type":"integer","example":64,"default":0},"text":{"type":"string","example":"this is phone note"},"version":{"type":"integer","example":3,"default":0},"updated_date":{"type":"string","example":"2022-05-13T13:25:43Z"}}}},"tags":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"408289007"},"code_type":{"type":"integer","example":2,"default":0},"concept_name":{"type":"string","example":"wt-mgmt-referral"},"context":{},"created_date":{"type":"string","example":"2015-07-23T19:30:51Z"},"deleted_date":{"type":"string","example":"2019-05-29T00:06:03Z"},"description":{"type":"string","example":"Referral to weight management program"},"id":{"type":"integer","example":58719011162,"default":0},"practice_created":{},"snomed_result_code":{},"value":{"type":"string","example":"CQM: Ref to Wt Mgt Program"}}}},"patient":{"type":"integer","example":140758510600193,"default":0},"document_date":{"type":"string","example":"2022-05-05T07:50:20Z"},"chart_date":{"type":"string","example":"2022-05-05T07:50:20Z"},"signed_date":{},"signed_by":{},"created_date":{"type":"string","example":"2022-05-13T13:25:43.137904Z"},"deleted_date":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"id\": 126532,\n  \"type\": \"phone\",\n  \"bullets\": [\n    {\n      \"id\": 126153,\n      \"author\": 64,\n      \"text\": \"this is phone note\"\n    }\n  ],\n  \"patient\": 123467,\n  \"practice\": 131074,\n  \"document_date\": \"2017-03-05T07:22:13Z\",\n  \"chart_date\": \"2017-03-05T07:22:13Z\",\n  \"tags\": [\n    365784\n  ],\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/non_visit_notes/126532/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"patch":{"summary":"Update Non-Visit Note","description":"","operationId":"update-non-visit-note-1","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","schema":{"type":"integer","format":"int64"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The type of the non visit note"},"bullets":{"type":"array","description":"The bullets of the non visit note.","items":{"properties":{"id":{"type":"integer","description":"Bullet ID","format":"int64"},"author":{"type":"integer","description":"The author of the bullet","format":"int32"},"text":{"type":"string","description":"The text of the bullet"}},"required":["id","text"],"type":"object"}},"patient":{"type":"integer","description":"The oid of the patient","format":"int32"},"practice":{"type":"integer","description":"The id of the practice","format":"int32"},"document_date":{"type":"string","description":"The date of the document","format":"date"},"chart_date":{"type":"string","description":"The date of the patient chart","format":"date"},"tags":{"type":"array","description":"The ids of the document tags you want to attach","items":{"type":"integer","format":"int64"}},"sign_date":{"type":"string","description":"The date and time to sign off the note. It is expected to be the current UTC time. eg. \"2022-11-10T01:06:22Z\"","format":"date"},"signed_by":{"type":"integer","description":"The user id of the physician who is signing off the note","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": 140758520102937,\n    \"type\": \"nonvisit\",\n    \"notes\": [\n        {\n            \"id\": 140758520168536,\n            \"author\": 64,\n            \"text\": \"this is phone note\",\n            \"version\": 2,\n            \"updated_date\": \"2022-05-13T13:25:43Z\"\n        }\n    ],\n    \"bullets\": [\n        {\n            \"id\": 140758520168536,\n            \"author\": 64,\n            \"text\": \"this is phone note\",\n            \"version\": 2,\n            \"updated_date\": \"2022-05-13T13:25:43Z\"\n        }\n    ],\n    \"tags\": [\n        {\n            \"code\": \"408289007\",\n            \"code_type\": 2,\n            \"concept_name\": \"wt-mgmt-referral\",\n            \"context\": null,\n            \"created_date\": \"2015-07-23T19:30:51Z\",\n            \"deleted_date\": \"2019-05-29T00:06:03Z\",\n            \"description\": \"Referral to weight management program\",\n            \"id\": 58719011162,\n            \"practice_created\": null,\n            \"snomed_result_code\": null,\n            \"value\": \"CQM: Ref to Wt Mgt Program\"\n        }\n    ],\n    \"patient\": 140758510600193,\n    \"document_date\": \"2022-05-05T07:50:20Z\",\n    \"chart_date\": \"2022-05-05T07:50:20Z\",\n    \"signed_date\": null,\n    \"signed_by\": null,\n    \"created_date\": \"2022-05-13T13:25:43.137904Z\",\n    \"deleted_date\": null\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":140758520102937,"default":0},"type":{"type":"string","example":"nonvisit"},"notes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":140758520168536,"default":0},"author":{"type":"integer","example":64,"default":0},"text":{"type":"string","example":"this is phone note"},"version":{"type":"integer","example":2,"default":0},"updated_date":{"type":"string","example":"2022-05-13T13:25:43Z"}}}},"bullets":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":140758520168536,"default":0},"author":{"type":"integer","example":64,"default":0},"text":{"type":"string","example":"this is phone note"},"version":{"type":"integer","example":2,"default":0},"updated_date":{"type":"string","example":"2022-05-13T13:25:43Z"}}}},"tags":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"408289007"},"code_type":{"type":"integer","example":2,"default":0},"concept_name":{"type":"string","example":"wt-mgmt-referral"},"context":{},"created_date":{"type":"string","example":"2015-07-23T19:30:51Z"},"deleted_date":{"type":"string","example":"2019-05-29T00:06:03Z"},"description":{"type":"string","example":"Referral to weight management program"},"id":{"type":"integer","example":58719011162,"default":0},"practice_created":{},"snomed_result_code":{},"value":{"type":"string","example":"CQM: Ref to Wt Mgt Program"}}}},"patient":{"type":"integer","example":140758510600193,"default":0},"document_date":{"type":"string","example":"2022-05-05T07:50:20Z"},"chart_date":{"type":"string","example":"2022-05-05T07:50:20Z"},"signed_date":{},"signed_by":{},"created_date":{"type":"string","example":"2022-05-13T13:25:43.137904Z"},"deleted_date":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"id\": 126532,\n  \"type\": \"phone\",\n  \"bullets\": [\n    {\n      \"id\": 126153,\n      \"text\": \"this is phone note\"\n    }\n  ],\n  \"patient\": 123467,\n  \"practice\": 131074,\n  \"document_date\": \"2017-03-05T07:22:13Z\",\n  \"chart_date\": \"2017-03-05T07:22:13Z\",\n  \"tags\": [\n    365784\n  ],\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/non_visit_notes/126532/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}}},"/histories/{id}/":{"get":{"summary":"Get History","description":"","operationId":"get-history","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/histories/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"delete":{"summary":"Delete History","description":"","operationId":"delete-history","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/histories/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}}},"/reports/{id}/":{"get":{"summary":"Get Report","description":"","operationId":"get-report","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 83792571234,\n  // See Object Definition\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/reports/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"delete":{"summary":"Delete Report","description":"","operationId":"delete-report","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/reports/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}},"patch":{"summary":"Sign Report","description":"","operationId":"sign-report","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["signed_date","signed_by"],"properties":{"signed_date":{"type":"string","description":"The time at which the visit note was signed. Cannot be in the future. (Requires Special Permission).","format":"date"},"signed_by":{"type":"string","description":"The user id of the provider who signed the visit note. (Requires special permission).","format":"date"}}}}}},"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/reports/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"}],"samples-languages":["python"]}}},"/reports/":{"get":{"summary":"Find Reports","description":"","operationId":"find-reports","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"patient","in":"query","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"practice","in":"query","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"reported_date__gt","in":"query","description":"Date/time in ISO 8601 UTC format that selects report dates that follow it (exclusive). It may be null in some cases, use document_date instead","schema":{"type":"string","format":"date"}},{"name":"reported_date__lt","in":"query","description":"Date/time in ISO 8601 UTC format that selects report dates that precede it (exclusive). It may be null in some cases, use document_date instead","schema":{"type":"string","format":"date"}},{"name":"reported_date__gte","in":"query","description":"Date/time in ISO 8601 UTC format that selects report dates that follow it (inclusive). It may be null in some cases, use document_date instead","schema":{"type":"string","format":"date"}},{"name":"reported_date__lte","in":"query","description":"Date/time in ISO 8601 UTC format that selects report dates that precede it (exclusive). It may be null in some cases, use document_date instead","schema":{"type":"string","format":"date"}},{"name":"document_date__gt","in":"query","description":"Date/time in ISO 8601 UTC format that selects document dates that follow it (exclusive)","schema":{"type":"string","format":"date"}},{"name":"document_date__lt","in":"query","description":"Date/time in ISO 8601 UTC format that selects document dates that precede it (exclusive)","schema":{"type":"string","format":"date"}},{"name":"document_date__gte","in":"query","description":"Date/time in ISO 8601 UTC format that selects document dates that follow it (inclusive)","schema":{"type":"string","format":"date"}},{"name":"document_date__lte","in":"query","description":"Date/time in ISO 8601 UTC format that selects document dates that precede it (inclusive)","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/reports/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/reports/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/reports/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"}],"samples-languages":["python"]}},"post":{"summary":"Create Report","description":"","operationId":"create-report","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["report_type","patient","physician","practice","document_date","chart_date"],"properties":{"report_type":{"type":"string","description":"Value must be Lab for laboratory reports","enum":["Look REPORT_DOCUMENT_SUB_TYPE_DATA"]},"requisition_number":{"type":"string"},"custom_title":{"type":"string"},"patient":{"type":"integer","description":"patient id","format":"int32"},"physician":{"type":"integer","description":"physician id","format":"int32"},"practice":{"type":"integer","description":"practice id","format":"int32"},"vendor":{"type":"integer","format":"int32"},"document_date":{"type":"string","description":"The date when the report was created","format":"date"},"reported_date":{"type":"string","description":"The timestamp when the report was created by an external system, usually the same as \"document_date\".","format":"date"},"chart_date":{"type":"string","format":"date"},"grids":{"type":"array","items":{"properties":{"accession_number":{"type":"string"},"resulted_date":{"type":"string","format":"date"},"collected_date":{"type":"string","format":"date"},"status":{"type":"string","enum":["(\"C\"","\"CORRECTED\")","(\"D\"","\"DELETED\")","(\"F\"","\"FINAL\")","(\"I\"","\"PENDING\")","(\"P\"","\"PRELIMINARY\")","(\"R\"","\"RESULTS ENTERED -- NOT VERIFIED\")","(\"S\"","\"PARTIAL\")","(         \"U\"","\"RESULTS STATUS CHANGE TO FINAL. RESULTS DID NOT CHANGE ( DON\"         \"T TRANSMIT TEST).\"",")","(\"X\"","\"RESULT CANCELED DUE TO NON-PERFORMANCE\")","(\"E\"","\"ERROR\")","(\"A\"","\"AMENDED\")",""]},"note":{"type":"string"},"results":{"type":"array","default":[]}},"required":["accession_number","resulted_date","collected_date","status","note","results"],"type":"object"}},"files":{"type":"array","description":"An array with files and/or photos that you want to attach to the report. These files can either be uploaded as json or base64.","items":{"properties":{"content_type":{"type":"string"},"external_content":{"type":"string","format":"json"},"base64_content":{"type":"string"},"original_filename":{"type":"string"}},"type":"object"}}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": 140758850535464,\n    \"patient\": 140758844637185,\n    \"custom_title\": \"null\",\n    \"report_type\": \"Lab\",\n    \"requisition_number\": \"25\",\n    \"tags\": [],\n    \"reported_date\": \"2001-05-05T02:33:22Z\",\n    \"grids\": [\n        {\n            \"accession_number\": \"0909641947\",\n            \"resulted_date\": \"2009-04-07T05:10:00Z\",\n            \"collected_date\": \"2009-04-06T22:54:00Z\",\n            \"status\": \"FINAL\",\n            \"note\": \"\",\n            \"results\": [\n                {\n                    \"status\": \"AMENDED\",\n                    \"value\": \"0.88\",\n                    \"value_type\": \"Numeric\",\n                    \"text\": \"1\",\n                    \"note\": \"1\",\n                    \"reference_min\": \"0.55\",\n                    \"reference_max\": \"1.66\",\n                    \"units\": \"ng/dL7\",\n                    \"is_abnormal\": true,\n                    \"abnormal_flag\": \"Critical\",\n                    \"test\": {\n                        \"code\": \"FRT54\",\n                        \"name\": \"T45-Free\",\n                        \"loinc\": \"10007-3\"\n                    },\n                    \"test_category\": {\n                        \"value\": \"12010&LPW1\",\n                        \"description\": \"T4, FREE (THYROXINE, FREE)\"\n                    }\n                }\n            ]\n        }\n    ],\n    \"images\": [],\n    \"files\": [\n        {\n            \"content_type\": \"application/json; schema=el8_external_content_report\",\n            \"external_content\": {},\n            \"base64_content\": null,\n            \"original_filename\": \"99914b932bd37a50b983c5e7c90ae93b.JSON\"\n        }\n    ],\n    \"practice\": 140758835265540,\n    \"physician\": 131074,\n    \"document_date\": \"2011-05-05T02:33:22Z\",\n    \"chart_date\": \"2001-05-05T02:33:22Z\",\n    \"signed_date\": null,\n    \"signed_by\": null,\n    \"created_date\": \"2022-06-27T10:18:36Z\",\n    \"deleted_date\": null,\n    \"printable_view\": \"http://127.0.0.1/api/2.0/reports/140758850535464/printable\",\n    \"vendor\": 67186655478\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":140758850535464,"default":0},"patient":{"type":"integer","example":140758844637185,"default":0},"custom_title":{"type":"string","example":"null"},"report_type":{"type":"string","example":"Lab"},"requisition_number":{"type":"string","example":"25"},"tags":{"type":"array"},"reported_date":{"type":"string","example":"2001-05-05T02:33:22Z"},"grids":{"type":"array","items":{"type":"object","properties":{"accession_number":{"type":"string","example":"0909641947"},"resulted_date":{"type":"string","example":"2009-04-07T05:10:00Z"},"collected_date":{"type":"string","example":"2009-04-06T22:54:00Z"},"status":{"type":"string","example":"FINAL"},"note":{"type":"string","example":""},"results":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"AMENDED"},"value":{"type":"string","example":"0.88"},"value_type":{"type":"string","example":"Numeric"},"text":{"type":"string","example":"1"},"note":{"type":"string","example":"1"},"reference_min":{"type":"string","example":"0.55"},"reference_max":{"type":"string","example":"1.66"},"units":{"type":"string","example":"ng/dL7"},"is_abnormal":{"type":"boolean","example":true,"default":true},"abnormal_flag":{"type":"string","example":"Critical"},"test":{"type":"object","properties":{"code":{"type":"string","example":"FRT54"},"name":{"type":"string","example":"T45-Free"},"loinc":{"type":"string","example":"10007-3"}}},"test_category":{"type":"object","properties":{"value":{"type":"string","example":"12010&LPW1"},"description":{"type":"string","example":"T4, FREE (THYROXINE, FREE)"}}}}}}}}},"images":{"type":"array"},"files":{"type":"array","items":{"type":"object","properties":{"content_type":{"type":"string","example":"application/json; schema=el8_external_content_report"},"external_content":{"type":"object","properties":{}},"base64_content":{},"original_filename":{"type":"string","example":"99914b932bd37a50b983c5e7c90ae93b.JSON"}}}},"practice":{"type":"integer","example":140758835265540,"default":0},"physician":{"type":"integer","example":131074,"default":0},"document_date":{"type":"string","example":"2011-05-05T02:33:22Z"},"chart_date":{"type":"string","example":"2001-05-05T02:33:22Z"},"signed_date":{},"signed_by":{},"created_date":{"type":"string","example":"2022-06-27T10:18:36Z"},"deleted_date":{},"printable_view":{"type":"string","example":"http://127.0.0.1/api/2.0/reports/140758850535464/printable"},"vendor":{"type":"integer","example":67186655478,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n    \"practice\": 140758835265540,\n    \"patient\": 140758844637185,\n    \"physician\": 131074,\n    \"custom_title\": \"null\",\n    \"report_type\": \"Lab\",\n    \"reported_date\": \"2001-05-05T02:33:22Z\",\n    \"document_date\": \"2011-05-05T02:33:22Z\",\n    \"chart_date\": \"2001-05-05T02:33:22Z\",\n    \"requisition_number\": \"25\",\n    \"grids\": [\n                {\n                    \"accession_number\": \"0909641947\",\n                    \"resulted_date\": \"2009-04-07T05:10:00Z\",\n                    \"collected_date\": \"2009-04-06T22:54:00Z\",\n                    \"status\": \"FINAL\",\n                    \"note\": \"\",\n                    \"results\": [\n                        {\n                            \"status\": \"AMENDED\",\n                            \"value\": \"0.88\",\n                            \"value_type\": \"Numeric\",\n                            \"text\": \"1\",\n                            \"note\": \"1\",\n                            \"reference_min\": 0.55,\n                            \"reference_max\": \"1.66\",\n                            \"units\": \"ng/dL7\",\n                            \"is_abnormal\": \"1\",\n                            \"abnormal_flag\": \"Critical\",\n                            \"test\": {\n                                \"code\": \"FRT54\",\n                                \"name\": \"T45-Free\",\n                                \"loinc\": \"10007-3\"\n                            },\n                            \"test_category\": {\n                                \"value\": \"12010&LPW1\",\n                                \"description\": \"T4, FREE (THYROXINE, FREE)\"\n                            }\n                        }\n                    ]\n                }\n    ],\n    \"files\": [{\n        \"base64_content\": \"456\",\n        \"external_content\": {},\n        \"content_type\": \"application/json; schema=el8_external_content_report\",\n        \"original_filename\": \"FileName.txt\"\n    }],\n    \"vendor\": 67186655478\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/reports/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))"}],"samples-languages":["python"]}}},"/vitals/":{"get":{"summary":"Find Vitals","description":"","operationId":"find-vitals","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"patient","in":"query","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"practice","in":"query","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"visit_note","in":"query","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"non_visi
[...]
