openapi: 3.2.0
info:
  title: Settings Referral Orders API
  version: unknown
servers:
- url: https://sandbox.elationemr.com/api/2.0
security:
- sec0: []
tags:
- name: Referral Orders
paths:
  /referral_orders/{id}:
    get:
      summary: Get Referral Order
      description: ''
      operationId: get-referral-order
      parameters:
      - name: id
        in: path
        description: Letter ID
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 140756377075740,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/referral_orders/140756377075740/\",\n                    headers={'Authorization': auth_header})\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Referral Orders
  /referral_orders/:
    post:
      summary: Post Referral Order
      description: ''
      operationId: premium-post-referral-order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - patient
              - practice
              - authorization_for
              - consultant_name
              - short_consultant_name
              properties:
                patient:
                  type: integer
                  description: The id of the patient
                  format: int64
                practice:
                  type: integer
                  description: The id of the practice
                  format: int64
                authorization_for:
                  type: string
                  enum:
                  - '"Referral For Treatment'
                  - includes Consult Visit"
                  - '"Procedure / Testing Only"'
                  - '"Consult (One Visit Only)"'
                consultant_name:
                  type: string
                  description: Name of the consultant
                short_consultant_name:
                  type: string
                  description: Short name of the consultant
                auth_number:
                  type: string
                  description: Auth number of the referral order
                specialty:
                  type: object
                  description: Object with name of the specialty
                  properties: {}
                icd10_codes:
                  type: array
                  description: List of Icd10 Codes
                date_for_reEval:
                  type: string
                  format: date
                resolution:
                  type: object
                  description: Object with resolution for the referral order
                  properties: {}
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 65097302057,\n\t// See object definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"practice\" : 64901939456,\n  \"patient\": 64901939201\n  \"authorization_for\": \"Referral For Treatment, includes Consult Visit\",\n\t\"consultant_name\": \"Michael Miers\",\n  \"short_consultant_name\": \"Miers\",\n  \"auth_number\": \"25675\",\n  \"specialty\": {\"name\": \"Cardiology\"},\n  \"icd10_codes\": [{\"code\": \"F40.232\"}],\n  \"date_for_reEval\": \"2010-10-02\",\n  \"resolution\": {\"state\": \"fulfilled\"},\n\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/referral_orders/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Referral Orders
    put:
      summary: Update Referral Order
      description: ''
      operationId: premium-update-referral-order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - patient
              - practice
              - authorization_for
              - consultant_name
              - short_consultant_name
              properties:
                patient:
                  type: integer
                  description: The id of the patient
                  format: int64
                practice:
                  type: integer
                  description: The id of the practice
                  format: int64
                authorization_for:
                  type: string
                  enum:
                  - '"Referral For Treatment'
                  - includes Consult Visit"
                  - '"Procedure / Testing Only"'
                  - '"Consult (One Visit Only)"'
                consultant_name:
                  type: string
                  description: Name of the consultant
                short_consultant_name:
                  type: string
                  description: Short name of the consultant
                auth_number:
                  type: string
                  description: Auth number of the referral order
                specialty:
                  type: object
                  description: Object with name of the specialty
                  properties: {}
                icd10_codes:
                  type: array
                  description: List of Icd10 Codes
                date_for_reEval:
                  type: string
                  format: date
                resolution:
                  type: object
                  description: Object with resolution for the referral order
                  properties: {}
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 67176497153,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"practice\" : 64901939456,\n  \"patient\": 64901939201\n  \"authorization_for\": \"Referral For Treatment, includes Consult Visit\",\n\t\"consultant_name\": \"Michael Miers\",\n  \"short_consultant_name\": \"Miers\",\n  \"auth_number\": \"25675\",\n  \"specialty\": {\"name\": \"Cardiology\"},\n  \"icd10_codes\": [{\"code\": \"F40.232\"}],\n  \"date_for_reEval\": \"2010-10-02\",\n  \"resolution\": {\"state\": \"fulfilled\"},\n\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/referral_orders/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Referral Orders
    patch:
      summary: Update Referral Order
      description: ''
      operationId: premium-update-referral-order-1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - patient
              - practice
              - authorization_for
              - consultant_name
              - short_consultant_name
              properties:
                patient:
                  type: integer
                  description: The id of the patient
                  format: int64
                practice:
                  type: integer
                  description: The id of the practice
                  format: int64
                authorization_for:
                  type: string
                  enum:
                  - '"Referral For Treatment'
                  - includes Consult Visit"
                  - '"Procedure / Testing Only"'
                  - '"Consult (One Visit Only)"'
                consultant_name:
                  type: string
                  description: Name of the consultant
                short_consultant_name:
                  type: string
                  description: Short name of the consultant
                auth_number:
                  type: string
                  description: Auth number of the referral order
                specialty:
                  type: object
                  description: Object with name of the specialty
                  properties: {}
                icd10_codes:
                  type: array
                  description: List of Icd10 Codes
                date_for_reEval:
                  type: string
                  format: date
                resolution:
                  type: object
                  description: Object with resolution for the referral order
                  properties: {}
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 65097302057,\n\t// See object definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"practice\" : 64901939456,\n  \"patient\": 64901939201\n  \"authorization_for\": \"Referral For Treatment, includes Consult Visit\",\n\t\"consultant_name\": \"Michael Miers\",\n  \"short_consultant_name\": \"Miers\",\n  \"auth_number\": \"25675\",\n  \"specialty\": {\"name\": \"Cardiology\"},\n  \"icd10_codes\": [{\"code\": \"F40.232\"}],\n  \"date_for_reEval\": \"2010-10-02\",\n  \"resolution\": {\"state\": \"fulfilled\"},\n\n}\n\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/referral_orders/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Referral Orders
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
x-readme:
  headers: []
x-readme-fauxas: true
