openapi: 3.2.0
info:
  title: Settings Prescription Fills API
  version: unknown
servers:
- url: https://sandbox.elationemr.com/api/2.0
security:
- sec0: []
tags:
- name: Prescription Fills
paths:
  /prescription_fills/{id}/:
    get:
      summary: Get Prescription Fill
      description: ''
      operationId: get-fill
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: text
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/prescription_fills/64184451073/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - text
      tags:
      - Prescription Fills
  /prescription_fills/:
    get:
      summary: Find Prescription Fills
      description: ''
      operationId: find-prescription-fills
      parameters:
      - name: practice
        in: query
        description: The doctor's practice
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: patient
        in: query
        description: Prescribed patient
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: fill_date__isnull
        in: query
        description: Fillment date
        schema:
          type: boolean
      - name: fill_date__gte
        in: query
        description: Fillment date
        schema:
          type: string
          format: date
      - name: fill_date__lte
        in: query
        description: Fillment date
        schema:
          type: string
          format: date
      - name: fill_status
        in: query
        description: The status of fill
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/prescription_fills/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/prescription_fills/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Prescription Fills
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
x-readme:
  headers: []
x-readme-fauxas: true
