openapi: 3.2.0
info:
  title: Elation Health Lab Vendor Patient Sites API
  version: '1.0'
  description: 'Operations tagged Lab Vendor Patient Sites across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-orders-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
tags:
- name: Lab Vendor Patient Sites
paths:
  /lab_vendor_patient_sites/{id}:
    get:
      summary: Get Lab Vendor Patient Site
      description: ''
      operationId: get-lab-vendor-patient-site
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n \"id\": 67194323348,\n  // See Object Definition\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/lab_vendor_patient_sites/67194323348/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Lab Vendor Patient Sites
      security:
      - sec0: []
    patch:
      summary: Patch Lab Vendor Patient Site
      description: ''
      operationId: patch-lab-vendor-patient-site
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authentication
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                practice_created:
                  type: integer
                  format: int32
                vendor:
                  type: object
                  required:
                  - id
                  properties:
                    id:
                      type: integer
                      description: object id
                      format: int64
                address:
                  type: string
                suite:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                phone:
                  type: string
                fax:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"address\": \"\",\n    \"city\": \"\",\n    \"created_date\": \"2022-06-06T16:19:15Z\",\n    \"deleted_date\": null,\n    \"fax\": \"2\",\n    \"id\": 140758850208148,\n    \"name\": \"why\",\n    \"phone\": \"null\",\n    \"practice_created\": null,\n    \"state\": \"\",\n    \"suite\": \"null\",\n    \"vendor\": {\n        \"id\": 67186196726,\n        \"name\": \"labcorp\",\n        \"display_name\": \"LabCorp\"\n    },\n    \"zip\": \"\"\n}"
              schema:
                type: object
                properties:
                  address:
                    type: string
                    example: ''
                  city:
                    type: string
                    example: ''
                  created_date:
                    type: string
                    example: '2022-06-06T16:19:15Z'
                  deleted_date: {}
                  fax:
                    type: string
                    example: '2'
                  id:
                    type: integer
                    example: 140758850208148
                    default: 0
                  name:
                    type: string
                    example: why
                  phone:
                    type: string
                    example: 'null'
                  practice_created: {}
                  state:
                    type: string
                    example: ''
                  suite:
                    type: string
                    example: 'null'
                  vendor:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 67186196726
                        default: 0
                      name:
                        type: string
                        example: labcorp
                      display_name:
                        type: string
                        example: LabCorp
                  zip:
                    type: string
                    example: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n\ndata = {\n  \"name\": \"why\"\n}\nresp = requests.patch(\"https://sandbox.elationemr.com/api/2.0/lab_vendor_patient_sites/12345678,\n                     json=data,\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(resp.text)"
        samples-languages:
        - python
      tags:
      - Lab Vendor Patient Sites
      security:
      - sec0: []
    delete:
      summary: Delete Lab Vendor Patient Site
      description: ''
      operationId: delete-lab-vendor-patient-site
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authentication
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/lab_vendor_patient_sites/123445678\",\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(resp.text)"
        samples-languages:
        - python
      tags:
      - Lab Vendor Patient Sites
      security:
      - sec0: []
    put:
      summary: Put Lab Vendor Patient Site
      description: ''
      operationId: put-lab-vendor-patient-site
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      - name: Authentication
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                practice_created:
                  type: integer
                  format: int32
                vendor:
                  type: object
                  description: vendor id
                  required:
                  - id
                  properties:
                    id:
                      type: integer
                      description: object id
                      format: int64
                address:
                  type: string
                suite:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                phone:
                  type: string
                fax:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"address\": \"\",\n    \"city\": \"\",\n    \"created_date\": \"2022-06-06T16:19:15Z\",\n    \"deleted_date\": null,\n    \"fax\": \"2\",\n    \"id\": 140758850208148,\n    \"name\": \"why\",\n    \"phone\": \"null\",\n    \"practice_created\": 140758839459844,\n    \"state\": \"\",\n    \"suite\": \"null\",\n    \"vendor\": {\n        \"id\": 67186196726,\n        \"name\": \"labcorp\",\n        \"display_name\": \"LabCorp\"\n    },\n    \"zip\": \"\"\n}"
              schema:
                type: object
                properties:
                  address:
                    type: string
                    example: ''
                  city:
                    type: string
                    example: ''
                  created_date:
                    type: string
                    example: '2022-06-06T16:19:15Z'
                  deleted_date: {}
                  fax:
                    type: string
                    example: '2'
                  id:
                    type: integer
                    example: 140758850208148
                    default: 0
                  name:
                    type: string
                    example: why
                  phone:
                    type: string
                    example: 'null'
                  practice_created:
                    type: integer
                    example: 140758839459844
                    default: 0
                  state:
                    type: string
                    example: ''
                  suite:
                    type: string
                    example: 'null'
                  vendor:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 67186196726
                        default: 0
                      name:
                        type: string
                        example: labcorp
                      display_name:
                        type: string
                        example: LabCorp
                  zip:
                    type: string
                    example: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n\ndata = {\n  \"name\": \"why\",\n  \"practice_created\": 140758839459844\n}\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/lab_vendor_patient_sites/12345678\",\n                     json=data,\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(resp.text)"
        samples-languages:
        - python
      tags:
      - Lab Vendor Patient Sites
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /lab_vendor_patient_sites/:
    get:
      summary: Find Lab Vendor Patient Site
      description: ''
      operationId: find-lab-vendor-patient-site
      parameters:
      - name: Authorization
        in: header
        description: Bearer token
        required: true
        schema:
          type: string
      - name: practice
        in: query
        description: The id's of practice_created.
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: vendor
        in: query
        description: The id's of vendor.
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"count\": 1,\n    \"next\": null,\n    \"previous\": null,\n    \"results\": [\n        {\n \t\t\t\t\t\t\"id\": 67194323348,\n  \t\t\t\t\t// See Object Definition\n        }\n    ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/lab_vendor_patient_sites/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Lab Vendor Patient Sites
      security:
      - sec0: []
    post:
      summary: Create Lab Vendor Patient Site
      description: ''
      operationId: create-lab-vendor-patient-site
      parameters:
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - practice_created
              - vendor
              properties:
                name:
                  type: string
                practice_created:
                  type: integer
                  description: Can be null
                  format: int32
                vendor:
                  type: object
                  description: vendor id
                  required:
                  - id
                  properties:
                    id:
                      type: integer
                      description: object id
                      format: int64
                address:
                  type: string
                suite:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                phone:
                  type: string
                fax:
                  type: string
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"address\": \"\",\n    \"city\": \"\",\n    \"created_date\": \"2022-06-06T16:19:15Z\",\n    \"deleted_date\": null,\n    \"fax\": \"2\",\n    \"id\": 140758850208148,\n    \"name\": \"name1\",\n    \"phone\": \"null\",\n    \"practice_created\": null,\n    \"state\": \"\",\n    \"suite\": \"null\",\n    \"vendor\": {\n        \"id\": 67186196726,\n        \"name\": \"labcorp\",\n        \"display_name\": \"LabCorp\"\n    },\n    \"zip\": \"\"\n}"
              schema:
                type: object
                properties:
                  address:
                    type: string
                    example: ''
                  city:
                    type: string
                    example: ''
                  created_date:
                    type: string
                    example: '2022-06-06T16:19:15Z'
                  deleted_date: {}
                  fax:
                    type: string
                    example: '2'
                  id:
                    type: integer
                    example: 140758850208148
                    default: 0
                  name:
                    type: string
                    example: name1
                  phone:
                    type: string
                    example: 'null'
                  practice_created: {}
                  state:
                    type: string
                    example: ''
                  suite:
                    type: string
                    example: 'null'
                  vendor:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 67186196726
                        default: 0
                      name:
                        type: string
                        example: labcorp
                      display_name:
                        type: string
                        example: LabCorp
                  zip:
                    type: string
                    example: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n\ndata = {\n    \"address\": \"\",\n    \"city\": \"\",\n    \"created_date\": \"2022-06-06T16:11:31.678802Z\",\n    \"deleted_date\": null,\n    \"fax\": \"2\",\n    \"name\": \"name1\",\n    \"phone\": \"null\",\n    \"practice_created\": null,\n    \"state\": \"\",\n    \"suite\": \"null\",\n    \"vendor\": {\"id\": 67186196726},\n    \"zip\": \"\"\n}\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/lab_vendor_patient_sites/\",\n                     json=data,\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint(resp.status_code)\nprint(resp.text)"
        samples-languages:
        - python
      tags:
      - Lab Vendor Patient Sites
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/lab_vendor_patient_sites/:
    get:
      description: Returns a list of lab vendor patient sites
      operationId: lab_vendor_patient_sites_list
      parameters:
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: practice
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: vendor
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLabVendorPatientSiteList'
          description: ''
      security:
      - oauth2: []
      summary: List Lab Vendor Patient Sites
      tags:
      - Lab Vendor Patient Sites
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new lab vendor patient site.
      operationId: lab_vendor_patient_sites_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVendorPatientSite'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVendorPatientSite'
          description: ''
      security:
      - oauth2: []
      summary: Create Lab Vendor Patient Site
      tags:
      - Lab Vendor Patient Sites
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/lab_vendor_patient_sites/{id}/:
    delete:
      description: Delete an existing lab vendor patient site.
      operationId: lab_vendor_patient_sites_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Lab Vendor Patient Site
      tags:
      - Lab Vendor Patient Sites
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      description: Retrieve a single lab vendor patient site
      operationId: lab_vendor_patient_sites_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVendorPatientSite'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Lab Vendor Patient Site
      tags:
      - Lab Vendor Patient Sites
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing lab vendor patient site.
      operationId: lab_vendor_patient_sites_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedLabVendorPatientSite'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVendorPatientSite'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Lab Vendor Patient Site
      tags:
      - Lab Vendor Patient Sites
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing lab vendor patient site.
      operationId: lab_vendor_patient_sites_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVendorPatientSite'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVendorPatientSite'
          description: ''
      security:
      - oauth2: []
      summary: Update Lab Vendor Patient Site
      tags:
      - Lab Vendor Patient Sites
      x-el8-docs-category: Orders API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    PatchedLabVendorPatientSite:
      description: The serializer for LabVendorPatientSite
      properties:
        address:
          description: The address of the site.
          maxLength: 200
          type: string
        city:
          description: The city of the site.
          maxLength: 50
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        fax:
          maxLength: 20
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        name:
          maxLength: 200
          type: string
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        practice_created:
          format: int64
          type:
          - integer
          - 'null'
        state:
          maxLength: 2
          type: string
        suite:
          maxLength: 40
          type:
          - string
          - 'null'
        vendor:
          $ref: '#/components/schemas/LabVendorIdName'
        zip:
          maxLength: 10
          type: string
      type: object
    LabVendorPatientSite:
      description: The serializer for LabVendorPatientSite
      properties:
        address:
          description: The address of the site.
          maxLength: 200
          type: string
        city:
          description: The city of the site.
          maxLength: 50
          type: string
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        fax:
          maxLength: 20
          type:
          - string
          - 'null'
        id:
          readOnly: true
          type: integer
        name:
          maxLength: 200
          type: string
        phone:
          maxLength: 20
          type:
          - string
          - 'null'
        practice_created:
          format: int64
          type:
          - integer
          - 'null'
        state:
          maxLength: 2
          type: string
        suite:
          maxLength: 40
          type:
          - string
          - 'null'
        vendor:
          $ref: '#/components/schemas/LabVendorIdName'
        zip:
          maxLength: 10
          type: string
      required:
      - name
      type: object
    PaginatedLabVendorPatientSiteList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/LabVendorPatientSite'
          type: array
      required:
      - results
      type: object
    LabVendorIdName:
      description: LabVendor Serializer useful for simple, read-only reference.
      properties:
        display_name:
          readOnly: true
          type: string
        id:
          readOnly: true
          type: integer
        name:
          readOnly: true
          type: string
      type: object
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-orders-api.json
x-readme:
  headers: []
x-readme-fauxas: true
