openapi: 3.2.0
info:
  title: Elation Health Problems API
  version: '1.0'
  description: 'Operations tagged Problems across 3 of this provider''s published API definitions: elation-api-settings.json, elation-health-api-full-openapi.yaml, elation-health-elation-health-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.elationemr.com/api/2.0
- description: Sandbox Server
  url: https://sandbox.elationemr.com
- description: Production Server
  url: https://api.app.elationemr.com
- url: https://app.elationemr.com/api/2.0
  description: Production
tags:
- name: Problems
paths:
  /problems/:
    get:
      summary: Find Problems
      description: ''
      operationId: list-problems
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: patient
        in: path
        schema:
          type: array
          items:
            type: integer
            format: int64
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"count\": 123,\n  \"next\": \"https://sandbox.elationemr.com/api/2.0/problems/?limit=10&offset=10\",\n  \"previous\": \"https://sandbox.elationemr.com/api/2.0/problems/?limit=10\",\n  \"results\": [  // list of objects\n    { // See Object Definition },\n    // ...\n    { // See Object Definition },\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"VFroUHsmrErlVI6nJ08Alwhri5RGCW\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/problems/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        - language: text
          code: 'url https://sandbox.elationemr.com/api/2.0/problems/ \

            > -H "Authorization: Bearer e2itiEbVvhqGSxj5V6xjyFy1A4xfIi"'
          name: cURL
        samples-languages:
        - python
        - text
      tags:
      - Problems
      security:
      - sec0: []
    post:
      summary: Create Problem
      description: ''
      operationId: create-problem
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - patient
              - status
              - dx
              - practice
              properties:
                patient:
                  type: integer
                  description: The Patient id
                  format: int32
                status:
                  type: string
                  description: problem status
                  enum:
                  - Active
                  - Controlled
                  - Resolved
                dx:
                  type: array
                  description: diagnosed object
                  items:
                    properties:
                      icd10:
                        type: array
                        items:
                          properties:
                            code:
                              type: string
                              description: icd10 code
                          type: object
                      snomed:
                        type: integer
                        description: snomed code
                        format: int32
                    type: object
                description:
                  type: string
                  description: problem description
                synopsis:
                  type: string
                  description: problem detail
                start_date:
                  type: string
                  description: problem start date
                  format: date
                resolved_date:
                  type: string
                  description: problem resolved date
                  format: date
                rank:
                  type: integer
                  description: count of problems
                  default: null
                  format: int32
                practice:
                  type: integer
                  description: The practice id
                  format: int32
                created_date:
                  type: string
                  description: date problem was created
                  format: date
                deleted_date:
                  type: string
                  description: date problem was deleted
                  format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\n# sending only required data\ndata = {\n  \"dx\": [{\"snomed\": \"216267008\"}],\n  \"patient\": 64901939201,\n  \"status\": \"Active\"\n}\n\nresp = requests.post(\"https://sandbox.elationemr.com/api/2.0/problems/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Problems
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /problems/{id}/:
    get:
      summary: Get Problem
      description: ''
      operationId: get-problem
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 65097170987,\n  // See Object Definition\n}"
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.get(\"https://sandbox.elationemr.com/api/2.0/problems/65097170987/\",\n                    headers={'Authorization': auth_header})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2)"
        samples-languages:
        - python
      tags:
      - Problems
      security:
      - sec0: []
    delete:
      summary: Delete Problem
      description: ''
      operationId: delete-problem
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        schema:
          type: integer
          format: int64
        required: true
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\nresp = requests.delete(\"https://sandbox.elationemr.com/api/2.0/problems/54233202689/\",\n                       headers={'Authorization': auth_header})\n\nprint resp.status_code"
        samples-languages:
        - python
      tags:
      - Problems
      security:
      - sec0: []
    patch:
      summary: Update Problem
      description: ''
      operationId: patch-problem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: problem status
                  enum:
                  - Active
                  - Controlled
                  - Resolved
                dx:
                  type: array
                  description: diagnosed object
                  items:
                    properties:
                      icd10:
                        type: array
                        items:
                          properties:
                            code:
                              type: string
                              description: icd10 code
                          type: object
                      snomed:
                        type: integer
                        description: snomed code
                        format: int32
                    type: object
                description:
                  type: string
                  description: problem description
                rank:
                  type: integer
                  description: count of problems
                  default: null
                  format: int32
                resolved_date:
                  type: string
                  description: problem resolved date
                  format: date
                synopsis:
                  type: string
                  description: problem details
                start_date:
                  type: string
                  description: problem start date
                  format: date
                created_date:
                  type: string
                  description: creation date
                  format: date
                deleted_date:
                  type: string
                  description: date problem was deleted
                  format: date
                patient:
                  type: integer
                  description: patient Id
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": 83792571234,\n  // See Object Definition\n}"
      deprecated: false
      x-readme:
        code-samples:
        - language: python
          code: "import requests\nimport json\n\naccess_token = \"TyEPKw8fVGRKpCBa81ygwjCLXDNIAm\"\nauth_header = \"Bearer %s\" % (access_token)\n\ndata = {\n  \"status\": \"Resolved\",\n  \"resolved_date\": \"2016-10-12\"\n}\n\nresp = requests.put(\"https://sandbox.elationemr.com/api/2.0/problems/67176497153/\",\n                     data=json.dumps(data),\n                     headers={'Authorization': auth_header,\n                              'Content-type': 'application/json'})\n\nprint resp.status_code\nprint json.dumps(json.loads(resp.content), indent=2))"
        samples-languages:
        - python
      tags:
      - Problems
      security:
      - sec0: []
    put:
      operationId: problems_update
      summary: Update a problem
      description: Replace all problem fields with the provided values.
      tags:
      - Problems
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProblemCreate'
      responses:
        '200':
          description: Problem updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - sec0: []
    servers:
    - url: https://sandbox.elationemr.com/api/2.0
  /api/2.0/problems/:
    get:
      description: Returns a list of problems
      operationId: problems_list
      parameters:
      - in: query
        name: created_date__gte
        schema:
          format: date-time
          type: string
      - in: query
        name: created_date__lte
        schema:
          format: date-time
          type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - description: Which field to use when ordering the results.
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: patient
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: Multiple values may be separated by commas.
        explode: false
        in: query
        name: practice
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: '* `Active` - Active

          * `Controlled` - Controlled

          * `Resolved` - Resolved'
        in: query
        name: status
        schema:
          enum:
          - Active
          - Controlled
          - Resolved
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPatientProblemList'
          description: ''
      security:
      - oauth2: []
      summary: List Problems
      tags:
      - Problems
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    post:
      description: Create a new problem.
      operationId: problems_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientProblem'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientProblem'
          description: ''
      security:
      - oauth2: []
      summary: Create Problem
      tags:
      - Problems
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
  /api/2.0/problems/{id}/:
    delete:
      description: Delete an existing problem.
      operationId: problems_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - oauth2: []
      summary: Delete Problem
      tags:
      - Problems
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    get:
      description: Retrieve a single problem
      operationId: problems_retrieve
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientProblem'
          description: ''
      security:
      - oauth2: []
      summary: Retrieve Problem
      tags:
      - Problems
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    patch:
      description: Update an existing problem.
      operationId: problems_partial_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPatientProblem'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientProblem'
          description: ''
      security:
      - oauth2: []
      summary: Partially Update Problem
      tags:
      - Problems
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    put:
      description: Replace an existing problem.
      operationId: problems_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientProblem'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientProblem'
          description: ''
      security:
      - oauth2: []
      summary: Update Problem
      tags:
      - Problems
      x-el8-docs-category: Patient Profile API
      x-el8-docs-versions:
      - '2.1'
      - '2.0'
    servers:
    - description: Sandbox Server
      url: https://sandbox.elationemr.com
    - description: Production Server
      url: https://api.app.elationemr.com
components:
  schemas:
    NullEnum:
      type: 'null'
    ImoCodeRelation:
      properties:
        icd10:
          items:
            type: string
          type: array
        icd9:
          items:
            type: string
          type: array
        snomed:
          type: string
      type: object
    BlankEnum:
      enum:
      - ''
    PaginatedPatientProblemList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?offset=400&limit=100
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?offset=200&limit=100
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/PatientProblem'
          type: array
      required:
      - results
      type: object
    VerificationStatusEnum:
      enum:
      - confirmed
      - differential
      - entered_in_error
      - provisional
      - refuted
      - unconfirmed
      type: string
    PatchedPatientProblem:
      properties:
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        description:
          maxLength: 200
          type: string
        dx:
          description: The diagnoses for imo codes.
          items:
            $ref: '#/components/schemas/ImoCodeRelation'
          type: array
        id:
          readOnly: true
          type: integer
        patient:
          format: int64
          type: integer
        practice:
          format: int64
          readOnly: true
          type: integer
        rank:
          type: integer
        resolved_date:
          description: Date the problem was resolved. Set only if `status` is `Resolved`.
          format: date
          type:
          - string
          - 'null'
        start_date:
          format: date
          type: string
        status:
          $ref: '#/components/schemas/PatientProblemStatusEnum'
        synopsis:
          type: string
        verification_status:
          oneOf:
          - $ref: '#/components/schemas/VerificationStatusEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
      type: object
    PatientProblem:
      properties:
        created_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        deleted_date:
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        description:
          maxLength: 200
          type: string
        dx:
          description: The diagnoses for imo codes.
          items:
            $ref: '#/components/schemas/ImoCodeRelation'
          type: array
        id:
          readOnly: true
          type: integer
        patient:
          format: int64
          type: integer
        practice:
          format: int64
          readOnly: true
          type: integer
        rank:
          type: integer
        resolved_date:
          description: Date the problem was resolved. Set only if `status` is `Resolved`.
          format: date
          type:
          - string
          - 'null'
        start_date:
          format: date
          type: string
        status:
          $ref: '#/components/schemas/PatientProblemStatusEnum'
        synopsis:
          type: string
        verification_status:
          oneOf:
          - $ref: '#/components/schemas/VerificationStatusEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
      required:
      - description
      - dx
      - patient
      - start_date
      - status
      type: object
    PatientProblemStatusEnum:
      enum:
      - Active
      - Controlled
      - Resolved
      type: string
    ProblemCreate:
      type: object
      required:
      - description
      - status
      - start_date
      - patient
      properties:
        description:
          type: string
          description: Description of the problem
        status:
          type: string
          enum:
          - Active
          - Controlled
          - Resolved
        synopsis:
          type: string
          description: Brief synopsis of the problem
        start_date:
          type: string
          format: date-time
          description: Date the problem started
        resolved_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Date the problem was resolved (required when status is Resolved)
        patient:
          type: integer
          description: Patient ID
        dx:
          $ref: '#/components/schemas/Diagnosis'
    Diagnosis:
      type: object
      properties:
        icd9:
          type: array
          items:
            type: string
        icd10:
          type: array
          items:
            type: string
        snomed:
          type: string
    Problem:
      allOf:
      - $ref: '#/components/schemas/ProblemCreate'
      - type: object
        properties:
          id:
            type: integer
            readOnly: true
          created_date:
            type: string
            format: date-time
            readOnly: true
          deleted_date:
            type:
            - string
            - 'null'
            format: date-time
            readOnly: true
    PaginatedProblemList:
      allOf:
      - $ref: '#/components/schemas/PaginationMeta'
      - type: object
        properties:
          results:
            type: array
            items:
              $ref: '#/components/schemas/Problem'
    PaginationMeta:
      type: object
      properties:
        count:
          type: integer
          description: Total number of results
        next:
          type:
          - string
          - 'null'
          description: URL for next page
        previous:
          type:
          - string
          - 'null'
          description: URL for previous page
  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 25
      description: Number of results to return
    id:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Unique resource identifier
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
      description: Pagination offset
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
    oauth2:
      flows:
        clientCredentials:
          scopes:
            act_as_user: Impersonate a provider via X-On-Behalf-Of (combinable with apiv2 or system scopes)
            apiv2: Full access to the API
            system/{resource_name}.read: Read access to a specific resource
            system/{resource_name}.write: Write access to a specific resource
          tokenUrl: /api/2.0/oauth2/token/
      type: oauth2
x-refined-from:
- elation-api-settings.json
- elation-health-api-full-openapi.yaml
- elation-health-elation-health-api-openapi.yml
x-readme:
  headers: []
x-readme-fauxas: true
