{"openapi":"3.1.0","info":{"title":"Visit Notes API","description":"This API supports the management of visit notes.","version":"0.1.0"},"servers":[{"url":"https://sandbox.elationemr.com/api/2.0","description":"Sandbox Environment"}],"paths":{"/notes":{"get":{"description":"Returns a paginated list of note metadata","operationId":"list_notes","parameters":[{"description":"Limit for pagination","in":"query","name":"limit","required":false,"schema":{"default":20,"description":"Limit for pagination","maximum":100,"minimum":1,"title":"Limit","type":"integer"}},{"description":"Offset for pagination","in":"query","name":"offset","required":false,"schema":{"default":0,"description":"Offset for pagination","title":"Offset","type":"integer"}},{"description":"Filter by practice ID","in":"query","name":"practice_id","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by practice ID","title":"Practice Id"}},{"description":"True to filter to draft notes only. False to include only signed notes. Omit to include both.","in":"query","name":"is_draft","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"True to filter to draft notes only. False to include only signed notes. Omit to include both.","title":"Is Draft"}},{"description":"Filter by patient ID","in":"query","name":"patient","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by patient ID","title":"Patient"}},{"description":"Comma separated list of provider IDs","in":"query","name":"providers","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Comma separated list of provider IDs","title":"Providers"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse_NoteMetadata_"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"List Notes","tags":["Notes"]},"post":{"description":"Create a new `Note`.","operationId":"create_note","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoteCreate"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Note"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Create Note","tags":["Notes"]}},"/notes/custom-blocks":{"get":{"operationId":"list_custom_blocks","parameters":[{"description":"Limit for pagination","in":"query","name":"limit","required":false,"schema":{"default":20,"description":"Limit for pagination","maximum":100,"minimum":1,"title":"Limit","type":"integer"}},{"description":"Offset for pagination","in":"query","name":"offset","required":false,"schema":{"default":0,"description":"Offset for pagination","title":"Offset","type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse_CustomBlockResponse_"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":["apiv2"]}],"summary":"List Custom Blocks","tags":["Custom Blocks"]}},"/notes/{note_id}":{"delete":{"description":"Delete a specific draft note","operationId":"delete_note_by_id","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"responses":{"204":{"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Delete Note By Id","tags":["Notes"]},"get":{"description":"Get a specific note. Returns a sections-based response for layout notes,\nor a legacy Note for notes created before the sections schema.\n\nThis endpoint fetches a note without creating a snapshot. The snapshot is used for conflict\nresolution when multiple sources are concurrently updating the note.\n\nTo fetch a note for editing that requires conflict resolution, use the `/notes/{note_id}/edit`\nendpoint instead.","operationId":"get_note_by_id","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ElationNote"},{"$ref":"#/components/schemas/Note"}],"title":"Response Get Note By Id Notes  Note Id  Get"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Get Note By Id","tags":["Notes"]},"patch":{"description":"Update a specific note by id","operationId":"update_note_by_id","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoteUpdate"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Note"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Update Note By Id","tags":["Notes"]}},"/notes/{note_id}/amendments/{amendment_id}":{"get":{"description":"Get a specific note amendment (legacy or EN2.1 sections-based).","operationId":"get_note_amendment_by_id","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}},{"in":"path","name":"amendment_id","required":true,"schema":{"title":"Amendment Id","type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ElationNoteAmendment"},{"$ref":"#/components/schemas/NoteAmendment"}],"title":"Response Get Note Amendment By Id Notes  Note Id  Amendments  Amendment Id  Get"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Get Note Amendment By Id","tags":["Notes"]}},"/v1/notes":{"get":{"description":"Returns a paginated list of note metadata.","operationId":"list_notes_v1","parameters":[{"description":"Limit for pagination","in":"query","name":"limit","required":false,"schema":{"default":20,"description":"Limit for pagination","maximum":100,"minimum":1,"title":"Limit","type":"integer"}},{"description":"Offset for pagination","in":"query","name":"offset","required":false,"schema":{"default":0,"description":"Offset for pagination","title":"Offset","type":"integer"}},{"description":"Filter by practice ID","in":"query","name":"practice_id","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by practice ID","title":"Practice Id"}},{"description":"True to filter to draft notes only. False to include only signed notes. Omit to include both.","in":"query","name":"is_draft","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"True to filter to draft notes only. False to include only signed notes. Omit to include both.","title":"Is Draft"}},{"description":"Filter by patient ID","in":"query","name":"patient","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by patient ID","title":"Patient"}},{"description":"Comma separated list of provider IDs","in":"query","name":"providers","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Comma separated list of provider IDs","title":"Providers"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse_NoteMetadata_"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"List Notes V1","tags":["Notes v1"]},"post":{"description":"Create a legacy Note.","operationId":"create_note_v1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoteCreate"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Note"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Create Note V1","tags":["Notes v1"]}},"/v1/notes/{note_id}":{"delete":{"description":"Delete a specific draft legacy Note.","operationId":"delete_note_by_id_v1","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"responses":{"204":{"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Delete Note By Id V1","tags":["Notes v1"]},"get":{"description":"Get a specific legacy Note. Returns HTTP 400 if the note uses the EN2.1 schema.","operationId":"get_note_by_id_v1","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Note"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Get Note By Id V1","tags":["Notes v1"]},"patch":{"description":"Update a legacy Note. Returns HTTP 400 if the note uses the EN2.1 schema\n(pass ``content_map`` and use the /v2/ endpoint instead).","operationId":"update_note_by_id_v1","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoteUpdate"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Note"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Update Note By Id V1","tags":["Notes v1"]}},"/v2/notes":{"get":{"description":"Returns a paginated list of note metadata.","operationId":"list_notes_v2","parameters":[{"description":"Limit for pagination","in":"query","name":"limit","required":false,"schema":{"default":20,"description":"Limit for pagination","maximum":100,"minimum":1,"title":"Limit","type":"integer"}},{"description":"Offset for pagination","in":"query","name":"offset","required":false,"schema":{"default":0,"description":"Offset for pagination","title":"Offset","type":"integer"}},{"description":"Filter by practice ID","in":"query","name":"practice_id","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by practice ID","title":"Practice Id"}},{"description":"True to filter to draft notes only. False to include only signed notes. Omit to include both.","in":"query","name":"is_draft","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"True to filter to draft notes only. False to include only signed notes. Omit to include both.","title":"Is Draft"}},{"description":"Filter by patient ID","in":"query","name":"patient","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by patient ID","title":"Patient"}},{"description":"Comma separated list of provider IDs","in":"query","name":"providers","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Comma separated list of provider IDs","title":"Providers"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse_NoteMetadata_"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"List Notes V2","tags":["Notes v2"]},"post":{"description":"Create an EN2.1 sections-based Note.","operationId":"create_note_v2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ElationNoteCreate"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ElationNote"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Create Note V2","tags":["Notes v2"]}},"/v2/notes/{note_id}":{"delete":{"description":"Delete a specific draft EN2.1 Note.","operationId":"delete_note_by_id_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"responses":{"204":{"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Delete Note By Id V2","tags":["Notes v2"]},"get":{"description":"Get a specific EN2.1 sections-based Note. Returns HTTP 400 if the note\nuses the legacy schema.","operationId":"get_note_by_id_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ElationNote"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Get Note By Id V2","tags":["Notes v2"]},"patch":{"description":"Update an EN2.1 sections-based Note.","operationId":"update_note_by_id_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ElationNoteUpdate"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ElationNote"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Update Note By Id V2","tags":["Notes v2"]}},"/v2/notes/{note_id}/amendments":{"post":{"description":"Create an EN2.1 note amendment. If a draft amendment already exists, returns it\n(HTTP 200). The parent note must be a signed sections-based note.","operationId":"create_note_amendment_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ElationNoteAmendment"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Create Note Amendment V2","tags":["Notes v2"]}},"/v2/notes/{note_id}/amendments/{amendment_id}":{"delete":{"description":"Delete a specific draft EN2.1 note amendment.","operationId":"delete_note_amendment_by_id_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}},{"in":"path","name":"amendment_id","required":true,"schema":{"title":"Amendment Id","type":"integer"}}],"responses":{"204":{"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Delete Note Amendment By Id V2","tags":["Notes v2"]},"get":{"description":"Get a specific EN2.1 note amendment.","operationId":"get_note_amendment_by_id_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}},{"in":"path","name":"amendment_id","required":true,"schema":{"title":"Amendment Id","type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ElationNoteAmendment"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Get Note Amendment By Id V2","tags":["Notes v2"]},"patch":{"description":"Update a draft EN2.1 note amendment.","operationId":"update_note_amendment_by_id_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}},{"in":"path","name":"amendment_id","required":true,"schema":{"title":"Amendment Id","type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ElationNoteAmendmentUpdate"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ElationNoteAmendment"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Update Note Amendment By Id V2","tags":["Notes v2"]}},"/v2/notes/{note_id}/doctags":{"get":{"description":"List all doctags for an EN2.1 sections-based Note. Returns HTTP 400 if\nthe note uses the legacy schema.","operationId":"list_note_doctags_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/Doctag"},"title":"Response List Note Doctags V2 V2 Notes  Note Id  Doctags Get","type":"array"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"List Note Doctags V2","tags":["Notes v2"]},"patch":{"description":"Add a doctag to an EN2.1 sections-based Note. The doctag will be upserted\ninto the database and linked to the note. Returns HTTP 400 if the note\nuses the legacy schema.","operationId":"add_doctag_to_note_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDoctagRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Doctag"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Add Doctag To Note V2","tags":["Notes v2"]}},"/v2/notes/{note_id}/doctags/{doctag_id}":{"delete":{"description":"Remove a doctag from an EN2.1 sections-based Note. Returns HTTP 400 if\nthe note uses the legacy schema.","operationId":"delete_doctag_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}},{"in":"path","name":"doctag_id","required":true,"schema":{"title":"Doctag Id","type":"integer"}}],"responses":{"204":{"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Delete Doctag V2","tags":["Notes v2"]}},"/v2/notes/{note_id}/edit":{"get":{"description":"Fetch an EN2.1 note for editing. Creates a snapshot and returns ``snapshot_id``\nfor collaborative PATCH updates.","operationId":"get_note_for_edit_v2","parameters":[{"in":"path","name":"note_id","required":true,"schema":{"title":"Note Id","type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ElationNote"}}},"description":"Successful Response"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}},"description":"Validation Error"}},"security":[{"RequireAuthentication":[]},{"RequirePracticeAuthorization":[]}],"summary":"Get Note For Edit V2","tags":["Notes v2"]}}},"components":{"schemas":{"AiGenerationInfo":{"properties":{"is_finalized":{"default":true,"title":"Is Finalized","type":"boolean"},"transcript_source_text":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"","title":"Transcript Source Text"}},"title":"AiGenerationInfo","type":"object"},"AllergiesNode-Input":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Input"},{"$ref":"#/components/schemas/NoteAssistNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"allergies","default":"allergies","title":"Type","type":"string"}},"title":"AllergiesNode","type":"object"},"AllergiesNode-Output":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Output"},{"$ref":"#/components/schemas/NoteAssistNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"allergies","default":"allergies","title":"Type","type":"string"}},"title":"AllergiesNode","type":"object"},"AnyNodeContent":{"additionalProperties":true,"description":"Placeholder for node content, eliminating cycles in OpenAPI schema generation.\nThis should be replaced with any node content type when calling the API","properties":{},"title":"AnyNodeContent","type":"object"},"AssessmentPlan2Node-Input":{"additionalProperties":true,"description":"An assessment & plan node with a more clinically opinionated structure\nthan `AssessmentPlanNode`.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"$ref":"#/components/schemas/AssessmentPlanItemNode-Input"},"title":"Content","type":"array"},"type":{"const":"assessmentPlan2","default":"assessmentPlan2","title":"Type","type":"string"}},"title":"AssessmentPlan2Node","type":"object"},"AssessmentPlan2Node-Output":{"additionalProperties":true,"description":"An assessment & plan node with a more clinically opinionated structure\nthan `AssessmentPlanNode`.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"$ref":"#/components/schemas/AssessmentPlanItemNode-Output"},"title":"Content","type":"array"},"type":{"const":"assessmentPlan2","default":"assessmentPlan2","title":"Type","type":"string"}},"title":"AssessmentPlan2Node","type":"object"},"AssessmentPlanItemNode-Input":{"additionalProperties":true,"description":"A top-level list item node within an `AssessmentPlan2Node`.\n\nFor nested lists/list items, see `AssessmentPlanListNode` and\n`AssessmentPlanListItemNode`.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"anyOf":[{"$ref":"#/components/schemas/AssessmentPlanItemTitleNode-Input"},{"$ref":"#/components/schemas/AssessmentPlanListNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"assessmentPlanItem","default":"assessmentPlanItem","title":"Type","type":"string"}},"title":"AssessmentPlanItemNode","type":"object"},"AssessmentPlanItemNode-Output":{"additionalProperties":true,"description":"A top-level list item node within an `AssessmentPlan2Node`.\n\nFor nested lists/list items, see `AssessmentPlanListNode` and\n`AssessmentPlanListItemNode`.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"anyOf":[{"$ref":"#/components/schemas/AssessmentPlanItemTitleNode-Output"},{"$ref":"#/components/schemas/AssessmentPlanListNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"assessmentPlanItem","default":"assessmentPlanItem","title":"Type","type":"string"}},"title":"AssessmentPlanItemNode","type":"object"},"AssessmentPlanItemTitleNode-Input":{"additionalProperties":true,"description":"Title node for an `AssessmentPlanItemNode`. This represents a top-\nlevel list item within an `AssessmentPlan2Node`, and is typically\nused to hold a `ProblemNode` and any related text.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"anyOf":[{"$ref":"#/components/schemas/ParagraphNode-Input"},{"$ref":"#/components/schemas/BlockMacroNode-Input"},{"$ref":"#/components/schemas/CardiacOrderNode-Input"},{"$ref":"#/components/schemas/DiscontinuePrescriptionNode-Input"},{"$ref":"#/components/schemas/ImagingOrderNode-Input"},{"$ref":"#/components/schemas/LabOrderNode-Input"},{"$ref":"#/components/schemas/PrescriptionNode-Input"},{"$ref":"#/components/schemas/PulmonaryOrderNode-Input"},{"$ref":"#/components/schemas/ReferralNode-Input"},{"$ref":"#/components/schemas/SleepOrderNode-Input"},{"$ref":"#/components/schemas/CustomBlockNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"assessmentPlanItemTitle","default":"assessmentPlanItemTitle","title":"Type","type":"string"}},"title":"AssessmentPlanItemTitleNode","type":"object"},"AssessmentPlanItemTitleNode-Output":{"additionalProperties":true,"description":"Title node for an `AssessmentPlanItemNode`. This represents a top-\nlevel list item within an `AssessmentPlan2Node`, and is typically\nused to hold a `ProblemNode` and any related text.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"anyOf":[{"$ref":"#/components/schemas/ParagraphNode-Output"},{"$ref":"#/components/schemas/BlockMacroNode-Output"},{"$ref":"#/components/schemas/CardiacOrderNode-Output"},{"$ref":"#/components/schemas/DiscontinuePrescriptionNode-Output"},{"$ref":"#/components/schemas/ImagingOrderNode-Output"},{"$ref":"#/components/schemas/LabOrderNode-Output"},{"$ref":"#/components/schemas/PrescriptionNode-Output"},{"$ref":"#/components/schemas/PulmonaryOrderNode-Output"},{"$ref":"#/components/schemas/ReferralNode-Output"},{"$ref":"#/components/schemas/SleepOrderNode-Output"},{"$ref":"#/components/schemas/CustomBlockNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"assessmentPlanItemTitle","default":"assessmentPlanItemTitle","title":"Type","type":"string"}},"title":"AssessmentPlanItemTitleNode","type":"object"},"AssessmentPlanListItemNode-Input":{"additionalProperties":true,"description":"A list item node within an `AssessmentPlanList`.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"$ref":"#/components/schemas/ParagraphNode-Input"},"title":"Content","type":"array"},"type":{"const":"assessmentPlanListItem","default":"assessmentPlanListItem","title":"Type","type":"string"}},"title":"AssessmentPlanListItemNode","type":"object"},"AssessmentPlanListItemNode-Output":{"additionalProperties":true,"description":"A list item node within an `AssessmentPlanList`.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"$ref":"#/components/schemas/ParagraphNode-Output"},"title":"Content","type":"array"},"type":{"const":"assessmentPlanListItem","default":"assessmentPlanListItem","title":"Type","type":"string"}},"title":"AssessmentPlanListItemNode","type":"object"},"AssessmentPlanListNode-Input":{"additionalProperties":true,"description":"A list node specific to `AssessmentPlan2Node`. This is effectively a\nnested list within an `AssessmentPlanItemNode`.\n\nFor the top-level list items within `AssessmentPlan2Node`, see\n`AssessmentPlanItemNode`. Top-level items are handled differently\nbecause in a completed note, they should each contain a problem/IMO\ncode (stored in the `AssessmentPlanItemTitleNode`).","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"$ref":"#/components/schemas/AssessmentPlanListItemNode-Input"},"title":"Content","type":"array"},"type":{"const":"assessmentPlanList","default":"assessmentPlanList","title":"Type","type":"string"}},"title":"AssessmentPlanListNode","type":"object"},"AssessmentPlanListNode-Output":{"additionalProperties":true,"description":"A list node specific to `AssessmentPlan2Node`. This is effectively a\nnested list within an `AssessmentPlanItemNode`.\n\nFor the top-level list items within `AssessmentPlan2Node`, see\n`AssessmentPlanItemNode`. Top-level items are handled differently\nbecause in a completed note, they should each contain a problem/IMO\ncode (stored in the `AssessmentPlanItemTitleNode`).","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"$ref":"#/components/schemas/AssessmentPlanListItemNode-Output"},"title":"Content","type":"array"},"type":{"const":"assessmentPlanList","default":"assessmentPlanList","title":"Type","type":"string"}},"title":"AssessmentPlanListNode","type":"object"},"AssessmentPlanNode-Input":{"additionalProperties":true,"description":"Block node for patient's assessment and plan.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Input"},{"$ref":"#/components/schemas/NoteAssistNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"assessmentPlan","default":"assessmentPlan","title":"Type","type":"string"}},"title":"AssessmentPlanNode","type":"object"},"AssessmentPlanNode-Output":{"additionalProperties":true,"description":"Block node for patient's assessment and plan.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Output"},{"$ref":"#/components/schemas/NoteAssistNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"assessmentPlan","default":"assessmentPlan","title":"Type","type":"string"}},"title":"AssessmentPlanNode","type":"object"},"Attachment":{"description":"A file attached to a note.\n\nAttachments are modeled as a top-level field on the note (not as note\ncontent) per the Simple Note 2.1 spec: they carry no positioning or other\ncontent-node properties.","properties":{"attached_at":{"title":"Attached At","type":"string"},"content_type":{"title":"Content Type","type":"string"},"display_name":{"title":"Display Name","type":"string"},"download_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Download Url"},"id":{"title":"Id","type":"integer"},"preview_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Preview Url"}},"required":["id","attached_at","content_type","display_name"],"title":"Attachment","type":"object"},"Attrs":{"properties":{"ai_generation_info":{"anyOf":[{"$ref":"#/components/schemas/AiGenerationInfo"},{"type":"null"}]},"creation_type":{"anyOf":[{"enum":["ai","template"],"type":"string"},{"type":"null"}],"title":"Creation Type"},"custom_block_id":{"title":"Custom Block Id","type":"integer"},"is_new":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is New"},"ref_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ref Id"}},"required":["custom_block_id"],"title":"Attrs","type":"object"},"AttrsWithRefId":{"description":"Base attrs for any node that carries a stable change-tracking ref_id.","properties":{"ref_id":{"title":"Ref Id","type":"string"}},"title":"AttrsWithRefId","type":"object"},"BlockMacroNode-Input":{"additionalProperties":true,"description":"Block node for a macro reference with id and label.","properties":{"attrs":{"$ref":"#/components/schemas/el8_note_models__note__content__macros__BlockMacroNode__NodeAttrs"},"type":{"const":"blockMacro","default":"blockMacro","title":"Type","type":"string"}},"required":["attrs"],"title":"BlockMacroNode","type":"object"},"BlockMacroNode-Output":{"additionalProperties":true,"description":"Block node for a macro reference with id and label.","properties":{"attrs":{"$ref":"#/components/schemas/el8_note_models__note__content__macros__BlockMacroNode__NodeAttrs"},"type":{"const":"blockMacro","default":"blockMacro","title":"Type","type":"string"}},"required":["attrs"],"title":"BlockMacroNode","type":"object"},"BlockNode-Input":{"discriminator":{"mapping":{"allergies":"#/components/schemas/AllergiesNode-Input","assessmentPlan":"#/components/schemas/AssessmentPlanNode-Input","assessmentPlan2":"#/components/schemas/AssessmentPlan2Node-Input","blockMacro":"#/components/schemas/BlockMacroNode-Input","cardiacOrder":"#/components/schemas/CardiacOrderNode-Input","carePlan":"#/components/schemas/CarePlanNode-Input","cognitiveStatus":"#/components/schemas/CognitiveStatusNode-Input","columnLayout":"#/components/schemas/ColumnLayoutNode-Input","customBlock":"#/components/schemas/CustomBlockNode-Input","customBlockReference":"#/components/schemas/CustomBlockReference-Input","data":"#/components/schemas/DataNode-Input","dietHistory":"#/components/schemas/DietHistoryNode-Input","discontinuePrescription":"#/components/schemas/DiscontinuePrescriptionNode-Input","dynamicForm":"#/components/schemas/DynamicFormNode-Input","examReason":"#/components/schemas/ExamReasonNode-Input","exerciseHistory":"#/components/schemas/ExerciseHistoryNode-Input","familyHistory":"#/components/schemas/FamilyHistoryNode-Input","familyRelationship":"#/components/schemas/FamilyRelationshipNode-Input","followUp":"#/components/schemas/FollowUpNode-Input","functionalStatus":"#/components/schemas/FunctionalStatusNode-Input","generic":"#/components/schemas/GenericNode-Input","habits":"#/components/schemas/HabitsNode-Input","heading":"#/components/schemas/HeadingNode-Input","hpi":"#/components/schemas/HPINode-Input","imagingOrder":"#/components/schemas/ImagingOrderNode-Input","labOrder":"#/components/schemas/LabOrderNode-Input","orderedList":"#/components/schemas/OrderedListNode-Input","paragraph":"#/components/schemas/ParagraphNode-Input","pastMedicalHistory":"#/components/schemas/PastMedicalHistoryNode-Input","pastSurgicalHistory":"#/components/schemas/PastSurgicalHistoryNode-Input","patientInstructions":"#/components/schemas/PatientInstructionsNode-Input","physicalExam":"#/components/schemas/PhysicalExamNode-Input","prescription":"#/components/schemas/PrescriptionNode-Input","procedure":"#/components/schemas/ProcedureNode-Input","procedures":"#/components/schemas/ProceduresNode-Input","procedures2":"#/components/schemas/Procedures2Node-Input","psychologicalStatus":"#/components/schemas/PsychologicalStatusNode-Input","pulmonaryOrder":"#/components/schemas/PulmonaryOrderNode-Input","reconciledMedications":"#/components/schemas/ReconciledMedicationsNode-Input","referral":"#/components/schemas/ReferralNode-Input","ros":"#/components/schemas/ROSNode-Input","sleepOrder":"#/components/schemas/SleepOrderNode-Input","socialHistory":"#/components/schemas/SocialHistoryNode-Input","twoColumnLayout":"#/components/schemas/TwoColumnLayoutNode-Input","unorderedList":"#/components/schemas/UnorderedListNode-Input","vitalBMI":"#/components/schemas/VitalBMINode-Input","vitalBP":"#/components/schemas/VitalBPNode-Input","vitalHR":"#/components/schemas/VitalHRNode-Input","vitalHeight":"#/components/schemas/VitalHeightNode-Input","vitalOxygen":"#/components/schemas/VitalOxygenNode-Input","vitalPain":"#/components/schemas/VitalPainNode-Input","vitalRR":"#/components/schemas/VitalRRNode-Input","vitalTemperature":"#/components/schemas/VitalTemperatureNode-Input","vitalWeight":"#/components/schemas/VitalWeightNode-Input","vitals":"#/components/schemas/VitalsNode-Input"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/AllergiesNode-Input"},{"$ref":"#/components/schemas/AssessmentPlanNode-Input"},{"$ref":"#/components/schemas/AssessmentPlan2Node-Input"},{"$ref":"#/components/schemas/BlockMacroNode-Input"},{"$ref":"#/components/schemas/CardiacOrderNode-Input"},{"$ref":"#/components/schemas/CarePlanNode-Input"},{"$ref":"#/components/schemas/CognitiveStatusNode-Input"},{"$ref":"#/components/schemas/ColumnLayoutNode-Input"},{"$ref":"#/components/schemas/CustomBlockNode-Input"},{"$ref":"#/components/schemas/CustomBlockReference-Input"},{"$ref":"#/components/schemas/DataNode-Input"},{"$ref":"#/components/schemas/DietHistoryNode-Input"},{"$ref":"#/components/schemas/DiscontinuePrescriptionNode-Input"},{"$ref":"#/components/schemas/DynamicFormNode-Input"},{"$ref":"#/components/schemas/ExamReasonNode-Input"},{"$ref":"#/components/schemas/ExerciseHistoryNode-Input"},{"$ref":"#/components/schemas/FamilyHistoryNode-Input"},{"$ref":"#/components/schemas/FamilyRelationshipNode-Input"},{"$ref":"#/components/schemas/FollowUpNode-Input"},{"$ref":"#/components/schemas/FunctionalStatusNode-Input"},{"$ref":"#/components/schemas/GenericNode-Input"},{"$ref":"#/components/schemas/HabitsNode-Input"},{"$ref":"#/components/schemas/HeadingNode-Input"},{"$ref":"#/components/schemas/HPINode-Input"},{"$ref":"#/components/schemas/ImagingOrderNode-Input"},{"$ref":"#/components/schemas/LabOrderNode-Input"},{"$ref":"#/components/schemas/OrderedListNode-Input"},{"$ref":"#/components/schemas/ParagraphNode-Input"},{"$ref":"#/components/schemas/PastMedicalHistoryNode-Input"},{"$ref":"#/components/schemas/PastSurgicalHistoryNode-Input"},{"$ref":"#/components/schemas/PatientInstructionsNode-Input"},{"$ref":"#/components/schemas/PhysicalExamNode-Input"},{"$ref":"#/components/schemas/PrescriptionNode-Input"},{"$ref":"#/components/schemas/ProcedureNode-Input"},{"$ref":"#/components/schemas/ProceduresNode-Input"},{"$ref":"#/components/schemas/Procedures2Node-Input"},{"$ref":"#/components/schemas/PsychologicalStatusNode-Input"},{"$ref":"#/components/schemas/PulmonaryOrderNode-Input"},{"$ref":"#/components/schemas/ReconciledMedicationsNode-Input"},{"$ref":"#/components/schemas/ReferralNode-Input"},{"$ref":"#/components/schemas/ROSNode-Input"},{"$ref":"#/components/schemas/SleepOrderNode-Input"},{"$ref":"#/components/schemas/SocialHistoryNode-Input"},{"$ref":"#/components/schemas/TwoColumnLayoutNode-Input"},{"$ref":"#/components/schemas/UnorderedListNode-Input"},{"$ref":"#/components/schemas/VitalBMINode-Input"},{"$ref":"#/components/schemas/VitalBPNode-Input"},{"$ref":"#/components/schemas/VitalHeightNode-Input"},{"$ref":"#/components/schemas/VitalHRNode-Input"},{"$ref":"#/components/schemas/VitalOxygenNode-Input"},{"$ref":"#/components/schemas/VitalPainNode-Input"},{"$ref":"#/components/schemas/VitalRRNode-Input"},{"$ref":"#/components/schemas/VitalTemperatureNode-Input"},{"$ref":"#/components/schemas/VitalWeightNode-Input"},{"$ref":"#/components/schemas/VitalsNode-Input"}]},"BlockNode-Output":{"discriminator":{"mapping":{"allergies":"#/components/schemas/AllergiesNode-Output","assessmentPlan":"#/components/schemas/AssessmentPlanNode-Output","assessmentPlan2":"#/components/schemas/AssessmentPlan2Node-Output","blockMacro":"#/components/schemas/BlockMacroNode-Output","cardiacOrder":"#/components/schemas/CardiacOrderNode-Output","carePlan":"#/components/schemas/CarePlanNode-Output","cognitiveStatus":"#/components/schemas/CognitiveStatusNode-Output","columnLayout":"#/components/schemas/ColumnLayoutNode-Output","customBlock":"#/components/schemas/CustomBlockNode-Output","customBlockReference":"#/components/schemas/CustomBlockReference-Output","data":"#/components/schemas/DataNode-Output","dietHistory":"#/components/schemas/DietHistoryNode-Output","discontinuePrescription":"#/components/schemas/DiscontinuePrescriptionNode-Output","dynamicForm":"#/components/schemas/DynamicFormNode-Output","examReason":"#/components/schemas/ExamReasonNode-Output","exerciseHistory":"#/components/schemas/ExerciseHistoryNode-Output","familyHistory":"#/components/schemas/FamilyHistoryNode-Output","familyRelationship":"#/components/schemas/FamilyRelationshipNode-Output","followUp":"#/components/schemas/FollowUpNode-Output","functionalStatus":"#/components/schemas/FunctionalStatusNode-Output","generic":"#/components/schemas/GenericNode-Output","habits":"#/components/schemas/HabitsNode-Output","heading":"#/components/schemas/HeadingNode-Output","hpi":"#/components/schemas/HPINode-Output","imagingOrder":"#/components/schemas/ImagingOrderNode-Output","labOrder":"#/components/schemas/LabOrderNode-Output","orderedList":"#/components/schemas/OrderedListNode-Output","paragraph":"#/components/schemas/ParagraphNode-Output","pastMedicalHistory":"#/components/schemas/PastMedicalHistoryNode-Output","pastSurgicalHistory":"#/components/schemas/PastSurgicalHistoryNode-Output","patientInstructions":"#/components/schemas/PatientInstructionsNode-Output","physicalExam":"#/components/schemas/PhysicalExamNode-Output","prescription":"#/components/schemas/PrescriptionNode-Output","procedure":"#/components/schemas/ProcedureNode-Output","procedures":"#/components/schemas/ProceduresNode-Output","procedures2":"#/components/schemas/Procedures2Node-Output","psychologicalStatus":"#/components/schemas/PsychologicalStatusNode-Output","pulmonaryOrder":"#/components/schemas/PulmonaryOrderNode-Output","reconciledMedications":"#/components/schemas/ReconciledMedicationsNode-Output","referral":"#/components/schemas/ReferralNode-Output","ros":"#/components/schemas/ROSNode-Output","sleepOrder":"#/components/schemas/SleepOrderNode-Output","socialHistory":"#/components/schemas/SocialHistoryNode-Output","twoColumnLayout":"#/components/schemas/TwoColumnLayoutNode-Output","unorderedList":"#/components/schemas/UnorderedListNode-Output","vitalBMI":"#/components/schemas/VitalBMINode-Output","vitalBP":"#/components/schemas/VitalBPNode-Output","vitalHR":"#/components/schemas/VitalHRNode-Output","vitalHeight":"#/components/schemas/VitalHeightNode-Output","vitalOxygen":"#/components/schemas/VitalOxygenNode-Output","vitalPain":"#/components/schemas/VitalPainNode-Output","vitalRR":"#/components/schemas/VitalRRNode-Output","vitalTemperature":"#/components/schemas/VitalTemperatureNode-Output","vitalWeight":"#/components/schemas/VitalWeightNode-Output","vitals":"#/components/schemas/VitalsNode-Output"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/AllergiesNode-Output"},{"$ref":"#/components/schemas/AssessmentPlanNode-Output"},{"$ref":"#/components/schemas/AssessmentPlan2Node-Output"},{"$ref":"#/components/schemas/BlockMacroNode-Output"},{"$ref":"#/components/schemas/CardiacOrderNode-Output"},{"$ref":"#/components/schemas/CarePlanNode-Output"},{"$ref":"#/components/schemas/CognitiveStatusNode-Output"},{"$ref":"#/components/schemas/ColumnLayoutNode-Output"},{"$ref":"#/components/schemas/CustomBlockNode-Output"},{"$ref":"#/components/schemas/CustomBlockReference-Output"},{"$ref":"#/components/schemas/DataNode-Output"},{"$ref":"#/components/schemas/DietHistoryNode-Output"},{"$ref":"#/components/schemas/DiscontinuePrescriptionNode-Output"},{"$ref":"#/components/schemas/DynamicFormNode-Output"},{"$ref":"#/components/schemas/ExamReasonNode-Output"},{"$ref":"#/components/schemas/ExerciseHistoryNode-Output"},{"$ref":"#/components/schemas/FamilyHistoryNode-Output"},{"$ref":"#/components/schemas/FamilyRelationshipNode-Output"},{"$ref":"#/components/schemas/FollowUpNode-Output"},{"$ref":"#/components/schemas/FunctionalStatusNode-Output"},{"$ref":"#/components/schemas/GenericNode-Output"},{"$ref":"#/components/schemas/HabitsNode-Output"},{"$ref":"#/components/schemas/HeadingNode-Output"},{"$ref":"#/components/schemas/HPINode-Output"},{"$ref":"#/components/schemas/ImagingOrderNode-Output"},{"$ref":"#/components/schemas/LabOrderNode-Output"},{"$ref":"#/components/schemas/OrderedListNode-Output"},{"$ref":"#/components/schemas/ParagraphNode-Output"},{"$ref":"#/components/schemas/PastMedicalHistoryNode-Output"},{"$ref":"#/components/schemas/PastSurgicalHistoryNode-Output"},{"$ref":"#/components/schemas/PatientInstructionsNode-Output"},{"$ref":"#/components/schemas/PhysicalExamNode-Output"},{"$ref":"#/components/schemas/PrescriptionNode-Output"},{"$ref":"#/components/schemas/ProcedureNode-Output"},{"$ref":"#/components/schemas/ProceduresNode-Output"},{"$ref":"#/components/schemas/Procedures2Node-Output"},{"$ref":"#/components/schemas/PsychologicalStatusNode-Output"},{"$ref":"#/components/schemas/PulmonaryOrderNode-Output"},{"$ref":"#/components/schemas/ReconciledMedicationsNode-Output"},{"$ref":"#/components/schemas/ReferralNode-Output"},{"$ref":"#/components/schemas/ROSNode-Output"},{"$ref":"#/components/schemas/SleepOrderNode-Output"},{"$ref":"#/components/schemas/SocialHistoryNode-Output"},{"$ref":"#/components/schemas/TwoColumnLayoutNode-Output"},{"$ref":"#/components/schemas/UnorderedListNode-Output"},{"$ref":"#/components/schemas/VitalBMINode-Output"},{"$ref":"#/components/schemas/VitalBPNode-Output"},{"$ref":"#/components/schemas/VitalHeightNode-Output"},{"$ref":"#/components/schemas/VitalHRNode-Output"},{"$ref":"#/components/schemas/VitalOxygenNode-Output"},{"$ref":"#/components/schemas/VitalPainNode-Output"},{"$ref":"#/components/schemas/VitalRRNode-Output"},{"$ref":"#/components/schemas/VitalTemperatureNode-Output"},{"$ref":"#/components/schemas/VitalWeightNode-Output"},{"$ref":"#/components/schemas/VitalsNode-Output"}]},"CODE_TYPE":{"enum":["CPT","SNOMED","HL7","ICD9","LOINC","CVX","RXNORM","ICD10","CPTII","HCPCS","EL8"],"title":"CODE_TYPE","type":"string"},"CardiacOrderAttrs-Input":{"properties":{"ai_generation_info":{"anyOf":[{"$ref":"#/components/schemas/AiGenerationInfo"},{"type":"null"}]},"creation_type":{"anyOf":[{"enum":["ai","template"],"type":"string"},{"type":"null"}],"title":"Creation Type"},"is_new":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is New"},"order":{"anyOf":[{"$ref":"#/components/schemas/CardiacOrderSummary"},{"type":"null"}]},"ref_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ref Id"}},"title":"CardiacOrderAttrs","type":"object"},"CardiacOrderAttrs-Output":{"properties":{"ai_generation_info":{"anyOf":[{"$ref":"#/components/schemas/AiGenerationInfo"},{"type":"null"}]},"creation_type":{"anyOf":[{"enum":["ai","template"],"type":"string"},{"type":"null"}],"title":"Creation Type"},"is_new":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is New"},"order":{"anyOf":[{"$ref":"#/components/schemas/CardiacOrderSummary"},{"type":"null"}]},"ref_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ref Id"}},"title":"CardiacOrderAttrs","type":"object"},"CardiacOrderBlock-Input":{"properties":{"attrs":{"$ref":"#/components/schemas/CardiacOrderBlockAttrs-Input"},"type":{"const":"cardiacOrder","default":"cardiacOrder","title":"Type","type":"string"}},"required":["attrs"],"title":"CardiacOrderBlock","type":"object"},"CardiacOrderBlock-Output":{"properties":{"attrs":{"$ref":"#/components/schemas/CardiacOrderBlockAttrs-Output"},"type":{"const":"cardiacOrder","default":"cardiacOrder","title":"Type","type":"string"}},"required":["attrs"],"title":"CardiacOrderBlock","type":"object"},"CardiacOrderBlockAttrs-Input":{"properties":{"entity_id":{"title":"Entity Id","type":"integer"},"order":{"$ref":"#/components/schemas/CardiacOrderSummary"},"ref_id":{"title":"Ref Id","type":"string"}},"required":["entity_id","order"],"title":"CardiacOrderBlockAttrs","type":"object"},"CardiacOrderBlockAttrs-Output":{"properties":{"entity_id":{"title":"Entity Id","type":"integer"},"order":{"$ref":"#/components/schemas/CardiacOrderSummary"},"ref_id":{"title":"Ref Id","type":"string"}},"required":["entity_id","order"],"title":"CardiacOrderBlockAttrs","type":"object"},"CardiacOrderNode-Input":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/CardiacOrderAttrs-Input"},"last_updated":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}],"title":"Last Updated"},"latest_event":{"anyOf":[{"$ref":"#/components/schemas/EventSnapshot"},{"type":"null"}]},"ref_type":{"$ref":"#/components/schemas/NoteEntityRefType","default":"cardiac_order"},"type":{"const":"cardiacOrder","default":"cardiacOrder","title":"Type","type":"string"}},"title":"CardiacOrderNode","type":"object"},"CardiacOrderNode-Output":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/CardiacOrderAttrs-Output"},"last_updated":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}],"title":"Last Updated"},"latest_event":{"anyOf":[{"$ref":"#/components/schemas/EventSnapshot"},{"type":"null"}]},"ref_type":{"$ref":"#/components/schemas/NoteEntityRefType","default":"cardiac_order"},"type":{"const":"cardiacOrder","default":"cardiacOrder","title":"Type","type":"string"}},"title":"CardiacOrderNode","type":"object"},"CardiacOrderSummary":{"properties":{"clinical_reason":{"title":"Clinical Reason","type":"string"},"confidential":{"title":"Confidential","type":"boolean"},"created_date":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}],"title":"Created Date"},"date_for_test":{"anyOf":[{"format":"date","type":"string"},{"type":"null"}],"title":"Date For Test"},"deleted_date":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}],"title":"Deleted Date"},"icd10_codes":{"default":[],"items":{"type":"string"},"title":"Icd10 Codes","type":"array"},"id":{"title":"Id","type":"integer"},"medications":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Medications"},"signed_by":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Signed By"},"signed_date":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}],"title":"Signed Date"},"tests":{"default":[],"items":{"$ref":"#/components/schemas/CardiacOrderTest"},"title":"Tests","type":"array"}},"required":["id","clinical_reason","confidential"],"title":"CardiacOrderSummary","type":"object"},"CardiacOrderTest":{"properties":{"id":{"title":"Id","type":"integer"},"name":{"title":"Name","type":"string"}},"required":["id","name"],"title":"CardiacOrderTest","type":"object"},"CarePlanNode-Input":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Input"},{"$ref":"#/components/schemas/NoteAssistNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"carePlan","default":"carePlan","title":"Type","type":"string"}},"title":"CarePlanNode","type":"object"},"CarePlanNode-Output":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Output"},{"$ref":"#/components/schemas/NoteAssistNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"carePlan","default":"carePlan","title":"Type","type":"string"}},"title":"CarePlanNode","type":"object"},"ClinicalFormCollection":{"description":"A summary of collected observations for a specific clinical form.","properties":{"clinical_form_id":{"title":"Clinical Form Id","type":"integer"},"clinical_form_name":{"title":"Clinical Form Name","type":"string"},"collection_summary":{"title":"Collection Summary","type":"string"},"confidential":{"title":"Confidential","type":"boolean"},"create_date":{"format":"date-time","title":"Create Date","type":"string"},"id":{"title":"Id","type":"integer"},"patient_id":{"title":"Patient Id","type":"integer"},"response_summary":{"title":"Response Summary","type":"string"}},"required":["clinical_form_id","clinical_form_name","collection_summary","confidential","create_date","id","patient_id","response_summary"],"title":"ClinicalFormCollection","type":"object"},"ClinicalFormCollectionNode-Input":{"additionalProperties":true,"description":"Inline node for a ClinicalFormCollection item link for status blocks\n(e.g. summary of a collected clinical questionnaire).","properties":{"attrs":{"$ref":"#/components/schemas/el8_note_models__note__content__inline_nodes__ClinicalFormCollectionNode__NodeAttrs"},"type":{"const":"clinicalFormCollection","default":"clinicalFormCollection","title":"Type","type":"string"}},"required":["attrs"],"title":"ClinicalFormCollectionNode","type":"object"},"ClinicalFormCollectionNode-Output":{"additionalProperties":true,"description":"Inline node for a ClinicalFormCollection item link for status blocks\n(e.g. summary of a collected clinical questionnaire).","properties":{"attrs":{"$ref":"#/components/schemas/el8_note_models__note__content__inline_nodes__ClinicalFormCollectionNode__NodeAttrs"},"type":{"const":"clinicalFormCollection","default":"clinicalFormCollection","title":"Type","type":"string"}},"required":["attrs"],"title":"ClinicalFormCollectionNode","type":"object"},"CognitiveStatusNode-Input":{"additionalProperties":true,"description":"Block node for patient's mental function assessment.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Input"},{"$ref":"#/components/schemas/NoteAssistNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"cognitiveStatus","default":"cognitiveStatus","title":"Type","type":"string"}},"title":"CognitiveStatusNode","type":"object"},"CognitiveStatusNode-Output":{"additionalProperties":true,"description":"Block node for patient's mental function assessment.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Output"},{"$ref":"#/components/schemas/NoteAssistNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"cognitiveStatus","default":"cognitiveStatus","title":"Type","type":"string"}},"title":"CognitiveStatusNode","type":"object"},"ColumnLayoutNode-Input":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"default":[],"items":{"$ref":"#/components/schemas/AnyNodeContent"},"title":"Content","type":"array"},"type":{"const":"columnLayout","default":"columnLayout","title":"Type","type":"string"}},"title":"ColumnLayoutNode","type":"object"},"ColumnLayoutNode-Output":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"default":[],"items":{"$ref":"#/components/schemas/AnyNodeContent"},"title":"Content","type":"array"},"type":{"const":"columnLayout","default":"columnLayout","title":"Type","type":"string"}},"title":"ColumnLayoutNode","type":"object"},"ContentMap-Input":{"description":"Typed map from section type to its content. All sections are optional.\n\nKeys match section ``type`` wire values (``NodeType``): lowercase single words\n(e.g. ``narrative``, ``vitals``) or camelCase for multi-word nodes (e.g. ``followUp``).","properties":{"followUp":{"anyOf":[{"$ref":"#/components/schemas/FollowupSection-Input"},{"type":"null"}]},"instructions":{"anyOf":[{"$ref":"#/components/schemas/InstructionsSection-Input"},{"type":"null"}]},"narrative":{"anyOf":[{"$ref":"#/components/schemas/NarrativeSection-Input"},{"type":"null"}]},"orders":{"anyOf":[{"$ref":"#/components/schemas/OrdersSection-Input"},{"type":"null"}]},"procedures":{"anyOf":[{"$ref":"#/components/schemas/ProcedureSection-Input"},{"type":"null"}]},"referencedDocuments":{"anyOf":[{"$ref":"#/components/schemas/ReferencedDocumentsSection-Input"},{"type":"null"}]},"vitals":{"anyOf":[{"$ref":"#/components/schemas/VitalsSection-Input"},{"type":"null"}]}},"title":"ContentMap","type":"object"},"ContentMap-Output":{"description":"Typed map from section type to its content. All sections are optional.\n\nKeys match section ``type`` wire values (``NodeType``): lowercase single words\n(e.g. ``narrative``, ``vitals``) or camelCase for multi-word nodes (e.g. ``followUp``).","properties":{"followUp":{"anyOf":[{"$ref":"#/components/schemas/FollowupSection-Output"},{"type":"null"}]},"instructions":{"anyOf":[{"$ref":"#/components/schemas/InstructionsSection-Output"},{"type":"null"}]},"narrative":{"anyOf":[{"$ref":"#/components/schemas/NarrativeSection-Output"},{"type":"null"}]},"orders":{"anyOf":[{"$ref":"#/components/schemas/OrdersSection-Output"},{"type":"null"}]},"procedures":{"anyOf":[{"$ref":"#/components/schemas/ProcedureSection-Output"},{"type":"null"}]},"referencedDocuments":{"anyOf":[{"$ref":"#/components/schemas/ReferencedDocumentsSection-Output"},{"type":"null"}]},"vitals":{"anyOf":[{"$ref":"#/components/schemas/VitalsSection-Output"},{"type":"null"}]}},"title":"ContentMap","type":"object"},"CptCode":{"properties":{"code":{"title":"Code","type":"string"},"description":{"title":"Description","type":"string"},"id":{"title":"Id","type":"integer"}},"required":["id","code","description"],"title":"CptCode","type":"object"},"CptCodeNode-Input":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/el8_note_models__note__content__inline_nodes__CptCodeNode__NodeAttrs"},"type":{"const":"cptCode","default":"cptCode","title":"Type","type":"string"}},"required":["attrs"],"title":"CptCodeNode","type":"object"},"CptCodeNode-Output":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/el8_note_models__note__content__inline_nodes__CptCodeNode__NodeAttrs"},"type":{"const":"cptCode","default":"cptCode","title":"Type","type":"string"}},"required":["attrs"],"title":"CptCodeNode","type":"object"},"CreateDoctagRequest":{"properties":{"code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Code"},"code_type":{"anyOf":[{"$ref":"#/components/schemas/CODE_TYPE"},{"type":"null"}]},"concept_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Concept Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"id":{"title":"Id","type":"integer"},"is_cpc_plus":{"default":false,"title":"Is Cpc Plus","type":"boolean"},"is_mips":{"default":false,"title":"Is Mips","type":"boolean"},"shared":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false,"title":"Shared"},"snomed_result_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Snomed Result Code"},"value":{"title":"Value","type":"string"}},"required":["id","value"],"title":"CreateDoctagRequest","type":"object"},"CustomBlockAttrs":{"properties":{"ai_generation_info":{"anyOf":[{"$ref":"#/components/schemas/AiGenerationInfo"},{"type":"null"}]},"blockId":{"title":"Blockid","type":"integer"},"creation_type":{"anyOf":[{"enum":["ai","template"],"type":"string"},{"type":"null"}],"title":"Creation Type"},"is_new":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is New"},"label":{"title":"Label","type":"string"},"ref_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ref Id"}},"required":["label","blockId"],"title":"CustomBlockAttrs","type":"object"},"CustomBlockNode-Input":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/CustomBlockAttrs"},"content":{"items":{"$ref":"#/components/schemas/DynamicFormNode-Input"},"title":"Content","type":"array"},"type":{"const":"customBlock","default":"customBlock","title":"Type","type":"string"}},"required":["attrs"],"title":"CustomBlockNode","type":"object"},"CustomBlockNode-Output":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/CustomBlockAttrs"},"content":{"items":{"$ref":"#/components/schemas/DynamicFormNode-Output"},"title":"Content","type":"array"},"type":{"const":"customBlock","default":"customBlock","title":"Type","type":"string"}},"required":["attrs"],"title":"CustomBlockNode","type":"object"},"CustomBlockReference-Input":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/Attrs"},"content":{"items":{"$ref":"#/components/schemas/DynamicFormNode-Input"},"title":"Content","type":"array"},"type":{"const":"customBlockReference","default":"customBlockReference","title":"Type","type":"string"}},"required":["attrs"],"title":"CustomBlockReference","type":"object"},"CustomBlockReference-Output":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/Attrs"},"content":{"items":{"$ref":"#/components/schemas/DynamicFormNode-Output"},"title":"Content","type":"array"},"type":{"const":"customBlockReference","default":"customBlockReference","title":"Type","type":"string"}},"required":["attrs"],"title":"CustomBlockReference","type":"object"},"CustomBlockResponse":{"examples":[{"aliases":["assessment"],"content":[{"attrs":{"data":{},"dataSchema":{"properties":{"bGWCPFTxkamB_sGQWsgqY":{"description":"","oneOf":[{"const":"option_1","title":"Yes"},{"const":"option_2","title":"No"}],"title":"Did you perform the assessment?","type":"string"},"n2aMlkD0XaOWTHYhsX2TP":{"format":"date","title":"Date Assessment Performed","type":"string"}},"type":"object"},"label":"Assessment","ref_id":"a765df04-a773-45ae-88ed-9939f719b469","uiSchema":{"elements":[{"options":{},"scope":"#/properties/bGWCPFTxkamB_sGQWsgqY","type":"Control"},{"options":{},"scope":"#/properties/n2aMlkD0XaOWTHYhsX2TP","type":"Control"}],"type":"VerticalLayout"}},"type":"dynamicForm"}],"created_by":4,"id":61,"is_system_template":false,"label":"Assessment","practice_id":65540}],"properties":{"aliases":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"default":[],"description":"Shortcuts for accessing the custom block in a note 2 editor","title":"Aliases"},"content":{"default":[],"description":"The content of the custom block.","items":{"$ref":"#/components/schemas/DynamicFormNode-Output"},"title":"Content","type":"array"},"created_by":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The ID of the user who created the custom block.","title":"Created By"},"id":{"description":"The ID of the custom block.","title":"Id","type":"integer"},"is_system_template":{"description":"Whether the custom block is a system template.","title":"Is System Template","type":"boolean"},"label":{"description":"The name of the custom block.","title":"Label","type":"string"},"practice_id":{"description":"The ID of the practice to which the custom block belongs.","title":"Practice Id","type":"integer"}},"required":["label","id","practice_id","is_system_template"],"title":"CustomBlockResponse","type":"object"},"DataNode-Input":{"additionalProperties":true,"description":"Block node for data referenced during the visit, such as reports.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Input"},{"$ref":"#/components/schemas/NoteAssistNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"data","default":"data","title":"Type","type":"string"}},"title":"DataNode","type":"object"},"DataNode-Output":{"additionalProperties":true,"description":"Block node for data referenced during the visit, such as reports.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Output"},{"$ref":"#/components/schemas/NoteAssistNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"data","default":"data","title":"Type","type":"string"}},"title":"DataNode","type":"object"},"DietHistoryNode-Input":{"additionalProperties":true,"description":"Block node for the assessment of a patient's nutrition and eating habits.\nIncludes information about the patient's typical food intake, any dietary restrictions,\nand their hydration status.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Input"},{"$ref":"#/components/schemas/NoteAssistNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"dietHistory","default":"dietHistory","title":"Type","type":"string"}},"title":"DietHistoryNode","type":"object"},"DietHistoryNode-Output":{"additionalProperties":true,"description":"Block node for the assessment of a patient's nutrition and eating habits.\nIncludes information about the patient's typical food intake, any dietary restrictions,\nand their hydration status.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Output"},{"$ref":"#/components/schemas/NoteAssistNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"dietHistory","default":"dietHistory","title":"Type","type":"string"}},"title":"DietHistoryNode","type":"object"},"DiscontinuePrescriptionAttrs-Input":{"properties":{"ai_generation_info":{"anyOf":[{"$ref":"#/components/schemas/AiGenerationInfo"},{"type":"null"}]},"creation_type":{"anyOf":[{"enum":["ai","template"],"type":"string"},{"type":"null"}],"title":"Creation Type"},"is_new":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is New"},"prescription":{"$ref":"#/components/schemas/PrescriptionDiscontinueData"},"ref_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ref Id"}},"required":["prescription"],"title":"DiscontinuePrescriptionAttrs","type":"object"},"DiscontinuePrescriptionAttrs-Output":{"properties":{"ai_generation_info":{"anyOf":[{"$ref":"#/components/schemas/AiGenerationInfo"},{"type":"null"}]},"creation_type":{"anyOf":[{"enum":["ai","template"],"type":"string"},{"type":"null"}],"title":"Creation Type"},"is_new":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is New"},"prescription":{"$ref":"#/components/schemas/PrescriptionDiscontinueData"},"ref_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ref Id"}},"required":["prescription"],"title":"DiscontinuePrescriptionAttrs","type":"object"},"DiscontinuePrescriptionNode-Input":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/DiscontinuePrescriptionAttrs-Input"},"last_updated":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}],"title":"Last Updated"},"latest_event":{"anyOf":[{"$ref":"#/components/schemas/EventSnapshot"},{"type":"null"}]},"ref_type":{"$ref":"#/components/schemas/NoteEntityRefType","default":"discontinue_prescription"},"type":{"const":"discontinuePrescription","default":"discontinuePrescription","title":"Type","type":"string"}},"required":["attrs"],"title":"DiscontinuePrescriptionNode","type":"object"},"DiscontinuePrescriptionNode-Output":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/DiscontinuePrescriptionAttrs-Output"},"last_updated":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}],"title":"Last Updated"},"latest_event":{"anyOf":[{"$ref":"#/components/schemas/EventSnapshot"},{"type":"null"}]},"ref_type":{"$ref":"#/components/schemas/NoteEntityRefType","default":"discontinue_prescription"},"type":{"const":"discontinuePrescription","default":"discontinuePrescription","title":"Type","type":"string"}},"required":["attrs"],"title":"DiscontinuePrescriptionNode","type":"object"},"Doctag":{"description":"A doctag is an identifier that can be applied to a document.\nThis implementation of doctag mirrors VN1's coded document tag","properties":{"code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Code"},"code_type":{"anyOf":[{"$ref":"#/components/schemas/CODE_TYPE"},{"type":"null"}]},"concept_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Concept Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"id":{"title":"Id","type":"integer"},"is_cpc_plus":{"title":"Is Cpc Plus","type":"boolean"},"is_mips":{"title":"Is Mips","type":"boolean"},"practice":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Practice"},"shared":{"title":"Shared","type":"boolean"},"snomed_result_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Snomed Result Code"},"value":{"title":"Value","type":"string"}},"required":["value","id","shared","is_mips","is_cpc_plus"],"title":"Doctag","type":"object"},"DocumentNode-Input":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"$ref":"#/components/schemas/DocumentNodeChild-Input"},"title":"Content","type":"array"},"type":{"const":"document","default":"document","title":"Type","type":"string"}},"title":"DocumentNode","type":"object"},"DocumentNode-Output":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"$ref":"#/components/schemas/DocumentNodeChild-Output"},"title":"Content","type":"array"},"type":{"const":"document","default":"document","title":"Type","type":"string"}},"title":"DocumentNode","type":"object"},"DocumentNodeChild-Input":{"discriminator":{"mapping":{"columnLayout":"#/components/schemas/ColumnLayoutNode-Input","twoColumnLayout":"#/components/schemas/TwoColumnLayoutNode-Input"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/TwoColumnLayoutNode-Input"},{"$ref":"#/components/schemas/ColumnLayoutNode-Input"}]},"DocumentNodeChild-Output":{"discriminator":{"mapping":{"columnLayout":"#/components/schemas/ColumnLayoutNode-Output","twoColumnLayout":"#/components/schemas/TwoColumnLayoutNode-Output"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/TwoColumnLayoutNode-Output"},{"$ref":"#/components/schemas/ColumnLayoutNode-Output"}]},"DocumentSignature":{"description":"A signature on a document.","properties":{"amendment_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"ID of the note amendment this signature applies to, if any; null for signatures on the base note or legacy records.","title":"Amendment Id"},"on_behalf_of_user_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"On Behalf Of User Id"},"on_behalf_of_user_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"On Behalf Of User Name"},"signature_comments":{"title":"Signature Comments","type":"string"},"signature_role":{"$ref":"#/components/schemas/DocumentSignatureRole"},"signed_at":{"description":"When the associated document was signed with this signature.","format":"date-time","title":"Signed At","type":"string"},"user_id":{"description":"The ID of the user who authored the signature.","title":"User Id","type":"integer"},"user_name":{"description":"The name of the user who authored the signature.","title":"User Name","type":"string"}},"required":["user_id","user_name","signed_at","signature_role","signature_comments"],"title":"DocumentSignature","type":"object"},"DocumentSignatureRole":{"description":"The role the user is performing when adding a signature to a visit note","enum":["amender","cosigner","rendering_provider","staff_autofiler"],"title":"DocumentSignatureRole","type":"string"},"DxNode-Input":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/el8_note_models__note__content__inline_nodes__DxNode__NodeAttrs"},"type":{"const":"dxCode","default":"dxCode","title":"Type","type":"string"}},"required":["attrs"],"title":"DxNode","type":"object"},"DxNode-Output":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/el8_note_models__note__content__inline_nodes__DxNode__NodeAttrs"},"type":{"const":"dxCode","default":"dxCode","title":"Type","type":"string"}},"required":["attrs"],"title":"DxNode","type":"object"},"DynamicFormAttrs":{"properties":{"ai_generation_info":{"anyOf":[{"$ref":"#/components/schemas/AiGenerationInfo"},{"type":"null"}]},"creation_type":{"anyOf":[{"enum":["ai","template"],"type":"string"},{"type":"null"}],"title":"Creation Type"},"data":{"additionalProperties":true,"default":{},"title":"Data","type":"object"},"dataSchema":{"title":"Dataschema"},"is_new":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is New"},"label":{"title":"Label","type":"string"},"lastEditedBy":{"additionalProperties":{"enum":["user","api","note-prediction","template"],"type":"string"},"title":"Lasteditedby","type":"object"},"ref_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ref Id"},"uiSchema":{"title":"Uischema"}},"required":["dataSchema","uiSchema","label"],"title":"DynamicFormAttrs","type":"object"},"DynamicFormNode-Input":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/DynamicFormAttrs"},"type":{"const":"dynamicForm","default":"dynamicForm","title":"Type","type":"string"}},"required":["attrs"],"title":"DynamicFormNode","type":"object"},"DynamicFormNode-Output":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/DynamicFormAttrs"},"type":{"const":"dynamicForm","default":"dynamicForm","title":"Type","type":"string"}},"required":["attrs"],"title":"DynamicFormNode","type":"object"},"ElationNote":{"description":"Full representation of a sections-based note returned by the API.\n\n`content` holds the sections-based structure: layout (structural description)\nand content_map (typed section content). This replaces the DocumentNode\ntree used by the legacy Note model.\n\n`layout_name` is inherited from ElationNoteCreate. It is not populated on\nreads — the canonical layout is embedded in `content.layout`.","properties":{"attachments":{"default":[],"items":{"$ref":"#/components/schemas/Attachment"},"title":"Attachments","type":"array"},"bill":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The ID of the bill associated with the note.","title":"Bill"},"category":{"description":"Practice-created identifier for note category (Visit Note Type).","title":"Category","type":"integer"},"confidential":{"default":false,"title":"Confidential","type":"boolean"},"content":{"$ref":"#/components/schemas/SectionsContent"},"doctags":{"default":[],"items":{"$ref":"#/components/schemas/Doctag"},"title":"Doctags","type":"array"},"exam_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exam Reason"},"id":{"title":"Id","type":"integer"},"is_draft":{"title":"Is Draft","type":"boolean"},"is_outdated":{"default":false,"title":"Is Outdated","type":"boolean"},"layout_name":{"description":"Name of the pre-defined layout, e.g. 'simple_note'.","title":"Layout Name","type":"string"},"metadata":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Metadata"},"patient":{"description":"The ID of the patient for whom the note was created.","title":"Patient","type":"integer"},"practice":{"description":"Authoring practice ID.","title":"Practice","type":"integer"},"provider":{"description":"The ID of the assigned provider.","title":"Provider","type":"integer"},"serviced_at":{"format":"date-time","title":"Serviced At","type":"string"},"signatures":{"default":[],"items":{"$ref":"#/components/schemas/DocumentSignature"},"title":"Signatures","type":"array"},"snapshot_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Snapshot Id"},"summary":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Summary"}},"required":["provider","category","serviced_at","layout_name","practice","patient","id","content","is_draft"],"title":"ElationNote","type":"object"},"ElationNoteAmendment":{"description":"Full representation of an EN2.1 sections-based note amendment.\n\nAnalogous to NoteAmendment for legacy DocumentNode notes. `previous_content`\nis populated after the amendment is signed and captures the parent note\nstate at signing time.","properties":{"bill":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bill"},"category":{"title":"Category","type":"integer"},"content":{"$ref":"#/components/schemas/SectionsContent"},"exam_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exam Reason"},"id":{"title":"Id","type":"integer"},"is_draft":{"title":"Is Draft","type":"boolean"},"is_outdated":{"default":false,"title":"Is Outdated","type":"boolean"},"metadata":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Metadata"},"note_id":{"title":"Note Id","type":"integer"},"patient":{"title":"Patient","type":"integer"},"practice":{"title":"Practice","type":"integer"},"previous_content":{"anyOf":[{"$ref":"#/components/schemas/SectionsContent"},{"type":"null"}]},"provider":{"title":"Provider","type":"integer"},"serviced_at":{"format":"date-time","title":"Serviced At","type":"string"},"signatures":{"default":[],"items":{"$ref":"#/components/schemas/DocumentSignature"},"title":"Signatures","type":"array"}},"required":["id","note_id","provider","practice","patient","category","content","serviced_at","is_draft"],"title":"ElationNoteAmendment","type":"object"},"ElationNoteAmendmentUpdate":{"description":"Request body for updating a sections-based note amendment.\n\nAll fields optional. `content_map` replaces the full stored content_map.\nAmendment updates do not support `confidential` (parity with `NoteAmendmentUpdate`).\n\nField order: content-update fields (`content_map`, `snapshot_id`) first, then\nmutable fields in the same order as ``ElationNoteCreate`` (``provider`` through\n``metadata``; create-only ``layout_name``, ``practice``, ``patient`` omitted).","properties":{"bill":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The ID of the bill associated with the note.","title":"Bill"},"category":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Practice-created identifier for note category (Visit Note Type).","title":"Category"},"content_map":{"anyOf":[{"$ref":"#/components/schemas/ContentMap-Input"},{"type":"null"}]},"exam_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exam Reason"},"metadata":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Metadata"},"provider":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The ID of the assigned provider.","title":"Provider"},"serviced_at":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}],"title":"Serviced At"},"snapshot_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Snapshot Id"}},"title":"ElationNoteAmendmentUpdate","type":"object"},"ElationNoteCreate":{"description":"Request body for creating a sections-based note.\n\nThe layout is selected by `layout_name` (e.g. \"simple_note\").\nNo `content` field — the initial content_map is always empty on creation.","properties":{"bill":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The ID of the bill associated with the note.","title":"Bill"},"category":{"description":"Practice-created identifier for note category (Visit Note Type).","title":"Category","type":"integer"},"confidential":{"default":false,"title":"Confidential","type":"boolean"},"exam_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exam Reason"},"layout_name":{"description":"Name of the pre-defined layout, e.g. 'simple_note'.","title":"Layout Name","type":"string"},"metadata":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Metadata"},"patient":{"description":"The ID of the patient for whom the note was created.","title":"Patient","type":"integer"},"practice":{"description":"Authoring practice ID.","title":"Practice","type":"integer"},"provider":{"description":"The ID of the assigned provider.","title":"Provider","type":"integer"},"serviced_at":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}],"title":"Serviced At"}},"required":["provider","category","layout_name","practice","patient"],"title":"ElationNoteCreate","type":"object"},"ElationNoteUpdate":{"description":"Request body for updating a sections-based note.\n\nWhen ``content_map`` is sent on a base note update, ``snapshot_id`` is required\n(from create or GET /notes/{id}/edit) for collaborative conflict detection.\n\nField order: content-update fields (`content_map`, `snapshot_id`) first, then\nmutable fields in the same order as ``ElationNoteCreate`` (``provider`` through\n``metadata``; create-only ``layout_name``, ``practice``, ``patient`` omitted),\nthen ``confidential``.","properties":{"bill":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The ID of the bill associated with the note.","title":"Bill"},"category":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Practice-created identifier for note category (Visit Note Type).","title":"Category"},"confidential":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Confidential"},"content_map":{"anyOf":[{"$ref":"#/components/schemas/ContentMap-Input"},{"type":"null"}]},"exam_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exam Reason"},"metadata":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Metadata"},"provider":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The ID of the assigned provider.","title":"Provider"},"serviced_at":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}],"title":"Serviced At"},"snapshot_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Snapshot Id"}},"title":"ElationNoteUpdate","type":"object"},"EventSnapshot":{"properties":{"event":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Event"},"headers":{"title":"Headers"}},"required":["headers"],"title":"EventSnapshot","type":"object"},"ExamReasonNode-Input":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"$ref":"#/components/schemas/ParagraphNode-Input"},"title":"Content","type":"array"},"type":{"const":"examReason","default":"examReason","title":"Type","type":"string"}},"title":"ExamReasonNode","type":"object"},"ExamReasonNode-Output":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"items":{"$ref":"#/components/schemas/ParagraphNode-Output"},"title":"Content","type":"array"},"type":{"const":"examReason","default":"examReason","title":"Type","type":"string"}},"title":"ExamReasonNode","type":"object"},"ExerciseHistoryNode-Input":{"additionalProperties":true,"description":"The evaluation of a patient's physical activity levels and exercise habits.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Input"},{"$ref":"#/components/schemas/NoteAssistNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"exerciseHistory","default":"exerciseHistory","title":"Type","type":"string"}},"title":"ExerciseHistoryNode","type":"object"},"ExerciseHistoryNode-Output":{"additionalProperties":true,"description":"The evaluation of a patient's physical activity levels and exercise habits.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Output"},{"$ref":"#/components/schemas/NoteAssistNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"exerciseHistory","default":"exerciseHistory","title":"Type","type":"string"}},"title":"ExerciseHistoryNode","type":"object"},"FamilyHistoryNode-Input":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"title":"Content"},"type":{"const":"familyHistory","default":"familyHistory","title":"Type","type":"string"}},"title":"FamilyHistoryNode","type":"object"},"FamilyHistoryNode-Output":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"title":"Content"},"type":{"const":"familyHistory","default":"familyHistory","title":"Type","type":"string"}},"title":"FamilyHistoryNode","type":"object"},"FamilyRelationshipAttrs":{"properties":{"ai_generation_info":{"anyOf":[{"$ref":"#/components/schemas/AiGenerationInfo"},{"type":"null"}]},"creation_type":{"anyOf":[{"enum":["ai","template"],"type":"string"},{"type":"null"}],"title":"Creation Type"},"is_new":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is New"},"ref_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ref Id"},"relationshipType":{"$ref":"#/components/schemas/FamilyRelationshipType"}},"required":["relationshipType"],"title":"FamilyRelationshipAttrs","type":"object"},"FamilyRelationshipNode-Input":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/FamilyRelationshipAttrs"},"content":{"items":{"$ref":"#/components/schemas/UnorderedListNode-Input"},"title":"Content","type":"array"},"type":{"const":"familyRelationship","default":"familyRelationship","title":"Type","type":"string"}},"required":["attrs"],"title":"FamilyRelationshipNode","type":"object"},"FamilyRelationshipNode-Output":{"additionalProperties":true,"properties":{"attrs":{"$ref":"#/components/schemas/FamilyRelationshipAttrs"},"content":{"items":{"$ref":"#/components/schemas/UnorderedListNode-Output"},"title":"Content","type":"array"},"type":{"const":"familyRelationship","default":"familyRelationship","title":"Type","type":"string"}},"required":["attrs"],"title":"FamilyRelationshipNode","type":"object"},"FamilyRelationshipType":{"enum":["mother","father","brother","sister","son","daughter","grandfather","grandmother","aunt","uncle","other"],"title":"FamilyRelationshipType","type":"string"},"FollowUpNode-Input":{"additionalProperties":true,"description":"Block node for follow up instructions","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Input"},{"$ref":"#/components/schemas/NoteAssistNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"followUp","default":"followUp","title":"Type","type":"string"}},"title":"FollowUpNode","type":"object"},"FollowUpNode-Output":{"additionalProperties":true,"description":"Block node for follow up instructions","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Output"},{"$ref":"#/components/schemas/NoteAssistNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"followUp","default":"followUp","title":"Type","type":"string"}},"title":"FollowUpNode","type":"object"},"FollowupListItem-Input":{"properties":{"attrs":{"$ref":"#/components/schemas/AttrsWithRefId"},"content":{"description":"List-item children, capped at two: a single child must be a paragraph, and a second child (if present) must be a nested ordered or unordered list. Shape is [paragraph] or [paragraph, nested list].","items":{"discriminator":{"mapping":{"followUpOrderedList":"#/components/schemas/FollowupOrderedList-Input","followUpParagraph":"#/components/schemas/FollowupParagraph-Input","followUpUnorderedList":"#/components/schemas/FollowupUnorderedList-Input"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/FollowupParagraph-Input"},{"$ref":"#/components/schemas/FollowupUnorderedList-Input"},{"$ref":"#/components/schemas/FollowupOrderedList-Input"}]},"title":"Content","type":"array"},"type":{"const":"followUpListItem","default":"followUpListItem","title":"Type","type":"string"}},"title":"FollowupListItem","type":"object"},"FollowupListItem-Output":{"properties":{"attrs":{"$ref":"#/components/schemas/AttrsWithRefId"},"content":{"description":"List-item children, capped at two: a single child must be a paragraph, and a second child (if present) must be a nested ordered or unordered list. Shape is [paragraph] or [paragraph, nested list].","items":{"discriminator":{"mapping":{"followUpOrderedList":"#/components/schemas/FollowupOrderedList-Output","followUpParagraph":"#/components/schemas/FollowupParagraph-Output","followUpUnorderedList":"#/components/schemas/FollowupUnorderedList-Output"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/FollowupParagraph-Output"},{"$ref":"#/components/schemas/FollowupUnorderedList-Output"},{"$ref":"#/components/schemas/FollowupOrderedList-Output"}]},"title":"Content","type":"array"},"type":{"const":"followUpListItem","default":"followUpListItem","title":"Type","type":"string"}},"title":"FollowupListItem","type":"object"},"FollowupOrderedList-Input":{"properties":{"attrs":{"$ref":"#/components/schemas/AttrsWithRefId"},"content":{"items":{"$ref":"#/components/schemas/FollowupListItem-Input"},"title":"Content","type":"array"},"type":{"const":"followUpOrderedList","default":"followUpOrderedList","title":"Type","type":"string"}},"title":"FollowupOrderedList","type":"object"},"FollowupOrderedList-Output":{"properties":{"attrs":{"$ref":"#/components/schemas/AttrsWithRefId"},"content":{"items":{"$ref":"#/components/schemas/FollowupListItem-Output"},"title":"Content","type":"array"},"type":{"const":"followUpOrderedList","default":"followUpOrderedList","title":"Type","type":"string"}},"title":"FollowupOrderedList","type":"object"},"FollowupParagraph-Input":{"properties":{"attrs":{"$ref":"#/components/schemas/FollowupParagraphAttrs"},"content":{"items":{"discriminator":{"mapping":{"lineBreak":"#/components/schemas/LineBreakInline","text":"#/components/schemas/TextInline-Input"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/TextInline-Input"},{"$ref":"#/components/schemas/LineBreakInline"}]},"title":"Content","type":"array"},"type":{"const":"followUpParagraph","default":"followUpParagraph","title":"Type","type":"string"}},"title":"FollowupParagraph","type":"object"},"FollowupParagraph-Output":{"properties":{"attrs":{"$ref":"#/components/schemas/FollowupParagraphAttrs"},"content":{"items":{"discriminator":{"mapping":{"lineBreak":"#/components/schemas/LineBreakInline","text":"#/components/schemas/TextInline-Output"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/TextInline-Output"},{"$ref":"#/components/schemas/LineBreakInline"}]},"title":"Content","type":"array"},"type":{"const":"followUpParagraph","default":"followUpParagraph","title":"Type","type":"string"}},"title":"FollowupParagraph","type":"object"},"FollowupParagraphAttrs":{"properties":{"ref_id":{"title":"Ref Id","type":"string"}},"title":"FollowupParagraphAttrs","type":"object"},"FollowupSection-Input":{"properties":{"content":{"items":{"discriminator":{"mapping":{"followUpOrderedList":"#/components/schemas/FollowupOrderedList-Input","followUpParagraph":"#/components/schemas/FollowupParagraph-Input","followUpUnorderedList":"#/components/schemas/FollowupUnorderedList-Input"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/FollowupParagraph-Input"},{"$ref":"#/components/schemas/FollowupUnorderedList-Input"},{"$ref":"#/components/schemas/FollowupOrderedList-Input"}]},"title":"Content","type":"array"},"type":{"const":"followUp","default":"followUp","title":"Type","type":"string"}},"title":"FollowupSection","type":"object"},"FollowupSection-Output":{"properties":{"content":{"items":{"discriminator":{"mapping":{"followUpOrderedList":"#/components/schemas/FollowupOrderedList-Output","followUpParagraph":"#/components/schemas/FollowupParagraph-Output","followUpUnorderedList":"#/components/schemas/FollowupUnorderedList-Output"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/FollowupParagraph-Output"},{"$ref":"#/components/schemas/FollowupUnorderedList-Output"},{"$ref":"#/components/schemas/FollowupOrderedList-Output"}]},"title":"Content","type":"array"},"type":{"const":"followUp","default":"followUp","title":"Type","type":"string"}},"title":"FollowupSection","type":"object"},"FollowupUnorderedList-Input":{"properties":{"attrs":{"$ref":"#/components/schemas/AttrsWithRefId"},"content":{"items":{"$ref":"#/components/schemas/FollowupListItem-Input"},"title":"Content","type":"array"},"type":{"const":"followUpUnorderedList","default":"followUpUnorderedList","title":"Type","type":"string"}},"title":"FollowupUnorderedList","type":"object"},"FollowupUnorderedList-Output":{"properties":{"attrs":{"$ref":"#/components/schemas/AttrsWithRefId"},"content":{"items":{"$ref":"#/components/schemas/FollowupListItem-Output"},"title":"Content","type":"array"},"type":{"const":"followUpUnorderedList","default":"followUpUnorderedList","title":"Type","type":"string"}},"title":"FollowupUnorderedList","type":"object"},"FunctionalStatusNode-Input":{"additionalProperties":true,"description":"Block node for the assessment of a patient's ability to perform activities of daily living\nand their level of independence.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Input"},{"$ref":"#/components/schemas/NoteAssistNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"functionalStatus","default":"functionalStatus","title":"Type","type":"string"}},"title":"FunctionalStatusNode","type":"object"},"FunctionalStatusNode-Output":{"additionalProperties":true,"description":"Block node for the assessment of a patient's ability to perform activities of daily living\nand their level of independence.","properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__base_node__Node__NodeAttrs"},{"type":"null"}]},"content":{"anyOf":[{"items":{"$ref":"#/components/schemas/AnyNodeContent"},"type":"array"},{"type":"null"}],"default":[],"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Output"},{"$ref":"#/components/schemas/NoteAssistNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"functionalStatus","default":"functionalStatus","title":"Type","type":"string"}},"title":"FunctionalStatusNode","type":"object"},"GenericNode-Input":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__block_nodes__GenericNode__NodeAttrs"},{"type":"null"}]},"content":{"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Input"},{"$ref":"#/components/schemas/NoteAssistNode-Input"},{"$ref":"#/components/schemas/AssessmentPlanItemNode-Input"}]},"title":"Content","type":"array"},"type":{"const":"generic","default":"generic","title":"Type","type":"string"}},"required":["attrs"],"title":"GenericNode","type":"object"},"GenericNode-Output":{"additionalProperties":true,"properties":{"attrs":{"anyOf":[{"$ref":"#/components/schemas/el8_note_models__note__content__block_nodes__GenericNode__NodeAttrs"},{"type":"null"}]},"content":{"items":{"anyOf":[{"$ref":"#/components/schemas/BlockNode-Output"},{"$ref":"#/components/schemas/NoteAssistNode-Output"},{"$ref":"#/components/schemas/AssessmentPlanItemNode-Output"}]},"title":"Content","type":"array"},"type":{"const":"generic","default":"generic",
[...]
