{"openapi":"3.0.2","info":{"title":"Care Gaps API","description":"This API supports the management of definitions, gaps, and webhook notifications.","version":"0.0.1"},"servers":[{"url":"https://caregaps.sandbox.elationemr.com/","description":"CareGaps API - Sandbox Environment"}],"paths":{"/caregaps/api/{quality_program}/definition/":{"get":{"tags":["Definitions"],"summary":"Retrieve a filtered page of definitions","description":"Retrieve a list of definitions.","operationId":"definitions_get_page_caregaps_api__quality_program__definition__get","parameters":[{"required":true,"schema":{"title":"Quality Program","type":"string"},"name":"quality_program","in":"path"},{"required":false,"schema":{"title":"Page Size","minimum":1,"type":"integer","default":5},"name":"page_size","in":"query"},{"required":false,"schema":{"title":"Page Num","minimum":1,"type":"integer","default":1},"name":"page_num","in":"query"},{"required":false,"schema":{"title":"Closing Code","type":"array","items":{"type":"string"}},"name":"closing_code","in":"query"},{"required":false,"schema":{"title":"Definition Id","type":"array","items":{"type":"string"}},"name":"definition_id","in":"query"},{"required":false,"schema":{"title":"External Id","type":"string"},"name":"external_id","in":"query"},{"required":false,"schema":{"title":"Cursor","type":"string"},"name":"cursor","in":"query"},{"required":false,"schema":{"title":"Name","type":"string"},"name":"name","in":"query"},{"required":false,"schema":{"$ref":"#/components/schemas/IndicatorEnum"},"name":"indicator","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_definitions_get_page_caregaps_api__quality_program__definition__get"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefinitionAPIPaginatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Definitions"],"summary":"Create a new definition.","description":"Create a new definition.","operationId":"definitions_post_caregaps_api__quality_program__definition__post","parameters":[{"required":true,"schema":{"title":"Quality Program","type":"string"},"name":"quality_program","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefinitionAPIModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefinitionAPI"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/caregaps/api/{quality_program}/definition/{definition_id}/":{"get":{"tags":["Definitions"],"summary":"Retrieve an existing definition.","description":"Retrieve a specific definition.","operationId":"definitions_get_caregaps_api__quality_program__definition__definition_id___get","parameters":[{"required":true,"schema":{"title":"Quality Program","type":"string"},"name":"quality_program","in":"path"},{"required":true,"schema":{"title":"Definition Id","type":"string"},"name":"definition_id","in":"path"},{"required":false,"schema":{"title":"Practice Id","type":"string"},"name":"practice_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefinitionAPI"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Definitions"],"summary":"Delete an existing definition.","description":"Delete a specific definition.","operationId":"definitions_delete_caregaps_api__quality_program__definition__definition_id___delete","parameters":[{"required":true,"schema":{"title":"Quality Program","type":"string"},"name":"quality_program","in":"path"},{"required":true,"schema":{"title":"Definition Id","type":"string"},"name":"definition_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/caregaps/api/{quality_program}/caregap/":{"get":{"tags":["Caregaps"],"summary":"Retrieve a list of existing caregap.","description":"Retrieve a list of Care Gaps with filters specified by query parameters.","operationId":"caregaps_list_caregaps_api__quality_program__caregap__get","parameters":[{"required":true,"schema":{"title":"Quality Program","type":"string"},"name":"quality_program","in":"path"},{"required":false,"schema":{"title":"Practice Id","type":"string"},"name":"practice_id","in":"query"},{"required":false,"schema":{"title":"Page Size","maximum":50,"minimum":1,"type":"integer","default":5},"name":"page_size","in":"query"},{"required":false,"schema":{"title":"Cursor","type":"string"},"name":"cursor","in":"query"},{"required":false,"schema":{"title":"Patient Id","type":"string"},"name":"patient_id","in":"query"},{"required":false,"schema":{"title":"Definition Id","type":"string"},"name":"definition_id","in":"query"},{"required":false,"schema":{"$ref":"#/components/schemas/StatusEnum"},"name":"status","in":"query"},{"required":false,"schema":{"title":"Closed Date Begin","type":"string","format":"date"},"name":"closed_date_begin","in":"query"},{"required":false,"schema":{"title":"Closed Date End","type":"string","format":"date"},"name":"closed_date_end","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"title":"Closing Code","type":"array","items":{"type":"string"}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaregapAPIPaginatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Caregaps"],"summary":"Create a new caregap.","description":"Create a new caregap.","operationId":"caregaps_post_caregaps_api__quality_program__caregap__post","parameters":[{"required":true,"schema":{"title":"Quality Program","type":"string"},"name":"quality_program","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaregapAPIModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaregapAPI"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/caregaps/api/{quality_program}/caregap/{caregap_id}/":{"get":{"tags":["Caregaps"],"summary":"Retrieve an existing caregap.","description":"Retrieve a specific Care Gap.","operationId":"caregaps_get_caregaps_api__quality_program__caregap__caregap_id___get","parameters":[{"required":true,"schema":{"title":"Quality Program","type":"string"},"name":"quality_program","in":"path"},{"required":true,"schema":{"title":"Caregap Id","type":"string"},"name":"caregap_id","in":"path"},{"required":false,"schema":{"title":"Practice Id","type":"string"},"name":"practice_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaregapAPI"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Caregaps"],"summary":"Delete an existing caregap.","description":"Delete a specific Care Gap.","operationId":"caregaps_delete_caregaps_api__quality_program__caregap__caregap_id___delete","parameters":[{"required":true,"schema":{"title":"Quality Program","type":"string"},"name":"quality_program","in":"path"},{"required":true,"schema":{"title":"Caregap Id","type":"string"},"name":"caregap_id","in":"path"},{"required":false,"schema":{"title":"Practice Id","type":"string"},"name":"practice_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Caregaps"],"summary":"Modifies an existing caregap's closed status.","operationId":"caregaps_modify_caregaps_api__quality_program__caregap__caregap_id___patch","parameters":[{"required":true,"schema":{"title":"Quality Program","type":"string"},"name":"quality_program","in":"path"},{"required":true,"schema":{"title":"Caregap Id","type":"string"},"name":"caregap_id","in":"path"},{"required":false,"schema":{"title":"Practice Id","type":"string"},"name":"practice_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaregapPatchAPI"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaregapAPI"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}}},"components":{"schemas":{"Action":{"title":"Action","required":["type","description"],"type":"object","properties":{"type":{"allOf":[{"$ref":"#/components/schemas/ActionEnum"}],"description":"The type of action being performed."},"description":{"title":"Description","type":"string","description":"Human-readable description of the suggested action MAY be presented to the end-user."},"resource":{"title":"Resource","anyOf":[{"$ref":"#/components/schemas/ValueSet"},{"$ref":"#/components/schemas/Observation"},{"$ref":"#/components/schemas/Condition"},{"$ref":"#/components/schemas/ServiceRequest"},{"$ref":"#/components/schemas/Immunization"},{"$ref":"#/components/schemas/AllergyIntolerance"},{"$ref":"#/components/schemas/Communication"},{"$ref":"#/components/schemas/Endpoint"},{"$ref":"#/components/schemas/DocumentReference"}],"description":"A FHIR resource. When the type attribute is create, the resource attribute SHALL contain a new FHIR resource to be created. For update, this holds the updated resource in its entirety and not just the changed fields. Use of this field to communicate a string of a FHIR id for delete suggestions is DEPRECATED and resourceId SHOULD be used instead."},"resourceId":{"title":"Resourceid","type":"string","description":"A relative reference to the relevant resource. SHOULD be provided when the type attribute is delete."}}},"ActionEnum":{"title":"ActionEnum","enum":["create","update","delete"],"type":"string","description":"An enumeration."},"AllergyIntolerance":{"title":"AllergyIntolerance","required":["patient"],"type":"object","properties":{"resource_type":{"title":"Resource Type","type":"string"},"fhir_comments":{"title":"Fhir Comments","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"id":{"title":"Logical id of this artifact","maxLength":64,"minLength":1,"pattern":"^[A-Za-z0-9\\-.]+$","type":"string","description":"The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes."},"_id":{"title":"Extension field for ``id``.","type":"string"},"implicitRules":{"title":"A set of rules under which this content was created","pattern":"\\S*","type":"string","description":"A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc."},"_implicitRules":{"title":"Extension field for ``implicitRules``.","type":"string"},"language":{"title":"Language of the resource content","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The base language in which the resource is written."},"_language":{"title":"Extension field for ``language``.","type":"string"},"meta":{"title":"Metadata about the resource","type":"string","description":"The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource."},"contained":{"title":"Contained, inline Resources","type":"array","items":{"type":"string"},"description":"These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},"extension":{"title":"Additional content defined by implementations","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},"modifierExtension":{"title":"Extensions that cannot be ignored","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.  Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},"text":{"title":"Text summary of the resource, for human interpretation","type":"string","description":"A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety."},"asserter":{"title":"Source of the information about the allergy","type":"string","description":"The source of the information about the allergy that is recorded."},"category":{"title":"food | medication | environment | biologic","type":"array","items":{"pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string"},"description":"Category of the identified substance."},"_category":{"title":"Extension field for ``category``.","type":"array","items":{"type":"string"}},"clinicalStatus":{"title":"active | inactive | resolved","type":"string","description":"The clinical status of the allergy or intolerance."},"code":{"title":"Code that identifies the allergy or intolerance","type":"string","description":"Code for an allergy or intolerance statement (either a positive or a negated/excluded statement).  This may be a code for a substance or pharmaceutical product that is considered to be responsible for the adverse reaction risk (e.g., \"Latex\"), an allergy or intolerance condition (e.g., \"Latex allergy\"), or a negated/excluded code for a specific substance or class (e.g., \"No latex allergy\") or a general or categorical negated statement (e.g.,  \"No known allergy\", \"No known drug allergies\").  Note: the substance for a specific reaction may be different from the substance identified as the cause of the risk, but it must be consistent with it. For instance, it may be a more specific substance (e.g. a brand medication) or a composite product that includes the identified substance. It must be clinically safe to only process the 'code' and ignore the 'reaction.substance'.  If a receiving system is unable to confirm that AllergyIntolerance.reaction.substance falls within the semantic scope of AllergyIntolerance.code, then the receiving system should ignore AllergyIntolerance.reaction.substance."},"criticality":{"title":"low | high | unable-to-assess","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"Estimate of the potential clinical harm, or seriousness, of the reaction to the identified substance."},"_criticality":{"title":"Extension field for ``criticality``.","type":"string"},"encounter":{"title":"Encounter when the allergy or intolerance was asserted","type":"string","description":"The encounter when the allergy or intolerance was asserted."},"identifier":{"title":"External ids for this item","type":"array","items":{"type":"integer"},"description":"Business identifiers assigned to this AllergyIntolerance by the performer or other systems which remain constant as the resource is updated and propagates from server to server."},"lastOccurrence":{"title":"Date(/time) of last known occurrence of a reaction","type":"string","description":"Represents the date and/or time of the last known occurrence of a reaction event.","format":"date-time"},"_lastOccurrence":{"title":"Extension field for ``lastOccurrence``.","type":"string"},"note":{"title":"Additional text not captured in other fields","type":"array","items":{"type":"string"},"description":"Additional narrative about the propensity for the Adverse Reaction, not captured in other fields."},"onsetAge":{"title":"When allergy or intolerance was identified","type":"integer","description":"Estimated or actual date,  date-time, or age when allergy or intolerance was identified."},"onsetDateTime":{"title":"When allergy or intolerance was identified","type":"string","description":"Estimated or actual date,  date-time, or age when allergy or intolerance was identified.","format":"date-time"},"_onsetDateTime":{"title":"Extension field for ``onsetDateTime``.","type":"string"},"onsetPeriod":{"title":"When allergy or intolerance was identified","type":"string","description":"Estimated or actual date,  date-time, or age when allergy or intolerance was identified."},"onsetRange":{"title":"When allergy or intolerance was identified","type":"integer","description":"Estimated or actual date,  date-time, or age when allergy or intolerance was identified."},"onsetString":{"title":"When allergy or intolerance was identified","pattern":"[ \\r\\n\\t\\S]+","type":"string","description":"Estimated or actual date,  date-time, or age when allergy or intolerance was identified."},"_onsetString":{"title":"Extension field for ``onsetString``.","type":"string"},"patient":{"title":"Who the sensitivity is for","type":"string","description":"The patient who has the allergy or intolerance."},"reaction":{"title":"Adverse Reaction Events linked to exposure to substance","type":"array","items":{"type":"string"},"description":"Details about each adverse reaction event linked to exposure to the identified substance."},"recordedDate":{"title":"Date first version of the resource instance was recorded","type":"string","description":"The recordedDate represents when this particular AllergyIntolerance record was created in the system, which is often a system-generated date.","format":"date-time"},"_recordedDate":{"title":"Extension field for ``recordedDate``.","type":"string"},"recorder":{"title":"Who recorded the sensitivity","type":"string","description":"Individual who recorded the record and takes responsibility for its content."},"type":{"title":"allergy | intolerance - Underlying mechanism (if known)","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"Identification of the underlying physiological mechanism for the reaction risk."},"_type":{"title":"Extension field for ``type``.","type":"string"},"verificationStatus":{"title":"unconfirmed | confirmed | refuted | entered-in-error","type":"string","description":"Assertion about certainty associated with the propensity, or potential risk, of a reaction to the identified substance (including pharmaceutical product)."}},"additionalProperties":false,"description":"Disclaimer: Any field name ends with ``__ext`` does't part of\nResource StructureDefinition, instead used to enable Extensibility feature\nfor FHIR Primitive Data Types.\n\nAllergy or Intolerance (generally: Risk of adverse reaction to a substance).\nRisk of harmful or undesirable, physiological response which is unique to\nan individual and associated with exposure to a substance."},"Body_definitions_get_page_caregaps_api__quality_program__definition__get":{"title":"Body_definitions_get_page_caregaps_api__quality_program__definition__get","type":"object","properties":{"definition_id":{"title":"Definition Id","type":"array","items":{"type":"string"}},"closing_code":{"title":"Closing Code","type":"array","items":{"type":"string"}}}},"CaregapAPI":{"title":"CaregapAPI","required":["definition_id","patient_id","practice_id","created_date","status","id","quality_program"],"type":"object","properties":{"definition_id":{"title":"Definition Id","type":"string","description":"Definition id this caregap is associated with."},"patient_id":{"title":"Patient Id","type":"string","description":"Patient id this caregap is associated with."},"practice_id":{"title":"Practice Id","type":"string","description":"Practice id this caregap is associated with."},"created_date":{"title":"Created Date","type":"string","description":"ISO timestamp for when this caregap was created.","format":"date"},"status":{"allOf":[{"$ref":"#/components/schemas/StatusEnum"}],"description":"Current status of the caregap"},"detail":{"title":"Detail","type":"string","description":"Extra detail about the caregap."},"closed_date":{"title":"Closed Date","type":"string","description":"ISO timestamp for when the caregap was closed.","format":"date"},"closed_by":{"allOf":[{"$ref":"#/components/schemas/ClosedByEnum"}],"description":"Who or what action closed the caregap."},"id":{"title":"Id","type":"string","description":"UUID to identify the caregap"},"quality_program":{"title":"Quality Program","type":"string","description":"Quality program this caregap is associated with."}}},"CaregapAPIModel":{"title":"CaregapAPIModel","required":["definition_id","patient_id","practice_id","created_date","status"],"type":"object","properties":{"definition_id":{"title":"Definition Id","type":"string","description":"Definition id this caregap is associated with."},"patient_id":{"title":"Patient Id","type":"string","description":"Patient id this caregap is associated with."},"practice_id":{"title":"Practice Id","type":"string","description":"Practice id this caregap is associated with."},"created_date":{"title":"Created Date","type":"string","description":"ISO timestamp for when this caregap was created.","format":"date"},"status":{"allOf":[{"$ref":"#/components/schemas/StatusEnum"}],"description":"Current status of the caregap"},"detail":{"title":"Detail","type":"string","description":"Extra detail about the caregap."},"closed_date":{"title":"Closed Date","type":"string","description":"ISO timestamp for when the caregap was closed.","format":"date"},"closed_by":{"allOf":[{"$ref":"#/components/schemas/ClosedByEnum"}],"description":"Who or what action closed the caregap."}}},"CaregapAPIPaginatedResponse":{"title":"CaregapAPIPaginatedResponse","required":["results"],"type":"object","properties":{"results":{"title":"Results","type":"array","items":{"$ref":"#/components/schemas/CaregapAPI"},"description":"Page of results requested"},"cursor":{"title":"Cursor","type":"string","description":"Cursor to query for the next page"},"next_page_url":{"title":"Next Page Url","type":"string","description":"Full URL to query for the next page"}}},"CaregapPatchAPI":{"title":"CaregapPatchAPI","required":["status"],"type":"object","properties":{"status":{"allOf":[{"$ref":"#/components/schemas/StatusEnum"}],"description":"Current status of the caregap"}}},"ClosedByEnum":{"title":"ClosedByEnum","enum":["API","condition-saved","feedback"],"type":"string","description":"An enumeration."},"Coding":{"title":"Coding","type":"object","properties":{"code":{"title":"Code","type":"string","description":"The code for what is being represented"},"display":{"title":"Display","type":"string","description":"A codesystem for this code."},"system":{"title":"System","type":"string","description":"A short, human-readable label to display."},"context":{"title":"Context","allOf":[{"$ref":"#/components/schemas/CodingContext"}],"description":"Context for the coding within the EHR. For use as part of the closing code structure"}}},"CodingContext":{"title":"CodingContext","type":"object","properties":{"target":{"allOf":[{"$ref":"#/components/schemas/TargetEnum"}],"description":"Application target to constrain this closing code to"}}},"Communication":{"title":"Communication","type":"object","properties":{"resource_type":{"title":"Resource Type","type":"string"},"fhir_comments":{"title":"Fhir Comments","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"id":{"title":"Logical id of this artifact","maxLength":64,"minLength":1,"pattern":"^[A-Za-z0-9\\-.]+$","type":"string","description":"The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes."},"_id":{"title":"Extension field for ``id``.","type":"string"},"implicitRules":{"title":"A set of rules under which this content was created","pattern":"\\S*","type":"string","description":"A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc."},"_implicitRules":{"title":"Extension field for ``implicitRules``.","type":"string"},"language":{"title":"Language of the resource content","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The base language in which the resource is written."},"_language":{"title":"Extension field for ``language``.","type":"string"},"meta":{"title":"Metadata about the resource","type":"string","description":"The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource."},"contained":{"title":"Contained, inline Resources","type":"array","items":{"type":"string"},"description":"These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},"extension":{"title":"Additional content defined by implementations","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},"modifierExtension":{"title":"Extensions that cannot be ignored","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.  Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},"text":{"title":"Text summary of the resource, for human interpretation","type":"string","description":"A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety."},"about":{"title":"Resources that pertain to this communication","type":"array","items":{"type":"string"},"description":"Other resources that pertain to this communication and to which this communication should be associated."},"basedOn":{"title":"Request fulfilled by this communication","type":"array","items":{"type":"string"},"description":"An order, proposal or plan fulfilled in whole or in part by this Communication."},"category":{"title":"Message category","type":"array","items":{"type":"string"},"description":"The type of message conveyed such as alert, notification, reminder, instruction, etc."},"encounter":{"title":"Encounter created as part of","type":"string","description":"The Encounter during which this Communication was created or to which the creation of this record is tightly associated."},"identifier":{"title":"Unique identifier","type":"array","items":{"type":"integer"},"description":"Business identifiers assigned to this communication by the performer or other systems which remain constant as the resource is updated and propagates from server to server."},"inResponseTo":{"title":"Reply to","type":"array","items":{"type":"string"},"description":"Prior communication that this communication is in response to."},"instantiatesCanonical":{"title":"Instantiates FHIR protocol or definition","type":"array","items":{"pattern":"\\S*","type":"string"},"description":"The URL pointing to a FHIR-defined protocol, guideline, orderset or other definition that is adhered to in whole or in part by this Communication."},"_instantiatesCanonical":{"title":"Extension field for ``instantiatesCanonical``.","type":"array","items":{"type":"string"}},"instantiatesUri":{"title":"Instantiates external protocol or definition","type":"array","items":{"pattern":"\\S*","type":"string"},"description":"The URL pointing to an externally maintained protocol, guideline, orderset or other definition that is adhered to in whole or in part by this Communication."},"_instantiatesUri":{"title":"Extension field for ``instantiatesUri``.","type":"array","items":{"type":"string"}},"medium":{"title":"A channel of communication","type":"array","items":{"type":"string"},"description":"A channel that was used for this communication (e.g. email, fax)."},"note":{"title":"Comments made about the communication","type":"array","items":{"type":"string"},"description":"Additional notes or commentary about the communication by the sender, receiver or other interested parties."},"partOf":{"title":"Part of this action","type":"array","items":{"type":"string"}},"payload":{"title":"Message payload","type":"array","items":{"type":"string"},"description":"Text, attachment(s), or resource(s) that was communicated to the recipient."},"priority":{"title":"routine | urgent | asap | stat","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"Characterizes how quickly the planned or in progress communication must be addressed. Includes concepts such as stat, urgent, routine."},"_priority":{"title":"Extension field for ``priority``.","type":"string"},"reasonCode":{"title":"Indication for message","type":"array","items":{"type":"string"},"description":"The reason or justification for the communication."},"reasonReference":{"title":"Why was communication done?","type":"array","items":{"type":"string"},"description":"Indicates another resource whose existence justifies this communication."},"received":{"title":"When received","type":"string","description":"The time when this communication arrived at the destination.","format":"date-time"},"_received":{"title":"Extension field for ``received``.","type":"string"},"recipient":{"title":"Message recipient","type":"array","items":{"type":"string"},"description":"The entity (e.g. person, organization, clinical information system, care team or device) which was the target of the communication. If receipts need to be tracked by an individual, a separate resource instance will need to be created for each recipient.  Multiple recipient communications are intended where either receipts are not tracked (e.g. a mass mail-out) or a receipt is captured in aggregate (all emails confirmed received by a particular time)."},"sender":{"title":"Message sender","type":"string","description":"The entity (e.g. person, organization, clinical information system, or device) which was the source of the communication."},"sent":{"title":"When sent","type":"string","description":"The time when this communication was sent.","format":"date-time"},"_sent":{"title":"Extension field for ``sent``.","type":"string"},"status":{"title":"preparation | in-progress | not-done | on-hold | stopped | completed | entered-in-error | unknown","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The status of the transmission."},"_status":{"title":"Extension field for ``status``.","type":"string"},"statusReason":{"title":"Reason for current status","type":"string","description":"Captures the reason for the current state of the Communication."},"subject":{"title":"Focus of message","type":"string","description":"The patient or group that was the focus of this communication."},"topic":{"title":"Description of the purpose/content","type":"string","description":"Description of the purpose/content, similar to a subject line in an email."}},"additionalProperties":false,"description":"Disclaimer: Any field name ends with ``__ext`` does't part of\nResource StructureDefinition, instead used to enable Extensibility feature\nfor FHIR Primitive Data Types.\n\nA record of information transmitted from a sender to a receiver.\nAn occurrence of information being transmitted; e.g. an alert that was sent\nto a responsible provider, a public health agency that was notified about a\nreportable condition."},"Condition":{"title":"Condition","required":["subject"],"type":"object","properties":{"resource_type":{"title":"Resource Type","type":"string"},"fhir_comments":{"title":"Fhir Comments","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"id":{"title":"Logical id of this artifact","maxLength":64,"minLength":1,"pattern":"^[A-Za-z0-9\\-.]+$","type":"string","description":"The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes."},"_id":{"title":"Extension field for ``id``.","type":"string"},"implicitRules":{"title":"A set of rules under which this content was created","pattern":"\\S*","type":"string","description":"A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc."},"_implicitRules":{"title":"Extension field for ``implicitRules``.","type":"string"},"language":{"title":"Language of the resource content","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The base language in which the resource is written."},"_language":{"title":"Extension field for ``language``.","type":"string"},"meta":{"title":"Metadata about the resource","type":"string","description":"The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource."},"contained":{"title":"Contained, inline Resources","type":"array","items":{"type":"string"},"description":"These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},"extension":{"title":"Additional content defined by implementations","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},"modifierExtension":{"title":"Extensions that cannot be ignored","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.  Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},"text":{"title":"Text summary of the resource, for human interpretation","type":"string","description":"A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety."},"abatementAge":{"title":"When in resolution/remission","type":"integer","description":"The date or estimated date that the condition resolved or went into remission. This is called \"abatement\" because of the many overloaded connotations associated with \"remission\" or \"resolution\" - Conditions are never really resolved, but they can abate."},"abatementDateTime":{"title":"When in resolution/remission","type":"string","description":"The date or estimated date that the condition resolved or went into remission. This is called \"abatement\" because of the many overloaded connotations associated with \"remission\" or \"resolution\" - Conditions are never really resolved, but they can abate.","format":"date-time"},"_abatementDateTime":{"title":"Extension field for ``abatementDateTime``.","type":"string"},"abatementPeriod":{"title":"When in resolution/remission","type":"string","description":"The date or estimated date that the condition resolved or went into remission. This is called \"abatement\" because of the many overloaded connotations associated with \"remission\" or \"resolution\" - Conditions are never really resolved, but they can abate."},"abatementRange":{"title":"When in resolution/remission","type":"integer","description":"The date or estimated date that the condition resolved or went into remission. This is called \"abatement\" because of the many overloaded connotations associated with \"remission\" or \"resolution\" - Conditions are never really resolved, but they can abate."},"abatementString":{"title":"When in resolution/remission","pattern":"[ \\r\\n\\t\\S]+","type":"string","description":"The date or estimated date that the condition resolved or went into remission. This is called \"abatement\" because of the many overloaded connotations associated with \"remission\" or \"resolution\" - Conditions are never really resolved, but they can abate."},"_abatementString":{"title":"Extension field for ``abatementString``.","type":"string"},"asserter":{"title":"Person who asserts this condition","type":"string","description":"Individual who is making the condition statement."},"bodySite":{"title":"Anatomical location, if relevant","type":"array","items":{"type":"string"},"description":"The anatomical location where this condition manifests itself."},"category":{"title":"problem-list-item | encounter-diagnosis","type":"array","items":{"type":"string"},"description":"A category assigned to the condition."},"clinicalStatus":{"title":"active | recurrence | relapse | inactive | remission | resolved","type":"string","description":"The clinical status of the condition."},"code":{"title":"Identification of the condition, problem or diagnosis","type":"string"},"encounter":{"title":"Encounter created as part of","type":"string","description":"The Encounter during which this Condition was created or to which the creation of this record is tightly associated."},"evidence":{"title":"Supporting evidence","type":"array","items":{"type":"string"},"description":"Supporting evidence / manifestations that are the basis of the Condition's verification status, such as evidence that confirmed or refuted the condition."},"identifier":{"title":"External Ids for this condition","type":"array","items":{"type":"integer"},"description":"Business identifiers assigned to this condition by the performer or other systems which remain constant as the resource is updated and propagates from server to server."},"note":{"title":"Additional information about the Condition","type":"array","items":{"type":"string"},"description":"Additional information about the Condition. This is a general notes/comments entry  for description of the Condition, its diagnosis and prognosis."},"onsetAge":{"title":"Estimated or actual date,  date-time, or age","type":"integer","description":"Estimated or actual date or date-time  the condition began, in the opinion of the clinician."},"onsetDateTime":{"title":"Estimated or actual date,  date-time, or age","type":"string","description":"Estimated or actual date or date-time  the condition began, in the opinion of the clinician.","format":"date-time"},"_onsetDateTime":{"title":"Extension field for ``onsetDateTime``.","type":"string"},"onsetPeriod":{"title":"Estimated or actual date,  date-time, or age","type":"string","description":"Estimated or actual date or date-time  the condition began, in the opinion of the clinician."},"onsetRange":{"title":"Estimated or actual date,  date-time, or age","type":"integer","description":"Estimated or actual date or date-time  the condition began, in the opinion of the clinician."},"onsetString":{"title":"Estimated or actual date,  date-time, or age","pattern":"[ \\r\\n\\t\\S]+","type":"string","description":"Estimated or actual date or date-time  the condition began, in the opinion of the clinician."},"_onsetString":{"title":"Extension field for ``onsetString``.","type":"string"},"recordedDate":{"title":"Date record was first recorded","type":"string","description":"The recordedDate represents when this particular Condition record was created in the system, which is often a system-generated date.","format":"date-time"},"_recordedDate":{"title":"Extension field for ``recordedDate``.","type":"string"},"recorder":{"title":"Who recorded the condition","type":"string","description":"Individual who recorded the record and takes responsibility for its content."},"severity":{"title":"Subjective severity of condition","type":"string","description":"A subjective assessment of the severity of the condition as evaluated by the clinician."},"stage":{"title":"Stage/grade, usually assessed formally","type":"array","items":{"type":"string"},"description":"Clinical stage or grade of a condition. May include formal severity assessments."},"subject":{"title":"Who has the condition?","type":"string","description":"Indicates the patient or group who the condition record is associated with."},"verificationStatus":{"title":"unconfirmed | provisional | differential | confirmed | refuted | entered-in-error","type":"string","description":"The verification status to support the clinical status of the condition."}},"additionalProperties":false,"description":"Disclaimer: Any field name ends with ``__ext`` does't part of\nResource StructureDefinition, instead used to enable Extensibility feature\nfor FHIR Primitive Data Types.\n\nDetailed information about conditions, problems or diagnoses.\nA clinical condition, problem, diagnosis, or other event, situation, issue,\nor clinical concept that has risen to a level of concern."},"DefinitionAPI":{"title":"DefinitionAPI","required":["name","indicator","source","selection_behavior","start_date","end_date","suggestions","id"],"type":"object","properties":{"quality_program":{"title":"Quality Program","type":"string","description":"Quality program this definition is associated with."},"name":{"title":"Name","type":"string","description":"Human readable name for the definition"},"indicator":{"allOf":[{"$ref":"#/components/schemas/IndicatorEnum"}],"description":"Indicator of the definition"},"source":{"title":"Source","allOf":[{"$ref":"#/components/schemas/Source"}],"description":"Source of the definition"},"selection_behavior":{"allOf":[{"$ref":"#/components/schemas/SelectionBehaviorEnum"}],"description":"Selection Behavior of the definition"},"closing_codes":{"title":"Closing Codes","type":"array","items":{"$ref":"#/components/schemas/Coding"},"description":"List of closing codes."},"description":{"title":"Description","type":"string","description":"Sentence that describes the definition. Allowed HTML tags: a, abbr, acronym, b, blockquote, br, code, div, em, h1, h2, h3, h4, h5, h6, i, li, ol, p, strong, u, ul"},"practice_id":{"title":"Practice Id","type":"string","description":"Practice id this definition is authorized for."},"override_reasons":{"title":"Override Reasons","type":"array","items":{"$ref":"#/components/schemas/Coding"},"description":"Override reasons written as codings for the definition"},"links":{"title":"Links","type":"array","items":{"$ref":"#/components/schemas/Link"},"description":"Relevant links for the definition"},"start_date":{"title":"Start Date","type":"string","description":"Start date for period","format":"date"},"end_date":{"title":"End Date","type":"string","description":"End date for period","format":"date"},"additional_documentation":{"title":"Additional Documentation","type":"array","items":{"$ref":"#/components/schemas/DocSection"},"description":"Additional documentation sections for reference in the EHR. Allowed HTML tags: a, abbr, acronym"},"external_id":{"title":"External Id","type":"string","description":"Identifer for linking to external systems"},"suggestions":{"title":"Suggestions","type":"array","items":{"$ref":"#/components/schemas/ExistingSuggestion"},"description":"List of suggestions to take action on with this definition that includes a uuid"},"id":{"title":"Id","type":"string","description":"UUID that identifies this definition"}}},"DefinitionAPIModel":{"title":"DefinitionAPIModel","required":["name","indicator","source","selection_behavior","start_date","end_date","suggestions"],"type":"object","properties":{"quality_program":{"title":"Quality Program","type":"string","description":"Quality program this definition is associated with."},"name":{"title":"Name","type":"string","description":"Human readable name for the definition"},"indicator":{"allOf":[{"$ref":"#/components/schemas/IndicatorEnum"}],"description":"Indicator of the definition"},"source":{"title":"Source","allOf":[{"$ref":"#/components/schemas/Source"}],"description":"Source of the definition"},"selection_behavior":{"allOf":[{"$ref":"#/components/schemas/SelectionBehaviorEnum"}],"description":"Selection Behavior of the definition"},"closing_codes":{"title":"Closing Codes","type":"array","items":{"$ref":"#/components/schemas/Coding"},"description":"List of closing codes."},"description":{"title":"Description","type":"string","description":"Sentence that describes the definition. Allowed HTML tags: a, abbr, acronym, b, blockquote, br, code, div, em, h1, h2, h3, h4, h5, h6, i, li, ol, p, strong, u, ul"},"practice_id":{"title":"Practice Id","type":"string","description":"Practice id this definition is authorized for."},"override_reasons":{"title":"Override Reasons","type":"array","items":{"$ref":"#/components/schemas/Coding"},"description":"Override reasons written as codings for the definition"},"links":{"title":"Links","type":"array","items":{"$ref":"#/components/schemas/Link"},"description":"Relevant links for the definition"},"start_date":{"title":"Start Date","type":"string","description":"Start date for period","format":"date"},"end_date":{"title":"End Date","type":"string","description":"End date for period","format":"date"},"additional_documentation":{"title":"Additional Documentation","type":"array","items":{"$ref":"#/components/schemas/DocSection"},"description":"Additional documentation sections for reference in the EHR. Allowed HTML tags: a, abbr, acronym"},"external_id":{"title":"External Id","type":"string","description":"Identifer for linking to external systems"},"suggestions":{"title":"Suggestions","type":"array","items":{"$ref":"#/components/schemas/Suggestion"},"description":"List of suggestions to take action on with this definition"}}},"DefinitionAPIPaginatedResponse":{"title":"DefinitionAPIPaginatedResponse","required":["results"],"type":"object","properties":{"results":{"title":"Results","type":"array","items":{"$ref":"#/components/schemas/DefinitionAPI"},"description":"Page of results requested"},"cursor":{"title":"Cursor","type":"string","description":"Cursor to query for the next page"},"next_page_url":{"title":"Next Page Url","type":"string","description":"Full URL to query for the next page"}}},"DocSection":{"title":"DocSection","required":["type","subtitle"],"type":"object","properties":{"type":{"allOf":[{"$ref":"#/components/schemas/SectionType"}],"description":"Type of this documentation section"},"paragraphs":{"title":"Paragraphs","type":"array","items":{"type":"string"},"description":"List of paragraphs to render for a text type doc section"},"subsections":{"title":"Subsections","type":"array","items":{"$ref":"#/components/schemas/SubSection"},"description":"Mappings between subsection titles and content. Required for footer or subsection type sections"},"subtitle":{"title":"Subtitle","type":"string","description":"Documentation section heading"}}},"DocumentReference":{"title":"DocumentReference","required":["content"],"type":"object","properties":{"resource_type":{"title":"Resource Type","type":"string"},"fhir_comments":{"title":"Fhir Comments","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"id":{"title":"Logical id of this artifact","maxLength":64,"minLength":1,"pattern":"^[A-Za-z0-9\\-.]+$","type":"string","description":"The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes."},"_id":{"title":"Extension field for ``id``.","type":"string"},"implicitRules":{"title":"A set of rules under which this content was created","pattern":"\\S*","type":"string","description":"A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc."},"_implicitRules":{"title":"Extension field for ``implicitRules``.","type":"string"},"language":{"title":"Language of the resource content","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The base language in which the resource is written."},"_language":{"title":"Extension field for ``language``.","type":"string"},"meta":{"title":"Metadata about the resource","type":"string","description":"The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource."},"contained":{"title":"Contained, inline Resources","type":"array","items":{"type":"string"},"description":"These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},"extension":{"title":"Additional content defined by implementations","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},"modifierExtension":{"title":"Extensions that cannot be ignored","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.  Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},"text":{"title":"Text summary of the resource, for human interpretation","type":"string","description":"A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety."},"authenticator":{"title":"Who/what authenticated the document","type":"string","description":"Which person or organization authenticates that this document is valid."},"author":{"title":"Who and/or what authored the document","type":"array","items":{"type":"string"},"description":"Identifies who is responsible for adding the information to the document."},"category":{"title":"Categorization of document","type":"array","items":{"type":"string"},"description":"A categorization for the type of document referenced - helps for indexing and searching. This may be implied by or derived from the code specified in the DocumentReference.type."},"content":{"title":"Document referenced","type":"array","items":{"type":"string"},"description":"The document and format referenced. There may be multiple content element repetitions, each with a different format."},"context":{"title":"Clinical context of document","description":"The clinical context in which the document was prepared."},"custodian":{"title":"Organization which maintains the document","type":"string","description":"Identifies the organization or group who is responsible for ongoing maintenance of and access to the document."},"date":{"title":"When this document reference was created","type":"string","description":"When the document reference was created.","format":"date-time"},"_date":{"title":"Extension field for ``date``.","type":"string"},"description":{"title":"Human-readable description","pattern":"[ \\r\\n\\t\\S]+","type":"string","description":"Human-readable description of the source document."},"_description":{"title":"Extension field for ``description``.","type":"string"},"docStatus":{"title":"preliminary | final | amended | entered-in-error","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The status of the underlying document."},"_docStatus":{"title":"Extension field for ``docStatus``.","type":"string"},"identifier":{"title":"Other identifiers for the document","type":"array","items":{"type":"integer"},"description":"Other identifiers associated with the document, including version independent identifiers."},"masterIdentifier":{"title":"Master Version Specific Identifier","type":"integer","description":"Document identifier as assigned by the source of the document. This identifier is specific to this version of the document. This unique identifier may be used elsewhere to identify this version of the document."},"relatesTo":{"title":"Relationships to other documents","type":"array","items":{"type":"string"},"description":"Relationships that this document has with other document references that already exist."},"securityLabel":{"title":"Document security-tags","type":"array","items":{"type":"string"},"description":"A set of Security-Tag codes specifying the level of privacy/security of the Document. Note that DocumentReference.meta.security contains the security labels of the \"reference\" to the document, while DocumentReference.securityLabel contains a snapshot of the security labels on the document the reference refers to."},"status":{"title":"current | superseded | entered-in-error","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The status of this document reference."},"_status":{"title":"Extension field for ``status``.","type":"string"},"subject":{"title":"Who/what is the subject of the document","type":"string","description":"Who or what the document is about. The document can be about a person, (patient or healthcare practitioner), a device (e.g. a machine) or even a group of subjects (such as a document about a herd of farm animals, or a set of patients that share a common exposure)."},"type":{"title":"Kind of document (LOINC if possible)","type":"string","description":"Specifies the particular kind of document referenced  (e.g. History and Physical, Discharge Summary, Progress Note). This usually equates to the purpose of making the document referenced."}},"additionalProperties":false,"description":"Disclaimer: Any field name ends with ``__ext`` does't part of\nResource StructureDefinition, instead used to enable Extensibility feature\nfor FHIR Primitive Data Types.\n\nA reference to a document.\nA reference to a document of any kind for any purpose. Provides metadata\nabout the document so that the document can be discovered and managed. The\nscope of a document is any seralized object with a mime-type, so includes\nformal patient centric documents (CDA), cliical notes, scanned paper, and\nnon-patient specific documents like policy text."},"Endpoint":{"title":"Endpoint","required":["connectionType","payloadType"],"type":"object","properties":{"resource_type":{"title":"Resource Type","type":"string"},"fhir_comments":{"title":"Fhir Comments","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"id":{"title":"Logical id of this artifact","maxLength":64,"minLength":1,"pattern":"^[A-Za-z0-9\\-.]+$","type":"string","description":"The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes."},"_id":{"title":"Extension field for ``id``.","type":"string"},"implicitRules":{"title":"A set of rules under which this content was created","pattern":"\\S*","type":"string","description":"A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc."},"_implicitRules":{"title":"Extension field for ``implicitRules``.","type":"string"},"language":{"title":"Language of the resource content","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The base language in which the resource is written."},"_language":{"title":"Extension field for ``language``.","type":"string"},"meta":{"title":"Metadata about the resource","type":"string","description":"The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource."},"contained":{"title":"Contained, inline Resources","type":"array","items":{"type":"string"},"description":"These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},"extension":{"title":"Additional content defined by implementations","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},"modifierExtension":{"title":"Extensions that cannot be ignored","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.  Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},"text":{"title":"Text summary of the resource, for human interpretation","type":"string","description":"A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety."},"address":{"title":"The technical base address for connecting to this endpoint","maxLength":65536,"minLength":1,"type":"string","description":"The uri that describes the actual end-point to connect to.","format":"uri"},"_address":{"title":"Extension field for ``address``.","type":"string"},"connectionType":{"title":"Protocol/Profile/Standard to be used with this endpoint connection","type":"string","description":"A coded value that represents the technical details of the usage of this endpoint, such as what WSDLs should be used in what way. (e.g. XDS.b/DICOM/cds-hook)."},"contact":{"title":"Contact details for source (e.g. troubleshooting)","type":"array","items":{"type":"string"},"description":"Contact details for a human to contact about the subscription. The primary use of this for system administrator troubleshooting."},"header":{"title":"Usage depends on the channel type","type":"array","items":{"pattern":"[ \\r\\n\\t\\S]+","type":"string"},"description":"Additional headers / information to send as part of the notification."},"_header":{"title":"Extension field for ``header``.","type":"array","items":{"type":"string"}},"identifier":{"title":"Identifies this endpoint across multiple systems","type":"array","items":{"type":"integer"},"description":"Identifier for the organization that is used to identify the endpoint across multiple disparate systems."},"managingOrganization":{"title":"Organization that manages this endpoint (might not be the organization that exposes the endpoint)","type":"string","description":"The organization that manages this endpoint (even if technically another organization is hosting this in the cloud, it is the organization associated with the data)."},"name":{"title":"A name that this endpoint can be identified by","pattern":"[ \\r\\n\\t\\S]+","type":"string","description":"A friendly name that this endpoint can be referred to with."},"_name":{"title":"Extension field for ``name``.","type":"string"},"payloadMimeType":{"title":"Mimetype to send. If not specified, the content could be anything (including no payload, if the connectionType defined this)","type":"array","items":{"pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string"},"description":"The mime type to send the payload in - e.g. application/fhir+xml, application/fhir+json. If the mime type is not specified, then the sender could send any content (including no content depending on the connectionType)."},"_payloadMimeType":{"title":"Extension field for ``payloadMimeType``.","type":"array","items":{"type":"string"}},"payloadType":{"title":"The type of content that may be used at this endpoint (e.g. XDS Discharge summaries)","type":"array","items":{"type":"string"},"description":"The payload type describes the acceptable content that can be communicated on the endpoint."},"period":{"title":"Interval the endpoint is expected to be operational","type":"string","description":"The interval during which the endpoint is expected to be operational."},"status":{"title":"active | suspended | error | off | entered-in-error | test","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"active | suspended | error | off | test."},"_status":{"title":"Extension field for ``status``.","type":"string"}},"additionalProperties":false,"description":"Disclaimer: Any field name ends with ``__ext`` does't part of\nResource StructureDefinition, instead used to enable Extensibility feature\nfor FHIR Primitive Data Types.\n\nThe technical details of an endpoint that can be used for electronic\nservices.\nThe technical details of an endpoint that can be used for electronic\nservices, such as for web services providing XDS.b or a REST endpoint for\nanother FHIR server. This may include any security context information."},"ExistingSuggestion":{"title":"ExistingSuggestion","required":["label","is_recommended","uuid"],"type":"object","properties":{"label":{"title":"Label","type":"string","description":"Human-readable label to display for this suggestion (e.g. the CDS Client might render this as the text on a button tied to this suggestion)."},"is_recommended":{"title":"Is Recommended","type":"boolean","description":"When there are multiple suggestions, allows a service to indicate that a specific suggestion is recommended from all the available suggestions on the card. CDS Hooks clients may choose to influence their UI based on this value, such as pre-selecting, or highlighting recommended suggestions. Multiple suggestions MAY be recommended, if card.selectionBehavior is any."},"actions":{"title":"Actions","type":"array","items":{"$ref":"#/components/schemas/Action"},"description":"Array of objects, each defining a suggested action. Within a suggestion, all actions are logically AND'd together, such that a user selecting a suggestion selects all of the actions within it."},"uuid":{"title":"Uuid","type":"string","description":"Unique identifier, used for auditing and logging suggestions."}}},"HTTPValidationError":{"title":"HTTPValidationError","type":"object","properties":{"detail":{"title":"Detail","type":"array","items":{"$ref":"#/components/schemas/ValidationError"}}}},"Immunization":{"title":"Immunization","required":["patient","vaccineCode"],"type":"object","properties":{"resource_type":{"title":"Resource Type","type":"string"},"fhir_comments":{"title":"Fhir Comments","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"id":{"title":"Logical id of this artifact","maxLength":64,"minLength":1,"pattern":"^[A-Za-z0-9\\-.]+$","type":"string","description":"The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes."},"_id":{"title":"Extension field for ``id``.","type":"string"},"implicitRules":{"title":"A set of rules under which this content was created","pattern":"\\S*","type":"string","description":"A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc."},"_implicitRules":{"title":"Extension field for ``implicitRules``.","type":"string"},"language":{"title":"Language of the resource content","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The base language in which the resource is written."},"_language":{"title":"Extension field for ``language``.","type":"string"},"meta":{"title":"Metadata about the resource","type":"string","description":"The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource."},"contained":{"title":"Contained, inline Resources","type":"array","items":{"type":"string"},"description":"These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},"extension":{"title":"Additional content defined by implementations","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},"modifierExtension":{"title":"Extensions that cannot be ignored","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.  Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},"text":{"title":"Text summary of the resource, for human interpretation","type":"string","description":"A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety."},"doseQuantity":{"title":"Amount of vaccine administered","type":"integer","description":"The quantity of vaccine product that was administered."},"education":{"title":"Educational material presented to patient","type":"array","items":{"type":"string"},"description":"Educational material presented to the patient (or guardian) at the time of vaccine administration."},"encounter":{"title":"Encounter immunization was part of","type":"string","description":"The visit or admission or other contact between patient and health care provider the immunization was performed as part of."},"expirationDate":{"title":"Vaccine expiration date","type":"string","description":"Date vaccine batch expires.","format":"date"},"_expirationDate":{"title":"Extension field for ``expirationDate``.","type":"string"},"fundingSource":{"title":"Funding source for the vaccine","type":"string","description":"Indicates the source of the vaccine actually administered. This may be different than the patient eligibility (e.g. the patient may be eligible for a publically purchased vaccine but due to inventory issues, vaccine purchased with private funds was actually administered)."},"identifier":{"title":"Business identifier","type":"array","items":{"type":"integer"},"description":"A unique identifier assigned to this immunization record."},"isSubpotent":{"title":"Dose potency","type":"boolean","description":"Indication if a dose is considered to be subpotent. By default, a dose should be considered to be potent."},"_isSubpotent":{"title":"Extension field for ``isSubpotent``.","type":"string"},"location":{"title":"Where immunization occurred","type":"string","description":"The service delivery location where the vaccine administration occurred."},"lotNumber":{"title":"Vaccine lot number","pattern":"[ \\r\\n\\t\\S]+","type":"string","description":"Lot number of the  vaccine product."},"_lotNumber":{"title":"Extension field for ``lotNumber``.","type":"string"},"manufacturer":{"title":"Vaccine manufacturer","type":"string","description":"Name of vaccine manufacturer."},"note":{"title":"Additional immunization notes","type":"array","items":{"type":"string"},"description":"Extra information about the immunization that is not conveyed by the other attributes."},"occurrenceDateTime":{"title":"Vaccine administration date","type":"string","description":"Date vaccine administered or was to be administered.","format":"date-time"},"_occurrenceDateTime":{"title":"Extension field for ``occurrenceDateTime``.","type":"string"},"occurrenceString":{"title":"Vaccine administration date","pattern":"[ \\r\\n\\t\\S]+","type":"string","description":"Date vaccine administered or was to be administered."},"_occurrenceString":{"title":"Extension field for ``occurrenceString``.","type":"string"},"patient":{"title":"Who was immunized","type":"string","description":"The patient who either received or did not receive the immunization."},"performer":{"title":"Who performed event","type":"array","items":{"type":"string"},"description":"Indicates who performed the immunization event."},"primarySource":{"title":"Indicates context the data was recorded in","type":"boolean","description":"An indication that the content of the record is based on information from the person who administered the vaccine. This reflects the context under which the data was originally recorded."},"_primarySource":{"title":"Extension field for ``primarySource``.","type":"string"},"programEligibility":{"title":"Patient eligibility for a vaccination program","type":"array","items":{"type":"string"},"description":"Indicates a patient's eligibility for a funding program."},"protocolApplied":{"title":"Protocol followed by the provider","type":"array","items":{"type":"string"},"description":"The protocol (set of recommendations) being followed by the provider who administered the dose."},"reaction":{"title":"Details of a reaction that follows immunization","type":"array","items":{"type":"string"},"description":"Categorical data indicating that an adverse event is associated in time to an immunization."},"reasonCode":{"title":"Why immunization occurred","type":"array","items":{"type":"string"},"description":"Reasons why the vaccine was administered."},"reasonReference":{"title":"Why immunization occurred","type":"array","items":{"type":"string"},"description":"Condition, Observation or DiagnosticReport that supports why the immunization was administered."},"recorded":{"title":"When the immunization was first captured in the subject's record","type":"string","description":"The date the occurrence of the immunization was first captured in the record - potentially significantly after the occurrence of the event.","format":"date-time"},"_recorded":{"title":"Extension field for ``recorded``.","type":"string"},"reportOrigin":{"title":"Indicates the source of a secondarily reported record","type":"string","description":"The source of the data when the report of the immunization event is not based on information from the person who administered the vaccine."},"route":{"title":"How vaccine entered body","type":"string","description":"The path by which the vaccine product is taken into the body."},"site":{"title":"Body site vaccine  was administered","type":"string","description":"Body site where vaccine was administered."},"status":{"title":"completed | entered-in-error | not-done","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"Indicates the current status of the immunization event."},"_status":{"title":"Extension field for ``status``.","type":"string"},"statusReason":{"title":"Reason not done","type":"string","description":"Indicates the reason the immunization event was not performed."},"subpotentReason":{"title":"Reason for being subpotent","type":"array","items":{"type":"string"},"description":"Reason why a dose is considered to be subpotent."},"vaccineCode":{"title":"Vaccine product administered","type":"string","description":"Vaccine that was administered or was to be administered."}},"additionalProperties":false,"description":"Disclaimer: Any field name ends with ``__ext`` does't part of\nResource StructureDefinition, instead used to enable Extensibility feature\nfor FHIR Primitive Data Types.\n\nImmunization event information.\nDescribes the event of a patient being administered a vaccine or a record\nof an immunization as reported by a patient, a clinician or another party."},"IndicatorEnum":{"title":"IndicatorEnum","enum":["info","warning","critical"],"type":"string","description":"An enumeration."},"Link":{"title":"Link","required":["label","url","type"],"type":"object","properties":{"label":{"title":"Label","type":"string","description":"Human-readable label to display for this link (e.g. the CDS Client might render this as the underlined text of a clickable link)."},"url":{"title":"Url","type":"string","description":"URL to load (via GET, in a browser context) when a user clicks on this link. Note that this MAY be a 'deep link' with context embedded in path segments, query parameters, or a hash."},"type":{"title":"Type","type":"string","description":"The type of the given URL. There are two possible values for this field. A type of absolute indicates that the URL is absolute and should be treated as-is. A type of smart indicates that the URL is a SMART app launch URL and the CDS Client should ensure the SMART app launch URL is populated with the appropriate SMART launch parameters."},"app_context":{"title":"App Context","type":"string","description":"An optional field that allows the CDS Service to share information from the CDS card with a subsequently launched SMART app. The appContext field should only be valued if the link type is smart and is not valid for absolute links. The appContext field and value will be sent to the SMART app as part of the OAuth 2.0 access token response, alongside the other SMART launch parameters when the SMART app is launched. Note that appContext could be escaped JSON, base64 encoded XML, or even a simple string, so long as the SMART app can recognize it."}}},"Observation":{"title":"Observation","required":["code"],"type":"object","properties":{"resource_type":{"title":"Resource Type","type":"string"},"fhir_comments":{"title":"Fhir Comments","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"id":{"title":"Logical id of this artifact","maxLength":64,"minLength":1,"pattern":"^[A-Za-z0-9\\-.]+$","type":"string","description":"The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes."},"_id":{"title":"Extension field for ``id``.","type":"string"},"implicitRules":{"title":"A set of rules under which this content was created","pattern":"\\S*","type":"string","description":"A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc."},"_implicitRules":{"title":"Extension field for ``implicitRules``.","type":"string"},"language":{"title":"Language of the resource content","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The base language in which the resource is written."},"_language":{"title":"Extension field for ``language``.","type":"string"},"meta":{"title":"Metadata about the resource","type":"string","description":"The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource."},"contained":{"title":"Contained, inline Resources","type":"array","items":{"type":"string"},"description":"These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},"extension":{"title":"Additional content defined by implementations","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},"modifierExtension":{"title":"Extensions that cannot be ignored","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.  Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},"text":{"title":"Text summary of the resource, for human interpretation","type":"string","description":"A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety."},"basedOn":{"title":"Fulfills plan, proposal or order","type":"array","items":{"type":"string"},"description":"A plan, proposal or order that is fulfilled in whole or in part by this event.  For example, a MedicationRequest may require a patient to have laboratory test performed before  it is dispensed."},"bodySite":{"title":"Observed body part","type":"string","description":"Indicates the site on the subject's body where the observation was made (i.e. the target site)."},"category":{"title":"Classification of  type of observation","type":"array","items":{"type":"string"},"description":"A code that classifies the general type of observation being made."},"code":{"title":"Type of observation (code / type)","type":"string","description":"Describes what was observed. Sometimes this is called the observation \"name\"."},"component":{"title":"Component results","type":"array","items":{"type":"string"},"description":"Some observations have multiple component observations.  These component observations are expressed as separate code value pairs that share the same attributes.  Examples include systolic and diastolic component observations for blood pressure measurement and multiple component observations for genetics observations."},"dataAbsentReason":{"title":"Why the result is missing","type":"string","description":"Provides a reason why the expected value in the element Observation.value[x] is missing."},"derivedFrom":{"title":"Related measurements the observation is made from","type":"array","items":{"type":"string"},"description":"The target resource that represents a measurement from which this observation value is derived. For example, a calculated anion gap or a fetal measurement based on an ultrasound image."},"device":{"title":"(Measurement) Device","type":"string","description":"The device used to generate the observation data."},"effectiveDateTime":{"title":"Clinically relevant time/time-period for observation","type":"string","description":"The time or time-period the observed value is asserted as being true. For biological subjects - e.g. human patients - this is usually called the \"physiologically relevant time\". This is usually either the time of the procedure or of specimen collection, but very often the source of the date/time is not known, only the date/time itself.","format":"date-time"},"_effectiveDateTime":{"title":"Extension field for ``effectiveDateTime``.","type":"string"},"effectiveInstant":{"title":"Clinically relevant time/time-period for observation","type":"string","description":"The time or time-period the observed value is asserted as being true. For biological subjects - e.g. human patients - this is usually called the \"physiologically relevant time\". This is usually either the time of the procedure or of specimen collection, but very often the source of the date/time is not known, only the date/time itself.","format":"date-time"},"_effectiveInstant":{"title":"Extension field for ``effectiveInstant``.","type":"string"},"effectivePeriod":{"title":"Clinically relevant time/time-period for observation","type":"string","description":"The time or time-period the observed value is asserted as being true. For biological subjects - e.g. human patients - this is usually called the \"physiologically relevant time\". This is usually either the time of the procedure or of specimen collection, but very often the source of the date/time is not known, only the date/time itself."},"effectiveTiming":{"title":"Clinically relevant time/time-period for observation","type":"string","description":"The time or time-period the observed value is asserted as being true. For biological subjects - e.g. human patients - this is usually called the \"physiologically relevant time\". This is usually either the time of the procedure or of specimen collection, but very often the source of the date/time is not known, only the date/time itself."},"encounter":{"title":"Healthcare event during which this observation is made","type":"string","description":"The healthcare event  (e.g. a patient and healthcare provider interaction) during which this observation is made."},"focus":{"title":"What the observation is about, when it is not about the subject of record","type":"array","items":{"type":"string"},"description":"The actual focus of an observation when it is not the patient of record representing something or someone associated with the patient such as a spouse, parent, fetus, or donor. For example, fetus observations in a mother's record.  The focus of an observation could also be an existing condition,  an intervention, the subject's diet,  another observation of the subject,  or a body structure such as tumor or implanted device.   An example use case would be using the Observation resource to capture whether the mother is trained to change her child's tracheostomy tube. In this example, the child is the patient of record and the mother is the focus."},"hasMember":{"title":"Related resource that belongs to the Observation group","type":"array","items":{"type":"string"},"description":"This observation is a group observation (e.g. a battery, a panel of tests, a set of vital sign measurements) that includes the target as a member of the group."},"identifier":{"title":"Business Identifier for observation","type":"array","items":{"type":"integer"},"description":"A unique identifier assigned to this observation."},"interpretation":{"title":"High, low, normal, etc.","type":"array","items":{"type":"string"},"description":"A categorical assessment of an observation value.  For example, high, low, normal."},"issued":{"title":"Date/Time this version was made available","type":"string","description":"The date and time this version of the observation was made available to providers, typically after the results have been reviewed and verified.","format":"date-time"},"_issued":{"title":"Extension field for ``issued``.","type":"string"},"method":{"title":"How it was done","type":"string","description":"Indicates the mechanism used to perform the observation."},"note":{"title":"Comments about the observation","type":"array","items":{"type":"string"},"description":"Comments about the observation or the results."},"partOf":{"title":"Part of referenced event","type":"array","items":{"type":"string"},"description":"A larger event of which this particular Observation is a component or step.  For example,  an observation as part of a procedure."},"performer":{"title":"Who is responsible for the observation","type":"array","items":{"type":"string"},"description":"Who was responsible for asserting the observed value as \"true\"."},"referenceRange":{"title":"Provides guide for interpretation","type":"array","items":{"type":"string"},"description":"Guidance on how to interpret the value by comparison to a normal or recommended range.  Multiple reference ranges are interpreted as an \"OR\".   In other words, to represent two distinct target populations, two `referenceRange` elements would be used."},"specimen":{"title":"Specimen used for this observation","type":"string","description":"The specimen that was used when this observation was made."},"status":{"title":"registered | preliminary | final | amended +","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The status of the result value."},"_status":{"title":"Extension field for ``status``.","type":"string"},"subject":{"title":"Who and/or what the observation is about","type":"string","description":"The patient, or group of patients, location, or device this observation is about and into whose record the observation is placed. If the actual focus of the observation is different from the subject (or a sample of, part, or region of the subject), the `focus` element or the `code` itself specifies the actual focus of the observation."},"valueBoolean":{"title":"Actual result","type":"boolean","description":"The information determined as a result of making the observation, if the information has a simple value."},"_valueBoolean":{"title":"Extension field for ``valueBoolean``.","type":"string"},"valueCodeableConcept":{"title":"Actual result","type":"string","description":"The information determined as a result of making the observation, if the information has a simple value."},"valueDateTime":{"title":"Actual result","type":"string","description":"The information determined as a result of making the observation, if the information has a simple value.","format":"date-time"},"_valueDateTime":{"title":"Extension field for ``valueDateTime``.","type":"string"},"valueInteger":{"title":"Actual result","type":"integer","description":"The information determined as a result of making the observation, if the information has a simple value."},"_valueInteger":{"title":"Extension field for ``valueInteger``.","type":"string"},"valuePeriod":{"title":"Actual result","type":"string","description":"The information determined as a result of making the observation, if the information has a simple value."},"valueQuantity":{"title":"Actual result","type":"integer","description":"The information determined as a result of making the observation, if the information has a simple value."},"valueRange":{"title":"Actual result","type":"integer","description":"The information determined as a result of making the observation, if the information has a simple value."},"valueRatio":{"title":"Actual result","type":"string","description":"The information determined as a result of making the observation, if the information has a simple value."},"valueSampledData":{"title":"Actual result","type":"string","description":"The information determined as a result of making the observation, if the information has a simple value."},"valueString":{"title":"Actual result","pattern":"[ \\r\\n\\t\\S]+","type":"string","description":"The information determined as a result of making the observation, if the information has a simple value."},"_valueString":{"title":"Extension field for ``valueString``.","type":"string"},"valueTime":{"title":"Actual result","type":"string","description":"The information determined as a result of making the observation, if the information has a simple value.","format":"time"},"_valueTime":{"title":"Extension field for ``valueTime``.","type":"string"}},"additionalProperties":false,"description":"Disclaimer: Any field name ends with ``__ext`` does't part of\nResource StructureDefinition, instead used to enable Extensibility feature\nfor FHIR Primitive Data Types.\n\nMeasurements and simple assertions.\nMeasurements and simple assertions made about a patient, device or other\nsubject."},"SectionType":{"title":"SectionType","enum":["text","footer","subsection"],"type":"string","description":"An enumeration."},"SelectionBehaviorEnum":{"title":"SelectionBehaviorEnum","enum":["any","at-most-one"],"type":"string","description":"An enumeration."},"ServiceRequest":{"title":"ServiceRequest","required":["subject"],"type":"object","properties":{"resource_type":{"title":"Resource Type","type":"string"},"fhir_comments":{"title":"Fhir Comments","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"id":{"title":"Logical id of this artifact","maxLength":64,"minLength":1,"pattern":"^[A-Za-z0-9\\-.]+$","type":"string","description":"The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes."},"_id":{"title":"Extension field for ``id``.","type":"string"},"implicitRules":{"title":"A set of rules under which this content was created","pattern":"\\S*","type":"string","description":"A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc."},"_implicitRules":{"title":"Extension field for ``implicitRules``.","type":"string"},"language":{"title":"Language of the resource content","pattern":"^[^\\s]+(\\s[^\\s]+)*$","type":"string","description":"The base language in which the resource is written."},"_language":{"title":"Extension field for ``language``.","type":"string"},"meta":{"title":"Metadata about the resource","type":"string","description":"The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource."},"contained":{"title":"Contained, inline Resources","type":"array","items":{"type":"string"},"description":"These resources do not have an independent existence apart from the resource that contains them - they cannot be identified independently, and nor can they have their own independent transaction scope."},"extension":{"title":"Additional content defined by implementations","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension."},"modifierExtension":{"title":"Extensions that cannot be ignored","type":"array","items":{"type":"string"},"description":"May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.  Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself)."},"text":{"title":"Text summary of the resource, for human interpretation","type":"string","description":"A human-readable narrative that contains a summary of the resource and can be used to represent the content of the resource to a human. The narrative need not encode all the structured data, but is required to contain sufficient detail to make it \"clinically safe\" for a human to just read the narrative. Resource definitions may define what content should be represented in the narrative to ensure clinical safety."},"asNeededBoolean":{"title":"Preconditions for service","type":"boolean","description":"If a CodeableConcept is present, it indicates the pre-condition for performing the service.  For example \"pain\", \"on flare-up\", etc."},"_asNeededBoolean":{"title":"Extension field for ``asNeededBoolean``.","type":"string"},"asNeededCodeableConcept":{"title":"Preconditions for service","type":"string","description":"If a CodeableConcept is present, it indicates the pre-condition for performing the service.  For example \"pain\", \"on flare-up\", etc."},"authoredOn":{"title":"Date request signed","type":"string","description":"When the request transitioned to being actionable.","format":"date-time"},"_authoredOn":{"title":"Extension fiel
[...]
